In [1]:
import sqlite3

In [19]:
connection = sqlite3.connect("Otkr")
cursor = connection.cursor()

In [64]:
with open('EUR.csv') as f:
    a = [line.strip() for line in f ]
a = [i.replace(",",".")for i in a]
for line in a:
    date = line.split("/")
    if len(date[0]) == 1:
        line = "20" + date[2] + "-0" + date[0] + "-"+ date[1]
    else:
        line = "20" + date[2] + "-0" + date[0] + "-"+ date[1]
    str_ = '("'+ str(line.split(";")[0])+ '","EUR","' + str(line.split(";")[1]) +'")'
    print(str_)
    format_str="""insert into Table_3 VALUES {line} """.format(line = str_)
    print(format_str)
    cursor.execute(format_str)
    connection.commit()

with open('USD.csv') as f:
    b = [line.strip() for line in f ]
b = [i.replace(",",".")for i in b]
for line in b:
    date = line.split("/")
    if len(date[0]) == 1:
        line = "20" + date[2] + "-0" + date[0] + "-"+ date[1]
    else:
        line = "20" + date[2] + "-0" + date[0] + "-"+ date[1]
    str_ = '("'+ ((line.split(";")[0]))+ '","USD","' + (line.split(";")[1])+'")'
    print(str_)
    format_str="""insert into Table_3 VALUES {line} """.format(line = str_)
    print(format_str)
    cursor.execute(format_str)
    connection.commit()

("1/1/11","EUR","40.4876")
insert into Table_3 VALUES ("1/1/11","EUR","40.4876")
("1/12/11","EUR","39.6076")
insert into Table_3 VALUES ("1/12/11","EUR","39.6076")
("1/13/11","EUR","39.5154")
insert into Table_3 VALUES ("1/13/11","EUR","39.5154")
("1/14/11","EUR","39.4815")
insert into Table_3 VALUES ("1/14/11","EUR","39.4815")
("1/15/11","EUR","40.1264")
insert into Table_3 VALUES ("1/15/11","EUR","40.1264")
("1/18/11","EUR","39.9680")
insert into Table_3 VALUES ("1/18/11","EUR","39.9680")
("1/19/11","EUR","39.9066")
insert into Table_3 VALUES ("1/19/11","EUR","39.9066")
("1/20/11","EUR","40.1895")
insert into Table_3 VALUES ("1/20/11","EUR","40.1895")
("1/21/11","EUR","40.2113")
insert into Table_3 VALUES ("1/21/11","EUR","40.2113")
("1/22/11","EUR","40.5807")
insert into Table_3 VALUES ("1/22/11","EUR","40.5807")
("1/25/11","EUR","40.5624")
insert into Table_3 VALUES ("1/25/11","EUR","40.5624")
("1/26/11","EUR","40.7027")
insert into Table_3 VALUES ("1/26/11","EUR","40.7027")
("1/27/11","EUR","40.7198")
insert into Table_3 VALUES ("1/27/11","EUR","40.7198")
("1/28/11","EUR","40.6205")
insert into Table_3 VALUES ("1/28/11","EUR","40.6205")
("1/29/11","EUR","40.6487")
insert into Table_3 VALUES ("1/29/11","EUR","40.6487")
("2/1/11","EUR","40.5811")
insert into Table_3 VALUES ("2/1/11","EUR","40.5811")
("2/2/11","EUR","40.7368")
insert into Table_3 VALUES ("2/2/11","EUR","40.7368")
("2/3/11","EUR","40.7258")
insert into Table_3 VALUES ("2/3/11","EUR","40.7258")
("2/4/11","EUR","40.5279")
insert into Table_3 VALUES ("2/4/11","EUR","40.5279")
("2/5/11","EUR","40.0819")
insert into Table_3 VALUES ("2/5/11","EUR","40.0819")
("2/8/11","EUR","39.9593")
insert into Table_3 VALUES ("2/8/11","EUR","39.9593")
("2/9/11","EUR","39.8892")
insert into Table_3 VALUES ("2/9/11","EUR","39.8892")
("2/10/11","EUR","39.9871")
insert into Table_3 VALUES ("2/10/11","EUR","39.9871")
("2/11/11","EUR","40.1350")
insert into Table_3 VALUES ("2/11/11","EUR","40.1350")
("2/12/11","EUR","39.7667")
insert into Table_3 VALUES ("2/12/11","EUR","39.7667")
("2/15/11","EUR","39.6040")
insert into Table_3 VALUES ("2/15/11","EUR","39.6040")
("2/16/11","EUR","39.4703")
insert into Table_3 VALUES ("2/16/11","EUR","39.4703")
("2/17/11","EUR","39.6802")
insert into Table_3 VALUES ("2/17/11","EUR","39.6802")
("2/18/11","EUR","39.6821")
insert into Table_3 VALUES ("2/18/11","EUR","39.6821")
("2/19/11","EUR","39.7682")
insert into Table_3 VALUES ("2/19/11","EUR","39.7682")
("2/22/11","EUR","39.8868")
insert into Table_3 VALUES ("2/22/11","EUR","39.8868")
("2/23/11","EUR","39.6795")
insert into Table_3 VALUES ("2/23/11","EUR","39.6795")
("2/25/11","EUR","40.0294")
insert into Table_3 VALUES ("2/25/11","EUR","40.0294")
("2/26/11","EUR","40.0073")
insert into Table_3 VALUES ("2/26/11","EUR","40.0073")
("3/1/11","EUR","39.8136")
insert into Table_3 VALUES ("3/1/11","EUR","39.8136")
("3/2/11","EUR","39.7219")
insert into Table_3 VALUES ("3/2/11","EUR","39.7219")
("3/3/11","EUR","39.3974")
insert into Table_3 VALUES ("3/3/11","EUR","39.3974")
("3/4/11","EUR","39.2752")
insert into Table_3 VALUES ("3/4/11","EUR","39.2752")
("3/5/11","EUR","39.3476")
insert into Table_3 VALUES ("3/5/11","EUR","39.3476")
("3/6/11","EUR","39.4038")
insert into Table_3 VALUES ("3/6/11","EUR","39.4038")
("3/10/11","EUR","39.3039")
insert into Table_3 VALUES ("3/10/11","EUR","39.3039")
("3/11/11","EUR","39.3151")
insert into Table_3 VALUES ("3/11/11","EUR","39.3151")
("3/12/11","EUR","39.5375")
insert into Table_3 VALUES ("3/12/11","EUR","39.5375")
("3/15/11","EUR","39.9347")
insert into Table_3 VALUES ("3/15/11","EUR","39.9347")
("3/16/11","EUR","39.9813")
insert into Table_3 VALUES ("3/16/11","EUR","39.9813")
("3/17/11","EUR","40.0728")
insert into Table_3 VALUES ("3/17/11","EUR","40.0728")
("3/18/11","EUR","40.1097")
insert into Table_3 VALUES ("3/18/11","EUR","40.1097")
("3/19/11","EUR","40.0633")
insert into Table_3 VALUES ("3/19/11","EUR","40.0633")
("3/22/11","EUR","40.1996")
insert into Table_3 VALUES ("3/22/11","EUR","40.1996")
("3/23/11","EUR","40.0858")
insert into Table_3 VALUES ("3/23/11","EUR","40.0858")
("3/24/11","EUR","40.0642")
insert into Table_3 VALUES ("3/24/11","EUR","40.0642")
("3/25/11","EUR","39.9495")
insert into Table_3 VALUES ("3/25/11","EUR","39.9495")
("3/26/11","EUR","40.0156")
insert into Table_3 VALUES ("3/26/11","EUR","40.0156")
("3/29/11","EUR","39.9288")
insert into Table_3 VALUES ("3/29/11","EUR","39.9288")
("3/30/11","EUR","40.0325")
insert into Table_3 VALUES ("3/30/11","EUR","40.0325")
("3/31/11","EUR","40.0223")
insert into Table_3 VALUES ("3/31/11","EUR","40.0223")
("4/1/11","EUR","40.3875")
insert into Table_3 VALUES ("4/1/11","EUR","40.3875")
("4/2/11","EUR","40.1980")
insert into Table_3 VALUES ("4/2/11","EUR","40.1980")
("4/5/11","EUR","40.1624")
insert into Table_3 VALUES ("4/5/11","EUR","40.1624")
("4/6/11","EUR","40.1652")
insert into Table_3 VALUES ("4/6/11","EUR","40.1652")
("4/7/11","EUR","40.2789")
insert into Table_3 VALUES ("4/7/11","EUR","40.2789")
("4/8/11","EUR","40.3528")
insert into Table_3 VALUES ("4/8/11","EUR","40.3528")
("4/9/11","EUR","40.4859")
insert into Table_3 VALUES ("4/9/11","EUR","40.4859")
("4/12/11","EUR","40.4390")
insert into Table_3 VALUES ("4/12/11","EUR","40.4390")
("4/13/11","EUR","40.5268")
insert into Table_3 VALUES ("4/13/11","EUR","40.5268")
("4/14/11","EUR","40.7604")
insert into Table_3 VALUES ("4/14/11","EUR","40.7604")
("4/15/11","EUR","40.8791")
insert into Table_3 VALUES ("4/15/11","EUR","40.8791")
("4/16/11","EUR","40.8304")
insert into Table_3 VALUES ("4/16/11","EUR","40.8304")
("4/19/11","EUR","40.4739")
insert into Table_3 VALUES ("4/19/11","EUR","40.4739")
("4/20/11","EUR","40.4407")
insert into Table_3 VALUES ("4/20/11","EUR","40.4407")
("4/21/11","EUR","40.5523")
insert into Table_3 VALUES ("4/21/11","EUR","40.5523")
("4/22/11","EUR","40.8117")
insert into Table_3 VALUES ("4/22/11","EUR","40.8117")
("4/23/11","EUR","40.7443")
insert into Table_3 VALUES ("4/23/11","EUR","40.7443")
("4/26/11","EUR","40.7933")
insert into Table_3 VALUES ("4/26/11","EUR","40.7933")
("4/27/11","EUR","40.5837")
insert into Table_3 VALUES ("4/27/11","EUR","40.5837")
("4/28/11","EUR","40.6681")
insert into Table_3 VALUES ("4/28/11","EUR","40.6681")
("4/29/11","EUR","40.8121")
insert into Table_3 VALUES ("4/29/11","EUR","40.8121")
("4/30/11","EUR","40.8078")
insert into Table_3 VALUES ("4/30/11","EUR","40.8078")
("5/4/11","EUR","40.5211")
insert into Table_3 VALUES ("5/4/11","EUR","40.5211")
("5/5/11","EUR","40.5751")
insert into Table_3 VALUES ("5/5/11","EUR","40.5751")
("5/6/11","EUR","40.5421")
insert into Table_3 VALUES ("5/6/11","EUR","40.5421")
("5/7/11","EUR","40.2974")
insert into Table_3 VALUES ("5/7/11","EUR","40.2974")
("5/11/11","EUR","39.8657")
insert into Table_3 VALUES ("5/11/11","EUR","39.8657")
("5/12/11","EUR","39.7827")
insert into Table_3 VALUES ("5/12/11","EUR","39.7827")
("5/13/11","EUR","39.6934")
insert into Table_3 VALUES ("5/13/11","EUR","39.6934")
("5/14/11","EUR","39.7137")
insert into Table_3 VALUES ("5/14/11","EUR","39.7137")
("5/17/11","EUR","39.6830")
insert into Table_3 VALUES ("5/17/11","EUR","39.6830")
("5/18/11","EUR","39.8512")
insert into Table_3 VALUES ("5/18/11","EUR","39.8512")
("5/19/11","EUR","40.0113")
insert into Table_3 VALUES ("5/19/11","EUR","40.0113")
("5/20/11","EUR","39.8889")
insert into Table_3 VALUES ("5/20/11","EUR","39.8889")
("5/21/11","EUR","39.9652")
insert into Table_3 VALUES ("5/21/11","EUR","39.9652")
("5/24/11","EUR","39.8117")
insert into Table_3 VALUES ("5/24/11","EUR","39.8117")
("5/25/11","EUR","39.9938")
insert into Table_3 VALUES ("5/25/11","EUR","39.9938")
("5/26/11","EUR","39.9566")
insert into Table_3 VALUES ("5/26/11","EUR","39.9566")
("5/27/11","EUR","40.0217")
insert into Table_3 VALUES ("5/27/11","EUR","40.0217")
("5/28/11","EUR","40.0802")
insert into Table_3 VALUES ("5/28/11","EUR","40.0802")
("5/31/11","EUR","40.0594")
insert into Table_3 VALUES ("5/31/11","EUR","40.0594")
("6/1/11","EUR","40.2444")
insert into Table_3 VALUES ("6/1/11","EUR","40.2444")
("6/2/11","EUR","40.3497")
insert into Table_3 VALUES ("6/2/11","EUR","40.3497")
("6/3/11","EUR","40.3074")
insert into Table_3 VALUES ("6/3/11","EUR","40.3074")
("6/4/11","EUR","40.3436")
insert into Table_3 VALUES ("6/4/11","EUR","40.3436")
("6/7/11","EUR","40.6879")
insert into Table_3 VALUES ("6/7/11","EUR","40.6879")
("6/8/11","EUR","40.6581")
insert into Table_3 VALUES ("6/8/11","EUR","40.6581")
("6/9/11","EUR","40.6273")
insert into Table_3 VALUES ("6/9/11","EUR","40.6273")
("6/10/11","EUR","40.5244")
insert into Table_3 VALUES ("6/10/11","EUR","40.5244")
("6/11/11","EUR","40.2298")
insert into Table_3 VALUES ("6/11/11","EUR","40.2298")
("6/15/11","EUR","40.2825")
insert into Table_3 VALUES ("6/15/11","EUR","40.2825")
("6/16/11","EUR","40.1280")
insert into Table_3 VALUES ("6/16/11","EUR","40.1280")
("6/17/11","EUR","39.8184")
insert into Table_3 VALUES ("6/17/11","EUR","39.8184")
("6/18/11","EUR","39.8913")
insert into Table_3 VALUES ("6/18/11","EUR","39.8913")
("6/21/11","EUR","40.0470")
insert into Table_3 VALUES ("6/21/11","EUR","40.0470")
("6/22/11","EUR","40.2277")
insert into Table_3 VALUES ("6/22/11","EUR","40.2277")
("6/23/11","EUR","40.1814")
insert into Table_3 VALUES ("6/23/11","EUR","40.1814")
("6/24/11","EUR","40.0791")
insert into Table_3 VALUES ("6/24/11","EUR","40.0791")
("6/25/11","EUR","40.1189")
insert into Table_3 VALUES ("6/25/11","EUR","40.1189")
("6/28/11","EUR","40.0923")
insert into Table_3 VALUES ("6/28/11","EUR","40.0923")
("6/29/11","EUR","40.3029")
insert into Table_3 VALUES ("6/29/11","EUR","40.3029")
("6/30/11","EUR","40.3870")
insert into Table_3 VALUES ("6/30/11","EUR","40.3870")
("7/1/11","EUR","40.4153")
insert into Table_3 VALUES ("7/1/11","EUR","40.4153")
("7/2/11","EUR","40.4824")
insert into Table_3 VALUES ("7/2/11","EUR","40.4824")
("7/5/11","EUR","40.4155")
insert into Table_3 VALUES ("7/5/11","EUR","40.4155")
("7/6/11","EUR","40.3110")
insert into Table_3 VALUES ("7/6/11","EUR","40.3110")
("7/7/11","EUR","40.2435")
insert into Table_3 VALUES ("7/7/11","EUR","40.2435")
("7/8/11","EUR","40.0917")
insert into Table_3 VALUES ("7/8/11","EUR","40.0917")
("7/9/11","EUR","40.0193")
insert into Table_3 VALUES ("7/9/11","EUR","40.0193")
("7/12/11","EUR","39.8033")
insert into Table_3 VALUES ("7/12/11","EUR","39.8033")
("7/13/11","EUR","39.5051")
insert into Table_3 VALUES ("7/13/11","EUR","39.5051")
("7/14/11","EUR","39.5919")
insert into Table_3 VALUES ("7/14/11","EUR","39.5919")
("7/15/11","EUR","39.8214")
insert into Table_3 VALUES ("7/15/11","EUR","39.8214")
("7/16/11","EUR","39.7388")
insert into Table_3 VALUES ("7/16/11","EUR","39.7388")
("7/19/11","EUR","39.5894")
insert into Table_3 VALUES ("7/19/11","EUR","39.5894")
("7/20/11","EUR","39.7316")
insert into Table_3 VALUES ("7/20/11","EUR","39.7316")
("7/21/11","EUR","39.7280")
insert into Table_3 VALUES ("7/21/11","EUR","39.7280")
("7/22/11","EUR","39.8415")
insert into Table_3 VALUES ("7/22/11","EUR","39.8415")
("7/23/11","EUR","39.9484")
insert into Table_3 VALUES ("7/23/11","EUR","39.9484")
("7/26/11","EUR","39.8365")
insert into Table_3 VALUES ("7/26/11","EUR","39.8365")
("7/27/11","EUR","39.9389")
insert into Table_3 VALUES ("7/27/11","EUR","39.9389")
("7/28/11","EUR","39.7937")
insert into Table_3 VALUES ("7/28/11","EUR","39.7937")
("7/29/11","EUR","39.5982")
insert into Table_3 VALUES ("7/29/11","EUR","39.5982")
("7/30/11","EUR","39.5182")
insert into Table_3 VALUES ("7/30/11","EUR","39.5182")
("8/2/11","EUR","39.6431")
insert into Table_3 VALUES ("8/2/11","EUR","39.6431")
("8/3/11","EUR","39.5173")
insert into Table_3 VALUES ("8/3/11","EUR","39.5173")
("8/4/11","EUR","39.5923")
insert into Table_3 VALUES ("8/4/11","EUR","39.5923")
("8/5/11","EUR","39.8158")
insert into Table_3 VALUES ("8/5/11","EUR","39.8158")
("8/6/11","EUR","39.9625")
insert into Table_3 VALUES ("8/6/11","EUR","39.9625")
("8/9/11","EUR","40.9590")
insert into Table_3 VALUES ("8/9/11","EUR","40.9590")
("8/10/11","EUR","41.9039")
insert into Table_3 VALUES ("8/10/11","EUR","41.9039")
("8/11/11","EUR","42.0285")
insert into Table_3 VALUES ("8/11/11","EUR","42.0285")
("8/12/11","EUR","41.9075")
insert into Table_3 VALUES ("8/12/11","EUR","41.9075")
("8/13/11","EUR","41.7768")
insert into Table_3 VALUES ("8/13/11","EUR","41.7768")
("8/16/11","EUR","41.2895")
insert into Table_3 VALUES ("8/16/11","EUR","41.2895")
("8/17/11","EUR","41.2924")
insert into Table_3 VALUES ("8/17/11","EUR","41.2924")
("8/18/11","EUR","41.3061")
insert into Table_3 VALUES ("8/18/11","EUR","41.3061")
("8/19/11","EUR","41.6355")
insert into Table_3 VALUES ("8/19/11","EUR","41.6355")
("8/20/11","EUR","41.8749")
insert into Table_3 VALUES ("8/20/11","EUR","41.8749")
("8/23/11","EUR","42.0226")
insert into Table_3 VALUES ("8/23/11","EUR","42.0226")
("8/24/11","EUR","41.6600")
insert into Table_3 VALUES ("8/24/11","EUR","41.6600")
("8/25/11","EUR","41.6618")
insert into Table_3 VALUES ("8/25/11","EUR","41.6618")

("8/26/11","EUR","41.6746")
insert into Table_3 VALUES ("8/26/11","EUR","41.6746")
("8/27/11","EUR","41.6705")
insert into Table_3 VALUES ("8/27/11","EUR","41.6705")
("8/30/11","EUR","41.7455")
insert into Table_3 VALUES ("8/30/11","EUR","41.7455")
("8/31/11","EUR","41.8396")
insert into Table_3 VALUES ("8/31/11","EUR","41.8396")
("9/1/11","EUR","41.7631")
insert into Table_3 VALUES ("9/1/11","EUR","41.7631")
("9/2/11","EUR","41.4732")
insert into Table_3 VALUES ("9/2/11","EUR","41.4732")
("9/3/11","EUR","41.3762")
insert into Table_3 VALUES ("9/3/11","EUR","41.3762")
("9/6/11","EUR","41.4830")
insert into Table_3 VALUES ("9/6/11","EUR","41.4830")
("9/7/11","EUR","41.6771")
insert into Table_3 VALUES ("9/7/11","EUR","41.6771")
("9/8/11","EUR","41.4902")
insert into Table_3 VALUES ("9/8/11","EUR","41.4902")
("9/9/11","EUR","41.5175")
insert into Table_3 VALUES ("9/9/11","EUR","41.5175")
("9/10/11","EUR","41.2786")
insert into Table_3 VALUES ("9/10/11","EUR","41.2786")
("9/13/11","EUR","41.0914")
insert into Table_3 VALUES ("9/13/11","EUR","41.0914")
("9/14/11","EUR","41.2267")
insert into Table_3 VALUES ("9/14/11","EUR","41.2267")
("9/15/11","EUR","41.3531")
insert into Table_3 VALUES ("9/15/11","EUR","41.3531")
("9/16/11","EUR","41.8792")
insert into Table_3 VALUES ("9/16/11","EUR","41.8792")
("9/17/11","EUR","42.2482")
insert into Table_3 VALUES ("9/17/11","EUR","42.2482")
("9/20/11","EUR","42.2058")
insert into Table_3 VALUES ("9/20/11","EUR","42.2058")
("9/21/11","EUR","42.9164")
insert into Table_3 VALUES ("9/21/11","EUR","42.9164")
("9/22/11","EUR","43.0127")
insert into Table_3 VALUES ("9/22/11","EUR","43.0127")
("9/23/11","EUR","43.2421")
insert into Table_3 VALUES ("9/23/11","EUR","43.2421")
("9/24/11","EUR","43.3655")
insert into Table_3 VALUES ("9/24/11","EUR","43.3655")
("9/27/11","EUR","43.4535")
insert into Table_3 VALUES ("9/27/11","EUR","43.4535")
("9/28/11","EUR","43.6357")
insert into Table_3 VALUES ("9/28/11","EUR","43.6357")
("9/29/11","EUR","43.2216")
insert into Table_3 VALUES ("9/29/11","EUR","43.2216")
("9/30/11","EUR","43.3979")
insert into Table_3 VALUES ("9/30/11","EUR","43.3979")
("10/1/11","EUR","43.4191")
insert into Table_3 VALUES ("10/1/11","EUR","43.4191")
("10/4/11","EUR","43.4411")
insert into Table_3 VALUES ("10/4/11","EUR","43.4411")
("10/5/11","EUR","43.1571")
insert into Table_3 VALUES ("10/5/11","EUR","43.1571")
("10/6/11","EUR","43.4632")
insert into Table_3 VALUES ("10/6/11","EUR","43.4632")
("10/7/11","EUR","43.3728")
insert into Table_3 VALUES ("10/7/11","EUR","43.3728")
("10/8/11","EUR","43.2614")
insert into Table_3 VALUES ("10/8/11","EUR","43.2614")
("10/11/11","EUR","43.1425")
insert into Table_3 VALUES ("10/11/11","EUR","43.1425")
("10/12/11","EUR","42.8601")
insert into Table_3 VALUES ("10/12/11","EUR","42.8601")
("10/13/11","EUR","42.8785")
insert into Table_3 VALUES ("10/13/11","EUR","42.8785")
("10/14/11","EUR","43.0236")
insert into Table_3 VALUES ("10/14/11","EUR","43.0236")
("10/15/11","EUR","42.7328")
insert into Table_3 VALUES ("10/15/11","EUR","42.7328")
("10/18/11","EUR","42.6169")
insert into Table_3 VALUES ("10/18/11","EUR","42.6169")
("10/19/11","EUR","42.5551")
insert into Table_3 VALUES ("10/19/11","EUR","42.5551")
("10/20/11","EUR","42.7084")
insert into Table_3 VALUES ("10/20/11","EUR","42.7084")
("10/21/11","EUR","42.9858")
insert into Table_3 VALUES ("10/21/11","EUR","42.9858")
("10/22/11","EUR","43.1373")
insert into Table_3 VALUES ("10/22/11","EUR","43.1373")
("10/25/11","EUR","42.9153")
insert into Table_3 VALUES ("10/25/11","EUR","42.9153")
("10/26/11","EUR","42.4001")
insert into Table_3 VALUES ("10/26/11","EUR","42.4001")
("10/27/11","EUR","42.5457")
insert into Table_3 VALUES ("10/27/11","EUR","42.5457")
("10/28/11","EUR","42.3571")
insert into Table_3 VALUES ("10/28/11","EUR","42.3571")
("10/29/11","EUR","42.3830")
insert into Table_3 VALUES ("10/29/11","EUR","42.3830")
("11/1/11","EUR","42.1833")
insert into Table_3 VALUES ("11/1/11","EUR","42.1833")
("11/2/11","EUR","42.2469")
insert into Table_3 VALUES ("11/2/11","EUR","42.2469")
("11/3/11","EUR","42.1431")
insert into Table_3 VALUES ("11/3/11","EUR","42.1431")
("11/4/11","EUR","42.2128")
insert into Table_3 VALUES ("11/4/11","EUR","42.2128")
("11/8/11","EUR","42.0727")
insert into Table_3 VALUES ("11/8/11","EUR","42.0727")
("11/9/11","EUR","41.9394")
insert into Table_3 VALUES ("11/9/11","EUR","41.9394")
("11/10/11","EUR","41.5998")
insert into Table_3 VALUES ("11/10/11","EUR","41.5998")
("11/11/11","EUR","41.6937")
insert into Table_3 VALUES ("11/11/11","EUR","41.6937")
("11/12/11","EUR","41.5886")
insert into Table_3 VALUES ("11/12/11","EUR","41.5886")
("11/15/11","EUR","41.6638")
insert into Table_3 VALUES ("11/15/11","EUR","41.6638")
("11/16/11","EUR","41.6884")
insert into Table_3 VALUES ("11/16/11","EUR","41.6884")
("11/17/11","EUR","41.4605")
insert into Table_3 VALUES ("11/17/11","EUR","41.4605")
("11/18/11","EUR","41.4997")
insert into Table_3 VALUES ("11/18/11","EUR","41.4997")
("11/19/11","EUR","41.7035")
insert into Table_3 VALUES ("11/19/11","EUR","41.7035")
("11/22/11","EUR","41.8612")
insert into Table_3 VALUES ("11/22/11","EUR","41.8612")
("11/23/11","EUR","41.9109")
insert into Table_3 VALUES ("11/23/11","EUR","41.9109")
("11/24/11","EUR","42.0256")
insert into Table_3 VALUES ("11/24/11","EUR","42.0256")
("11/25/11","EUR","42.0337")
insert into Table_3 VALUES ("11/25/11","EUR","42.0337")
("11/26/11","EUR","42.0251")
insert into Table_3 VALUES ("11/26/11","EUR","42.0251")
("11/29/11","EUR","41.7744")
insert into Table_3 VALUES ("11/29/11","EUR","41.7744")
("11/30/11","EUR","41.8457")
insert into Table_3 VALUES ("11/30/11","EUR","41.8457")
("12/1/11","EUR","41.7559")
insert into Table_3 VALUES ("12/1/11","EUR","41.7559")
("12/2/11","EUR","41.5068")
insert into Table_3 VALUES ("12/2/11","EUR","41.5068")
("12/3/11","EUR","41.4824")
insert into Table_3 VALUES ("12/3/11","EUR","41.4824")
("12/6/11","EUR","41.4707")
insert into Table_3 VALUES ("12/6/11","EUR","41.4707")
("12/7/11","EUR","41.5842")
insert into Table_3 VALUES ("12/7/11","EUR","41.5842")
("12/8/11","EUR","41.8661")
insert into Table_3 VALUES ("12/8/11","EUR","41.8661")
("12/9/11","EUR","41.8711")
insert into Table_3 VALUES ("12/9/11","EUR","41.8711")
("12/10/11","EUR","42.0153")
insert into Table_3 VALUES ("12/10/11","EUR","42.0153")
("12/13/11","EUR","41.9023")
insert into Table_3 VALUES ("12/13/11","EUR","41.9023")
("12/14/11","EUR","41.7891")
insert into Table_3 VALUES ("12/14/11","EUR","41.7891")
("12/15/11","EUR","41.4127")
insert into Table_3 VALUES ("12/15/11","EUR","41.4127")
("12/16/11","EUR","41.4389")
insert into Table_3 VALUES ("12/16/11","EUR","41.4389")
("12/17/11","EUR","41.3933")
insert into Table_3 VALUES ("12/17/11","EUR","41.3933")
("12/20/11","EUR","41.6868")
insert into Table_3 VALUES ("12/20/11","EUR","41.6868")
("12/21/11","EUR","41.7059")
insert into Table_3 VALUES ("12/21/11","EUR","41.7059")
("12/22/11","EUR","41.6718")
insert into Table_3 VALUES ("12/22/11","EUR","41.6718")
("12/23/11","EUR","41.2250")
insert into Table_3 VALUES ("12/23/11","EUR","41.2250")
("12/24/11","EUR","40.8848")
insert into Table_3 VALUES ("12/24/11","EUR","40.8848")
("12/27/11","EUR","40.7632")
insert into Table_3 VALUES ("12/27/11","EUR","40.7632")
("12/28/11","EUR","40.6339")
insert into Table_3 VALUES ("12/28/11","EUR","40.6339")
("12/29/11","EUR","41.2280")
insert into Table_3 VALUES ("12/29/11","EUR","41.2280")
("12/30/11","EUR","41.4079")
insert into Table_3 VALUES ("12/30/11","EUR","41.4079")
("12/31/11","EUR","41.6714")
insert into Table_3 VALUES ("12/31/11","EUR","41.6714")
("1/11/12","EUR","40.7591")
insert into Table_3 VALUES ("1/11/12","EUR","40.7591")
("1/12/12","EUR","40.4061")
insert into Table_3 VALUES ("1/12/12","EUR","40.4061")
("1/13/12","EUR","40.2852")
insert into Table_3 VALUES ("1/13/12","EUR","40.2852")
("1/14/12","EUR","40.6189")
insert into Table_3 VALUES ("1/14/12","EUR","40.6189")
("1/17/12","EUR","40.3842")
insert into Table_3 VALUES ("1/17/12","EUR","40.3842")
("1/18/12","EUR","40.1688")
insert into Table_3 VALUES ("1/18/12","EUR","40.1688")
("1/19/12","EUR","40.2612")
insert into Table_3 VALUES ("1/19/12","EUR","40.2612")
("1/20/12","EUR","40.4772")
insert into Table_3 VALUES ("1/20/12","EUR","40.4772")
("1/21/12","EUR","40.5867")
insert into Table_3 VALUES ("1/21/12","EUR","40.5867")
("1/24/12","EUR","40.4064")
insert into Table_3 VALUES ("1/24/12","EUR","40.4064")
("1/25/12","EUR","40.1872")
insert into Table_3 VALUES ("1/25/12","EUR","40.1872")
("1/26/12","EUR","39.9499")
insert into Table_3 VALUES ("1/26/12","EUR","39.9499")
("1/27/12","EUR","39.8384")
insert into Table_3 VALUES ("1/27/12","EUR","39.8384")
("1/28/12","EUR","39.7841")
insert into Table_3 VALUES ("1/28/12","EUR","39.7841")
("1/31/12","EUR","39.9691")
insert into Table_3 VALUES ("1/31/12","EUR","39.9691")
("2/1/12","EUR","39.9678")
insert into Table_3 VALUES ("2/1/12","EUR","39.9678")
("2/2/12","EUR","39.6777")
insert into Table_3 VALUES ("2/2/12","EUR","39.6777")
("2/3/12","EUR","39.7664")
insert into Table_3 VALUES ("2/3/12","EUR","39.7664")
("2/4/12","EUR","39.7425")
insert into Table_3 VALUES ("2/4/12","EUR","39.7425")
("2/7/12","EUR","39.5137")
insert into Table_3 VALUES ("2/7/12","EUR","39.5137")
("2/8/12","EUR","39.4592")
insert into Table_3 VALUES ("2/8/12","EUR","39.4592")
("2/9/12","EUR","39.4115")
insert into Table_3 VALUES ("2/9/12","EUR","39.4115")
("2/10/12","EUR","39.4767")
insert into Table_3 VALUES ("2/10/12","EUR","39.4767")
("2/11/12","EUR","39.6282")
insert into Table_3 VALUES ("2/11/12","EUR","39.6282")
("2/14/12","EUR","39.6037")
insert into Table_3 VALUES ("2/14/12","EUR","39.6037")
("2/15/12","EUR","39.5431")
insert into Table_3 VALUES ("2/15/12","EUR","39.5431")
("2/16/12","EUR","39.4572")
insert into Table_3 VALUES ("2/16/12","EUR","39.4572")
("2/17/12","EUR","39.3181")
insert into Table_3 VALUES ("2/17/12","EUR","39.3181")
("2/18/12","EUR","39.3846")
insert into Table_3 VALUES ("2/18/12","EUR","39.3846")
("2/21/12","EUR","39.3311")
insert into Table_3 VALUES ("2/21/12","EUR","39.3311")
("2/22/12","EUR","39.5235")
insert into Table_3 VALUES ("2/22/12","EUR","39.5235")
("2/23/12","EUR","39.4114")
insert into Table_3 VALUES ("2/23/12","EUR","39.4114")
("2/25/12","EUR","39.3645")
insert into Table_3 VALUES ("2/25/12","EUR","39.3645")
("2/28/12","EUR","39.1517")
insert into Table_3 VALUES ("2/28/12","EUR","39.1517")
("2/29/12","EUR","38.9121")
insert into Table_3 VALUES ("2/29/12","EUR","38.9121")
("3/1/12","EUR","39.1029")
insert into Table_3 VALUES ("3/1/12","EUR","39.1029")
("3/2/12","EUR","39.0714")
insert into Table_3 VALUES ("3/2/12","EUR","39.0714")
("3/3/12","EUR","38.9490")
insert into Table_3 VALUES ("3/3/12","EUR","38.9490")
("3/6/12","EUR","38.6530")
insert into Table_3 VALUES ("3/6/12","EUR","38.6530")
("3/7/12","EUR","38.8721")
insert into Table_3 VALUES ("3/7/12","EUR","38.8721")
("3/8/12","EUR","38.9938")
insert into Table_3 VALUES ("3/8/12","EUR","38.9938")
("3/12/12","EUR","38.7691")
insert into Table_3 VALUES ("3/12/12","EUR","38.7691")
("3/13/12","EUR","38.8543")
insert into Table_3 VALUES ("3/13/12","EUR","38.8543")
("3/14/12","EUR","38.8517")
insert into Table_3 VALUES ("3/14/12","EUR","38.8517")
("3/15/12","EUR","38.4843")
insert into Table_3 VALUES ("3/15/12","EUR","38.4843")
("3/16/12","EUR","38.5781")
insert into Table_3 VALUES ("3/16/12","EUR","38.5781")
("3/17/12","EUR","38.4117")
insert into Table_3 VALUES ("3/17/12","EUR","38.4117")
("3/20/12","EUR","38.4801")
insert into Table_3 VALUES ("3/20/12","EUR","38.4801")
("3/21/12","EUR","38.6001")
insert into Table_3 VALUES ("3/21/12","EUR","38.6001")
("3/22/12","EUR","38.7589")
insert into Table_3 VALUES ("3/22/12","EUR","38.7589")
("3/23/12","EUR","38.7258")
insert into Table_3 VALUES ("3/23/12","EUR","38.7258")
("3/24/12","EUR","38.8189")
insert into Table_3 VALUES ("3/24/12","EUR","38.8189")
("3/27/12","EUR","38.7429")
insert into Table_3 VALUES ("3/27/12","EUR","38.7429")
("3/28/12","EUR","38.6266")
insert into Table_3 VALUES ("3/28/12","EUR","38.6266")
("3/29/12","EUR","38.7696")
insert into Table_3 VALUES ("3/29/12","EUR","38.7696")
("3/30/12","EUR","39.0402")
insert into Table_3 VALUES ("3/30/12","EUR","39.0402")
("3/31/12","EUR","39.1707")
insert into Table_3 VALUES ("3/31/12","EUR","39.1707")
("4/3/12","EUR","39.1677")
insert into Table_3 VALUES ("4/3/12","EUR","39.1677")
("4/4/12","EUR","39.0846")
insert into Table_3 VALUES ("4/4/12","EUR","39.0846")
("4/5/12","EUR","38.8368")
insert into Table_3 VALUES ("4/5/12","EUR","38.8368")
("4/6/12","EUR","38.7097")
insert into Table_3 VALUES ("4/6/12","EUR","38.7097")
("4/7/12","EUR","38.5138")
insert into Table_3 VALUES ("4/7/12","EUR","38.5138")
("4/10/12","EUR","38.7192")
insert into Table_3 VALUES ("4/10/12","EUR","38.7192")
("4/11/12","EUR","38.8349")
insert into Table_3 VALUES ("4/11/12","EUR","38.8349")
("4/12/12","EUR","39.0781")
insert into Table_3 VALUES ("4/12/12","EUR","39.0781")
("4/13/12","EUR","38.8507")
insert into Table_3 VALUES ("4/13/12","EUR","38.8507")
("4/14/12","EUR","38.8134")
insert into Table_3 VALUES ("4/14/12","EUR","38.8134")
("4/17/12","EUR","38.7374")
insert into Table_3 VALUES ("4/17/12","EUR","38.7374")
("4/18/12","EUR","38.8509")
insert into Table_3 VALUES ("4/18/12","EUR","38.8509")
("4/19/12","EUR","38.6716")
insert into Table_3 VALUES ("4/19/12","EUR","38.6716")
("4/20/12","EUR","38.7230")
insert into Table_3 VALUES ("4/20/12","EUR","38.7230")
("4/21/12","EUR","38.8118")
insert into Table_3 VALUES ("4/21/12","EUR","38.8118")
("4/24/12","EUR","38.8386")
insert into Table_3 VALUES ("4/24/12","EUR","38.8386")
("4/25/12","EUR","38.7950")
insert into Table_3 VALUES ("4/25/12","EUR","38.7950")
("4/26/12","EUR","38.6593")
insert into Table_3 VALUES ("4/26/12","EUR","38.6593")
("4/27/12","EUR","38.7393")
insert into Table_3 VALUES ("4/27/12","EUR","38.7393")
("4/28/12","EUR","38.7477")
insert into Table_3 VALUES ("4/28/12","EUR","38.7477")
("4/29/12","EUR","38.9203")
insert into Table_3 VALUES ("4/29/12","EUR","38.9203")
("5/3/12","EUR","38.8223")
insert into Table_3 VALUES ("5/3/12","EUR","38.8223")
("5/4/12","EUR","38.7350")
insert into Table_3 VALUES ("5/4/12","EUR","38.7350")
("5/5/12","EUR","38.9157")
insert into Table_3 VALUES ("5/5/12","EUR","38.9157")
("5/6/12","EUR","39.0001")
insert into Table_3 VALUES ("5/6/12","EUR","39.0001")
("5/11/12","EUR","39.1160")
insert into Table_3 VALUES ("5/11/12","EUR","39.1160")
("5/12/12","EUR","39.0458")
insert into Table_3 VALUES ("5/12/12","EUR","39.0458")

("5/13/12","EUR","38.9826")
insert into Table_3 VALUES ("5/13/12","EUR","38.9826")
("5/15/12","EUR","39.0088")
insert into Table_3 VALUES ("5/15/12","EUR","39.0088")
("5/16/12","EUR","38.9830")
insert into Table_3 VALUES ("5/16/12","EUR","38.9830")
("5/17/12","EUR","39.3300")
insert into Table_3 VALUES ("5/17/12","EUR","39.3300")
("5/18/12","EUR","39.3919")
insert into Table_3 VALUES ("5/18/12","EUR","39.3919")
("5/19/12","EUR","39.7518")
insert into Table_3 VALUES ("5/19/12","EUR","39.7518")
("5/22/12","EUR","39.8077")
insert into Table_3 VALUES ("5/22/12","EUR","39.8077")
("5/23/12","EUR","39.7376")
insert into Table_3 VALUES ("5/23/12","EUR","39.7376")
("5/24/12","EUR","39.7651")
insert into Table_3 VALUES ("5/24/12","EUR","39.7651")
("5/25/12","EUR","39.7681")
insert into Table_3 VALUES ("5/25/12","EUR","39.7681")
("5/26/12","EUR","39.8426")
insert into Table_3 VALUES ("5/26/12","EUR","39.8426")
("5/29/12","EUR","40.1179")
insert into Table_3 VALUES ("5/29/12","EUR","40.1179")
("5/30/12","EUR","40.2423")
insert into Table_3 VALUES ("5/30/12","EUR","40.2423")
("5/31/12","EUR","40.4598")
insert into Table_3 VALUES ("5/31/12","EUR","40.4598")
("6/1/12","EUR","40.8076")
insert into Table_3 VALUES ("6/1/12","EUR","40.8076")
("6/2/12","EUR","41.6804")
insert into Table_3 VALUES ("6/2/12","EUR","41.6804")
("6/5/12","EUR","42.2464")
insert into Table_3 VALUES ("6/5/12","EUR","42.2464")
("6/6/12","EUR","41.5068")
insert into Table_3 VALUES ("6/6/12","EUR","41.5068")
("6/7/12","EUR","40.9501")
insert into Table_3 VALUES ("6/7/12","EUR","40.9501")
("6/8/12","EUR","40.4205")
insert into Table_3 VALUES ("6/8/12","EUR","40.4205")
("6/9/12","EUR","40.9067")
insert into Table_3 VALUES ("6/9/12","EUR","40.9067")
("6/10/12","EUR","40.7914")
insert into Table_3 VALUES ("6/10/12","EUR","40.7914")
("6/14/12","EUR","40.9426")
insert into Table_3 VALUES ("6/14/12","EUR","40.9426")
("6/15/12","EUR","40.9390")
insert into Table_3 VALUES ("6/15/12","EUR","40.9390")
("6/16/12","EUR","40.9078")
insert into Table_3 VALUES ("6/16/12","EUR","40.9078")
("6/19/12","EUR","40.8231")
insert into Table_3 VALUES ("6/19/12","EUR","40.8231")
("6/20/12","EUR","41.0060")
insert into Table_3 VALUES ("6/20/12","EUR","41.0060")
("6/21/12","EUR","41.2441")
insert into Table_3 VALUES ("6/21/12","EUR","41.2441")
("6/22/12","EUR","41.7208")
insert into Table_3 VALUES ("6/22/12","EUR","41.7208")
("6/23/12","EUR","42.0464")
insert into Table_3 VALUES ("6/23/12","EUR","42.0464")
("6/26/12","EUR","41.4981")
insert into Table_3 VALUES ("6/26/12","EUR","41.4981")
("6/27/12","EUR","41.4964")
insert into Table_3 VALUES ("6/27/12","EUR","41.4964")
("6/28/12","EUR","41.0217")
insert into Table_3 VALUES ("6/28/12","EUR","41.0217")
("6/29/12","EUR","41.1963")
insert into Table_3 VALUES ("6/29/12","EUR","41.1963")
("6/30/12","EUR","41.3230")
insert into Table_3 VALUES ("6/30/12","EUR","41.3230")
("7/3/12","EUR","41.0642")
insert into Table_3 VALUES ("7/3/12","EUR","41.0642")
("7/4/12","EUR","40.9332")
insert into Table_3 VALUES ("7/4/12","EUR","40.9332")
("7/5/12","EUR","40.5512")
insert into Table_3 VALUES ("7/5/12","EUR","40.5512")
("7/6/12","EUR","40.6850")
insert into Table_3 VALUES ("7/6/12","EUR","40.6850")
("7/7/12","EUR","40.3885")
insert into Table_3 VALUES ("7/7/12","EUR","40.3885")
("7/10/12","EUR","40.5522")
insert into Table_3 VALUES ("7/10/12","EUR","40.5522")
("7/11/12","EUR","40.5367")
insert into Table_3 VALUES ("7/11/12","EUR","40.5367")
("7/12/12","EUR","40.2638")
insert into Table_3 VALUES ("7/12/12","EUR","40.2638")
("7/13/12","EUR","40.0072")
insert into Table_3 VALUES ("7/13/12","EUR","40.0072")
("7/14/12","EUR","39.8277")
insert into Table_3 VALUES ("7/14/12","EUR","39.8277")
("7/17/12","EUR","39.8985")
insert into Table_3 VALUES ("7/17/12","EUR","39.8985")
("7/18/12","EUR","39.9240")
insert into Table_3 VALUES ("7/18/12","EUR","39.9240")
("7/19/12","EUR","39.8020")
insert into Table_3 VALUES ("7/19/12","EUR","39.8020")
("7/20/12","EUR","39.4219")
insert into Table_3 VALUES ("7/20/12","EUR","39.4219")
("7/21/12","EUR","39.1686")
insert into Table_3 VALUES ("7/21/12","EUR","39.1686")
("7/24/12","EUR","39.1620")
insert into Table_3 VALUES ("7/24/12","EUR","39.1620")
("7/25/12","EUR","39.5374")
insert into Table_3 VALUES ("7/25/12","EUR","39.5374")
("7/26/12","EUR","39.8390")
insert into Table_3 VALUES ("7/26/12","EUR","39.8390")
("7/27/12","EUR","39.6362")
insert into Table_3 VALUES ("7/27/12","EUR","39.6362")
("7/28/12","EUR","39.6028")
insert into Table_3 VALUES ("7/28/12","EUR","39.6028")
("7/31/12","EUR","39.5527")
insert into Table_3 VALUES ("7/31/12","EUR","39.5527")
("8/1/12","EUR","39.5101")
insert into Table_3 VALUES ("8/1/12","EUR","39.5101")
("8/2/12","EUR","39.8236")
insert into Table_3 VALUES ("8/2/12","EUR","39.8236")
("8/3/12","EUR","39.7525")
insert into Table_3 VALUES ("8/3/12","EUR","39.7525")
("8/4/12","EUR","39.6745")
insert into Table_3 VALUES ("8/4/12","EUR","39.6745")
("8/7/12","EUR","39.5353")
insert into Table_3 VALUES ("8/7/12","EUR","39.5353")
("8/8/12","EUR","39.2322")
insert into Table_3 VALUES ("8/8/12","EUR","39.2322")
("8/9/12","EUR","39.2299")
insert into Table_3 VALUES ("8/9/12","EUR","39.2299")
("8/10/12","EUR","38.9511")
insert into Table_3 VALUES ("8/10/12","EUR","38.9511")
("8/11/12","EUR","39.1923")
insert into Table_3 VALUES ("8/11/12","EUR","39.1923")
("8/14/12","EUR","39.1468")
insert into Table_3 VALUES ("8/14/12","EUR","39.1468")
("8/15/12","EUR","39.2916")
insert into Table_3 VALUES ("8/15/12","EUR","39.2916")
("8/16/12","EUR","39.2846")
insert into Table_3 VALUES ("8/16/12","EUR","39.2846")
("8/17/12","EUR","39.1395")
insert into Table_3 VALUES ("8/17/12","EUR","39.1395")
("8/18/12","EUR","39.3660")
insert into Table_3 VALUES ("8/18/12","EUR","39.3660")
("8/21/12","EUR","39.5468")
insert into Table_3 VALUES ("8/21/12","EUR","39.5468")
("8/22/12","EUR","39.5449")
insert into Table_3 VALUES ("8/22/12","EUR","39.5449")
("8/23/12","EUR","39.6202")
insert into Table_3 VALUES ("8/23/12","EUR","39.6202")
("8/24/12","EUR","39.7527")
insert into Table_3 VALUES ("8/24/12","EUR","39.7527")
("8/25/12","EUR","39.9087")
insert into Table_3 VALUES ("8/25/12","EUR","39.9087")
("8/28/12","EUR","39.8379")
insert into Table_3 VALUES ("8/28/12","EUR","39.8379")
("8/29/12","EUR","39.9748")
insert into Table_3 VALUES ("8/29/12","EUR","39.9748")
("8/30/12","EUR","40.2846")
insert into Table_3 VALUES ("8/30/12","EUR","40.2846")
("8/31/12","EUR","40.5250")
insert into Table_3 VALUES ("8/31/12","EUR","40.5250")
("9/1/12","EUR","40.7249")
insert into Table_3 VALUES ("9/1/12","EUR","40.7249")
("9/4/12","EUR","40.7580")
insert into Table_3 VALUES ("9/4/12","EUR","40.7580")
("9/5/12","EUR","40.6197")
insert into Table_3 VALUES ("9/5/12","EUR","40.6197")
("9/6/12","EUR","40.6669")
insert into Table_3 VALUES ("9/6/12","EUR","40.6669")
("9/7/12","EUR","40.6297")
insert into Table_3 VALUES ("9/7/12","EUR","40.6297")
("9/8/12","EUR","40.4820")
insert into Table_3 VALUES ("9/8/12","EUR","40.4820")
("9/11/12","EUR","40.5694")
insert into Table_3 VALUES ("9/11/12","EUR","40.5694")
("9/12/12","EUR","40.6203")
insert into Table_3 VALUES ("9/12/12","EUR","40.6203")
("9/13/12","EUR","40.5090")
insert into Table_3 VALUES ("9/13/12","EUR","40.5090")
("9/14/12","EUR","40.5678")
insert into Table_3 VALUES ("9/14/12","EUR","40.5678")
("9/15/12","EUR","40.1868")
insert into Table_3 VALUES ("9/15/12","EUR","40.1868")
("9/18/12","EUR","40.1481")
insert into Table_3 VALUES ("9/18/12","EUR","40.1481")
("9/19/12","EUR","40.4367")
insert into Table_3 VALUES ("9/19/12","EUR","40.4367")
("9/20/12","EUR","40.3416")
insert into Table_3 VALUES ("9/20/12","EUR","40.3416")
("9/21/12","EUR","40.9570")
insert into Table_3 VALUES ("9/21/12","EUR","40.9570")
("9/22/12","EUR","40.4918")
insert into Table_3 VALUES ("9/22/12","EUR","40.4918")
("9/25/12","EUR","40.4548")
insert into Table_3 VALUES ("9/25/12","EUR","40.4548")
("9/26/12","EUR","40.2099")
insert into Table_3 VALUES ("9/26/12","EUR","40.2099")
("9/27/12","EUR","40.1735")
insert into Table_3 VALUES ("9/27/12","EUR","40.1735")
("9/28/12","EUR","40.2074")
insert into Table_3 VALUES ("9/28/12","EUR","40.2074")
("9/29/12","EUR","39.9786")
insert into Table_3 VALUES ("9/29/12","EUR","39.9786")
("10/2/12","EUR","40.1455")
insert into Table_3 VALUES ("10/2/12","EUR","40.1455")
("10/3/12","EUR","40.1673")
insert into Table_3 VALUES ("10/3/12","EUR","40.1673")
("10/4/12","EUR","40.2096")
insert into Table_3 VALUES ("10/4/12","EUR","40.2096")
("10/5/12","EUR","40.2581")
insert into Table_3 VALUES ("10/5/12","EUR","40.2581")
("10/6/12","EUR","40.2822")
insert into Table_3 VALUES ("10/6/12","EUR","40.2822")
("10/9/12","EUR","40.3389")
insert into Table_3 VALUES ("10/9/12","EUR","40.3389")
("10/10/12","EUR","40.3577")
insert into Table_3 VALUES ("10/10/12","EUR","40.3577")
("10/11/12","EUR","40.1347")
insert into Table_3 VALUES ("10/11/12","EUR","40.1347")
("10/12/12","EUR","40.0679")
insert into Table_3 VALUES ("10/12/12","EUR","40.0679")
("10/13/12","EUR","40.0832")
insert into Table_3 VALUES ("10/13/12","EUR","40.0832")
("10/16/12","EUR","40.1355")
insert into Table_3 VALUES ("10/16/12","EUR","40.1355")
("10/17/12","EUR","40.1970")
insert into Table_3 VALUES ("10/17/12","EUR","40.1970")
("10/18/12","EUR","40.3525")
insert into Table_3 VALUES ("10/18/12","EUR","40.3525")
("10/19/12","EUR","40.2640")
insert into Table_3 VALUES ("10/19/12","EUR","40.2640")
("10/20/12","EUR","40.2140")
insert into Table_3 VALUES ("10/20/12","EUR","40.2140")
("10/23/12","EUR","40.3416")
insert into Table_3 VALUES ("10/23/12","EUR","40.3416")
("10/24/12","EUR","40.5798")
insert into Table_3 VALUES ("10/24/12","EUR","40.5798")
("10/25/12","EUR","40.6544")
insert into Table_3 VALUES ("10/25/12","EUR","40.6544")
("10/26/12","EUR","40.6311")
insert into Table_3 VALUES ("10/26/12","EUR","40.6311")
("10/27/12","EUR","40.6948")
insert into Table_3 VALUES ("10/27/12","EUR","40.6948")
("10/30/12","EUR","40.6233")
insert into Table_3 VALUES ("10/30/12","EUR","40.6233")
("10/31/12","EUR","40.7148")
insert into Table_3 VALUES ("10/31/12","EUR","40.7148")
("11/1/12","EUR","40.6548")
insert into Table_3 VALUES ("11/1/12","EUR","40.6548")
("11/2/12","EUR","40.6323")
insert into Table_3 VALUES ("11/2/12","EUR","40.6323")
("11/3/12","EUR","40.4918")
insert into Table_3 VALUES ("11/3/12","EUR","40.4918")
("11/7/12","EUR","40.3134")
insert into Table_3 VALUES ("11/7/12","EUR","40.3134")
("11/8/12","EUR","40.2748")
insert into Table_3 VALUES ("11/8/12","EUR","40.2748")
("11/9/12","EUR","40.2189")
insert into Table_3 VALUES ("11/9/12","EUR","40.2189")
("11/10/12","EUR","40.2238")
insert into Table_3 VALUES ("11/10/12","EUR","40.2238")
("11/13/12","EUR","40.2146")
insert into Table_3 VALUES ("11/13/12","EUR","40.2146")
("11/14/12","EUR","40.2323")
insert into Table_3 VALUES ("11/14/12","EUR","40.2323")
("11/15/12","EUR","40.3500")
insert into Table_3 VALUES ("11/15/12","EUR","40.3500")
("11/16/12","EUR","40.3818")
insert into Table_3 VALUES ("11/16/12","EUR","40.3818")
("11/17/12","EUR","40.4759")
insert into Table_3 VALUES ("11/17/12","EUR","40.4759")
("11/20/12","EUR","40.4207")
insert into Table_3 VALUES ("11/20/12","EUR","40.4207")
("11/21/12","EUR","40.2037")
insert into Table_3 VALUES ("11/21/12","EUR","40.2037")
("11/22/12","EUR","40.0785")
insert into Table_3 VALUES ("11/22/12","EUR","40.0785")
("11/23/12","EUR","40.0278")
insert into Table_3 VALUES ("11/23/12","EUR","40.0278")
("11/24/12","EUR","40.1360")
insert into Table_3 VALUES ("11/24/12","EUR","40.1360")
("11/27/12","EUR","40.1989")
insert into Table_3 VALUES ("11/27/12","EUR","40.1989")
("11/28/12","EUR","40.1893")
insert into Table_3 VALUES ("11/28/12","EUR","40.1893")
("11/29/12","EUR","40.2339")
insert into Table_3 VALUES ("11/29/12","EUR","40.2339")
("11/30/12","EUR","40.2057")
insert into Table_3 VALUES ("11/30/12","EUR","40.2057")
("12/1/12","EUR","40.0759")
insert into Table_3 VALUES ("12/1/12","EUR","40.0759")
("12/4/12","EUR","40.1769")
insert into Table_3 VALUES ("12/4/12","EUR","40.1769")
("12/5/12","EUR","40.4720")
insert into Table_3 VALUES ("12/5/12","EUR","40.4720")
("12/6/12","EUR","40.4127")
insert into Table_3 VALUES ("12/6/12","EUR","40.4127")
("12/7/12","EUR","40.3570")
insert into Table_3 VALUES ("12/7/12","EUR","40.3570")
("12/8/12","EUR","40.1270")
insert into Table_3 VALUES ("12/8/12","EUR","40.1270")
("12/11/12","EUR","39.8359")
insert into Table_3 VALUES ("12/11/12","EUR","39.8359")
("12/12/12","EUR","39.8313")
insert into Table_3 VALUES ("12/12/12","EUR","39.8313")
("12/13/12","EUR","39.9579")
insert into Table_3 VALUES ("12/13/12","EUR","39.9579")
("12/14/12","EUR","40.0599")
insert into Table_3 VALUES ("12/14/12","EUR","40.0599")
("12/15/12","EUR","40.2182")
insert into Table_3 VALUES ("12/15/12","EUR","40.2182")
("12/18/12","EUR","40.4713")
insert into Table_3 VALUES ("12/18/12","EUR","40.4713")
("12/19/12","EUR","40.8084")
insert into Table_3 VALUES ("12/19/12","EUR","40.8084")
("12/20/12","EUR","40.7393")
insert into Table_3 VALUES ("12/20/12","EUR","40.7393")
("12/21/12","EUR","40.6544")
insert into Table_3 VALUES ("12/21/12","EUR","40.6544")
("12/22/12","EUR","40.5619")
insert into Table_3 VALUES ("12/22/12","EUR","40.5619")
("12/25/12","EUR","40.6251")
insert into Table_3 VALUES ("12/25/12","EUR","40.6251")
("12/26/12","EUR","40.3333")
insert into Table_3 VALUES ("12/26/12","EUR","40.3333")
("12/27/12","EUR","40.3659")
insert into Table_3 VALUES ("12/27/12","EUR","40.3659")
("12/28/12","EUR","40.3505")
insert into Table_3 VALUES ("12/28/12","EUR","40.3505")
("12/29/12","EUR","40.2286")
insert into Table_3 VALUES ("12/29/12","EUR","40.2286")
("12/30/12","EUR","40.2286")
insert into Table_3 VALUES ("12/30/12","EUR","40.2286")
("1/10/13","EUR","39.8096")
insert into Table_3 VALUES ("1/10/13","EUR","39.8096")
("1/11/13","EUR","39.6385")
insert into Table_3 VALUES ("1/11/13","EUR","39.6385")
("1/12/13","EUR","40.1104")
insert into Table_3 VALUES ("1/12/13","EUR","40.1104")
("1/15/13","EUR","40.5009")
insert into Table_3 VALUES ("1/15/13","EUR","40.5009")
("1/16/13","EUR","40.4003")
insert into Table_3 VALUES ("1/16/13","EUR","40.4003")
("1/17/13","EUR","40.3096")
insert into Table_3 VALUES ("1/17/13","EUR","40.3096")
("1/18/13","EUR","40.3472")
insert into Table_3 VALUES ("1/18/13","EUR","40.3472")
("1/19/13","EUR","40.4314")
insert into Table_3 VALUES ("1/19/13","EUR","40.4314")
("1/22/13","EUR","40.3617")
insert into Table_3 VALUES ("1/22/13","EUR","40.3617")
("1/23/13","EUR","40.3194")
insert into Table_3 VALUES ("1/23/13","EUR","40.3194")
("1/24/13","EUR","40.2200")
insert into Table_3 VALUES ("1/24/13","EUR","40.2200")
("1/25/13","EUR","40.2036")
insert into Table_3 VALUES ("1/25/13","EUR","40.2036")
("1/26/13","EUR","40.2364")
insert into Table_3 VALUES ("1/26/13","EUR","40.2364")
("1/29/13","EUR","40.4552")
insert into Table_3 VALUES ("1/29/13","EUR","40.4552")
("1/30/13","EUR","40.5414")
insert into Table_3 VALUES ("1/30/13","EUR","40.5414")
("1/31/13","EUR","40.5134")
insert into Table_3 VALUES ("1/31/13","EUR","40.5134")
("2/1/13","EUR","40.7138")
insert into Table_3 VALUES ("2/1/13","EUR","40.7138")
("2/2/13","EUR","40.8674")
insert into Table_3 VALUES ("2/2/13","EUR","40.8674")
("2/5/13","EUR","40.7789")
insert into Table_3 VALUES ("2/5/13","EUR","40.7789")
("2/6/13","EUR","40.6029")
insert into Table_3 VALUES ("2/6/13","EUR","40.6029")
("2/7/13","EUR","40.6435")
insert into Table_3 VALUES ("2/7/13","EUR","40.6435")
("2/8/13","EUR","40.6691")
insert into Table_3 VALUES ("2/8/13","EUR","40.6691")

("2/9/13","EUR","40.4171")
insert into Table_3 VALUES ("2/9/13","EUR","40.4171")
("2/12/13","EUR","40.3618")
insert into Table_3 VALUES ("2/12/13","EUR","40.3618")
("2/13/13","EUR","40.3873")
insert into Table_3 VALUES ("2/13/13","EUR","40.3873")
("2/14/13","EUR","40.4280")
insert into Table_3 VALUES ("2/14/13","EUR","40.4280")
("2/15/13","EUR","40.3698")
insert into Table_3 VALUES ("2/15/13","EUR","40.3698")
("2/16/13","EUR","40.2713")
insert into Table_3 VALUES ("2/16/13","EUR","40.2713")
("2/19/13","EUR","40.1969")
insert into Table_3 VALUES ("2/19/13","EUR","40.1969")
("2/20/13","EUR","40.2265")
insert into Table_3 VALUES ("2/20/13","EUR","40.2265")
("2/21/13","EUR","40.3394")
insert into Table_3 VALUES ("2/21/13","EUR","40.3394")
("2/22/13","EUR","40.0748")
insert into Table_3 VALUES ("2/22/13","EUR","40.0748")
("2/23/13","EUR","40.1111")
insert into Table_3 VALUES ("2/23/13","EUR","40.1111")
("2/26/13","EUR","40.0810")
insert into Table_3 VALUES ("2/26/13","EUR","40.0810")
("2/27/13","EUR","39.9216")
insert into Table_3 VALUES ("2/27/13","EUR","39.9216")
("2/28/13","EUR","40.0420")
insert into Table_3 VALUES ("2/28/13","EUR","40.0420")
("3/1/13","EUR","40.1024")
insert into Table_3 VALUES ("3/1/13","EUR","40.1024")
("3/2/13","EUR","40.0563")
insert into Table_3 VALUES ("3/2/13","EUR","40.0563")
("3/5/13","EUR","40.0293")
insert into Table_3 VALUES ("3/5/13","EUR","40.0293")
("3/6/13","EUR","40.0126")
insert into Table_3 VALUES ("3/6/13","EUR","40.0126")
("3/7/13","EUR","40.0007")
insert into Table_3 VALUES ("3/7/13","EUR","40.0007")
("3/8/13","EUR","39.9732")
insert into Table_3 VALUES ("3/8/13","EUR","39.9732")
("3/12/13","EUR","40.0187")
insert into Table_3 VALUES ("3/12/13","EUR","40.0187")
("3/13/13","EUR","40.0364")
insert into Table_3 VALUES ("3/13/13","EUR","40.0364")
("3/14/13","EUR","40.0631")
insert into Table_3 VALUES ("3/14/13","EUR","40.0631")
("3/15/13","EUR","39.8715")
insert into Table_3 VALUES ("3/15/13","EUR","39.8715")
("3/16/13","EUR","40.0123")
insert into Table_3 VALUES ("3/16/13","EUR","40.0123")
("3/19/13","EUR","39.8491")
insert into Table_3 VALUES ("3/19/13","EUR","39.8491")
("3/20/13","EUR","39.9075")
insert into Table_3 VALUES ("3/20/13","EUR","39.9075")
("3/21/13","EUR","39.8752")
insert into Table_3 VALUES ("3/21/13","EUR","39.8752")
("3/22/13","EUR","39.9746")
insert into Table_3 VALUES ("3/22/13","EUR","39.9746")
("3/23/13","EUR","39.9060")
insert into Table_3 VALUES ("3/23/13","EUR","39.9060")
("3/26/13","EUR","40.0845")
insert into Table_3 VALUES ("3/26/13","EUR","40.0845")
("3/27/13","EUR","39.7526")
insert into Table_3 VALUES ("3/27/13","EUR","39.7526")
("3/28/13","EUR","39.6559")
insert into Table_3 VALUES ("3/28/13","EUR","39.6559")
("3/29/13","EUR","39.6627")
insert into Table_3 VALUES ("3/29/13","EUR","39.6627")
("3/30/13","EUR","39.8023")
insert into Table_3 VALUES ("3/30/13","EUR","39.8023")
("4/2/13","EUR","39.8168")
insert into Table_3 VALUES ("4/2/13","EUR","39.8168")
("4/3/13","EUR","40.0113")
insert into Table_3 VALUES ("4/3/13","EUR","40.0113")
("4/4/13","EUR","40.1752")
insert into Table_3 VALUES ("4/4/13","EUR","40.1752")
("4/5/13","EUR","40.7035")
insert into Table_3 VALUES ("4/5/13","EUR","40.7035")
("4/6/13","EUR","40.8413")
insert into Table_3 VALUES ("4/6/13","EUR","40.8413")
("4/9/13","EUR","41.0481")
insert into Table_3 VALUES ("4/9/13","EUR","41.0481")
("4/10/13","EUR","40.6523")
insert into Table_3 VALUES ("4/10/13","EUR","40.6523")
("4/11/13","EUR","40.5930")
insert into Table_3 VALUES ("4/11/13","EUR","40.5930")
("4/12/13","EUR","40.3651")
insert into Table_3 VALUES ("4/12/13","EUR","40.3651")
("4/13/13","EUR","40.5132")
insert into Table_3 VALUES ("4/13/13","EUR","40.5132")
("4/16/13","EUR","40.9283")
insert into Table_3 VALUES ("4/16/13","EUR","40.9283")
("4/17/13","EUR","41.1193")
insert into Table_3 VALUES ("4/17/13","EUR","41.1193")
("4/18/13","EUR","41.1544")
insert into Table_3 VALUES ("4/18/13","EUR","41.1544")
("4/19/13","EUR","41.3787")
insert into Table_3 VALUES ("4/19/13","EUR","41.3787")
("4/20/13","EUR","41.1157")
insert into Table_3 VALUES ("4/20/13","EUR","41.1157")
("4/23/13","EUR","41.2352")
insert into Table_3 VALUES ("4/23/13","EUR","41.2352")
("4/24/13","EUR","41.3142")
insert into Table_3 VALUES ("4/24/13","EUR","41.3142")
("4/25/13","EUR","41.0629")
insert into Table_3 VALUES ("4/25/13","EUR","41.0629")
("4/26/13","EUR","40.8498")
insert into Table_3 VALUES ("4/26/13","EUR","40.8498")
("4/27/13","EUR","40.6635")
insert into Table_3 VALUES ("4/27/13","EUR","40.6635")
("4/30/13","EUR","40.8358")
insert into Table_3 VALUES ("4/30/13","EUR","40.8358")
("5/1/13","EUR","40.6264")
insert into Table_3 VALUES ("5/1/13","EUR","40.6264")
("5/7/13","EUR","40.7386")
insert into Table_3 VALUES ("5/7/13","EUR","40.7386")
("5/8/13","EUR","40.6450")
insert into Table_3 VALUES ("5/8/13","EUR","40.6450")
("5/9/13","EUR","40.7404")
insert into Table_3 VALUES ("5/9/13","EUR","40.7404")
("5/14/13","EUR","40.7345")
insert into Table_3 VALUES ("5/14/13","EUR","40.7345")
("5/15/13","EUR","40.6768")
insert into Table_3 VALUES ("5/15/13","EUR","40.6768")
("5/16/13","EUR","40.5517")
insert into Table_3 VALUES ("5/16/13","EUR","40.5517")
("5/17/13","EUR","40.4175")
insert into Table_3 VALUES ("5/17/13","EUR","40.4175")
("5/18/13","EUR","40.3747")
insert into Table_3 VALUES ("5/18/13","EUR","40.3747")
("5/21/13","EUR","40.2633")
insert into Table_3 VALUES ("5/21/13","EUR","40.2633")
("5/22/13","EUR","40.1903")
insert into Table_3 VALUES ("5/22/13","EUR","40.1903")
("5/23/13","EUR","40.3372")
insert into Table_3 VALUES ("5/23/13","EUR","40.3372")
("5/24/13","EUR","40.4026")
insert into Table_3 VALUES ("5/24/13","EUR","40.4026")
("5/25/13","EUR","40.5140")
insert into Table_3 VALUES ("5/25/13","EUR","40.5140")
("5/28/13","EUR","40.4867")
insert into Table_3 VALUES ("5/28/13","EUR","40.4867")
("5/29/13","EUR","40.5189")
insert into Table_3 VALUES ("5/29/13","EUR","40.5189")
("5/30/13","EUR","40.5666")
insert into Table_3 VALUES ("5/30/13","EUR","40.5666")
("5/31/13","EUR","40.9650")
insert into Table_3 VALUES ("5/31/13","EUR","40.9650")
("6/1/13","EUR","41.4486")
insert into Table_3 VALUES ("6/1/13","EUR","41.4486")
("6/4/13","EUR","41.7274")
insert into Table_3 VALUES ("6/4/13","EUR","41.7274")
("6/5/13","EUR","41.6076")
insert into Table_3 VALUES ("6/5/13","EUR","41.6076")
("6/6/13","EUR","41.8447")
insert into Table_3 VALUES ("6/6/13","EUR","41.8447")
("6/7/13","EUR","42.1464")
insert into Table_3 VALUES ("6/7/13","EUR","42.1464")
("6/8/13","EUR","42.7176")
insert into Table_3 VALUES ("6/8/13","EUR","42.7176")
("6/11/13","EUR","42.6426")
insert into Table_3 VALUES ("6/11/13","EUR","42.6426")
("6/12/13","EUR","42.9753")
insert into Table_3 VALUES ("6/12/13","EUR","42.9753")
("6/14/13","EUR","43.2443")
insert into Table_3 VALUES ("6/14/13","EUR","43.2443")
("6/15/13","EUR","42.4442")
insert into Table_3 VALUES ("6/15/13","EUR","42.4442")
("6/18/13","EUR","42.2249")
insert into Table_3 VALUES ("6/18/13","EUR","42.2249")
("6/19/13","EUR","42.5216")
insert into Table_3 VALUES ("6/19/13","EUR","42.5216")
("6/20/13","EUR","43.0409")
insert into Table_3 VALUES ("6/20/13","EUR","43.0409")
("6/21/13","EUR","43.3526")
insert into Table_3 VALUES ("6/21/13","EUR","43.3526")
("6/22/13","EUR","43.3489")
insert into Table_3 VALUES ("6/22/13","EUR","43.3489")
("6/25/13","EUR","43.1018")
insert into Table_3 VALUES ("6/25/13","EUR","43.1018")
("6/26/13","EUR","42.9698")
insert into Table_3 VALUES ("6/26/13","EUR","42.9698")
("6/27/13","EUR","42.9841")
insert into Table_3 VALUES ("6/27/13","EUR","42.9841")
("6/28/13","EUR","42.8349")
insert into Table_3 VALUES ("6/28/13","EUR","42.8349")
("6/29/13","EUR","42.7180")
insert into Table_3 VALUES ("6/29/13","EUR","42.7180")
("7/2/13","EUR","42.8025")
insert into Table_3 VALUES ("7/2/13","EUR","42.8025")
("7/3/13","EUR","43.0525")
insert into Table_3 VALUES ("7/3/13","EUR","43.0525")
("7/4/13","EUR","43.0736")
insert into Table_3 VALUES ("7/4/13","EUR","43.0736")
("7/5/13","EUR","43.0954")
insert into Table_3 VALUES ("7/5/13","EUR","43.0954")
("7/6/13","EUR","42.8399")
insert into Table_3 VALUES ("7/6/13","EUR","42.8399")
("7/9/13","EUR","42.7342")
insert into Table_3 VALUES ("7/9/13","EUR","42.7342")
("7/10/13","EUR","42.6389")
insert into Table_3 VALUES ("7/10/13","EUR","42.6389")
("7/11/13","EUR","42.1033")
insert into Table_3 VALUES ("7/11/13","EUR","42.1033")
("7/12/13","EUR","42.6234")
insert into Table_3 VALUES ("7/12/13","EUR","42.6234")
("7/13/13","EUR","42.6643")
insert into Table_3 VALUES ("7/13/13","EUR","42.6643")
("7/16/13","EUR","42.6076")
insert into Table_3 VALUES ("7/16/13","EUR","42.6076")
("7/17/13","EUR","42.5906")
insert into Table_3 VALUES ("7/17/13","EUR","42.5906")
("7/18/13","EUR","42.6232")
insert into Table_3 VALUES ("7/18/13","EUR","42.6232")
("7/19/13","EUR","42.4437")
insert into Table_3 VALUES ("7/19/13","EUR","42.4437")
("7/20/13","EUR","42.5920")
insert into Table_3 VALUES ("7/20/13","EUR","42.5920")
("7/23/13","EUR","42.5088")
insert into Table_3 VALUES ("7/23/13","EUR","42.5088")
("7/24/13","EUR","42.6209")
insert into Table_3 VALUES ("7/24/13","EUR","42.6209")
("7/25/13","EUR","42.7229")
insert into Table_3 VALUES ("7/25/13","EUR","42.7229")
("7/26/13","EUR","42.9919")
insert into Table_3 VALUES ("7/26/13","EUR","42.9919")
("7/27/13","EUR","43.3421")
insert into Table_3 VALUES ("7/27/13","EUR","43.3421")
("7/30/13","EUR","43.6060")
insert into Table_3 VALUES ("7/30/13","EUR","43.6060")
("7/31/13","EUR","43.6090")
insert into Table_3 VALUES ("7/31/13","EUR","43.6090")
("8/1/13","EUR","43.7786")
insert into Table_3 VALUES ("8/1/13","EUR","43.7786")
("8/2/13","EUR","43.7270")
insert into Table_3 VALUES ("8/2/13","EUR","43.7270")
("8/3/13","EUR","43.7387")
insert into Table_3 VALUES ("8/3/13","EUR","43.7387")
("8/6/13","EUR","43.6628")
insert into Table_3 VALUES ("8/6/13","EUR","43.6628")
("8/7/13","EUR","43.6574")
insert into Table_3 VALUES ("8/7/13","EUR","43.6574")
("8/8/13","EUR","43.8764")
insert into Table_3 VALUES ("8/8/13","EUR","43.8764")
("8/9/13","EUR","43.9717")
insert into Table_3 VALUES ("8/9/13","EUR","43.9717")
("8/10/13","EUR","43.9806")
insert into Table_3 VALUES ("8/10/13","EUR","43.9806")
("8/13/13","EUR","43.8305")
insert into Table_3 VALUES ("8/13/13","EUR","43.8305")
("8/14/13","EUR","43.9665")
insert into Table_3 VALUES ("8/14/13","EUR","43.9665")
("8/15/13","EUR","43.9845")
insert into Table_3 VALUES ("8/15/13","EUR","43.9845")
("8/16/13","EUR","43.8509")
insert into Table_3 VALUES ("8/16/13","EUR","43.8509")
("8/17/13","EUR","43.9382")
insert into Table_3 VALUES ("8/17/13","EUR","43.9382")
("8/20/13","EUR","43.8628")
insert into Table_3 VALUES ("8/20/13","EUR","43.8628")
("8/21/13","EUR","44.0294")
insert into Table_3 VALUES ("8/21/13","EUR","44.0294")
("8/22/13","EUR","44.2144")
insert into Table_3 VALUES ("8/22/13","EUR","44.2144")
("8/23/13","EUR","44.2765")
insert into Table_3 VALUES ("8/23/13","EUR","44.2765")
("8/24/13","EUR","44.1022")
insert into Table_3 VALUES ("8/24/13","EUR","44.1022")
("8/27/13","EUR","44.0891")
insert into Table_3 VALUES ("8/27/13","EUR","44.0891")
("8/28/13","EUR","44.2714")
insert into Table_3 VALUES ("8/28/13","EUR","44.2714")
("8/29/13","EUR","44.3879")
insert into Table_3 VALUES ("8/29/13","EUR","44.3879")
("8/30/13","EUR","44.0840")
insert into Table_3 VALUES ("8/30/13","EUR","44.0840")
("8/31/13","EUR","44.0129")
insert into Table_3 VALUES ("8/31/13","EUR","44.0129")
("9/3/13","EUR","43.9561")
insert into Table_3 VALUES ("9/3/13","EUR","43.9561")
("9/4/13","EUR","43.9540")
insert into Table_3 VALUES ("9/4/13","EUR","43.9540")
("9/5/13","EUR","44.0742")
insert into Table_3 VALUES ("9/5/13","EUR","44.0742")
("9/6/13","EUR","43.9814")
insert into Table_3 VALUES ("9/6/13","EUR","43.9814")
("9/7/13","EUR","43.8919")
insert into Table_3 VALUES ("9/7/13","EUR","43.8919")
("9/10/13","EUR","43.9014")
insert into Table_3 VALUES ("9/10/13","EUR","43.9014")
("9/11/13","EUR","43.8607")
insert into Table_3 VALUES ("9/11/13","EUR","43.8607")
("9/12/13","EUR","43.6824")
insert into Table_3 VALUES ("9/12/13","EUR","43.6824")
("9/13/13","EUR","43.4748")
insert into Table_3 VALUES ("9/13/13","EUR","43.4748")
("9/14/13","EUR","43.4664")
insert into Table_3 VALUES ("9/14/13","EUR","43.4664")
("9/17/13","EUR","43.1597")
insert into Table_3 VALUES ("9/17/13","EUR","43.1597")
("9/18/13","EUR","43.1457")
insert into Table_3 VALUES ("9/18/13","EUR","43.1457")
("9/19/13","EUR","43.0761")
insert into Table_3 VALUES ("9/19/13","EUR","43.0761")
("9/20/13","EUR","42.7465")
insert into Table_3 VALUES ("9/20/13","EUR","42.7465")
("9/21/13","EUR","42.9501")
insert into Table_3 VALUES ("9/21/13","EUR","42.9501")
("9/24/13","EUR","43.2038")
insert into Table_3 VALUES ("9/24/13","EUR","43.2038")
("9/25/13","EUR","42.9653")
insert into Table_3 VALUES ("9/25/13","EUR","42.9653")
("9/26/13","EUR","43.0251")
insert into Table_3 VALUES ("9/26/13","EUR","43.0251")
("9/27/13","EUR","43.4987")
insert into Table_3 VALUES ("9/27/13","EUR","43.4987")
("9/28/13","EUR","43.6497")
insert into Table_3 VALUES ("9/28/13","EUR","43.6497")
("10/1/13","EUR","43.8143")
insert into Table_3 VALUES ("10/1/13","EUR","43.8143")
("10/2/13","EUR","43.8005")
insert into Table_3 VALUES ("10/2/13","EUR","43.8005")
("10/3/13","EUR","43.6603")
insert into Table_3 VALUES ("10/3/13","EUR","43.6603")
("10/4/13","EUR","43.6932")
insert into Table_3 VALUES ("10/4/13","EUR","43.6932")
("10/5/13","EUR","43.7337")
insert into Table_3 VALUES ("10/5/13","EUR","43.7337")
("10/8/13","EUR","43.8314")
insert into Table_3 VALUES ("10/8/13","EUR","43.8314")
("10/9/13","EUR","43.8225")
insert into Table_3 VALUES ("10/9/13","EUR","43.8225")
("10/10/13","EUR","43.8471")
insert into Table_3 VALUES ("10/10/13","EUR","43.8471")
("10/11/13","EUR","43.6844")
insert into Table_3 VALUES ("10/11/13","EUR","43.6844")
("10/12/13","EUR","43.6039")
insert into Table_3 VALUES ("10/12/13","EUR","43.6039")
("10/15/13","EUR","43.7660")
insert into Table_3 VALUES ("10/15/13","EUR","43.7660")
("10/16/13","EUR","43.7645")
insert into Table_3 VALUES ("10/16/13","EUR","43.7645")
("10/17/13","EUR","43.6102")
insert into Table_3 VALUES ("10/17/13","EUR","43.6102")
("10/18/13","EUR","43.5123")
insert into Table_3 VALUES ("10/18/13","EUR","43.5123")
("10/19/13","EUR","43.5590")
insert into Table_3 VALUES ("10/19/13","EUR","43.5590")
("10/22/13","EUR","43.6378")
insert into Table_3 VALUES ("10/22/13","EUR","43.6378")
("10/23/13","EUR","43.6610")
insert into Table_3 VALUES ("10/23/13","EUR","43.6610")
("10/24/13","EUR","43.7126")
insert into Table_3 VALUES ("10/24/13","EUR","43.7126")
("10/25/13","EUR","43.7249")
insert into Table_3 VALUES ("10/25/13","EUR","43.7249")

("10/26/13","EUR","43.7625")
insert into Table_3 VALUES ("10/26/13","EUR","43.7625")
("10/29/13","EUR","43.9036")
insert into Table_3 VALUES ("10/29/13","EUR","43.9036")
("10/30/13","EUR","44.0323")
insert into Table_3 VALUES ("10/30/13","EUR","44.0323")
("10/31/13","EUR","44.0586")
insert into Table_3 VALUES ("10/31/13","EUR","44.0586")
("11/1/13","EUR","43.9406")
insert into Table_3 VALUES ("11/1/13","EUR","43.9406")
("11/2/13","EUR","43.6179")
insert into Table_3 VALUES ("11/2/13","EUR","43.6179")
("11/6/13","EUR","43.6672")
insert into Table_3 VALUES ("11/6/13","EUR","43.6672")
("11/7/13","EUR","43.8220")
insert into Table_3 VALUES ("11/7/13","EUR","43.8220")
("11/8/13","EUR","43.7879")
insert into Table_3 VALUES ("11/8/13","EUR","43.7879")
("11/9/13","EUR","43.6305")
insert into Table_3 VALUES ("11/9/13","EUR","43.6305")
("11/12/13","EUR","43.6563")
insert into Table_3 VALUES ("11/12/13","EUR","43.6563")
("11/13/13","EUR","43.9228")
insert into Table_3 VALUES ("11/13/13","EUR","43.9228")
("11/14/13","EUR","44.1046")
insert into Table_3 VALUES ("11/14/13","EUR","44.1046")
("11/15/13","EUR","44.0201")
insert into Table_3 VALUES ("11/15/13","EUR","44.0201")
("11/16/13","EUR","43.9751")
insert into Table_3 VALUES ("11/16/13","EUR","43.9751")
("11/19/13","EUR","43.9541")
insert into Table_3 VALUES ("11/19/13","EUR","43.9541")
("11/20/13","EUR","44.0624")
insert into Table_3 VALUES ("11/20/13","EUR","44.0624")
("11/21/13","EUR","44.3421")
insert into Table_3 VALUES ("11/21/13","EUR","44.3421")
("11/22/13","EUR","44.3300")
insert into Table_3 VALUES ("11/22/13","EUR","44.3300")
("11/23/13","EUR","44.3533")
insert into Table_3 VALUES ("11/23/13","EUR","44.3533")
("11/26/13","EUR","44.3685")
insert into Table_3 VALUES ("11/26/13","EUR","44.3685")
("11/27/13","EUR","44.6392")
insert into Table_3 VALUES ("11/27/13","EUR","44.6392")
("11/28/13","EUR","44.8262")
insert into Table_3 VALUES ("11/28/13","EUR","44.8262")
("11/29/13","EUR","44.9949")
insert into Table_3 VALUES ("11/29/13","EUR","44.9949")
("11/30/13","EUR","45.1870")
insert into Table_3 VALUES ("11/30/13","EUR","45.1870")
("12/3/13","EUR","45.0882")
insert into Table_3 VALUES ("12/3/13","EUR","45.0882")
("12/4/13","EUR","45.0417")
insert into Table_3 VALUES ("12/4/13","EUR","45.0417")
("12/5/13","EUR","45.1748")
insert into Table_3 VALUES ("12/5/13","EUR","45.1748")
("12/6/13","EUR","45.1013")
insert into Table_3 VALUES ("12/6/13","EUR","45.1013")
("12/7/13","EUR","45.0116")
insert into Table_3 VALUES ("12/7/13","EUR","45.0116")
("12/10/13","EUR","44.9127")
insert into Table_3 VALUES ("12/10/13","EUR","44.9127")
("12/11/13","EUR","45.0758")
insert into Table_3 VALUES ("12/11/13","EUR","45.0758")
("12/12/13","EUR","45.0418")
insert into Table_3 VALUES ("12/12/13","EUR","45.0418")
("12/13/13","EUR","45.1549")
insert into Table_3 VALUES ("12/13/13","EUR","45.1549")
("12/14/13","EUR","45.1944")
insert into Table_3 VALUES ("12/14/13","EUR","45.1944")
("12/17/13","EUR","45.2135")
insert into Table_3 VALUES ("12/17/13","EUR","45.2135")
("12/18/13","EUR","45.2644")
insert into Table_3 VALUES ("12/18/13","EUR","45.2644")
("12/19/13","EUR","45.3688")
insert into Table_3 VALUES ("12/19/13","EUR","45.3688")
("12/20/13","EUR","45.0628")
insert into Table_3 VALUES ("12/20/13","EUR","45.0628")
("12/21/13","EUR","44.9680")
insert into Table_3 VALUES ("12/21/13","EUR","44.9680")
("12/24/13","EUR","45.0863")
insert into Table_3 VALUES ("12/24/13","EUR","45.0863")
("12/25/13","EUR","44.6520")
insert into Table_3 VALUES ("12/25/13","EUR","44.6520")
("12/26/13","EUR","44.6438")
insert into Table_3 VALUES ("12/26/13","EUR","44.6438")
("12/27/13","EUR","44.7005")
insert into Table_3 VALUES ("12/27/13","EUR","44.7005")
("12/28/13","EUR","44.8736")
insert into Table_3 VALUES ("12/28/13","EUR","44.8736")
("12/31/13","EUR","44.9699")
insert into Table_3 VALUES ("12/31/13","EUR","44.9699")
("1/1/14","EUR","45.0559")
insert into Table_3 VALUES ("1/1/14","EUR","45.0559")
("1/10/14","EUR","45.0672")
insert into Table_3 VALUES ("1/10/14","EUR","45.0672")
("1/11/14","EUR","45.2069")
insert into Table_3 VALUES ("1/11/14","EUR","45.2069")
("1/14/14","EUR","45.2855")
insert into Table_3 VALUES ("1/14/14","EUR","45.2855")
("1/15/14","EUR","45.4139")
insert into Table_3 VALUES ("1/15/14","EUR","45.4139")
("1/16/14","EUR","45.4878")
insert into Table_3 VALUES ("1/16/14","EUR","45.4878")
("1/17/14","EUR","45.4926")
insert into Table_3 VALUES ("1/17/14","EUR","45.4926")
("1/18/14","EUR","45.5175")
insert into Table_3 VALUES ("1/18/14","EUR","45.5175")
("1/21/14","EUR","45.5424")
insert into Table_3 VALUES ("1/21/14","EUR","45.5424")
("1/22/14","EUR","45.8242")
insert into Table_3 VALUES ("1/22/14","EUR","45.8242")
("1/23/14","EUR","45.9125")
insert into Table_3 VALUES ("1/23/14","EUR","45.9125")
("1/24/14","EUR","46.1050")
insert into Table_3 VALUES ("1/24/14","EUR","46.1050")
("1/25/14","EUR","46.8985")
insert into Table_3 VALUES ("1/25/14","EUR","46.8985")
("1/28/14","EUR","47.4962")
insert into Table_3 VALUES ("1/28/14","EUR","47.4962")
("1/29/14","EUR","47.3739")
insert into Table_3 VALUES ("1/29/14","EUR","47.3739")
("1/30/14","EUR","47.2238")
insert into Table_3 VALUES ("1/30/14","EUR","47.2238")
("1/31/14","EUR","48.0951")
insert into Table_3 VALUES ("1/31/14","EUR","48.0951")
("2/1/14","EUR","47.6408")
insert into Table_3 VALUES ("2/1/14","EUR","47.6408")
("2/4/14","EUR","47.5351")
insert into Table_3 VALUES ("2/4/14","EUR","47.5351")
("2/5/14","EUR","47.9535")
insert into Table_3 VALUES ("2/5/14","EUR","47.9535")
("2/6/14","EUR","47.2159")
insert into Table_3 VALUES ("2/6/14","EUR","47.2159")
("2/7/14","EUR","46.9497")
insert into Table_3 VALUES ("2/7/14","EUR","46.9497")
("2/8/14","EUR","47.0205")
insert into Table_3 VALUES ("2/8/14","EUR","47.0205")
("2/11/14","EUR","47.3758")
insert into Table_3 VALUES ("2/11/14","EUR","47.3758")
("2/12/14","EUR","47.5319")
insert into Table_3 VALUES ("2/12/14","EUR","47.5319")
("2/13/14","EUR","47.4154")
insert into Table_3 VALUES ("2/13/14","EUR","47.4154")
("2/14/14","EUR","47.4913")
insert into Table_3 VALUES ("2/14/14","EUR","47.4913")
("2/15/14","EUR","48.2618")
insert into Table_3 VALUES ("2/15/14","EUR","48.2618")
("2/18/14","EUR","48.1188")
insert into Table_3 VALUES ("2/18/14","EUR","48.1188")
("2/19/14","EUR","48.3086")
insert into Table_3 VALUES ("2/19/14","EUR","48.3086")
("2/20/14","EUR","48.9730")
insert into Table_3 VALUES ("2/20/14","EUR","48.9730")
("2/21/14","EUR","49.1975")
insert into Table_3 VALUES ("2/21/14","EUR","49.1975")
("2/22/14","EUR","48.9497")
insert into Table_3 VALUES ("2/22/14","EUR","48.9497")
("2/25/14","EUR","48.7959")
insert into Table_3 VALUES ("2/25/14","EUR","48.7959")
("2/26/14","EUR","48.8654")
insert into Table_3 VALUES ("2/26/14","EUR","48.8654")
("2/27/14","EUR","49.1823")
insert into Table_3 VALUES ("2/27/14","EUR","49.1823")
("2/28/14","EUR","49.3454")
insert into Table_3 VALUES ("2/28/14","EUR","49.3454")
("3/1/14","EUR","49.5839")
insert into Table_3 VALUES ("3/1/14","EUR","49.5839")
("3/4/14","EUR","50.1513")
insert into Table_3 VALUES ("3/4/14","EUR","50.1513")
("3/5/14","EUR","49.9520")
insert into Table_3 VALUES ("3/5/14","EUR","49.9520")
("3/6/14","EUR","49.5446")
insert into Table_3 VALUES ("3/6/14","EUR","49.5446")
("3/7/14","EUR","49.5925")
insert into Table_3 VALUES ("3/7/14","EUR","49.5925")
("3/8/14","EUR","50.2625")
insert into Table_3 VALUES ("3/8/14","EUR","50.2625")
("3/12/14","EUR","50.4707")
insert into Table_3 VALUES ("3/12/14","EUR","50.4707")
("3/13/14","EUR","50.5593")
insert into Table_3 VALUES ("3/13/14","EUR","50.5593")
("3/14/14","EUR","50.8096")
insert into Table_3 VALUES ("3/14/14","EUR","50.8096")
("3/15/14","EUR","50.7635")
insert into Table_3 VALUES ("3/15/14","EUR","50.7635")
("3/18/14","EUR","50.9442")
insert into Table_3 VALUES ("3/18/14","EUR","50.9442")
("3/19/14","EUR","50.7621")
insert into Table_3 VALUES ("3/19/14","EUR","50.7621")
("3/20/14","EUR","50.4146")
insert into Table_3 VALUES ("3/20/14","EUR","50.4146")
("3/21/14","EUR","49.9628")
insert into Table_3 VALUES ("3/21/14","EUR","49.9628")
("3/22/14","EUR","50.1804")
insert into Table_3 VALUES ("3/22/14","EUR","50.1804")
("3/25/14","EUR","49.9167")
insert into Table_3 VALUES ("3/25/14","EUR","49.9167")
("3/26/14","EUR","49.7042")
insert into Table_3 VALUES ("3/26/14","EUR","49.7042")
("3/27/14","EUR","48.9521")
insert into Table_3 VALUES ("3/27/14","EUR","48.9521")
("3/28/14","EUR","49.0484")
insert into Table_3 VALUES ("3/28/14","EUR","49.0484")
("3/29/14","EUR","49.0519")
insert into Table_3 VALUES ("3/29/14","EUR","49.0519")
("4/1/14","EUR","48.9680")
insert into Table_3 VALUES ("4/1/14","EUR","48.9680")
("4/2/14","EUR","48.2596")
insert into Table_3 VALUES ("4/2/14","EUR","48.2596")
("4/3/14","EUR","48.6826")
insert into Table_3 VALUES ("4/3/14","EUR","48.6826")
("4/4/14","EUR","48.8834")
insert into Table_3 VALUES ("4/4/14","EUR","48.8834")
("4/5/14","EUR","48.6435")
insert into Table_3 VALUES ("4/5/14","EUR","48.6435")
("4/8/14","EUR","48.6159")
insert into Table_3 VALUES ("4/8/14","EUR","48.6159")
("4/9/14","EUR","48.8600")
insert into Table_3 VALUES ("4/9/14","EUR","48.8600")
("4/10/14","EUR","49.2911")
insert into Table_3 VALUES ("4/10/14","EUR","49.2911")
("4/11/14","EUR","49.2266")
insert into Table_3 VALUES ("4/11/14","EUR","49.2266")
("4/12/14","EUR","49.4994")
insert into Table_3 VALUES ("4/12/14","EUR","49.4994")
("4/15/14","EUR","49.8232")
insert into Table_3 VALUES ("4/15/14","EUR","49.8232")
("4/16/14","EUR","49.6836")
insert into Table_3 VALUES ("4/16/14","EUR","49.6836")
("4/17/14","EUR","49.8860")
insert into Table_3 VALUES ("4/17/14","EUR","49.8860")
("4/18/14","EUR","49.7289")
insert into Table_3 VALUES ("4/18/14","EUR","49.7289")
("4/19/14","EUR","49.1041")
insert into Table_3 VALUES ("4/19/14","EUR","49.1041")
("4/22/14","EUR","49.2978")
insert into Table_3 VALUES ("4/22/14","EUR","49.2978")
("4/23/14","EUR","49.2185")
insert into Table_3 VALUES ("4/23/14","EUR","49.2185")
("4/24/14","EUR","49.2820")
insert into Table_3 VALUES ("4/24/14","EUR","49.2820")
("4/25/14","EUR","49.3175")
insert into Table_3 VALUES ("4/25/14","EUR","49.3175")
("4/26/14","EUR","49.6969")
insert into Table_3 VALUES ("4/26/14","EUR","49.6969")
("4/29/14","EUR","49.8219")
insert into Table_3 VALUES ("4/29/14","EUR","49.8219")
("4/30/14","EUR","49.5064")
insert into Table_3 VALUES ("4/30/14","EUR","49.5064")
("5/1/14","EUR","49.3188")
insert into Table_3 VALUES ("5/1/14","EUR","49.3188")
("5/6/14","EUR","49.7361")
insert into Table_3 VALUES ("5/6/14","EUR","49.7361")
("5/7/14","EUR","49.5070")
insert into Table_3 VALUES ("5/7/14","EUR","49.5070")
("5/8/14","EUR","49.4120")
insert into Table_3 VALUES ("5/8/14","EUR","49.4120")
("5/9/14","EUR","48.7642")
insert into Table_3 VALUES ("5/9/14","EUR","48.7642")
("5/13/14","EUR","48.4759")
insert into Table_3 VALUES ("5/13/14","EUR","48.4759")
("5/14/14","EUR","48.0073")
insert into Table_3 VALUES ("5/14/14","EUR","48.0073")
("5/15/14","EUR","47.6173")
insert into Table_3 VALUES ("5/15/14","EUR","47.6173")
("5/16/14","EUR","47.5674")
insert into Table_3 VALUES ("5/16/14","EUR","47.5674")
("5/17/14","EUR","47.6999")
insert into Table_3 VALUES ("5/17/14","EUR","47.6999")
("5/20/14","EUR","47.6416")
insert into Table_3 VALUES ("5/20/14","EUR","47.6416")
("5/21/14","EUR","47.3995")
insert into Table_3 VALUES ("5/21/14","EUR","47.3995")
("5/22/14","EUR","47.3171")
insert into Table_3 VALUES ("5/22/14","EUR","47.3171")
("5/23/14","EUR","46.8507")
insert into Table_3 VALUES ("5/23/14","EUR","46.8507")
("5/24/14","EUR","46.8350")
insert into Table_3 VALUES ("5/24/14","EUR","46.8350")
("5/27/14","EUR","46.4266")
insert into Table_3 VALUES ("5/27/14","EUR","46.4266")
("5/28/14","EUR","46.7712")
insert into Table_3 VALUES ("5/28/14","EUR","46.7712")
("5/29/14","EUR","47.0161")
insert into Table_3 VALUES ("5/29/14","EUR","47.0161")
("5/30/14","EUR","47.1145")
insert into Table_3 VALUES ("5/30/14","EUR","47.1145")
("5/31/14","EUR","47.2677")
insert into Table_3 VALUES ("5/31/14","EUR","47.2677")
("6/3/14","EUR","47.5463")
insert into Table_3 VALUES ("6/3/14","EUR","47.5463")
("6/4/14","EUR","47.6296")
insert into Table_3 VALUES ("6/4/14","EUR","47.6296")
("6/5/14","EUR","47.8253")
insert into Table_3 VALUES ("6/5/14","EUR","47.8253")
("6/6/14","EUR","47.4908")
insert into Table_3 VALUES ("6/6/14","EUR","47.4908")
("6/7/14","EUR","47.3211")
insert into Table_3 VALUES ("6/7/14","EUR","47.3211")
("6/10/14","EUR","46.8746")
insert into Table_3 VALUES ("6/10/14","EUR","46.8746")
("6/11/14","EUR","46.7269")
insert into Table_3 VALUES ("6/11/14","EUR","46.7269")
("6/12/14","EUR","46.4764")
insert into Table_3 VALUES ("6/12/14","EUR","46.4764")
("6/17/14","EUR","46.8085")
insert into Table_3 VALUES ("6/17/14","EUR","46.8085")
("6/18/14","EUR","47.2121")
insert into Table_3 VALUES ("6/18/14","EUR","47.2121")
("6/19/14","EUR","47.1715")
insert into Table_3 VALUES ("6/19/14","EUR","47.1715")
("6/20/14","EUR","46.6960")
insert into Table_3 VALUES ("6/20/14","EUR","46.6960")
("6/21/14","EUR","46.8821")
insert into Table_3 VALUES ("6/21/14","EUR","46.8821")
("6/24/14","EUR","46.6478")
insert into Table_3 VALUES ("6/24/14","EUR","46.6478")
("6/25/14","EUR","46.2212")
insert into Table_3 VALUES ("6/25/14","EUR","46.2212")
("6/26/14","EUR","46.1576")
insert into Table_3 VALUES ("6/26/14","EUR","46.1576")
("6/27/14","EUR","46.0226")
insert into Table_3 VALUES ("6/27/14","EUR","46.0226")
("6/28/14","EUR","45.8251")
insert into Table_3 VALUES ("6/28/14","EUR","45.8251")
("7/1/14","EUR","46.1827")
insert into Table_3 VALUES ("7/1/14","EUR","46.1827")
("7/2/14","EUR","46.8335")
insert into Table_3 VALUES ("7/2/14","EUR","46.8335")
("7/3/14","EUR","46.8398")
insert into Table_3 VALUES ("7/3/14","EUR","46.8398")
("7/4/14","EUR","46.6863")
insert into Table_3 VALUES ("7/4/14","EUR","46.6863")
("7/5/14","EUR","46.6870")
insert into Table_3 VALUES ("7/5/14","EUR","46.6870")
("7/8/14","EUR","46.9448")
insert into Table_3 VALUES ("7/8/14","EUR","46.9448")
("7/9/14","EUR","46.8122")
insert into Table_3 VALUES ("7/9/14","EUR","46.8122")
("7/10/14","EUR","46.4146")
insert into Table_3 VALUES ("7/10/14","EUR","46.4146")

("7/11/14","EUR","46.1649")
insert into Table_3 VALUES ("7/11/14","EUR","46.1649")
("7/12/14","EUR","46.3328")
insert into Table_3 VALUES ("7/12/14","EUR","46.3328")
("7/15/14","EUR","46.6835")
insert into Table_3 VALUES ("7/15/14","EUR","46.6835")
("7/16/14","EUR","46.7910")
insert into Table_3 VALUES ("7/16/14","EUR","46.7910")
("7/17/14","EUR","46.6299")
insert into Table_3 VALUES ("7/17/14","EUR","46.6299")
("7/18/14","EUR","47.0702")
insert into Table_3 VALUES ("7/18/14","EUR","47.0702")
("7/19/14","EUR","47.5505")
insert into Table_3 VALUES ("7/19/14","EUR","47.5505")
("7/22/14","EUR","47.5048")
insert into Table_3 VALUES ("7/22/14","EUR","47.5048")
("7/23/14","EUR","47.3758")
insert into Table_3 VALUES ("7/23/14","EUR","47.3758")
("7/24/14","EUR","46.8718")
insert into Table_3 VALUES ("7/24/14","EUR","46.8718")
("7/25/14","EUR","47.1702")
insert into Table_3 VALUES ("7/25/14","EUR","47.1702")
("7/26/14","EUR","47.2206")
insert into Table_3 VALUES ("7/26/14","EUR","47.2206")
("7/29/14","EUR","47.4799")
insert into Table_3 VALUES ("7/29/14","EUR","47.4799")
("7/30/14","EUR","47.8635")
insert into Table_3 VALUES ("7/30/14","EUR","47.8635")
("7/31/14","EUR","47.8958")
insert into Table_3 VALUES ("7/31/14","EUR","47.8958")
("8/1/14","EUR","47.4699")
insert into Table_3 VALUES ("8/1/14","EUR","47.4699")
("8/2/14","EUR","47.8244")
insert into Table_3 VALUES ("8/2/14","EUR","47.8244")
("8/5/14","EUR","47.8671")
insert into Table_3 VALUES ("8/5/14","EUR","47.8671")
("8/6/14","EUR","48.0490")
insert into Table_3 VALUES ("8/6/14","EUR","48.0490")
("8/7/14","EUR","48.2432")
insert into Table_3 VALUES ("8/7/14","EUR","48.2432")
("8/8/14","EUR","48.4947")
insert into Table_3 VALUES ("8/8/14","EUR","48.4947")
("8/9/14","EUR","48.7722")
insert into Table_3 VALUES ("8/9/14","EUR","48.7722")
("8/12/14","EUR","48.2856")
insert into Table_3 VALUES ("8/12/14","EUR","48.2856")
("8/13/14","EUR","48.2402")
insert into Table_3 VALUES ("8/13/14","EUR","48.2402")
("8/14/14","EUR","48.4110")
insert into Table_3 VALUES ("8/14/14","EUR","48.4110")
("8/15/14","EUR","48.1416")
insert into Table_3 VALUES ("8/15/14","EUR","48.1416")
("8/16/14","EUR","48.1231")
insert into Table_3 VALUES ("8/16/14","EUR","48.1231")
("8/19/14","EUR","48.2398")
insert into Table_3 VALUES ("8/19/14","EUR","48.2398")
("8/20/14","EUR","48.2133")
insert into Table_3 VALUES ("8/20/14","EUR","48.2133")
("8/21/14","EUR","48.1924")
insert into Table_3 VALUES ("8/21/14","EUR","48.1924")
("8/22/14","EUR","48.1686")
insert into Table_3 VALUES ("8/22/14","EUR","48.1686")
("8/23/14","EUR","47.8548")
insert into Table_3 VALUES ("8/23/14","EUR","47.8548")
("8/26/14","EUR","47.6641")
insert into Table_3 VALUES ("8/26/14","EUR","47.6641")
("8/27/14","EUR","47.7282")
insert into Table_3 VALUES ("8/27/14","EUR","47.7282")
("8/28/14","EUR","47.6177")
insert into Table_3 VALUES ("8/28/14","EUR","47.6177")
("8/29/14","EUR","47.9520")
insert into Table_3 VALUES ("8/29/14","EUR","47.9520")
("8/30/14","EUR","48.6315")
insert into Table_3 VALUES ("8/30/14","EUR","48.6315")
("9/2/14","EUR","48.9677")
insert into Table_3 VALUES ("9/2/14","EUR","48.9677")
("9/3/14","EUR","49.0193")
insert into Table_3 VALUES ("9/3/14","EUR","49.0193")
("9/4/14","EUR","49.0213")
insert into Table_3 VALUES ("9/4/14","EUR","49.0213")
("9/5/14","EUR","48.3786")
insert into Table_3 VALUES ("9/5/14","EUR","48.3786")
("9/6/14","EUR","47.7806")
insert into Table_3 VALUES ("9/6/14","EUR","47.7806")
("9/9/14","EUR","47.9789")
insert into Table_3 VALUES ("9/9/14","EUR","47.9789")
("9/10/14","EUR","47.7118")
insert into Table_3 VALUES ("9/10/14","EUR","47.7118")
("9/11/14","EUR","48.0636")
insert into Table_3 VALUES ("9/11/14","EUR","48.0636")
("9/12/14","EUR","48.2484")
insert into Table_3 VALUES ("9/12/14","EUR","48.2484")
("9/13/14","EUR","48.6647")
insert into Table_3 VALUES ("9/13/14","EUR","48.6647")
("9/16/14","EUR","49.1958")
insert into Table_3 VALUES ("9/16/14","EUR","49.1958")
("9/17/14","EUR","50.0582")
insert into Table_3 VALUES ("9/17/14","EUR","50.0582")
("9/18/14","EUR","49.6923")
insert into Table_3 VALUES ("9/18/14","EUR","49.6923")
("9/19/14","EUR","49.4592")
insert into Table_3 VALUES ("9/19/14","EUR","49.4592")
("9/20/14","EUR","49.5379")
insert into Table_3 VALUES ("9/20/14","EUR","49.5379")
("9/23/14","EUR","49.6193")
insert into Table_3 VALUES ("9/23/14","EUR","49.6193")
("9/24/14","EUR","49.6912")
insert into Table_3 VALUES ("9/24/14","EUR","49.6912")
("9/25/14","EUR","49.3145")
insert into Table_3 VALUES ("9/25/14","EUR","49.3145")
("9/26/14","EUR","48.8449")
insert into Table_3 VALUES ("9/26/14","EUR","48.8449")
("9/27/14","EUR","49.3386")
insert into Table_3 VALUES ("9/27/14","EUR","49.3386")
("9/30/14","EUR","49.9540")
insert into Table_3 VALUES ("9/30/14","EUR","49.9540")
("10/1/14","EUR","49.9817")
insert into Table_3 VALUES ("10/1/14","EUR","49.9817")
("10/2/14","EUR","50.0554")
insert into Table_3 VALUES ("10/2/14","EUR","50.0554")
("10/3/14","EUR","49.9484")
insert into Table_3 VALUES ("10/3/14","EUR","49.9484")
("10/4/14","EUR","50.2021")
insert into Table_3 VALUES ("10/4/14","EUR","50.2021")
("10/7/14","EUR","50.0775")
insert into Table_3 VALUES ("10/7/14","EUR","50.0775")
("10/8/14","EUR","50.2017")
insert into Table_3 VALUES ("10/8/14","EUR","50.2017")
("10/9/14","EUR","50.5091")
insert into Table_3 VALUES ("10/9/14","EUR","50.5091")
("10/10/14","EUR","50.9585")
insert into Table_3 VALUES ("10/10/14","EUR","50.9585")
("10/11/14","EUR","51.0538")
insert into Table_3 VALUES ("10/11/14","EUR","51.0538")
("10/14/14","EUR","51.0798")
insert into Table_3 VALUES ("10/14/14","EUR","51.0798")
("10/15/14","EUR","51.5141")
insert into Table_3 VALUES ("10/15/14","EUR","51.5141")
("10/16/14","EUR","51.7829")
insert into Table_3 VALUES ("10/16/14","EUR","51.7829")
("10/17/14","EUR","52.1504")
insert into Table_3 VALUES ("10/17/14","EUR","52.1504")
("10/18/14","EUR","52.5253")
insert into Table_3 VALUES ("10/18/14","EUR","52.5253")
("10/21/14","EUR","52.1198")
insert into Table_3 VALUES ("10/21/14","EUR","52.1198")
("10/22/14","EUR","52.6468")
insert into Table_3 VALUES ("10/22/14","EUR","52.6468")
("10/23/14","EUR","52.1388")
insert into Table_3 VALUES ("10/23/14","EUR","52.1388")
("10/24/14","EUR","52.4424")
insert into Table_3 VALUES ("10/24/14","EUR","52.4424")
("10/25/14","EUR","52.9065")
insert into Table_3 VALUES ("10/25/14","EUR","52.9065")
("10/28/14","EUR","53.2342")
insert into Table_3 VALUES ("10/28/14","EUR","53.2342")
("10/29/14","EUR","53.8693")
insert into Table_3 VALUES ("10/29/14","EUR","53.8693")
("10/30/14","EUR","54.3393")
insert into Table_3 VALUES ("10/30/14","EUR","54.3393")
("10/31/14","EUR","54.6378")
insert into Table_3 VALUES ("10/31/14","EUR","54.6378")
("11/1/14","EUR","52.7219")
insert into Table_3 VALUES ("11/1/14","EUR","52.7219")
("11/6/14","EUR","55.6234")
insert into Table_3 VALUES ("11/6/14","EUR","55.6234")
("11/7/14","EUR","56.5450")
insert into Table_3 VALUES ("11/7/14","EUR","56.5450")
("11/8/14","EUR","59.3153")
insert into Table_3 VALUES ("11/8/14","EUR","59.3153")
("11/11/14","EUR","57.2418")
insert into Table_3 VALUES ("11/11/14","EUR","57.2418")
("11/12/14","EUR","57.0494")
insert into Table_3 VALUES ("11/12/14","EUR","57.0494")
("11/13/14","EUR","57.8575")
insert into Table_3 VALUES ("11/13/14","EUR","57.8575")
("11/14/14","EUR","57.4235")
insert into Table_3 VALUES ("11/14/14","EUR","57.4235")
("11/15/14","EUR","58.9793")
insert into Table_3 VALUES ("11/15/14","EUR","58.9793")
("11/18/14","EUR","59.3081")
insert into Table_3 VALUES ("11/18/14","EUR","59.3081")
("11/19/14","EUR","58.6448")
insert into Table_3 VALUES ("11/19/14","EUR","58.6448")
("11/20/14","EUR","58.9090")
insert into Table_3 VALUES ("11/20/14","EUR","58.9090")
("11/21/14","EUR","58.5817")
insert into Table_3 VALUES ("11/21/14","EUR","58.5817")
("11/22/14","EUR","57.4377")
insert into Table_3 VALUES ("11/22/14","EUR","57.4377")
("11/25/14","EUR","55.5336")
insert into Table_3 VALUES ("11/25/14","EUR","55.5336")
("11/26/14","EUR","55.8779")
insert into Table_3 VALUES ("11/26/14","EUR","55.8779")
("11/27/14","EUR","57.9052")
insert into Table_3 VALUES ("11/27/14","EUR","57.9052")
("11/28/14","EUR","59.6215")
insert into Table_3 VALUES ("11/28/14","EUR","59.6215")
("11/29/14","EUR","61.4108")
insert into Table_3 VALUES ("11/29/14","EUR","61.4108")
("12/2/14","EUR","64.4425")
insert into Table_3 VALUES ("12/2/14","EUR","64.4425")
("12/3/14","EUR","63.2414")
insert into Table_3 VALUES ("12/3/14","EUR","63.2414")
("12/4/14","EUR","67.2652")
insert into Table_3 VALUES ("12/4/14","EUR","67.2652")
("12/5/14","EUR","64.8443")
insert into Table_3 VALUES ("12/5/14","EUR","64.8443")
("12/6/14","EUR","65.7168")
insert into Table_3 VALUES ("12/6/14","EUR","65.7168")
("12/9/14","EUR","65.4248")
insert into Table_3 VALUES ("12/9/14","EUR","65.4248")
("12/10/14","EUR","66.8809")
insert into Table_3 VALUES ("12/10/14","EUR","66.8809")
("12/11/14","EUR","67.1989")
insert into Table_3 VALUES ("12/11/14","EUR","67.1989")
("12/12/14","EUR","68.2942")
insert into Table_3 VALUES ("12/12/14","EUR","68.2942")
("12/13/14","EUR","70.5289")
insert into Table_3 VALUES ("12/13/14","EUR","70.5289")
("12/16/14","EUR","72.6642")
insert into Table_3 VALUES ("12/16/14","EUR","72.6642")
("12/17/14","EUR","76.1516")
insert into Table_3 VALUES ("12/17/14","EUR","76.1516")
("12/18/14","EUR","84.5890")
insert into Table_3 VALUES ("12/18/14","EUR","84.5890")
("12/19/14","EUR","73.3414")
insert into Table_3 VALUES ("12/19/14","EUR","73.3414")
("12/20/14","EUR","74.5727")
insert into Table_3 VALUES ("12/20/14","EUR","74.5727")
("12/23/14","EUR","69.2503")
insert into Table_3 VALUES ("12/23/14","EUR","69.2503")
("12/24/14","EUR","66.7539")
insert into Table_3 VALUES ("12/24/14","EUR","66.7539")
("12/25/14","EUR","66.4031")
insert into Table_3 VALUES ("12/25/14","EUR","66.4031")
("12/26/14","EUR","64.3177")
insert into Table_3 VALUES ("12/26/14","EUR","64.3177")
("12/27/14","EUR","63.5131")
insert into Table_3 VALUES ("12/27/14","EUR","63.5131")
("12/30/14","EUR","69.0590")
insert into Table_3 VALUES ("12/30/14","EUR","69.0590")
("12/31/14","EUR","68.3427")
insert into Table_3 VALUES ("12/31/14","EUR","68.3427")
("1/1/15","EUR","68.3681")
insert into Table_3 VALUES ("1/1/15","EUR","68.3681")
("1/13/15","EUR","74.3551")
insert into Table_3 VALUES ("1/13/15","EUR","74.3551")
("1/14/15","EUR","76.7735")
insert into Table_3 VALUES ("1/14/15","EUR","76.7735")
("1/15/15","EUR","77.9629")
insert into Table_3 VALUES ("1/15/15","EUR","77.9629")
("1/16/15","EUR","76.3352")
insert into Table_3 VALUES ("1/16/15","EUR","76.3352")
("1/17/15","EUR","75.8623")
insert into Table_3 VALUES ("1/17/15","EUR","75.8623")
("1/20/15","EUR","75.1740")
insert into Table_3 VALUES ("1/20/15","EUR","75.1740")
("1/21/15","EUR","75.2735")
insert into Table_3 VALUES ("1/21/15","EUR","75.2735")
("1/22/15","EUR","75.8218")
insert into Table_3 VALUES ("1/22/15","EUR","75.8218")
("1/23/15","EUR","75.7724")
insert into Table_3 VALUES ("1/23/15","EUR","75.7724")
("1/24/15","EUR","71.9067")
insert into Table_3 VALUES ("1/24/15","EUR","71.9067")
("1/27/15","EUR","73.5633")
insert into Table_3 VALUES ("1/27/15","EUR","73.5633")
("1/28/15","EUR","76.2922")
insert into Table_3 VALUES ("1/28/15","EUR","76.2922")
("1/29/15","EUR","76.2629")
insert into Table_3 VALUES ("1/29/15","EUR","76.2629")
("1/30/15","EUR","77.5690")
insert into Table_3 VALUES ("1/30/15","EUR","77.5690")
("1/31/15","EUR","78.1105")
insert into Table_3 VALUES ("1/31/15","EUR","78.1105")
("2/3/15","EUR","78.7900")
insert into Table_3 VALUES ("2/3/15","EUR","78.7900")
("2/4/15","EUR","76.8271")
insert into Table_3 VALUES ("2/4/15","EUR","76.8271")
("2/5/15","EUR","75.0415")
insert into Table_3 VALUES ("2/5/15","EUR","75.0415")
("2/6/15","EUR","77.9356")
insert into Table_3 VALUES ("2/6/15","EUR","77.9356")
("2/7/15","EUR","75.6591")
insert into Table_3 VALUES ("2/7/15","EUR","75.6591")
("2/10/15","EUR","74.5833")
insert into Table_3 VALUES ("2/10/15","EUR","74.5833")
("2/11/15","EUR","74.1382")
insert into Table_3 VALUES ("2/11/15","EUR","74.1382")
("2/12/15","EUR","74.7386")
insert into Table_3 VALUES ("2/12/15","EUR","74.7386")
("2/13/15","EUR","74.8311")
insert into Table_3 VALUES ("2/13/15","EUR","74.8311")
("2/14/15","EUR","74.3675")
insert into Table_3 VALUES ("2/14/15","EUR","74.3675")
("2/17/15","EUR","71.5426")
insert into Table_3 VALUES ("2/17/15","EUR","71.5426")
("2/18/15","EUR","71.3243")
insert into Table_3 VALUES ("2/18/15","EUR","71.3243")
("2/19/15","EUR","71.0800")
insert into Table_3 VALUES ("2/19/15","EUR","71.0800")
("2/20/15","EUR","70.9408")
insert into Table_3 VALUES ("2/20/15","EUR","70.9408")
("2/21/15","EUR","70.0315")
insert into Table_3 VALUES ("2/21/15","EUR","70.0315")
("2/25/15","EUR","71.9422")
insert into Table_3 VALUES ("2/25/15","EUR","71.9422")
("2/26/15","EUR","71.1655")
insert into Table_3 VALUES ("2/26/15","EUR","71.1655")
("2/27/15","EUR","68.9797")
insert into Table_3 VALUES ("2/27/15","EUR","68.9797")
("2/28/15","EUR","68.6857")
insert into Table_3 VALUES ("2/28/15","EUR","68.6857")
("3/3/15","EUR","69.5424")
insert into Table_3 VALUES ("3/3/15","EUR","69.5424")
("3/4/15","EUR","69.8487")
insert into Table_3 VALUES ("3/4/15","EUR","69.8487")
("3/5/15","EUR","69.1138")
insert into Table_3 VALUES ("3/5/15","EUR","69.1138")
("3/6/15","EUR","68.3086")
insert into Table_3 VALUES ("3/6/15","EUR","68.3086")
("3/7/15","EUR","66.1012")
insert into Table_3 VALUES ("3/7/15","EUR","66.1012")
("3/11/15","EUR","65.5242")
insert into Table_3 VALUES ("3/11/15","EUR","65.5242")
("3/12/15","EUR","66.9168")
insert into Table_3 VALUES ("3/12/15","EUR","66.9168")
("3/13/15","EUR","64.6232")
insert into Table_3 VALUES ("3/13/15","EUR","64.6232")
("3/14/15","EUR","64.9650")
insert into Table_3 VALUES ("3/14/15","EUR","64.9650")
("3/17/15","EUR","65.4063")
insert into Table_3 VALUES ("3/17/15","EUR","65.4063")
("3/18/15","EUR","65.4314")
insert into Table_3 VALUES ("3/18/15","EUR","65.4314")
("3/19/15","EUR","65.0108")
insert into Table_3 VALUES ("3/19/15","EUR","65.0108")
("3/20/15","EUR","64.1446")
insert into Table_3 VALUES ("3/20/15","EUR","64.1446")
("3/21/15","EUR","64.0504")
insert into Table_3 VALUES ("3/21/15","EUR","64.0504")
("3/24/15","EUR","64.1473")
insert into Table_3 VALUES ("3/24/15","EUR","64.1473")
("3/25/15","EUR","64.3425")
insert into Table_3 VALUES ("3/25/15","EUR","64.3425")
("3/26/15","EUR","62.7651")
insert into Table_3 VALUES ("3/26/15","EUR","62.7651")
("3/27/15","EUR","62.0811")
insert into Table_3 VALUES ("3/27/15","EUR","62.0811")
("3/28/15","EUR","62.5655")
insert into Table_3 VALUES ("3/28/15","EUR","62.5655")
("3/31/15","EUR","63.3695")
insert into Table_3 VALUES ("3/31/15","EUR","63.3695")
("4/1/15","EUR","62.0487")
insert into Table_3 VALUES ("4/1/15","EUR","62.0487")

("4/2/15","EUR","62.7476")
insert into Table_3 VALUES ("4/2/15","EUR","62.7476")
("4/3/15","EUR","61.6919")
insert into Table_3 VALUES ("4/3/15","EUR","61.6919")
("4/4/15","EUR","61.7363")
insert into Table_3 VALUES ("4/4/15","EUR","61.7363")
("4/7/15","EUR","62.0377")
insert into Table_3 VALUES ("4/7/15","EUR","62.0377")
("4/8/15","EUR","60.4124")
insert into Table_3 VALUES ("4/8/15","EUR","60.4124")
("4/9/15","EUR","58.7003")
insert into Table_3 VALUES ("4/9/15","EUR","58.7003")
("4/10/15","EUR","56.5251")
insert into Table_3 VALUES ("4/10/15","EUR","56.5251")
("4/11/15","EUR","54.2749")
insert into Table_3 VALUES ("4/11/15","EUR","54.2749")
("4/14/15","EUR","55.5201")
insert into Table_3 VALUES ("4/14/15","EUR","55.5201")
("4/15/15","EUR","54.8387")
insert into Table_3 VALUES ("4/15/15","EUR","54.8387")
("4/16/15","EUR","53.6598")
insert into Table_3 VALUES ("4/16/15","EUR","53.6598")
("4/17/15","EUR","52.9087")
insert into Table_3 VALUES ("4/17/15","EUR","52.9087")
("4/18/15","EUR","54.5163")
insert into Table_3 VALUES ("4/18/15","EUR","54.5163")
("4/21/15","EUR","55.5496")
insert into Table_3 VALUES ("4/21/15","EUR","55.5496")
("4/22/15","EUR","57.5998")
insert into Table_3 VALUES ("4/22/15","EUR","57.5998")
("4/23/15","EUR","57.7226")
insert into Table_3 VALUES ("4/23/15","EUR","57.7226")
("4/24/15","EUR","55.1255")
insert into Table_3 VALUES ("4/24/15","EUR","55.1255")
("4/25/15","EUR","54.6590")
insert into Table_3 VALUES ("4/25/15","EUR","54.6590")
("4/28/15","EUR","55.8747")
insert into Table_3 VALUES ("4/28/15","EUR","55.8747")
("4/29/15","EUR","56.9016")
insert into Table_3 VALUES ("4/29/15","EUR","56.9016")
("4/30/15","EUR","56.8060")
insert into Table_3 VALUES ("4/30/15","EUR","56.8060")
("5/1/15","EUR","57.1578")
insert into Table_3 VALUES ("5/1/15","EUR","57.1578")
("5/6/15","EUR","57.4093")
insert into Table_3 VALUES ("5/6/15","EUR","57.4093")
("5/7/15","EUR","56.1843")
insert into Table_3 VALUES ("5/7/15","EUR","56.1843")
("5/8/15","EUR","57.2207")
insert into Table_3 VALUES ("5/8/15","EUR","57.2207")
("5/9/15","EUR","56.8971")
insert into Table_3 VALUES ("5/9/15","EUR","56.8971")
("5/13/15","EUR","57.1102")
insert into Table_3 VALUES ("5/13/15","EUR","57.1102")
("5/14/15","EUR","55.7138")
insert into Table_3 VALUES ("5/14/15","EUR","55.7138")
("5/15/15","EUR","57.1383")
insert into Table_3 VALUES ("5/15/15","EUR","57.1383")
("5/16/15","EUR","56.9881")
insert into Table_3 VALUES ("5/16/15","EUR","56.9881")
("5/19/15","EUR","56.1030")
insert into Table_3 VALUES ("5/19/15","EUR","56.1030")
("5/20/15","EUR","55.1085")
insert into Table_3 VALUES ("5/20/15","EUR","55.1085")
("5/21/15","EUR","55.2441")
insert into Table_3 VALUES ("5/21/15","EUR","55.2441")
("5/22/15","EUR","55.5714")
insert into Table_3 VALUES ("5/22/15","EUR","55.5714")
("5/23/15","EUR","55.5508")
insert into Table_3 VALUES ("5/23/15","EUR","55.5508")
("5/26/15","EUR","54.7477")
insert into Table_3 VALUES ("5/26/15","EUR","54.7477")
("5/27/15","EUR","54.8412")
insert into Table_3 VALUES ("5/27/15","EUR","54.8412")
("5/28/15","EUR","55.6757")
insert into Table_3 VALUES ("5/28/15","EUR","55.6757")
("5/29/15","EUR","57.1433")
insert into Table_3 VALUES ("5/29/15","EUR","57.1433")
("5/30/15","EUR","58.0145")
insert into Table_3 VALUES ("5/30/15","EUR","58.0145")
("6/2/15","EUR","57.7020")
insert into Table_3 VALUES ("6/2/15","EUR","57.7020")
("6/3/15","EUR","58.6037")
insert into Table_3 VALUES ("6/3/15","EUR","58.6037")
("6/4/15","EUR","59.1130")
insert into Table_3 VALUES ("6/4/15","EUR","59.1130")
("6/5/15","EUR","61.9471")
insert into Table_3 VALUES ("6/5/15","EUR","61.9471")
("6/6/15","EUR","63.3221")
insert into Table_3 VALUES ("6/6/15","EUR","63.3221")
("6/9/15","EUR","62.5053")
insert into Table_3 VALUES ("6/9/15","EUR","62.5053")
("6/10/15","EUR","63.0721")
insert into Table_3 VALUES ("6/10/15","EUR","63.0721")
("6/11/15","EUR","62.2064")
insert into Table_3 VALUES ("6/11/15","EUR","62.2064")
("6/12/15","EUR","61.4754")
insert into Table_3 VALUES ("6/12/15","EUR","61.4754")
("6/16/15","EUR","62.1045")
insert into Table_3 VALUES ("6/16/15","EUR","62.1045")
("6/17/15","EUR","61.1040")
insert into Table_3 VALUES ("6/17/15","EUR","61.1040")
("6/18/15","EUR","60.7452")
insert into Table_3 VALUES ("6/18/15","EUR","60.7452")
("6/19/15","EUR","60.6417")
insert into Table_3 VALUES ("6/19/15","EUR","60.6417")
("6/20/15","EUR","60.9130")
insert into Table_3 VALUES ("6/20/15","EUR","60.9130")
("6/23/15","EUR","60.8567")
insert into Table_3 VALUES ("6/23/15","EUR","60.8567")
("6/24/15","EUR","61.0546")
insert into Table_3 VALUES ("6/24/15","EUR","61.0546")
("6/25/15","EUR","60.5852")
insert into Table_3 VALUES ("6/25/15","EUR","60.5852")
("6/26/15","EUR","61.1986")
insert into Table_3 VALUES ("6/26/15","EUR","61.1986")
("6/27/15","EUR","61.4066")
insert into Table_3 VALUES ("6/27/15","EUR","61.4066")
("6/30/15","EUR","61.5206")
insert into Table_3 VALUES ("6/30/15","EUR","61.5206")
("7/1/15","EUR","62.3803")
insert into Table_3 VALUES ("7/1/15","EUR","62.3803")
("7/2/15","EUR","61.6556")
insert into Table_3 VALUES ("7/2/15","EUR","61.6556")
("7/3/15","EUR","61.5661")
insert into Table_3 VALUES ("7/3/15","EUR","61.5661")
("7/4/15","EUR","61.7492")
insert into Table_3 VALUES ("7/4/15","EUR","61.7492")
("7/7/15","EUR","62.4246")
insert into Table_3 VALUES ("7/7/15","EUR","62.4246")
("7/8/15","EUR","63.0441")
insert into Table_3 VALUES ("7/8/15","EUR","63.0441")
("7/9/15","EUR","63.0822")
insert into Table_3 VALUES ("7/9/15","EUR","63.0822")
("7/10/15","EUR","63.0430")
insert into Table_3 VALUES ("7/10/15","EUR","63.0430")
("7/11/15","EUR","62.9474")
insert into Table_3 VALUES ("7/11/15","EUR","62.9474")
("7/14/15","EUR","62.9819")
insert into Table_3 VALUES ("7/14/15","EUR","62.9819")
("7/15/15","EUR","62.6239")
insert into Table_3 VALUES ("7/15/15","EUR","62.6239")
("7/16/15","EUR","62.3986")
insert into Table_3 VALUES ("7/16/15","EUR","62.3986")
("7/17/15","EUR","62.1841")
insert into Table_3 VALUES ("7/17/15","EUR","62.1841")
("7/18/15","EUR","61.9183")
insert into Table_3 VALUES ("7/18/15","EUR","61.9183")
("7/21/15","EUR","61.6929")
insert into Table_3 VALUES ("7/21/15","EUR","61.6929")
("7/22/15","EUR","61.7622")
insert into Table_3 VALUES ("7/22/15","EUR","61.7622")
("7/23/15","EUR","62.3948")
insert into Table_3 VALUES ("7/23/15","EUR","62.3948")
("7/24/15","EUR","62.9330")
insert into Table_3 VALUES ("7/24/15","EUR","62.9330")
("7/25/15","EUR","63.6090")
insert into Table_3 VALUES ("7/25/15","EUR","63.6090")
("7/28/15","EUR","65.0830")
insert into Table_3 VALUES ("7/28/15","EUR","65.0830")
("7/29/15","EUR","66.6248")
insert into Table_3 VALUES ("7/29/15","EUR","66.6248")
("7/30/15","EUR","65.9882")
insert into Table_3 VALUES ("7/30/15","EUR","65.9882")
("7/31/15","EUR","64.6478")
insert into Table_3 VALUES ("7/31/15","EUR","64.6478")
("8/1/15","EUR","66.0002")
insert into Table_3 VALUES ("8/1/15","EUR","66.0002")
("8/4/15","EUR","68.5770")
insert into Table_3 VALUES ("8/4/15","EUR","68.5770")
("8/5/15","EUR","68.9961")
insert into Table_3 VALUES ("8/5/15","EUR","68.9961")
("8/6/15","EUR","68.1435")
insert into Table_3 VALUES ("8/6/15","EUR","68.1435")
("8/7/15","EUR","69.6314")
insert into Table_3 VALUES ("8/7/15","EUR","69.6314")
("8/8/15","EUR","69.8089")
insert into Table_3 VALUES ("8/8/15","EUR","69.8089")
("8/11/15","EUR","70.7540")
insert into Table_3 VALUES ("8/11/15","EUR","70.7540")
("8/12/15","EUR","69.6762")
insert into Table_3 VALUES ("8/12/15","EUR","69.6762")
("8/13/15","EUR","72.2078")
insert into Table_3 VALUES ("8/13/15","EUR","72.2078")
("8/14/15","EUR","71.1475")
insert into Table_3 VALUES ("8/14/15","EUR","71.1475")
("8/15/15","EUR","72.3650")
insert into Table_3 VALUES ("8/15/15","EUR","72.3650")
("8/18/15","EUR","72.5712")
insert into Table_3 VALUES ("8/18/15","EUR","72.5712")
("8/19/15","EUR","72.9187")
insert into Table_3 VALUES ("8/19/15","EUR","72.9187")
("8/20/15","EUR","72.7085")
insert into Table_3 VALUES ("8/20/15","EUR","72.7085")
("8/21/15","EUR","74.4738")
insert into Table_3 VALUES ("8/21/15","EUR","74.4738")
("8/22/15","EUR","76.6709")
insert into Table_3 VALUES ("8/22/15","EUR","76.6709")
("8/25/15","EUR","81.1533")
insert into Table_3 VALUES ("8/25/15","EUR","81.1533")
("8/26/15","EUR","80.7248")
insert into Table_3 VALUES ("8/26/15","EUR","80.7248")
("8/27/15","EUR","79.7252")
insert into Table_3 VALUES ("8/27/15","EUR","79.7252")
("8/28/15","EUR","76.3369")
insert into Table_3 VALUES ("8/28/15","EUR","76.3369")
("8/29/15","EUR","75.0469")
insert into Table_3 VALUES ("8/29/15","EUR","75.0469")
("9/1/15","EUR","74.8478")
insert into Table_3 VALUES ("9/1/15","EUR","74.8478")
("9/2/15","EUR","73.8449")
insert into Table_3 VALUES ("9/2/15","EUR","73.8449")
("9/3/15","EUR","75.0901")
insert into Table_3 VALUES ("9/3/15","EUR","75.0901")
("9/4/15","EUR","75.2659")
insert into Table_3 VALUES ("9/4/15","EUR","75.2659")
("9/5/15","EUR","75.4011")
insert into Table_3 VALUES ("9/5/15","EUR","75.4011")
("9/8/15","EUR","76.3692")
insert into Table_3 VALUES ("9/8/15","EUR","76.3692")
("9/9/15","EUR","76.9246")
insert into Table_3 VALUES ("9/9/15","EUR","76.9246")
("9/10/15","EUR","75.5742")
insert into Table_3 VALUES ("9/10/15","EUR","75.5742")
("9/11/15","EUR","76.6951")
insert into Table_3 VALUES ("9/11/15","EUR","76.6951")
("9/12/15","EUR","76.8165")
insert into Table_3 VALUES ("9/12/15","EUR","76.8165")
("9/15/15","EUR","77.1313")
insert into Table_3 VALUES ("9/15/15","EUR","77.1313")
("9/16/15","EUR","75.9013")
insert into Table_3 VALUES ("9/16/15","EUR","75.9013")
("9/17/15","EUR","74.2407")
insert into Table_3 VALUES ("9/17/15","EUR","74.2407")
("9/18/15","EUR","73.9378")
insert into Table_3 VALUES ("9/18/15","EUR","73.9378")
("9/19/15","EUR","74.9726")
insert into Table_3 VALUES ("9/19/15","EUR","74.9726")
("9/22/15","EUR","74.8304")
insert into Table_3 VALUES ("9/22/15","EUR","74.8304")
("9/23/15","EUR","73.9568")
insert into Table_3 VALUES ("9/23/15","EUR","73.9568")
("9/24/15","EUR","73.5367")
insert into Table_3 VALUES ("9/24/15","EUR","73.5367")
("9/25/15","EUR","74.5435")
insert into Table_3 VALUES ("9/25/15","EUR","74.5435")
("9/26/15","EUR","73.1397")
insert into Table_3 VALUES ("9/26/15","EUR","73.1397")
("9/29/15","EUR","73.2684")
insert into Table_3 VALUES ("9/29/15","EUR","73.2684")
("9/30/15","EUR","74.5825")
insert into Table_3 VALUES ("9/30/15","EUR","74.5825")
("10/1/15","EUR","73.7760")
insert into Table_3 VALUES ("10/1/15","EUR","73.7760")
("10/2/15","EUR","72.4865")
insert into Table_3 VALUES ("10/2/15","EUR","72.4865")
("10/3/15","EUR","73.6302")
insert into Table_3 VALUES ("10/3/15","EUR","73.6302")
("10/6/15","EUR","73.7951")
insert into Table_3 VALUES ("10/6/15","EUR","73.7951")
("10/7/15","EUR","72.9468")
insert into Table_3 VALUES ("10/7/15","EUR","72.9468")
("10/8/15","EUR","70.4691")
insert into Table_3 VALUES ("10/8/15","EUR","70.4691")
("10/9/15","EUR","70.3052")
insert into Table_3 VALUES ("10/9/15","EUR","70.3052")
("10/10/15","EUR","69.3450")
insert into Table_3 VALUES ("10/10/15","EUR","69.3450")
("10/13/15","EUR","69.5499")
insert into Table_3 VALUES ("10/13/15","EUR","69.5499")
("10/14/15","EUR","70.8977")
insert into Table_3 VALUES ("10/14/15","EUR","70.8977")
("10/15/15","EUR","72.0506")
insert into Table_3 VALUES ("10/15/15","EUR","72.0506")
("10/16/15","EUR","71.2810")
insert into Table_3 VALUES ("10/16/15","EUR","71.2810")
("10/17/15","EUR","69.7710")
insert into Table_3 VALUES ("10/17/15","EUR","69.7710")
("10/20/15","EUR","69.7796")
insert into Table_3 VALUES ("10/20/15","EUR","69.7796")
("10/21/15","EUR","70.5290")
insert into Table_3 VALUES ("10/21/15","EUR","70.5290")
("10/22/15","EUR","71.1738")
insert into Table_3 VALUES ("10/22/15","EUR","71.1738")
("10/23/15","EUR","71.0895")
insert into Table_3 VALUES ("10/23/15","EUR","71.0895")
("10/24/15","EUR","68.7903")
insert into Table_3 VALUES ("10/24/15","EUR","68.7903")
("10/27/15","EUR","69.0104")
insert into Table_3 VALUES ("10/27/15","EUR","69.0104")
("10/28/15","EUR","70.2124")
insert into Table_3 VALUES ("10/28/15","EUR","70.2124")
("10/29/15","EUR","72.1479")
insert into Table_3 VALUES ("10/29/15","EUR","72.1479")
("10/30/15","EUR","70.1427")
insert into Table_3 VALUES ("10/30/15","EUR","70.1427")
("10/31/15","EUR","70.7537")
insert into Table_3 VALUES ("10/31/15","EUR","70.7537")
("11/3/15","EUR","70.3961")
insert into Table_3 VALUES ("11/3/15","EUR","70.3961")
("11/4/15","EUR","70.3782")
insert into Table_3 VALUES ("11/4/15","EUR","70.3782")
("11/6/15","EUR","68.8261")
insert into Table_3 VALUES ("11/6/15","EUR","68.8261")
("11/7/15","EUR","69.2555")
insert into Table_3 VALUES ("11/7/15","EUR","69.2555")
("11/10/15","EUR","69.6136")
insert into Table_3 VALUES ("11/10/15","EUR","69.6136")
("11/11/15","EUR","69.2394")
insert into Table_3 VALUES ("11/11/15","EUR","69.2394")
("11/12/15","EUR","69.3797")
insert into Table_3 VALUES ("11/12/15","EUR","69.3797")
("11/13/15","EUR","70.3370")
insert into Table_3 VALUES ("11/13/15","EUR","70.3370")
("11/14/15","EUR","71.8184")
insert into Table_3 VALUES ("11/14/15","EUR","71.8184")
("11/17/15","EUR","71.3987")
insert into Table_3 VALUES ("11/17/15","EUR","71.3987")
("11/18/15","EUR","69.7819")
insert into Table_3 VALUES ("11/18/15","EUR","69.7819")
("11/19/15","EUR","69.0021")
insert into Table_3 VALUES ("11/19/15","EUR","69.0021")
("11/20/15","EUR","69.3390")
insert into Table_3 VALUES ("11/20/15","EUR","69.3390")
("11/21/15","EUR","69.3886")
insert into Table_3 VALUES ("11/21/15","EUR","69.3886")
("11/24/15","EUR","69.7037")
insert into Table_3 VALUES ("11/24/15","EUR","69.7037")
("11/25/15","EUR","69.8076")
insert into Table_3 VALUES ("11/25/15","EUR","69.8076")

("11/26/15","EUR","69.8987")
insert into Table_3 VALUES ("11/26/15","EUR","69.8987")
("11/27/15","EUR","69.7034")
insert into Table_3 VALUES ("11/27/15","EUR","69.7034")
("11/28/15","EUR","70.3859")
insert into Table_3 VALUES ("11/28/15","EUR","70.3859")
("12/1/15","EUR","70.6478")
insert into Table_3 VALUES ("12/1/15","EUR","70.6478")
("12/2/15","EUR","70.1345")
insert into Table_3 VALUES ("12/2/15","EUR","70.1345")
("12/3/15","EUR","70.8647")
insert into Table_3 VALUES ("12/3/15","EUR","70.8647")
("12/4/15","EUR","71.7404")
insert into Table_3 VALUES ("12/4/15","EUR","71.7404")
("12/5/15","EUR","73.6721")
insert into Table_3 VALUES ("12/5/15","EUR","73.6721")
("12/8/15","EUR","74.4079")
insert into Table_3 VALUES ("12/8/15","EUR","74.4079")
("12/9/15","EUR","75.3111")
insert into Table_3 VALUES ("12/9/15","EUR","75.3111")
("12/10/15","EUR","75.5595")
insert into Table_3 VALUES ("12/10/15","EUR","75.5595")
("12/11/15","EUR","76.0674")
insert into Table_3 VALUES ("12/11/15","EUR","76.0674")
("12/12/15","EUR","75.7472")
insert into Table_3 VALUES ("12/12/15","EUR","75.7472")
("12/15/15","EUR","76.9659")
insert into Table_3 VALUES ("12/15/15","EUR","76.9659")
("12/16/15","EUR","78.2312")
insert into Table_3 VALUES ("12/16/15","EUR","78.2312")
("12/17/15","EUR","77.0400")
insert into Table_3 VALUES ("12/17/15","EUR","77.0400")
("12/18/15","EUR","76.6788")
insert into Table_3 VALUES ("12/18/15","EUR","76.6788")
("12/19/15","EUR","77.4052")
insert into Table_3 VALUES ("12/19/15","EUR","77.4052")
("12/22/15","EUR","77.4830")
insert into Table_3 VALUES ("12/22/15","EUR","77.4830")
("12/23/15","EUR","77.6145")
insert into Table_3 VALUES ("12/23/15","EUR","77.6145")
("12/24/15","EUR","77.5443")
insert into Table_3 VALUES ("12/24/15","EUR","77.5443")
("12/25/15","EUR","76.0441")
insert into Table_3 VALUES ("12/25/15","EUR","76.0441")
("12/26/15","EUR","77.0500")
insert into Table_3 VALUES ("12/26/15","EUR","77.0500")
("12/29/15","EUR","77.6032")
insert into Table_3 VALUES ("12/29/15","EUR","77.6032")
("12/30/15","EUR","79.5470")
insert into Table_3 VALUES ("12/30/15","EUR","79.5470")
("12/31/15","EUR","79.6972")
insert into Table_3 VALUES ("12/31/15","EUR","79.6972")
("1/1/16","EUR","79.6395")
insert into Table_3 VALUES ("1/1/16","EUR","79.6395")
("1/12/16","EUR","82.8090")
insert into Table_3 VALUES ("1/12/16","EUR","82.8090")
("1/13/16","EUR","83.4372")
insert into Table_3 VALUES ("1/13/16","EUR","83.4372")
("1/14/16","EUR","82.7175")
insert into Table_3 VALUES ("1/14/16","EUR","82.7175")
("1/15/16","EUR","83.1499")
insert into Table_3 VALUES ("1/15/16","EUR","83.1499")
("1/16/16","EUR","83.2951")
insert into Table_3 VALUES ("1/16/16","EUR","83.2951")
("1/19/16","EUR","85.6220")
insert into Table_3 VALUES ("1/19/16","EUR","85.6220")
("1/20/16","EUR","85.2988")
insert into Table_3 VALUES ("1/20/16","EUR","85.2988")
("1/21/16","EUR","87.0341")
insert into Table_3 VALUES ("1/21/16","EUR","87.0341")
("1/22/16","EUR","91.1814")
insert into Table_3 VALUES ("1/22/16","EUR","91.1814")
("1/23/16","EUR","87.2266")
insert into Table_3 VALUES ("1/23/16","EUR","87.2266")
("1/26/16","EUR","84.1603")
insert into Table_3 VALUES ("1/26/16","EUR","84.1603")
("1/27/16","EUR","88.8858")
insert into Table_3 VALUES ("1/27/16","EUR","88.8858")
("1/28/16","EUR","85.8459")
insert into Table_3 VALUES ("1/28/16","EUR","85.8459")
("1/29/16","EUR","84.1370")
insert into Table_3 VALUES ("1/29/16","EUR","84.1370")
("1/30/16","EUR","81.9077")
insert into Table_3 VALUES ("1/30/16","EUR","81.9077")
("2/2/16","EUR","82.8141")
insert into Table_3 VALUES ("2/2/16","EUR","82.8141")
("2/3/16","EUR","84.9719")
insert into Table_3 VALUES ("2/3/16","EUR","84.9719")
("2/4/16","EUR","86.5115")
insert into Table_3 VALUES ("2/4/16","EUR","86.5115")
("2/5/16","EUR","84.8104")
insert into Table_3 VALUES ("2/5/16","EUR","84.8104")
("2/6/16","EUR","86.5754")
insert into Table_3 VALUES ("2/6/16","EUR","86.5754")
("2/9/16","EUR","85.6543")
insert into Table_3 VALUES ("2/9/16","EUR","85.6543")
("2/10/16","EUR","88.0435")
insert into Table_3 VALUES ("2/10/16","EUR","88.0435")
("2/11/16","EUR","89.2213")
insert into Table_3 VALUES ("2/11/16","EUR","89.2213")
("2/12/16","EUR","89.3439")
insert into Table_3 VALUES ("2/12/16","EUR","89.3439")
("2/13/16","EUR","89.8454")
insert into Table_3 VALUES ("2/13/16","EUR","89.8454")
("2/16/16","EUR","87.1905")
insert into Table_3 VALUES ("2/16/16","EUR","87.1905")
("2/17/16","EUR","85.0894")
insert into Table_3 VALUES ("2/17/16","EUR","85.0894")
("2/18/16","EUR","86.9588")
insert into Table_3 VALUES ("2/18/16","EUR","86.9588")
("2/19/16","EUR","84.0521")
insert into Table_3 VALUES ("2/19/16","EUR","84.0521")
("2/20/16","EUR","84.9187")
insert into Table_3 VALUES ("2/20/16","EUR","84.9187")
("2/21/16","EUR","85.8563")
insert into Table_3 VALUES ("2/21/16","EUR","85.8563")
("2/25/16","EUR","84.0779")
insert into Table_3 VALUES ("2/25/16","EUR","84.0779")
("2/26/16","EUR","84.2155")
insert into Table_3 VALUES ("2/26/16","EUR","84.2155")
("2/27/16","EUR","82.9748")
insert into Table_3 VALUES ("2/27/16","EUR","82.9748")
("3/1/16","EUR","83.1023")
insert into Table_3 VALUES ("3/1/16","EUR","83.1023")
("3/2/16","EUR","80.5333")
insert into Table_3 VALUES ("3/2/16","EUR","80.5333")
("3/3/16","EUR","79.9721")
insert into Table_3 VALUES ("3/3/16","EUR","79.9721")
("3/4/16","EUR","80.2100")
insert into Table_3 VALUES ("3/4/16","EUR","80.2100")
("3/5/16","EUR","80.1161")
insert into Table_3 VALUES ("3/5/16","EUR","80.1161")
("3/10/16","EUR","79.4488")
insert into Table_3 VALUES ("3/10/16","EUR","79.4488")
("3/11/16","EUR","77.9817")
insert into Table_3 VALUES ("3/11/16","EUR","77.9817")
("3/12/16","EUR","78.4131")
insert into Table_3 VALUES ("3/12/16","EUR","78.4131")
("3/15/16","EUR","78.1798")
insert into Table_3 VALUES ("3/15/16","EUR","78.1798")
("3/16/16","EUR","78.3285")
insert into Table_3 VALUES ("3/16/16","EUR","78.3285")
("3/17/16","EUR","78.7532")
insert into Table_3 VALUES ("3/17/16","EUR","78.7532")
("3/18/16","EUR","77.1572")
insert into Table_3 VALUES ("3/18/16","EUR","77.1572")
("3/19/16","EUR","77.1992")
insert into Table_3 VALUES ("3/19/16","EUR","77.1992")
("3/22/16","EUR","77.4647")
insert into Table_3 VALUES ("3/22/16","EUR","77.4647")
("3/23/16","EUR","76.1400")
insert into Table_3 VALUES ("3/23/16","EUR","76.1400")
("3/24/16","EUR","75.6902")
insert into Table_3 VALUES ("3/24/16","EUR","75.6902")
("3/25/16","EUR","76.9290")
insert into Table_3 VALUES ("3/25/16","EUR","76.9290")
("3/26/16","EUR","76.4004")
insert into Table_3 VALUES ("3/26/16","EUR","76.4004")
("3/29/16","EUR","75.6975")
insert into Table_3 VALUES ("3/29/16","EUR","75.6975")
("3/30/16","EUR","76.8611")
insert into Table_3 VALUES ("3/30/16","EUR","76.8611")
("3/31/16","EUR","76.5386")
insert into Table_3 VALUES ("3/31/16","EUR","76.5386")
("4/1/16","EUR","76.9207")
insert into Table_3 VALUES ("4/1/16","EUR","76.9207")
("4/2/16","EUR","76.4266")
insert into Table_3 VALUES ("4/2/16","EUR","76.4266")
("4/5/16","EUR","78.1662")
insert into Table_3 VALUES ("4/5/16","EUR","78.1662")
("4/6/16","EUR","78.2798")
insert into Table_3 VALUES ("4/6/16","EUR","78.2798")
("4/7/16","EUR","77.8130")
insert into Table_3 VALUES ("4/7/16","EUR","77.8130")
("4/8/16","EUR","77.3688")
insert into Table_3 VALUES ("4/8/16","EUR","77.3688")
("4/9/16","EUR","76.6888")
insert into Table_3 VALUES ("4/9/16","EUR","76.6888")
("4/12/16","EUR","76.4957")
insert into Table_3 VALUES ("4/12/16","EUR","76.4957")
("4/13/16","EUR","75.8529")
insert into Table_3 VALUES ("4/13/16","EUR","75.8529")
("4/14/16","EUR","74.6578")
insert into Table_3 VALUES ("4/14/16","EUR","74.6578")
("4/15/16","EUR","74.7940")
insert into Table_3 VALUES ("4/15/16","EUR","74.7940")
("4/16/16","EUR","74.3405")
insert into Table_3 VALUES ("4/16/16","EUR","74.3405")
("4/19/16","EUR","77.1273")
insert into Table_3 VALUES ("4/19/16","EUR","77.1273")
("4/20/16","EUR","74.3719")
insert into Table_3 VALUES ("4/20/16","EUR","74.3719")
("4/21/16","EUR","75.0107")
insert into Table_3 VALUES ("4/21/16","EUR","75.0107")
("4/22/16","EUR","73.4592")
insert into Table_3 VALUES ("4/22/16","EUR","73.4592")
("4/23/16","EUR","74.6959")
insert into Table_3 VALUES ("4/23/16","EUR","74.6959")
("4/26/16","EUR","74.9515")
insert into Table_3 VALUES ("4/26/16","EUR","74.9515")
("4/27/16","EUR","74.9024")
insert into Table_3 VALUES ("4/27/16","EUR","74.9024")
("4/28/16","EUR","73.8023")
insert into Table_3 VALUES ("4/28/16","EUR","73.8023")
("4/29/16","EUR","73.9166")
insert into Table_3 VALUES ("4/29/16","EUR","73.9166")
("4/30/16","EUR","73.3015")
insert into Table_3 VALUES ("4/30/16","EUR","73.3015")
("5/5/16","EUR","76.0512")
insert into Table_3 VALUES ("5/5/16","EUR","76.0512")
("5/6/16","EUR","75.5713")
insert into Table_3 VALUES ("5/6/16","EUR","75.5713")
("5/7/16","EUR","75.5789")
insert into Table_3 VALUES ("5/7/16","EUR","75.5789")
("5/11/16","EUR","75.5406")
insert into Table_3 VALUES ("5/11/16","EUR","75.5406")
("5/12/16","EUR","75.4505")
insert into Table_3 VALUES ("5/12/16","EUR","75.4505")
("5/13/16","EUR","74.1137")
insert into Table_3 VALUES ("5/13/16","EUR","74.1137")
("5/14/16","EUR","73.6248")
insert into Table_3 VALUES ("5/14/16","EUR","73.6248")
("5/17/16","EUR","73.4549")
insert into Table_3 VALUES ("5/17/16","EUR","73.4549")
("5/18/16","EUR","73.1006")
insert into Table_3 VALUES ("5/18/16","EUR","73.1006")
("5/19/16","EUR","73.3077")
insert into Table_3 VALUES ("5/19/16","EUR","73.3077")
("5/20/16","EUR","74.2755")
insert into Table_3 VALUES ("5/20/16","EUR","74.2755")
("5/21/16","EUR","74.4623")
insert into Table_3 VALUES ("5/21/16","EUR","74.4623")
("5/24/16","EUR","75.2675")
insert into Table_3 VALUES ("5/24/16","EUR","75.2675")
("5/25/16","EUR","75.0349")
insert into Table_3 VALUES ("5/25/16","EUR","75.0349")
("5/26/16","EUR","73.4596")
insert into Table_3 VALUES ("5/26/16","EUR","73.4596")
("5/27/16","EUR","72.8418")
insert into Table_3 VALUES ("5/27/16","EUR","72.8418")
("5/28/16","EUR","73.8474")
insert into Table_3 VALUES ("5/28/16","EUR","73.8474")
("5/31/16","EUR","73.4970")
insert into Table_3 VALUES ("5/31/16","EUR","73.4970")
("6/1/16","EUR","73.4406")
insert into Table_3 VALUES ("6/1/16","EUR","73.4406")
("6/2/16","EUR","74.2098")
insert into Table_3 VALUES ("6/2/16","EUR","74.2098")
("6/3/16","EUR","74.8191")
insert into Table_3 VALUES ("6/3/16","EUR","74.8191")
("6/4/16","EUR","74.5610")
insert into Table_3 VALUES ("6/4/16","EUR","74.5610")
("6/7/16","EUR","74.6907")
insert into Table_3 VALUES ("6/7/16","EUR","74.6907")
("6/8/16","EUR","74.1164")
insert into Table_3 VALUES ("6/8/16","EUR","74.1164")
("6/9/16","EUR","73.5538")
insert into Table_3 VALUES ("6/9/16","EUR","73.5538")
("6/10/16","EUR","72.5682")
insert into Table_3 VALUES ("6/10/16","EUR","72.5682")
("6/11/16","EUR","73.1909")
insert into Table_3 VALUES ("6/11/16","EUR","73.1909")
("6/15/16","EUR","74.3174")
insert into Table_3 VALUES ("6/15/16","EUR","74.3174")
("6/16/16","EUR","73.9441")
insert into Table_3 VALUES ("6/16/16","EUR","73.9441")
("6/17/16","EUR","74.2460")
insert into Table_3 VALUES ("6/17/16","EUR","74.2460")
("6/18/16","EUR","73.5609")
insert into Table_3 VALUES ("6/18/16","EUR","73.5609")
("6/21/16","EUR","72.7792")
insert into Table_3 VALUES ("6/21/16","EUR","72.7792")
("6/22/16","EUR","72.7865")
insert into Table_3 VALUES ("6/22/16","EUR","72.7865")
("6/23/16","EUR","71.8082")
insert into Table_3 VALUES ("6/23/16","EUR","71.8082")
("6/24/16","EUR","72.9016")
insert into Table_3 VALUES ("6/24/16","EUR","72.9016")
("6/25/16","EUR","72.6582")
insert into Table_3 VALUES ("6/25/16","EUR","72.6582")
("6/28/16","EUR","71.9420")
insert into Table_3 VALUES ("6/28/16","EUR","71.9420")
("6/29/16","EUR","71.7117")
insert into Table_3 VALUES ("6/29/16","EUR","71.7117")
("6/30/16","EUR","71.2102")
insert into Table_3 VALUES ("6/30/16","EUR","71.2102")
("7/1/16","EUR","71.2926")
insert into Table_3 VALUES ("7/1/16","EUR","71.2926")
("7/2/16","EUR","71.0519")
insert into Table_3 VALUES ("7/2/16","EUR","71.0519")
("7/5/16","EUR","70.8553")
insert into Table_3 VALUES ("7/5/16","EUR","70.8553")
("7/6/16","EUR","71.6327")
insert into Table_3 VALUES ("7/6/16","EUR","71.6327")
("7/7/16","EUR","71.5135")
insert into Table_3 VALUES ("7/7/16","EUR","71.5135")
("7/8/16","EUR","70.9482")
insert into Table_3 VALUES ("7/8/16","EUR","70.9482")
("7/9/16","EUR","71.1684")
insert into Table_3 VALUES ("7/9/16","EUR","71.1684")
("7/12/16","EUR","70.8152")
insert into Table_3 VALUES ("7/12/16","EUR","70.8152")
("7/13/16","EUR","70.9833")
insert into Table_3 VALUES ("7/13/16","EUR","70.9833")
("7/14/16","EUR","70.5577")
insert into Table_3 VALUES ("7/14/16","EUR","70.5577")
("7/15/16","EUR","70.5644")
insert into Table_3 VALUES ("7/15/16","EUR","70.5644")
("7/16/16","EUR","70.3395")
insert into Table_3 VALUES ("7/16/16","EUR","70.3395")
("7/19/16","EUR","69.7741")
insert into Table_3 VALUES ("7/19/16","EUR","69.7741")
("7/20/16","EUR","69.6974")
insert into Table_3 VALUES ("7/20/16","EUR","69.6974")
("7/21/16","EUR","69.6967")
insert into Table_3 VALUES ("7/21/16","EUR","69.6967")
("7/22/16","EUR","70.3022")
insert into Table_3 VALUES ("7/22/16","EUR","70.3022")
("7/23/16","EUR","71.2513")
insert into Table_3 VALUES ("7/23/16","EUR","71.2513")
("7/26/16","EUR","71.2090")
insert into Table_3 VALUES ("7/26/16","EUR","71.2090")

("7/27/16","EUR","72.3478")
insert into Table_3 VALUES ("7/27/16","EUR","72.3478")
("7/28/16","EUR","72.5150")
insert into Table_3 VALUES ("7/28/16","EUR","72.5150")
("7/29/16","EUR","73.4047")
insert into Table_3 VALUES ("7/29/16","EUR","73.4047")
("7/30/16","EUR","74.3799")
insert into Table_3 VALUES ("7/30/16","EUR","74.3799")
("8/2/16","EUR","73.6523")
insert into Table_3 VALUES ("8/2/16","EUR","73.6523")
("8/3/16","EUR","74.9007")
insert into Table_3 VALUES ("8/3/16","EUR","74.9007")
("8/4/16","EUR","74.7978")
insert into Table_3 VALUES ("8/4/16","EUR","74.7978")
("8/5/16","EUR","73.9232")
insert into Table_3 VALUES ("8/5/16","EUR","73.9232")
("8/6/16","EUR","73.0303")
insert into Table_3 VALUES ("8/6/16","EUR","73.0303")
("8/9/16","EUR","72.1476")
insert into Table_3 VALUES ("8/9/16","EUR","72.1476")
("8/10/16","EUR","71.7556")
insert into Table_3 VALUES ("8/10/16","EUR","71.7556")
("8/11/16","EUR","72.2349")
insert into Table_3 VALUES ("8/11/16","EUR","72.2349")
("8/12/16","EUR","72.4644")
insert into Table_3 VALUES ("8/12/16","EUR","72.4644")
("8/13/16","EUR","71.7158")
insert into Table_3 VALUES ("8/13/16","EUR","71.7158")
("8/16/16","EUR","71.7263")
insert into Table_3 VALUES ("8/16/16","EUR","71.7263")
("8/17/16","EUR","71.9645")
insert into Table_3 VALUES ("8/17/16","EUR","71.9645")
("8/18/16","EUR","72.0832")
insert into Table_3 VALUES ("8/18/16","EUR","72.0832")
("8/19/16","EUR","71.9371")
insert into Table_3 VALUES ("8/19/16","EUR","71.9371")
("8/20/16","EUR","72.4558")
insert into Table_3 VALUES ("8/20/16","EUR","72.4558")
("8/23/16","EUR","72.4457")
insert into Table_3 VALUES ("8/23/16","EUR","72.4457")
("8/24/16","EUR","73.4733")
insert into Table_3 VALUES ("8/24/16","EUR","73.4733")
("8/25/16","EUR","73.2074")
insert into Table_3 VALUES ("8/25/16","EUR","73.2074")
("8/26/16","EUR","73.2135")
insert into Table_3 VALUES ("8/26/16","EUR","73.2135")
("8/27/16","EUR","73.0892")
insert into Table_3 VALUES ("8/27/16","EUR","73.0892")
("8/30/16","EUR","72.7996")
insert into Table_3 VALUES ("8/30/16","EUR","72.7996")
("8/31/16","EUR","72.5013")
insert into Table_3 VALUES ("8/31/16","EUR","72.5013")
("9/1/16","EUR","72.6859")
insert into Table_3 VALUES ("9/1/16","EUR","72.6859")
("9/2/16","EUR","72.6828")
insert into Table_3 VALUES ("9/2/16","EUR","72.6828")
("9/3/16","EUR","73.7199")
insert into Table_3 VALUES ("9/3/16","EUR","73.7199")
("9/6/16","EUR","72.3742")
insert into Table_3 VALUES ("9/6/16","EUR","72.3742")
("9/7/16","EUR","72.3639")
insert into Table_3 VALUES ("9/7/16","EUR","72.3639")
("9/8/16","EUR","72.4022")
insert into Table_3 VALUES ("9/8/16","EUR","72.4022")
("9/9/16","EUR","72.0464")
insert into Table_3 VALUES ("9/9/16","EUR","72.0464")
("9/10/16","EUR","72.3359")
insert into Table_3 VALUES ("9/10/16","EUR","72.3359")
("9/13/16","EUR","73.1986")
insert into Table_3 VALUES ("9/13/16","EUR","73.1986")
("9/14/16","EUR","72.7559")
insert into Table_3 VALUES ("9/14/16","EUR","72.7559")
("9/15/16","EUR","72.9460")
insert into Table_3 VALUES ("9/15/16","EUR","72.9460")
("9/16/16","EUR","73.2126")
insert into Table_3 VALUES ("9/16/16","EUR","73.2126")
("9/17/16","EUR","73.0208")
insert into Table_3 VALUES ("9/17/16","EUR","73.0208")
("9/20/16","EUR","72.4477")
insert into Table_3 VALUES ("9/20/16","EUR","72.4477")
("9/21/16","EUR","72.5279")
insert into Table_3 VALUES ("9/21/16","EUR","72.5279")
("9/22/16","EUR","71.8404")
insert into Table_3 VALUES ("9/22/16","EUR","71.8404")
("9/23/16","EUR","71.6728")
insert into Table_3 VALUES ("9/23/16","EUR","71.6728")
("9/24/16","EUR","71.5854")
insert into Table_3 VALUES ("9/24/16","EUR","71.5854")
("9/27/16","EUR","72.0604")
insert into Table_3 VALUES ("9/27/16","EUR","72.0604")
("9/28/16","EUR","71.6409")
insert into Table_3 VALUES ("9/28/16","EUR","71.6409")
("9/29/16","EUR","71.5738")
insert into Table_3 VALUES ("9/29/16","EUR","71.5738")
("9/30/16","EUR","70.8823")
insert into Table_3 VALUES ("9/30/16","EUR","70.8823")
("10/1/16","EUR","70.9338")
insert into Table_3 VALUES ("10/1/16","EUR","70.9338")
("10/4/16","EUR","70.2411")
insert into Table_3 VALUES ("10/4/16","EUR","70.2411")
("10/5/16","EUR","69.7556")
insert into Table_3 VALUES ("10/5/16","EUR","69.7556")
("10/6/16","EUR","70.0782")
insert into Table_3 VALUES ("10/6/16","EUR","70.0782")
("10/7/16","EUR","69.8518")
insert into Table_3 VALUES ("10/7/16","EUR","69.8518")
("10/8/16","EUR","69.2312")
insert into Table_3 VALUES ("10/8/16","EUR","69.2312")
("10/11/16","EUR","69.7253")
insert into Table_3 VALUES ("10/11/16","EUR","69.7253")
("10/12/16","EUR","69.1231")
insert into Table_3 VALUES ("10/12/16","EUR","69.1231")
("10/13/16","EUR","69.1173")
insert into Table_3 VALUES ("10/13/16","EUR","69.1173")
("10/14/16","EUR","69.7255")
insert into Table_3 VALUES ("10/14/16","EUR","69.7255")
("10/15/16","EUR","69.3746")
insert into Table_3 VALUES ("10/15/16","EUR","69.3746")
("10/18/16","EUR","69.3587")
insert into Table_3 VALUES ("10/18/16","EUR","69.3587")
("10/19/16","EUR","69.2608")
insert into Table_3 VALUES ("10/19/16","EUR","69.2608")
("10/20/16","EUR","68.7674")
insert into Table_3 VALUES ("10/20/16","EUR","68.7674")
("10/21/16","EUR","68.4741")
insert into Table_3 VALUES ("10/21/16","EUR","68.4741")
("10/22/16","EUR","68.0267")
insert into Table_3 VALUES ("10/22/16","EUR","68.0267")
("10/25/16","EUR","67.7302")
insert into Table_3 VALUES ("10/25/16","EUR","67.7302")
("10/26/16","EUR","67.4958")
insert into Table_3 VALUES ("10/26/16","EUR","67.4958")
("10/27/16","EUR","67.9253")
insert into Table_3 VALUES ("10/27/16","EUR","67.9253")
("10/28/16","EUR","68.7576")
insert into Table_3 VALUES ("10/28/16","EUR","68.7576")
("10/29/16","EUR","68.6783")
insert into Table_3 VALUES ("10/29/16","EUR","68.6783")
("11/1/16","EUR","69.2863")
insert into Table_3 VALUES ("11/1/16","EUR","69.2863")
("11/2/16","EUR","69.3647")
insert into Table_3 VALUES ("11/2/16","EUR","69.3647")
("11/3/16","EUR","70.2339")
insert into Table_3 VALUES ("11/3/16","EUR","70.2339")
("11/4/16","EUR","70.5977")
insert into Table_3 VALUES ("11/4/16","EUR","70.5977")
("11/8/16","EUR","70.6944")
insert into Table_3 VALUES ("11/8/16","EUR","70.6944")
("11/9/16","EUR","70.4542")
insert into Table_3 VALUES ("11/9/16","EUR","70.4542")
("11/10/16","EUR","71.3491")
insert into Table_3 VALUES ("11/10/16","EUR","71.3491")
("11/11/16","EUR","69.3392")
insert into Table_3 VALUES ("11/11/16","EUR","69.3392")
("11/12/16","EUR","71.1253")
insert into Table_3 VALUES ("11/12/16","EUR","71.1253")
("11/15/16","EUR","71.0488")
insert into Table_3 VALUES ("11/15/16","EUR","71.0488")
("11/16/16","EUR","70.6156")
insert into Table_3 VALUES ("11/16/16","EUR","70.6156")
("11/17/16","EUR","69.2388")
insert into Table_3 VALUES ("11/17/16","EUR","69.2388")
("11/18/16","EUR","69.4984")
insert into Table_3 VALUES ("11/18/16","EUR","69.4984")
("11/19/16","EUR","68.9889")
insert into Table_3 VALUES ("11/19/16","EUR","68.9889")
("11/22/16","EUR","68.3611")
insert into Table_3 VALUES ("11/22/16","EUR","68.3611")
("11/23/16","EUR","67.5413")
insert into Table_3 VALUES ("11/23/16","EUR","67.5413")
("11/24/16","EUR","68.0540")
insert into Table_3 VALUES ("11/24/16","EUR","68.0540")
("11/25/16","EUR","68.0855")
insert into Table_3 VALUES ("11/25/16","EUR","68.0855")
("11/26/16","EUR","68.4363")
insert into Table_3 VALUES ("11/26/16","EUR","68.4363")
("11/29/16","EUR","69.1608")
insert into Table_3 VALUES ("11/29/16","EUR","69.1608")
("11/30/16","EUR","68.8416")
insert into Table_3 VALUES ("11/30/16","EUR","68.8416")
("12/1/16","EUR","69.3417")
insert into Table_3 VALUES ("12/1/16","EUR","69.3417")
("12/2/16","EUR","67.6162")
insert into Table_3 VALUES ("12/2/16","EUR","67.6162")
("12/3/16","EUR","68.4703")
insert into Table_3 VALUES ("12/3/16","EUR","68.4703")
("12/6/16","EUR","67.7660")
insert into Table_3 VALUES ("12/6/16","EUR","67.7660")
("12/7/16","EUR","68.6902")
insert into Table_3 VALUES ("12/7/16","EUR","68.6902")
("12/8/16","EUR","68.5002")
insert into Table_3 VALUES ("12/8/16","EUR","68.5002")
("12/9/16","EUR","68.2458")
insert into Table_3 VALUES ("12/9/16","EUR","68.2458")
("12/10/16","EUR","67.2086")
insert into Table_3 VALUES ("12/10/16","EUR","67.2086")
("12/13/16","EUR","65.0720")
insert into Table_3 VALUES ("12/13/16","EUR","65.0720")
("12/14/16","EUR","64.9774")
insert into Table_3 VALUES ("12/14/16","EUR","64.9774")
("12/15/16","EUR","64.7543")
insert into Table_3 VALUES ("12/15/16","EUR","64.7543")
("12/16/16","EUR","64.6139")
insert into Table_3 VALUES ("12/16/16","EUR","64.6139")

("12/17/16","EUR","64.4809")
insert into Table_3 VALUES ("12/17/16","EUR","64.4809")
("12/20/16","EUR","64.6727")
insert into Table_3 VALUES ("12/20/16","EUR","64.6727")
("12/21/16","EUR","64.2006")
insert into Table_3 VALUES ("12/21/16","EUR","64.2006")
("12/22/16","EUR","63.6086")
insert into Table_3 VALUES ("12/22/16","EUR","63.6086")
("12/23/16","EUR","63.5604")
insert into Table_3 VALUES ("12/23/16","EUR","63.5604")
("12/24/16","EUR","63.5425")
insert into Table_3 VALUES ("12/24/16","EUR","63.5425")
("12/27/16","EUR","63.7285")
insert into Table_3 VALUES ("12/27/16","EUR","63.7285")
("12/28/16","EUR","63.5730")
insert into Table_3 VALUES ("12/28/16","EUR","63.5730")
("12/29/16","EUR","63.4879")
insert into Table_3 VALUES ("12/29/16","EUR","63.4879")
("12/30/16","EUR","63.0214")
insert into Table_3 VALUES ("12/30/16","EUR","63.0214")
("12/31/16","EUR","63.8111")
insert into Table_3 VALUES ("12/31/16","EUR","63.8111")
("1/10/17","EUR","63.1125")
insert into Table_3 VALUES ("1/10/17","EUR","63.1125")
("1/11/17","EUR","63.5445")
insert into Table_3 VALUES ("1/11/17","EUR","63.5445")
("1/12/17","EUR","63.5184")
insert into Table_3 VALUES ("1/12/17","EUR","63.5184")
("1/13/17","EUR","63.2759")
insert into Table_3 VALUES ("1/13/17","EUR","63.2759")
("1/14/17","EUR","63.1222")
insert into Table_3 VALUES ("1/14/17","EUR","63.1222")
("1/17/17","EUR","63.2308")
insert into Table_3 VALUES ("1/17/17","EUR","63.2308")
("1/18/17","EUR","63.2864")
insert into Table_3 VALUES ("1/18/17","EUR","63.2864")
("1/19/17","EUR","63.2252")
insert into Table_3 VALUES ("1/19/17","EUR","63.2252")
("1/20/17","EUR","63.1803")
insert into Table_3 VALUES ("1/20/17","EUR","63.1803")
("1/21/17","EUR","63.7272")
insert into Table_3 VALUES ("1/21/17","EUR","63.7272")
("1/24/17","EUR","63.9424")
insert into Table_3 VALUES ("1/24/17","EUR","63.9424")
("1/25/17","EUR","63.6225")
insert into Table_3 VALUES ("1/25/17","EUR","63.6225")
("1/26/17","EUR","63.4254")
insert into Table_3 VALUES ("1/26/17","EUR","63.4254")
("1/27/17","EUR","64.0248")
insert into Table_3 VALUES ("1/27/17","EUR","64.0248")
("1/28/17","EUR","64.3429")
insert into Table_3 VALUES ("1/28/17","EUR","64.3429")
("1/31/17","EUR","64.4333")
insert into Table_3 VALUES ("1/31/17","EUR","64.4333")
("2/1/17","EUR","64.2850")
insert into Table_3 VALUES ("2/1/17","EUR","64.2850")
("2/2/17","EUR","65.0322")
insert into Table_3 VALUES ("2/2/17","EUR","65.0322")
("2/3/17","EUR","64.7307")
insert into Table_3 VALUES ("2/3/17","EUR","64.7307")
("2/4/17","EUR","63.8156")
insert into Table_3 VALUES ("2/4/17","EUR","63.8156")
("2/7/17","EUR","63.1566")
insert into Table_3 VALUES ("2/7/17","EUR","63.1566")
("2/8/17","EUR","63.2362")
insert into Table_3 VALUES ("2/8/17","EUR","63.2362")
("2/9/17","EUR","63.4467")
insert into Table_3 VALUES ("2/9/17","EUR","63.4467")
("2/10/17","EUR","63.0253")
insert into Table_3 VALUES ("2/10/17","EUR","63.0253")
("2/11/17","EUR","62.6824")
insert into Table_3 VALUES ("2/11/17","EUR","62.6824")
("2/14/17","EUR","61.7662")
insert into Table_3 VALUES ("2/14/17","EUR","61.7662")
("2/15/17","EUR","61.2955")
insert into Table_3 VALUES ("2/15/17","EUR","61.2955")
("2/16/17","EUR","60.0249")
insert into Table_3 VALUES ("2/16/17","EUR","60.0249")
("2/17/17","EUR","60.6540")
insert into Table_3 VALUES ("2/17/17","EUR","60.6540")
("2/18/17","EUR","61.4496")
insert into Table_3 VALUES ("2/18/17","EUR","61.4496")
("2/21/17","EUR","61.6987")
insert into Table_3 VALUES ("2/21/17","EUR","61.6987")
("2/22/17","EUR","61.2090")
insert into Table_3 VALUES ("2/22/17","EUR","61.2090")
("2/23/17","EUR","60.4535")
insert into Table_3 VALUES ("2/23/17","EUR","60.4535")
("2/28/17","EUR","61.2569")
insert into Table_3 VALUES ("2/28/17","EUR","61.2569")
("3/1/17","EUR","61.3883")
insert into Table_3 VALUES ("3/1/17","EUR","61.3883")
("3/2/17","EUR","61.5417")
insert into Table_3 VALUES ("3/2/17","EUR","61.5417")
("3/3/17","EUR","61.5198")
insert into Table_3 VALUES ("3/3/17","EUR","61.5198")
("3/4/17","EUR","61.9850")
insert into Table_3 VALUES ("3/4/17","EUR","61.9850")
("3/7/17","EUR","61.8606")
insert into Table_3 VALUES ("3/7/17","EUR","61.8606")
("3/8/17","EUR","61.7063")
insert into Table_3 VALUES ("3/8/17","EUR","61.7063")
("3/10/17","EUR","61.9911")
insert into Table_3 VALUES ("3/10/17","EUR","61.9911")
("3/11/17","EUR","62.7408")
insert into Table_3 VALUES ("3/11/17","EUR","62.7408")
("3/14/17","EUR","63.2661")
insert into Table_3 VALUES ("3/14/17","EUR","63.2661")
("3/15/17","EUR","62.7447")
insert into Table_3 VALUES ("3/15/17","EUR","62.7447")
("3/16/17","EUR","62.8428")
insert into Table_3 VALUES ("3/16/17","EUR","62.8428")
("3/17/17","EUR","62.4897")
insert into Table_3 VALUES ("3/17/17","EUR","62.4897")
("3/18/17","EUR","62.3722")
insert into Table_3 VALUES ("3/18/17","EUR","62.3722")
("3/21/17","EUR","61.6956")
insert into Table_3 VALUES ("3/21/17","EUR","61.6956")
("3/22/17","EUR","61.7308")
insert into Table_3 VALUES ("3/22/17","EUR","61.7308")
("3/23/17","EUR","62.2699")
insert into Table_3 VALUES ("3/23/17","EUR","62.2699")
("3/24/17","EUR","62.0959")
insert into Table_3 VALUES ("3/24/17","EUR","62.0959")
("3/25/17","EUR","61.8636")
insert into Table_3 VALUES ("3/25/17","EUR","61.8636")
("3/28/17","EUR","61.9615")
insert into Table_3 VALUES ("3/28/17","EUR","61.9615")
("3/29/17","EUR","61.8102")
insert into Table_3 VALUES ("3/29/17","EUR","61.8102")
("3/30/17","EUR","61.5347")
insert into Table_3 VALUES ("3/30/17","EUR","61.5347")
("3/31/17","EUR","60.5950")
insert into Table_3 VALUES ("3/31/17","EUR","60.5950")
("4/1/17","EUR","59.8107")
insert into Table_3 VALUES ("4/1/17","EUR","59.8107")
("4/4/17","EUR","59.8953")
insert into Table_3 VALUES ("4/4/17","EUR","59.8953")
("4/5/17","EUR","60.2427")
insert into Table_3 VALUES ("4/5/17","EUR","60.2427")
("4/6/17","EUR","59.6948")
insert into Table_3 VALUES ("4/6/17","EUR","59.6948")
("4/7/17","EUR","60.0827")
insert into Table_3 VALUES ("4/7/17","EUR","60.0827")
("4/8/17","EUR","60.5687")
insert into Table_3 VALUES ("4/8/17","EUR","60.5687")
("4/11/17","EUR","60.7469")
insert into Table_3 VALUES ("4/11/17","EUR","60.7469")
("4/12/17","EUR","60.3042")
insert into Table_3 VALUES ("4/12/17","EUR","60.3042")
("4/13/17","EUR","60.2631")
insert into Table_3 VALUES ("4/13/17","EUR","60.2631")
("4/14/17","EUR","60.2867")
insert into Table_3 VALUES ("4/14/17","EUR","60.2867")
("4/15/17","EUR","59.7791")
insert into Table_3 VALUES ("4/15/17","EUR","59.7791")
("4/18/17","EUR","59.8393")
insert into Table_3 VALUES ("4/18/17","EUR","59.8393")
("4/19/17","EUR","59.6124")
insert into Table_3 VALUES ("4/19/17","EUR","59.6124")
("4/20/17","EUR","60.2649")
insert into Table_3 VALUES ("4/20/17","EUR","60.2649")
("4/21/17","EUR","60.6139")
insert into Table_3 VALUES ("4/21/17","EUR","60.6139")
("4/22/17","EUR","60.3187")
insert into Table_3 VALUES ("4/22/17","EUR","60.3187")
("4/25/17","EUR","60.8461")
insert into Table_3 VALUES ("4/25/17","EUR","60.8461")
("4/26/17","EUR","60.7932")
insert into Table_3 VALUES ("4/26/17","EUR","60.7932")
("4/27/17","EUR","61.5052")
insert into Table_3 VALUES ("4/27/17","EUR","61.5052")
("4/28/17","EUR","62.1664")
insert into Table_3 VALUES ("4/28/17","EUR","62.1664")
("4/29/17","EUR","62.0440")
insert into Table_3 VALUES ("4/29/17","EUR","62.0440")
("5/3/17","EUR","62.1515")
insert into Table_3 VALUES ("5/3/17","EUR","62.1515")
("5/4/17","EUR","62.3224")
insert into Table_3 VALUES ("5/4/17","EUR","62.3224")
("5/5/17","EUR","62.7298")
insert into Table_3 VALUES ("5/5/17","EUR","62.7298")
("5/6/17","EUR","64.2398")
insert into Table_3 VALUES ("5/6/17","EUR","64.2398")
("5/11/17","EUR","63.2634")
insert into Table_3 VALUES ("5/11/17","EUR","63.2634")
("5/12/17","EUR","62.1595")
insert into Table_3 VALUES ("5/12/17","EUR","62.1595")
("5/13/17","EUR","62.0915")
insert into Table_3 VALUES ("5/13/17","EUR","62.0915")
("5/16/17","EUR","61.8449")
insert into Table_3 VALUES ("5/16/17","EUR","61.8449")
("5/17/17","EUR","62.0382")
insert into Table_3 VALUES ("5/17/17","EUR","62.0382")
("5/18/17","EUR","62.9568")
insert into Table_3 VALUES ("5/18/17","EUR","62.9568")
("5/19/17","EUR","63.9967")
insert into Table_3 VALUES ("5/19/17","EUR","63.9967")
("5/20/17","EUR","63.6479")
insert into Table_3 VALUES ("5/20/17","EUR","63.6479")
("5/23/17","EUR","63.1713")
insert into Table_3 VALUES ("5/23/17","EUR","63.1713")
("5/24/17","EUR","63.6189")
insert into Table_3 VALUES ("5/24/17","EUR","63.6189")
("5/25/17","EUR","62.9203")
insert into Table_3 VALUES ("5/25/17","EUR","62.9203")
("5/26/17","EUR","63.0116")
insert into Table_3 VALUES ("5/26/17","EUR","63.0116")
("5/27/17","EUR","63.6689")
insert into Table_3 VALUES ("5/27/17","EUR","63.6689")
("5/30/17","EUR","63.3684")
insert into Table_3 VALUES ("5/30/17","EUR","63.3684")
("5/31/17","EUR","62.9484")
insert into Table_3 VALUES ("5/31/17","EUR","62.9484")
("6/1/17","EUR","63.4107")
insert into Table_3 VALUES ("6/1/17","EUR","63.4107")
("6/2/17","EUR","63.5310")
insert into Table_3 VALUES ("6/2/17","EUR","63.5310")
("6/3/17","EUR","63.6092")
insert into Table_3 VALUES ("6/3/17","EUR","63.6092")
("6/6/17","EUR","63.8110")
insert into Table_3 VALUES ("6/6/17","EUR","63.8110")
("6/7/17","EUR","63.7817")
insert into Table_3 VALUES ("6/7/17","EUR","63.7817")
("6/8/17","EUR","63.7179")
insert into Table_3 VALUES ("6/8/17","EUR","63.7179")
("6/9/17","EUR","64.1488")
insert into Table_3 VALUES ("6/9/17","EUR","64.1488")
("6/10/17","EUR","63.7852")
insert into Table_3 VALUES ("6/10/17","EUR","63.7852")
("6/14/17","EUR","63.7729")
insert into Table_3 VALUES ("6/14/17","EUR","63.7729")
("6/15/17","EUR","63.9481")
insert into Table_3 VALUES ("6/15/17","EUR","63.9481")
("6/16/17","EUR","64.2795")
insert into Table_3 VALUES ("6/16/17","EUR","64.2795")
("6/17/17","EUR","64.4561")
insert into Table_3 VALUES ("6/17/17","EUR","64.4561")
("6/20/17","EUR","64.8614")
insert into Table_3 VALUES ("6/20/17","EUR","64.8614")
("6/21/17","EUR","65.3210")
insert into Table_3 VALUES ("6/21/17","EUR","65.3210")
("6/22/17","EUR","66.7980")
insert into Table_3 VALUES ("6/22/17","EUR","66.7980")
("6/23/17","EUR","67.1495")
insert into Table_3 VALUES ("6/23/17","EUR","67.1495")
("6/24/17","EUR","66.6780")
insert into Table_3 VALUES ("6/24/17","EUR","66.6780")
("6/27/17","EUR","66.0816")
insert into Table_3 VALUES ("6/27/17","EUR","66.0816")
("6/28/17","EUR","65.9563")
insert into Table_3 VALUES ("6/28/17","EUR","65.9563")
("6/29/17","EUR","67.6868")
insert into Table_3 VALUES ("6/29/17","EUR","67.6868")
("6/30/17","EUR","67.4993")
insert into Table_3 VALUES ("6/30/17","EUR","67.4993")
("7/1/17","EUR","67.8072")
insert into Table_3 VALUES ("7/1/17","EUR","67.8072")
("7/4/17","EUR","67.2016")
insert into Table_3 VALUES ("7/4/17","EUR","67.2016")

("7/5/17","EUR","67.2966")
insert into Table_3 VALUES ("7/5/17","EUR","67.2966")
("7/6/17","EUR","67.6754")
insert into Table_3 VALUES ("7/6/17","EUR","67.6754")
("7/7/17","EUR","68.3814")
insert into Table_3 VALUES ("7/7/17","EUR","68.3814")
("7/8/17","EUR","68.9470")
insert into Table_3 VALUES ("7/8/17","EUR","68.9470")
("7/11/17","EUR","68.7737")
insert into Table_3 VALUES ("7/11/17","EUR","68.7737")
("7/12/17","EUR","69.2007")
insert into Table_3 VALUES ("7/12/17","EUR","69.2007")
("7/13/17","EUR","69.4494")
insert into Table_3 VALUES ("7/13/17","EUR","69.4494")
("7/14/17","EUR","68.8139")
insert into Table_3 VALUES ("7/14/17","EUR","68.8139")
("7/15/17","EUR","68.3597")
insert into Table_3 VALUES ("7/15/17","EUR","68.3597")
("7/18/17","EUR","67.6184")
insert into Table_3 VALUES ("7/18/17","EUR","67.6184")
("7/19/17","EUR","68.4008")
insert into Table_3 VALUES ("7/19/17","EUR","68.4008")
("7/20/17","EUR","68.2762")
insert into Table_3 VALUES ("7/20/17","EUR","68.2762")
("7/21/17","EUR","68.0037")
insert into Table_3 VALUES ("7/21/17","EUR","68.0037")
("7/22/17","EUR","68.6623")
insert into Table_3 VALUES ("7/22/17","EUR","68.6623")
("7/25/17","EUR","69.4708")
insert into Table_3 VALUES ("7/25/17","EUR","69.4708")
("7/26/17","EUR","69.7005")
insert into Table_3 VALUES ("7/26/17","EUR","69.7005")
("7/27/17","EUR","69.6816")
insert into Table_3 VALUES ("7/27/17","EUR","69.6816")
("7/28/17","EUR","69.6406")
insert into Table_3 VALUES ("7/28/17","EUR","69.6406")
("7/29/17","EUR","69.6779")
insert into Table_3 VALUES ("7/29/17","EUR","69.6779")
("8/1/17","EUR","70.4603")
insert into Table_3 VALUES ("8/1/17","EUR","70.4603")
("8/2/17","EUR","70.7313")
insert into Table_3 VALUES ("8/2/17","EUR","70.7313")
("8/3/17","EUR","71.6866")
insert into Table_3 VALUES ("8/3/17","EUR","71.6866")
("8/4/17","EUR","71.9527")
insert into Table_3 VALUES ("8/4/17","EUR","71.9527")
("8/5/17","EUR","71.6879")
insert into Table_3 VALUES ("8/5/17","EUR","71.6879")
("8/8/17","EUR","70.8414")
insert into Table_3 VALUES ("8/8/17","EUR","70.8414")
("8/9/17","EUR","70.8405")
insert into Table_3 VALUES ("8/9/17","EUR","70.8405")
("8/10/17","EUR","70.4183")
insert into Table_3 VALUES ("8/10/17","EUR","70.4183")
("8/11/17","EUR","70.2677")
insert into Table_3 VALUES ("8/11/17","EUR","70.2677")
("8/12/17","EUR","70.7502")
insert into Table_3 VALUES ("8/12/17","EUR","70.7502")
("8/15/17","EUR","70.6645")
insert into Table_3 VALUES ("8/15/17","EUR","70.6645")
("8/16/17","EUR","70.3718")
insert into Table_3 VALUES ("8/16/17","EUR","70.3718")
("8/17/17","EUR","69.9958")
insert into Table_3 VALUES ("8/17/17","EUR","69.9958")
("8/18/17","EUR","69.6531")
insert into Table_3 VALUES ("8/18/17","EUR","69.6531")
("8/19/17","EUR","69.7197")
insert into Table_3 VALUES ("8/19/17","EUR","69.7197")
("8/22/17","EUR","69.4314")
insert into Table_3 VALUES ("8/22/17","EUR","69.4314")
("8/23/17","EUR","69.5900")
insert into Table_3 VALUES ("8/23/17","EUR","69.5900")
("8/24/17","EUR","69.5619")
insert into Table_3 VALUES ("8/24/17","EUR","69.5619")
("8/25/17","EUR","69.7434")
insert into Table_3 VALUES ("8/25/17","EUR","69.7434")
("8/26/17","EUR","69.6995")
insert into Table_3 VALUES ("8/26/17","EUR","69.6995")
("8/29/17","EUR","69.8465")
insert into Table_3 VALUES ("8/29/17","EUR","69.8465")
("8/30/17","EUR","70.4316")
insert into Table_3 VALUES ("8/30/17","EUR","70.4316")
("8/31/17","EUR","70.2007")
insert into Table_3 VALUES ("8/31/17","EUR","70.2007")
("9/1/17","EUR","69.6222")
insert into Table_3 VALUES ("9/1/17","EUR","69.6222")
("9/2/17","EUR","68.9992")
insert into Table_3 VALUES ("9/2/17","EUR","68.9992")
("9/5/17","EUR","68.7256")
insert into Table_3 VALUES ("9/5/17","EUR","68.7256")
("9/6/17","EUR","68.7782")
insert into Table_3 VALUES ("9/6/17","EUR","68.7782")
("9/7/17","EUR","68.4165")
insert into Table_3 VALUES ("9/7/17","EUR","68.4165")
("9/8/17","EUR","68.2436")
insert into Table_3 VALUES ("9/8/17","EUR","68.2436")
("9/9/17","EUR","68.6923")
insert into Table_3 VALUES ("9/9/17","EUR","68.6923")
("9/12/17","EUR","68.6490")
insert into Table_3 VALUES ("9/12/17","EUR","68.6490")
("9/13/17","EUR","68.5469")
insert into Table_3 VALUES ("9/13/17","EUR","68.5469")
("9/14/17","EUR","69.0977")
insert into Table_3 VALUES ("9/14/17","EUR","69.0977")
("9/15/17","EUR","68.6950")
insert into Table_3 VALUES ("9/15/17","EUR","68.6950")
("9/16/17","EUR","68.5801")
insert into Table_3 VALUES ("9/16/17","EUR","68.5801")
("9/19/17","EUR","68.7514")
insert into Table_3 VALUES ("9/19/17","EUR","68.7514")
("9/20/17","EUR","69.6785")
insert into Table_3 VALUES ("9/20/17","EUR","69.6785")
("9/21/17","EUR","69.7664")
insert into Table_3 VALUES ("9/21/17","EUR","69.7664")
("9/22/17","EUR","69.2635")
insert into Table_3 VALUES ("9/22/17","EUR","69.2635")
("9/23/17","EUR","69.0737")
insert into Table_3 VALUES ("9/23/17","EUR","69.0737")
("9/26/17","EUR","68.5553")
insert into Table_3 VALUES ("9/26/17","EUR","68.5553")
("9/27/17","EUR","68.0215")
insert into Table_3 VALUES ("9/27/17","EUR","68.0215")
("9/28/17","EUR","68.1678")
insert into Table_3 VALUES ("9/28/17","EUR","68.1678")
("9/29/17","EUR","68.6441")
insert into Table_3 VALUES ("9/29/17","EUR","68.6441")
("9/30/17","EUR","68.4483")
insert into Table_3 VALUES ("9/30/17","EUR","68.4483")
("10/3/17","EUR","67.9076")
insert into Table_3 VALUES ("10/3/17","EUR","67.9076")
("10/4/17","EUR","67.9839")
insert into Table_3 VALUES ("10/4/17","EUR","67.9839")
("10/5/17","EUR","67.9357")
insert into Table_3 VALUES ("10/5/17","EUR","67.9357")
("10/6/17","EUR","67.7787")
insert into Table_3 VALUES ("10/6/17","EUR","67.7787")
("10/7/17","EUR","67.5344")
insert into Table_3 VALUES ("10/7/17","EUR","67.5344")
("10/10/17","EUR","68.3861")
insert into Table_3 VALUES ("10/10/17","EUR","68.3861")
("10/11/17","EUR","68.3557")
insert into Table_3 VALUES ("10/11/17","EUR","68.3557")
("10/12/17","EUR","68.5032")
insert into Table_3 VALUES ("10/12/17","EUR","68.5032")
("10/13/17","EUR","68.4455")
insert into Table_3 VALUES ("10/13/17","EUR","68.4455")
("10/14/17","EUR","68.1409")
insert into Table_3 VALUES ("10/14/17","EUR","68.1409")
("10/17/17","EUR","67.2988")
insert into Table_3 VALUES ("10/17/17","EUR","67.2988")
("10/18/17","EUR","67.4596")
insert into Table_3 VALUES ("10/18/17","EUR","67.4596")
("10/19/17","EUR","67.3577")
insert into Table_3 VALUES ("10/19/17","EUR","67.3577")
("10/20/17","EUR","67.9333")
insert into Table_3 VALUES ("10/20/17","EUR","67.9333")
("10/21/17","EUR","67.8927")
insert into Table_3 VALUES ("10/21/17","EUR","67.8927")
("10/24/17","EUR","67.5567")
insert into Table_3 VALUES ("10/24/17","EUR","67.5567")
("10/25/17","EUR","67.6856")
insert into Table_3 VALUES ("10/25/17","EUR","67.6856")
("10/26/17","EUR","67.7713")
insert into Table_3 VALUES ("10/26/17","EUR","67.7713")
("10/27/17","EUR","68.2890")
insert into Table_3 VALUES ("10/27/17","EUR","68.2890")
("10/28/17","EUR","67.5276")
insert into Table_3 VALUES ("10/28/17","EUR","67.5276")
("10/31/17","EUR","67.2179")
insert into Table_3 VALUES ("10/31/17","EUR","67.2179")
("11/1/17","EUR","67.6434")
insert into Table_3 VALUES ("11/1/17","EUR","67.6434")
("11/2/17","EUR","67.7107")
insert into Table_3 VALUES ("11/2/17","EUR","67.7107")
("11/3/17","EUR","67.6770")
insert into Table_3 VALUES ("11/3/17","EUR","67.6770")
("11/4/17","EUR","68.0822")
insert into Table_3 VALUES ("11/4/17","EUR","68.0822")
("11/8/17","EUR","67.7677")
insert into Table_3 VALUES ("11/8/17","EUR","67.7677")
("11/9/17","EUR","68.7040")
insert into Table_3 VALUES ("11/9/17","EUR","68.7040")
("11/10/17","EUR","68.7865")
insert into Table_3 VALUES ("11/10/17","EUR","68.7865")
("11/11/17","EUR","68.9791")
insert into Table_3 VALUES ("11/11/17","EUR","68.9791")
("11/14/17","EUR","68.9178")
insert into Table_3 VALUES ("11/14/17","EUR","68.9178")
("11/15/17","EUR","69.6787")
insert into Table_3 VALUES ("11/15/17","EUR","69.6787")
("11/16/17","EUR","71.1721")
insert into Table_3 VALUES ("11/16/17","EUR","71.1721")
("11/17/17","EUR","70.7040")
insert into Table_3 VALUES ("11/17/17","EUR","70.7040")
("11/18/17","EUR","70.3604")
insert into Table_3 VALUES ("11/18/17","EUR","70.3604")
("11/21/17","EUR","69.6654")
insert into Table_3 VALUES ("11/21/17","EUR","69.6654")
("11/22/17","EUR","69.8184")
insert into Table_3 VALUES ("11/22/17","EUR","69.8184")
("11/23/17","EUR","69.4030")
insert into Table_3 VALUES ("11/23/17","EUR","69.4030")
("11/24/17","EUR","69.1783")
insert into Table_3 VALUES ("11/24/17","EUR","69.1783")
("11/25/17","EUR","69.3309")
insert into Table_3 VALUES ("11/25/17","EUR","69.3309")
("11/28/17","EUR","69.4957")
insert into Table_3 VALUES ("11/28/17","EUR","69.4957")
("11/29/17","EUR","69.4934")
insert into Table_3 VALUES ("11/29/17","EUR","69.4934")
("11/30/17","EUR","69.2040")
insert into Table_3 VALUES ("11/30/17","EUR","69.2040")
("12/1/17","EUR","69.5185")
insert into Table_3 VALUES ("12/1/17","EUR","69.5185")
("12/2/17","EUR","69.7478")
insert into Table_3 VALUES ("12/2/17","EUR","69.7478")
("12/5/17","EUR","69.9104")
insert into Table_3 VALUES ("12/5/17","EUR","69.9104")
("12/6/17","EUR","69.6327")
insert into Table_3 VALUES ("12/6/17","EUR","69.6327")
("12/7/17","EUR","69.7060")
insert into Table_3 VALUES ("12/7/17","EUR","69.7060")
("12/8/17","EUR","69.9323")
insert into Table_3 VALUES ("12/8/17","EUR","69.9323")
("12/9/17","EUR","69.6434")
insert into Table_3 VALUES ("12/9/17","EUR","69.6434")
("12/12/17","EUR","69.8023")
insert into Table_3 VALUES ("12/12/17","EUR","69.8023")
("12/13/17","EUR","69.2982")
insert into Table_3 VALUES ("12/13/17","EUR","69.2982")
("12/14/17","EUR","69.4653")
insert into Table_3 VALUES ("12/14/17","EUR","69.4653")
("12/15/17","EUR","69.4048")
insert into Table_3 VALUES ("12/15/17","EUR","69.4048")
("12/16/17","EUR","69.4298")
insert into Table_3 VALUES ("12/16/17","EUR","69.4298")
("12/19/17","EUR","69.0946")
insert into Table_3 VALUES ("12/19/17","EUR","69.0946")
("12/20/17","EUR","69.1735")
insert into Table_3 VALUES ("12/20/17","EUR","69.1735")
("12/21/17","EUR","69.5033")
insert into Table_3 VALUES ("12/21/17","EUR","69.5033")
("12/22/17","EUR","69.5220")
insert into Table_3 VALUES ("12/22/17","EUR","69.5220")
("12/23/17","EUR","69.1268")
insert into Table_3 VALUES ("12/23/17","EUR","69.1268")
("12/26/17","EUR","69.0937")
insert into Table_3 VALUES ("12/26/17","EUR","69.0937")
("12/27/17","EUR","68.5422")
insert into Table_3 VALUES ("12/27/17","EUR","68.5422")
("12/28/17","EUR","68.2328")
insert into Table_3 VALUES ("12/28/17","EUR","68.2328")
("12/29/17","EUR","68.7861")
insert into Table_3 VALUES ("12/29/17","EUR","68.7861")
("12/30/17","EUR","68.8668")
insert into Table_3 VALUES ("12/30/17","EUR","68.8668")
("1/10/18","EUR","68.2103")
insert into Table_3 VALUES ("1/10/18","EUR","68.2103")
("1/11/18","EUR","67.8841")
insert into Table_3 VALUES ("1/11/18","EUR","67.8841")
("1/12/18","EUR","68.0586")
insert into Table_3 VALUES ("1/12/18","EUR","68.0586")
("1/13/18","EUR","68.2562")
insert into Table_3 VALUES ("1/13/18","EUR","68.2562")
("1/16/18","EUR","68.8174")
insert into Table_3 VALUES ("1/16/18","EUR","68.8174")
("1/17/18","EUR","69.0243")
insert into Table_3 VALUES ("1/17/18","EUR","69.0243")
("1/18/18","EUR","69.1730")
insert into Table_3 VALUES ("1/18/18","EUR","69.1730")
("1/19/18","EUR","69.2582")
insert into Table_3 VALUES ("1/19/18","EUR","69.2582")
("1/20/18","EUR","69.3953")
insert into Table_3 VALUES ("1/20/18","EUR","69.3953")
("1/23/18","EUR","69.2650")
insert into Table_3 VALUES ("1/23/18","EUR","69.2650")
("1/24/18","EUR","69.0702")
insert into Table_3 VALUES ("1/24/18","EUR","69.0702")
("1/25/18","EUR","69.4484")
insert into Table_3 VALUES ("1/25/18","EUR","69.4484")
("1/26/18","EUR","69.4580")
insert into Table_3 VALUES ("1/26/18","EUR","69.4580")
("1/27/18","EUR","69.6073")
insert into Table_3 VALUES ("1/27/18","EUR","69.6073")
("1/30/18","EUR","69.8513")
insert into Table_3 VALUES ("1/30/18","EUR","69.8513")
("1/31/18","EUR","69.5424")
insert into Table_3 VALUES ("1/31/18","EUR","69.5424")
("2/1/18","EUR","69.9322")
insert into Table_3 VALUES ("2/1/18","EUR","69.9322")
("2/2/18","EUR","69.7921")
insert into Table_3 VALUES ("2/2/18","EUR","69.7921")
("2/3/18","EUR","70.0958")
insert into Table_3 VALUES ("2/3/18","EUR","70.0958")
("2/6/18","EUR","70.4959")
insert into Table_3 VALUES ("2/6/18","EUR","70.4959")
("2/7/18","EUR","70.9294")
insert into Table_3 VALUES ("2/7/18","EUR","70.9294")
("2/8/18","EUR","70.5310")
insert into Table_3 VALUES ("2/8/18","EUR","70.5310")
("2/9/18","EUR","70.7713")
insert into Table_3 VALUES ("2/9/18","EUR","70.7713")
("2/10/18","EUR","71.3943")
insert into Table_3 VALUES ("2/10/18","EUR","71.3943")
("2/13/18","EUR","71.2450")
insert into Table_3 VALUES ("2/13/18","EUR","71.2450")
("2/14/18","EUR","71.1670")
insert into Table_3 VALUES ("2/14/18","EUR","71.1670")
("2/15/18","EUR","71.2329")
insert into Table_3 VALUES ("2/15/18","EUR","71.2329")
("2/16/18","EUR","70.6718")
insert into Table_3 VALUES ("2/16/18","EUR","70.6718")
("2/17/18","EUR","70.6471")
insert into Table_3 VALUES ("2/17/18","EUR","70.6471")
("2/20/18","EUR","69.9001")
insert into Table_3 VALUES ("2/20/18","EUR","69.9001")
("2/21/18","EUR","69.8928")
insert into Table_3 VALUES ("2/21/18","EUR","69.8928")
("2/22/18","EUR","69.8087")
insert into Table_3 VALUES ("2/22/18","EUR","69.8087")
("2/23/18","EUR","69.6341")
insert into Table_3 VALUES ("2/23/18","EUR","69.6341")
("2/27/18","EUR","68.9224")
insert into Table_3 VALUES ("2/27/18","EUR","68.9224")
("2/28/18","EUR","68.6599")
insert into Table_3 VALUES ("2/28/18","EUR","68.6599")
("3/1/18","EUR","68.9062")
insert into Table_3 VALUES ("3/1/18","EUR","68.9062")
("3/2/18","EUR","68.8826")
insert into Table_3 VALUES ("3/2/18","EUR","68.8826")
("3/3/18","EUR","69.4671")
insert into Table_3 VALUES ("3/3/18","EUR","69.4671")
("3/6/18","EUR","70.1702")
insert into Table_3 VALUES ("3/6/18","EUR","70.1702")
("3/7/18","EUR","69.7317")
insert into Table_3 VALUES ("3/7/18","EUR","69.7317")
("3/8/18","EUR","70.5299")
insert into Table_3 VALUES ("3/8/18","EUR","70.5299")
("3/13/18","EUR","69.7972")
insert into Table_3 VALUES ("3/13/18","EUR","69.7972")
("3/14/18","EUR","70.1564")
insert into Table_3 VALUES ("3/14/18","EUR","70.1564")
("3/15/18","EUR","70.5338")
insert into Table_3 VALUES ("3/15/18","EUR","70.5338")
("3/16/18","EUR","70.5151")
insert into Table_3 VALUES ("3/16/18","EUR","70.5151")
("3/17/18","EUR","70.8099")
insert into Table_3 VALUES ("3/17/18","EUR","70.8099")
("3/20/18","EUR","70.6049")
insert into Table_3 VALUES ("3/20/18","EUR","70.6049")
("3/21/18","EUR","71.2347")
insert into Table_3 VALUES ("3/21/18","EUR","71.2347")
("3/22/18","EUR","70.5699")
insert into Table_3 VALUES ("3/22/18","EUR","70.5699")
("3/23/18","EUR","70.3100")
insert into Table_3 VALUES ("3/23/18","EUR","70.3100")
("3/24/18","EUR","70.4303")
insert into Table_3 VALUES ("3/24/18","EUR","70.4303")
("3/27/18","EUR","70.5708")
insert into Table_3 VALUES ("3/27/18","EUR","70.5708")
("3/28/18","EUR","71.2625")
insert into Table_3 VALUES ("3/28/18","EUR","71.2625")
("3/29/18","EUR","71.3339")
insert into Table_3 VALUES ("3/29/18","EUR","71.3339")
("3/30/18","EUR","71.0942")
insert into Table_3 VALUES ("3/30/18","EUR","71.0942")
("3/31/18","EUR","70.5618")
insert into Table_3 VALUES ("3/31/18","EUR","70.5618")
("4/3/18","EUR","70.6038")
insert into Table_3 VALUES ("4/3/18","EUR","70.6038")
("4/4/18","EUR","70.9207")
insert into Table_3 VALUES ("4/4/18","EUR","70.9207")
("4/5/18","EUR","70.9580")
insert into Table_3 VALUES ("4/5/18","EUR","70.9580")
("4/6/18","EUR","70.5926")
insert into Table_3 VALUES ("4/6/18","EUR","70.5926")
("4/7/18","EUR","70.7069")
insert into Table_3 VALUES ("4/7/18","EUR","70.7069")
("4/10/18","EUR","71.8847")
insert into Table_3 VALUES ("4/10/18","EUR","71.8847")
("4/11/18","EUR","76.8522")
insert into Table_3 VALUES ("4/11/18","EUR","76.8522")
("4/12/18","EUR","79.2839")
insert into Table_3 VALUES ("4/12/18","EUR","79.2839")
("4/13/18","EUR","76.7569")
insert into Table_3 VALUES ("4/13/18","EUR","76.7569")
("4/14/18","EUR","75.7507")
insert into Table_3 VALUES ("4/14/18","EUR","75.7507")
("4/17/18","EUR","76.8403")
insert into Table_3 VALUES ("4/17/18","EUR","76.8403")
("4/18/18","EUR","75.8448")
insert into Table_3 VALUES ("4/18/18","EUR","75.8448")
("4/19/18","EUR","76.0868")
insert into Table_3 VALUES ("4/19/18","EUR","76.0868")
("4/20/18","EUR","75.4034")
insert into Table_3 VALUES ("4/20/18","EUR","75.4034")
("4/21/18","EUR","75.6532")
insert into Table_3 VALUES ("4/21/18","EUR","75.6532")
("4/24/18","EUR","75.7924")
insert into Table_3 VALUES ("4/24/18","EUR","75.7924")
("4/25/18","EUR","75.2121")
insert into Table_3 VALUES ("4/25/18","EUR","75.2121")
("4/26/18","EUR","75.3281")
insert into Table_3 VALUES ("4/26/18","EUR","75.3281")
("4/27/18","EUR","76.1812")
insert into Table_3 VALUES ("4/27/18","EUR","76.1812")
("4/28/18","EUR","75.7605")
insert into Table_3 VALUES ("4/28/18","EUR","75.7605")
("4/29/18","EUR","75.2056")
insert into Table_3 VALUES ("4/29/18","EUR","75.2056")
("5/4/18","EUR","76.1261")
insert into Table_3 VALUES ("5/4/18","EUR","76.1261")
("5/5/18","EUR","75.6392")
insert into Table_3 VALUES ("5/5/18","EUR","75.6392")
("5/8/18","EUR","74.8125")
insert into Table_3 VALUES ("5/8/18","EUR","74.8125")
("5/9/18","EUR","75.0409")
insert into Table_3 VALUES ("5/9/18","EUR","75.0409")
("5/11/18","EUR","74.1772")
insert into Table_3 VALUES ("5/11/18","EUR","74.1772")
("5/12/18","EUR","73.5145")
insert into Table_3 VALUES ("5/12/18","EUR","73.5145")
("5/15/18","EUR","73.9430")
insert into Table_3 VALUES ("5/15/18","EUR","73.9430")
("5/16/18","EUR","73.8601")
insert into Table_3 VALUES ("5/16/18","EUR","73.8601")
("5/17/18","EUR","73.7796")
insert into Table_3 VALUES ("5/17/18","EUR","73.7796")
("5/18/18","EUR","73.0236")
insert into Table_3 VALUES ("5/18/18","EUR","73.0236")
("5/19/18","EUR","73.1769")
insert into Table_3 VALUES ("5/19/18","EUR","73.1769")
("5/22/18","EUR","73.3321")
insert into Table_3 VALUES ("5/22/18","EUR","73.3321")
("5/23/18","EUR","72.2390")
insert into Table_3 VALUES ("5/23/18","EUR","72.2390")
("5/24/18","EUR","72.1826")
insert into Table_3 VALUES ("5/24/18","EUR","72.1826")
("5/25/18","EUR","72.0082")
insert into Table_3 VALUES ("5/25/18","EUR","72.0082")
("5/26/18","EUR","72.1183")
insert into Table_3 VALUES ("5/26/18","EUR","72.1183")
("5/29/18","EUR","72.8322")
insert into Table_3 VALUES ("5/29/18","EUR","72.8322")
("5/30/18","EUR","72.5269")
insert into Table_3 VALUES ("5/30/18","EUR","72.5269")
("5/31/18","EUR","72.5211")
insert into Table_3 VALUES ("5/31/18","EUR","72.5211")
("6/1/18","EUR","72.5806")
insert into Table_3 VALUES ("6/1/18","EUR","72.5806")
("6/2/18","EUR","72.7183")
insert into Table_3 VALUES ("6/2/18","EUR","72.7183")
("6/5/18","EUR","72.4384")
insert into Table_3 VALUES ("6/5/18","EUR","72.4384")
("6/6/18","EUR","72.5130")
insert into Table_3 VALUES ("6/6/18","EUR","72.5130")
("6/7/18","EUR","72.8637")
insert into Table_3 VALUES ("6/7/18","EUR","72.8637")
("6/8/18","EUR","73.0686")
insert into Table_3 VALUES ("6/8/18","EUR","73.0686")
("6/9/18","EUR","73.7916")
insert into Table_3 VALUES ("6/9/18","EUR","73.7916")
("6/10/18","EUR","73.3654")
insert into Table_3 VALUES ("6/10/18","EUR","73.3654")
("6/14/18","EUR","74.1365")
insert into Table_3 VALUES ("6/14/18","EUR","74.1365")
("6/15/18","EUR","73.5621")
insert into Table_3 VALUES ("6/15/18","EUR","73.5621")
("6/16/18","EUR","72.5329")
insert into Table_3 VALUES ("6/16/18","EUR","72.5329")
("6/19/18","EUR","73.4825")
insert into Table_3 VALUES ("6/19/18","EUR","73.4825")
("6/20/18","EUR","74.1847")
insert into Table_3 VALUES ("6/20/18","EUR","74.1847")
("6/21/18","EUR","73.6118")
insert into Table_3 VALUES ("6/21/18","EUR","73.6118")
("6/22/18","EUR","73.6871")
insert into Table_3 VALUES ("6/22/18","EUR","73.6871")
("6/23/18","EUR","73.7247")
insert into Table_3 VALUES ("6/23/18","EUR","73.7247")
("6/26/18","EUR","73.3112")

("6/29/18","EUR","73.0884")
insert into Table_3 VALUES ("6/29/18","EUR","73.0884")
("6/30/18","EUR","72.9921")
insert into Table_3 VALUES ("6/30/18","EUR","72.9921")
("7/3/18","EUR","73.4690")
insert into Table_3 VALUES ("7/3/18","EUR","73.4690")
("7/4/18","EUR","73.7012")
insert into Table_3 VALUES ("7/4/18","EUR","73.7012")
("7/5/18","EUR","73.7097")
insert into Table_3 VALUES ("7/5/18","EUR","73.7097")
("7/6/18","EUR","73.9641")
insert into Table_3 VALUES ("7/6/18","EUR","73.9641")
("7/7/18","EUR","73.9028")
insert into Table_3 VALUES ("7/7/18","EUR","73.9028")
("7/10/18","EUR","73.9365")
insert into Table_3 VALUES ("7/10/18","EUR","73.9365")
("7/11/18","EUR","73.3470")
insert into Table_3 VALUES ("7/11/18","EUR","73.3470")
("7/12/18","EUR","72.8472")
insert into Table_3 VALUES ("7/12/18","EUR","72.8472")
("7/13/18","EUR","72.6817")
insert into Table_3 VALUES ("7/13/18","EUR","72.6817")
("7/14/18","EUR","72.4659")
insert into Table_3 VALUES ("7/14/18","EUR","72.4659")
("7/17/18","EUR","72.7955")
insert into Table_3 VALUES ("7/17/18","EUR","72.7955")
("7/18/18","EUR","73.2427")
insert into Table_3 VALUES ("7/18/18","EUR","73.2427")
("7/19/18","EUR","73.1345")
insert into Table_3 VALUES ("7/19/18","EUR","73.1345")
("7/20/18","EUR","73.4808")
insert into Table_3 VALUES ("7/20/18","EUR","73.4808")
("7/21/18","EUR","73.9327")
insert into Table_3 VALUES ("7/21/18","EUR","73.9327")
("7/24/18","EUR","74.1286")
insert into Table_3 VALUES ("7/24/18","EUR","74.1286")
("7/25/18","EUR","73.5261")
insert into Table_3 VALUES ("7/25/18","EUR","73.5261")
("7/26/18","EUR","73.7510")
insert into Table_3 VALUES ("7/26/18","EUR","73.7510")
("7/27/18","EUR","73.8181")
insert into Table_3 VALUES ("7/27/18","EUR","73.8181")
("7/28/18","EUR","73.3442")
insert into Table_3 VALUES ("7/28/18","EUR","73.3442")
("7/31/18","EUR","73.2021")
insert into Table_3 VALUES ("7/31/18","EUR","73.2021")
("8/1/18","EUR","73.0738")
insert into Table_3 VALUES ("8/1/18","EUR","73.0738")
("8/2/18","EUR","73.1064")
insert into Table_3 VALUES ("8/2/18","EUR","73.1064")
("8/3/18","EUR","73.4206")
insert into Table_3 VALUES ("8/3/18","EUR","73.4206")
("8/4/18","EUR","73.4744")
insert into Table_3 VALUES ("8/4/18","EUR","73.4744")
("8/7/18","EUR","73.4095")
insert into Table_3 VALUES ("8/7/18","EUR","73.4095")
("8/8/18","EUR","73.5632")
insert into Table_3 VALUES ("8/8/18","EUR","73.5632")
("8/9/18","EUR","73.8211")
insert into Table_3 VALUES ("8/9/18","EUR","73.8211")
("8/10/18","EUR","76.8250")
insert into Table_3 VALUES ("8/10/18","EUR","76.8250")
("8/11/18","EUR","76.6760")
insert into Table_3 VALUES ("8/11/18","EUR","76.6760")
("8/14/18","EUR","77.6519")
insert into Table_3 VALUES ("8/14/18","EUR","77.6519")
("8/15/18","EUR","76.2325")
insert into Table_3 VALUES ("8/15/18","EUR","76.2325")
("8/16/18","EUR","75.2253")
insert into Table_3 VALUES ("8/16/18","EUR","75.2253")
("8/17/18","EUR","76.0576")
insert into Table_3 VALUES ("8/17/18","EUR","76.0576")
("8/18/18","EUR","76.1848")
insert into Table_3 VALUES ("8/18/18","EUR","76.1848")
("8/21/18","EUR","76.7204")
insert into Table_3 VALUES ("8/21/18","EUR","76.7204")
("8/22/18","EUR","77.3491")
insert into Table_3 VALUES ("8/22/18","EUR","77.3491")
("8/23/18","EUR","78.1983")
insert into Table_3 VALUES ("8/23/18","EUR","78.1983")
("8/24/18","EUR","79.2502")
insert into Table_3 VALUES ("8/24/18","EUR","79.2502")
("8/25/18","EUR","78.4072")
insert into Table_3 VALUES ("8/25/18","EUR","78.4072")
("8/28/18","EUR","78.2269")
insert into Table_3 VALUES ("8/28/18","EUR","78.2269")
("8/29/18","EUR","78.7600")
insert into Table_3 VALUES ("8/29/18","EUR","78.7600")
("8/30/18","EUR","79.5594")
insert into Table_3 VALUES ("8/30/18","EUR","79.5594")
("8/31/18","EUR","79.6765")
insert into Table_3 VALUES ("8/31/18","EUR","79.6765")
("9/1/18","EUR","79.4966")
insert into Table_3 VALUES ("9/1/18","EUR","79.4966")
("9/4/18","EUR","78.6376")
insert into Table_3 VALUES ("9/4/18","EUR","78.6376")
("9/5/18","EUR","79.0200")
insert into Table_3 VALUES ("9/5/18","EUR","79.0200")
("9/6/18","EUR","79.1362")
insert into Table_3 VALUES ("9/6/18","EUR","79.1362")
("9/7/18","EUR","79.3685")
insert into Table_3 VALUES ("9/7/18","EUR","79.3685")
("9/8/18","EUR","80.3562")
insert into Table_3 VALUES ("9/8/18","EUR","80.3562")
("9/11/18","EUR","80.6702")
insert into Table_3 VALUES ("9/11/18","EUR","80.6702")
("9/12/18","EUR","81.3942")
insert into Table_3 VALUES ("9/12/18","EUR","81.3942")
("9/13/18","EUR","80.6488")
insert into Table_3 VALUES ("9/13/18","EUR","80.6488")
("9/14/18","EUR","79.7699")
insert into Table_3 VALUES ("9/14/18","EUR","79.7699")
("9/15/18","EUR","79.9521")
insert into Table_3 VALUES ("9/15/18","EUR","79.9521")
("9/18/18","EUR","79.3595")
insert into Table_3 VALUES ("9/18/18","EUR","79.3595")
("9/19/18","EUR","79.1749")
insert into Table_3 VALUES ("9/19/18","EUR","79.1749")
("9/20/18","EUR","78.3613")
insert into Table_3 VALUES ("9/20/18","EUR","78.3613")
("9/21/18","EUR","77.7529")
insert into Table_3 VALUES ("9/21/18","EUR","77.7529")
("9/22/18","EUR","78.0753")
insert into Table_3 VALUES ("9/22/18","EUR","78.0753")
("9/25/18","EUR","77.6844")
insert into Table_3 VALUES ("9/25/18","EUR","77.6844")
("9/26/18","EUR","77.3832")
insert into Table_3 VALUES ("9/26/18","EUR","77.3832")
("9/27/18","EUR","77.3846")
insert into Table_3 VALUES ("9/27/18","EUR","77.3846")
("9/28/18","EUR","77.0407")
insert into Table_3 VALUES ("9/28/18","EUR","77.0407")
("9/29/18","EUR","76.2294")
insert into Table_3 VALUES ("9/29/18","EUR","76.2294")
("10/2/18","EUR","75.9877")
insert into Table_3 VALUES ("10/2/18","EUR","75.9877")
("10/3/18","EUR","75.2272")
insert into Table_3 VALUES ("10/3/18","EUR","75.2272")
("10/4/18","EUR","75.7353")
insert into Table_3 VALUES ("10/4/18","EUR","75.7353")
("10/5/18","EUR","76.0505")
insert into Table_3 VALUES ("10/5/18","EUR","76.0505")
("10/6/18","EUR","76.6610")
insert into Table_3 VALUES ("10/6/18","EUR","76.6610")
("10/9/18","EUR","76.9870")
insert into Table_3 VALUES ("10/9/18","EUR","76.9870")
("10/10/18","EUR","76.2110")
insert into Table_3 VALUES ("10/10/18","EUR","76.2110")
("10/11/18","EUR","76.0710")
insert into Table_3 VALUES ("10/11/18","EUR","76.0710")
("10/12/18","EUR","77.0824")
insert into Table_3 VALUES ("10/12/18","EUR","77.0824")
("10/13/18","EUR","76.5047")
insert into Table_3 VALUES ("10/13/18","EUR","76.5047")
("10/16/18","EUR","76.0540")
insert into Table_3 VALUES ("10/16/18","EUR","76.0540")
("10/17/18","EUR","75.9236")
insert into Table_3 VALUES ("10/17/18","EUR","75.9236")
("10/18/18","EUR","75.6512")
insert into Table_3 VALUES ("10/18/18","EUR","75.6512")
("10/19/18","EUR","75.5692")
insert into Table_3 VALUES ("10/19/18","EUR","75.5692")
("10/20/18","EUR","75.3241")
insert into Table_3 VALUES ("10/20/18","EUR","75.3241")
("10/23/18","EUR","75.3702")
insert into Table_3 VALUES ("10/23/18","EUR","75.3702")
("10/24/18","EUR","74.8584")
insert into Table_3 VALUES ("10/24/18","EUR","74.8584")
("10/25/18","EUR","75.0806")
insert into Table_3 VALUES ("10/25/18","EUR","75.0806")
("10/26/18","EUR","74.9851")
insert into Table_3 VALUES ("10/26/18","EUR","74.9851")
("10/27/18","EUR","74.6658")
insert into Table_3 VALUES ("10/27/18","EUR","74.6658")
("10/30/18","EUR","75.0399")
insert into Table_3 VALUES ("10/30/18","EUR","75.0399")
("10/31/18","EUR","74.7918")
insert into Table_3 VALUES ("10/31/18","EUR","74.7918")
("11/1/18","EUR","74.4189")
insert into Table_3 VALUES ("11/1/18","EUR","74.4189")
("11/2/18","EUR","74.5803")
insert into Table_3 VALUES ("11/2/18","EUR","74.5803")
("11/3/18","EUR","74.9906")
insert into Table_3 VALUES ("11/3/18","EUR","74.9906")
("11/7/18","EUR","75.3158")
insert into Table_3 VALUES ("11/7/18","EUR","75.3158")
("11/8/18","EUR","75.6817")
insert into Table_3 VALUES ("11/8/18","EUR","75.6817")
("11/9/18","EUR","75.6711")
insert into Table_3 VALUES ("11/9/18","EUR","75.6711")
("11/10/18","EUR","75.8076")
insert into Table_3 VALUES ("11/10/18","EUR","75.8076")
("11/13/18","EUR","76.0926")
insert into Table_3 VALUES ("11/13/18","EUR","76.0926")
("11/14/18","EUR","76.0737")
insert into Table_3 VALUES ("11/14/18","EUR","76.0737")
("11/15/18","EUR","76.7556")
insert into Table_3 VALUES ("11/15/18","EUR","76.7556")
("11/16/18","EUR","75.5358")
insert into Table_3 VALUES ("11/16/18","EUR","75.5358")
("11/17/18","EUR","74.9022")
insert into Table_3 VALUES ("11/17/18","EUR","74.9022")
("11/20/18","EUR","75.3218")
insert into Table_3 VALUES ("11/20/18","EUR","75.3218")
("11/21/18","EUR","75.1825")
insert into Table_3 VALUES ("11/21/18","EUR","75.1825")
("11/22/18","EUR","75.1483")
insert into Table_3 VALUES ("11/22/18","EUR","75.1483")
("11/23/18","EUR","74.8048")
insert into Table_3 VALUES ("11/23/18","EUR","74.8048")
("11/24/18","EUR","74.9385")
insert into Table_3 VALUES ("11/24/18","EUR","74.9385")
("11/27/18","EUR","75.5655")
insert into Table_3 VALUES ("11/27/18","EUR","75.5655")
("11/28/18","EUR","75.6217")
insert into Table_3 VALUES ("11/28/18","EUR","75.6217")
("11/29/18","EUR","75.5191")
insert into Table_3 VALUES ("11/29/18","EUR","75.5191")
("11/30/18","EUR","75.8897")
insert into Table_3 VALUES ("11/30/18","EUR","75.8897")
("12/1/18","EUR","75.7484")
insert into Table_3 VALUES ("12/1/18","EUR","75.7484")
("12/4/18","EUR","75.3874")
insert into Table_3 VALUES ("12/4/18","EUR","75.3874")
("12/5/18","EUR","75.6562")
insert into Table_3 VALUES ("12/5/18","EUR","75.6562")
("12/6/18","EUR","75.7051")
insert into Table_3 VALUES ("12/6/18","EUR","75.7051")
("12/7/18","EUR","75.6071")
insert into Table_3 VALUES ("12/7/18","EUR","75.6071")
("12/8/18","EUR","76.0777")
insert into Table_3 VALUES ("12/8/18","EUR","76.0777")
("12/11/18","EUR","75.7075")
insert into Table_3 VALUES ("12/11/18","EUR","75.7075")
("12/12/18","EUR","75.6197")
insert into Table_3 VALUES ("12/12/18","EUR","75.6197")
("12/13/18","EUR","75.2168")
insert into Table_3 VALUES ("12/13/18","EUR","75.2168")
("12/14/18","EUR","75.3916")
insert into Table_3 VALUES ("12/14/18","EUR","75.3916")
("12/15/18","EUR","75.3890")
insert into Table_3 VALUES ("12/15/18","EUR","75.3890")
("12/18/18","EUR","75.3814")
insert into Table_3 VALUES ("12/18/18","EUR","75.3814")
("12/19/18","EUR","75.7761")
insert into Table_3 VALUES ("12/19/18","EUR","75.7761")
("12/20/18","EUR","76.4742")
insert into Table_3 VALUES ("12/20/18","EUR","76.4742")
("12/21/18","EUR","76.9377")
insert into Table_3 VALUES ("12/21/18","EUR","76.9377")
("12/22/18","EUR","77.9717")
insert into Table_3 VALUES ("12/22/18","EUR","77.9717")
("12/25/18","EUR","77.8886")
insert into Table_3 VALUES ("12/25/18","EUR","77.8886")
("12/26/18","EUR","78.4309")
insert into Table_3 VALUES ("12/26/18","EUR","78.4309")
("12/27/18","EUR","78.5237")
insert into Table_3 VALUES ("12/27/18","EUR","78.5237")
("12/28/18","EUR","78.3880")
insert into Table_3 VALUES ("12/28/18","EUR","78.3880")
("12/29/18","EUR","79.6581")
insert into Table_3 VALUES ("12/29/18","EUR","79.6581")
("12/30/18","EUR","79.4605")
insert into Table_3 VALUES ("12/30/18","EUR","79.4605")
("1/10/19","EUR","76.9066")
insert into Table_3 VALUES ("1/10/19","EUR","76.9066")
("1/11/19","EUR","77.2105")
insert into Table_3 VALUES ("1/11/19","EUR","77.2105")
("1/12/19","EUR","77.1282")
insert into Table_3 VALUES ("1/12/19","EUR","77.1282")
("1/15/19","EUR","77.0692")
insert into Table_3 VALUES ("1/15/19","EUR","77.0692")
("1/16/19","EUR","76.9498")
insert into Table_3 VALUES ("1/16/19","EUR","76.9498")
("1/17/19","EUR","76.1350")
insert into Table_3 VALUES ("1/17/19","EUR","76.1350")
("1/18/19","EUR","75.6330")
insert into Table_3 VALUES ("1/18/19","EUR","75.6330")
("1/19/19","EUR","75.5841")
insert into Table_3 VALUES ("1/19/19","EUR","75.5841")
("1/22/19","EUR","75.5481")
insert into Table_3 VALUES ("1/22/19","EUR","75.5481")
("1/23/19","EUR","75.5541")
insert into Table_3 VALUES ("1/23/19","EUR","75.5541")
("1/24/19","EUR","75.3861")
insert into Table_3 VALUES ("1/24/19","EUR","75.3861")
("1/25/19","EUR","75.0306")
insert into Table_3 VALUES ("1/25/19","EUR","75.0306")
("1/26/19","EUR","74.6312")
insert into Table_3 VALUES ("1/26/19","EUR","74.6312")
("1/29/19","EUR","75.1932")
insert into Table_3 VALUES ("1/29/19","EUR","75.1932")
("1/30/19","EUR","75.8811")
insert into Table_3 VALUES ("1/30/19","EUR","75.8811")
("1/31/19","EUR","75.5706")
insert into Table_3 VALUES ("1/31/19","EUR","75.5706")
("2/1/19","EUR","75.2006")
insert into Table_3 VALUES ("2/1/19","EUR","75.2006")
("2/2/19","EUR","75.1480")
insert into Table_3 VALUES ("2/2/19","EUR","75.1480")
("2/5/19","EUR","75.0565")
insert into Table_3 VALUES ("2/5/19","EUR","75.0565")
("2/6/19","EUR","74.9127")
insert into Table_3 VALUES ("2/6/19","EUR","74.9127")
("2/7/19","EUR","74.7703")
insert into Table_3 VALUES ("2/7/19","EUR","74.7703")
("2/8/19","EUR","74.9656")
insert into Table_3 VALUES ("2/8/19","EUR","74.9656")
("2/9/19","EUR","74.8954")
insert into Table_3 VALUES ("2/9/19","EUR","74.8954")
("2/12/19","EUR","74.3243")
insert into Table_3 VALUES ("2/12/19","EUR","74.3243")
("2/13/19","EUR","74.1459")
insert into Table_3 VALUES ("2/13/19","EUR","74.1459")
("2/14/19","EUR","74.3872")
insert into Table_3 VALUES ("2/14/19","EUR","74.3872")
("2/15/19","EUR","75.0471")
insert into Table_3 VALUES ("2/15/19","EUR","75.0471")
("2/16/19","EUR","75.2492")
insert into Table_3 VALUES ("2/16/19","EUR","75.2492")
("2/19/19","EUR","74.9055")
insert into Table_3 VALUES ("2/19/19","EUR","74.9055")
("2/20/19","EUR","74.8151")
insert into Table_3 VALUES ("2/20/19","EUR","74.8151")
("2/21/19","EUR","74.6816")
insert into Table_3 VALUES ("2/21/19","EUR","74.6816")
("2/22/19","EUR","74.2963")
insert into Table_3 VALUES ("2/22/19","EUR","74.2963")
("2/23/19","EUR","74.3332")
insert into Table_3 VALUES ("2/23/19","EUR","74.3332")
("2/26/19","EUR","74.0876")
insert into Table_3 VALUES ("2/26/19","EUR","74.0876")

("2/27/19","EUR","74.4898")
insert into Table_3 VALUES ("2/27/19","EUR","74.4898")
("2/28/19","EUR","74.8249")
insert into Table_3 VALUES ("2/28/19","EUR","74.8249")
("3/1/19","EUR","74.9691")
insert into Table_3 VALUES ("3/1/19","EUR","74.9691")
("3/2/19","EUR","74.8048")
insert into Table_3 VALUES ("3/2/19","EUR","74.8048")
("3/5/19","EUR","74.7438")
insert into Table_3 VALUES ("3/5/19","EUR","74.7438")
("2/4/11","USD","29.3489")
insert into Table_3 VALUES ("2/4/11","USD","29.3489")
("2/5/11","USD","29.4136")
insert into Table_3 VALUES ("2/5/11","USD","29.4136")
("2/8/11","USD","29.3689")
insert into Table_3 VALUES ("2/8/11","USD","29.3689")
("2/9/11","USD","29.2550")
insert into Table_3 VALUES ("2/9/11","USD","29.2550")
("2/10/11","USD","29.3010")
insert into Table_3 VALUES ("2/10/11","USD","29.3010")
("2/11/11","USD","29.3535")
insert into Table_3 VALUES ("2/11/11","USD","29.3535")
("2/12/11","USD","29.3200")
insert into Table_3 VALUES ("2/12/11","USD","29.3200")
("2/15/11","USD","29.2583")
insert into Table_3 VALUES ("2/15/11","USD","29.2583")
("2/16/11","USD","29.2850")
insert into Table_3 VALUES ("2/16/11","USD","29.2850")
("2/17/11","USD","29.2735")
insert into Table_3 VALUES ("2/17/11","USD","29.2735")
("2/18/11","USD","29.2447")
insert into Table_3 VALUES ("2/18/11","USD","29.2447")
("2/19/11","USD","29.2585")
insert into Table_3 VALUES ("2/19/11","USD","29.2585")
("2/22/11","USD","29.1549")
insert into Table_3 VALUES ("2/22/11","USD","29.1549")
("2/23/11","USD","29.2859")
insert into Table_3 VALUES ("2/23/11","USD","29.2859")
("2/25/11","USD","29.1611")
insert into Table_3 VALUES ("2/25/11","USD","29.1611")
("2/26/11","USD","28.9405")
insert into Table_3 VALUES ("2/26/11","USD","28.9405")
("3/1/11","USD","28.9028")
insert into Table_3 VALUES ("3/1/11","USD","28.9028")
("3/2/11","USD","28.7569")
insert into Table_3 VALUES ("3/2/11","USD","28.7569")
("3/3/11","USD","28.6277")
insert into Table_3 VALUES ("3/3/11","USD","28.6277")
("3/4/11","USD","28.3228")
insert into Table_3 VALUES ("3/4/11","USD","28.3228")
("3/5/11","USD","28.1880")
insert into Table_3 VALUES ("3/5/11","USD","28.1880")
("3/6/11","USD","28.1717")
insert into Table_3 VALUES ("3/6/11","USD","28.1717")
("3/10/11","USD","28.2945")
insert into Table_3 VALUES ("3/10/11","USD","28.2945")
("3/11/11","USD","28.4356")
insert into Table_3 VALUES ("3/11/11","USD","28.4356")
("3/12/11","USD","28.6317")
insert into Table_3 VALUES ("3/12/11","USD","28.6317")
("3/15/11","USD","28.6640")
insert into Table_3 VALUES ("3/15/11","USD","28.6640")
("3/16/11","USD","28.7263")
insert into Table_3 VALUES ("3/16/11","USD","28.7263")
("3/17/11","USD","28.6582")
insert into Table_3 VALUES ("3/17/11","USD","28.6582")
("3/18/11","USD","28.7422")
insert into Table_3 VALUES ("3/18/11","USD","28.7422")
("3/19/11","USD","28.4763")
insert into Table_3 VALUES ("3/19/11","USD","28.4763")
("3/22/11","USD","28.3675")
insert into Table_3 VALUES ("3/22/11","USD","28.3675")
("3/23/11","USD","28.1561")
insert into Table_3 VALUES ("3/23/11","USD","28.1561")
("3/24/11","USD","28.2700")
insert into Table_3 VALUES ("3/24/11","USD","28.2700")
("3/25/11","USD","28.4015")
insert into Table_3 VALUES ("3/25/11","USD","28.4015")
("3/26/11","USD","28.2237")
insert into Table_3 VALUES ("3/26/11","USD","28.2237")
("3/29/11","USD","28.4110")
insert into Table_3 VALUES ("3/29/11","USD","28.4110")
("3/30/11","USD","28.3436")
insert into Table_3 VALUES ("3/30/11","USD","28.3436")
("3/31/11","USD","28.4290")
insert into Table_3 VALUES ("3/31/11","USD","28.4290")
("4/1/11","USD","28.5162")
insert into Table_3 VALUES ("4/1/11","USD","28.5162")
("4/2/11","USD","28.3684")
insert into Table_3 VALUES ("4/2/11","USD","28.3684")
("4/5/11","USD","28.2277")
insert into Table_3 VALUES ("4/5/11","USD","28.2277")
("4/6/11","USD","28.3113")
insert into Table_3 VALUES ("4/6/11","USD","28.3113")
("4/7/11","USD","28.2164")
insert into Table_3 VALUES ("4/7/11","USD","28.2164")
("4/8/11","USD","28.2286")
insert into Table_3 VALUES ("4/8/11","USD","28.2286")
("4/9/11","USD","28.1211")
insert into Table_3 VALUES ("4/9/11","USD","28.1211")
("4/12/11","USD","27.9758")
insert into Table_3 VALUES ("4/12/11","USD","27.9758")
("4/13/11","USD","28.1456")
insert into Table_3 VALUES ("4/13/11","USD","28.1456")
("4/14/11","USD","28.1145")
insert into Table_3 VALUES ("4/14/11","USD","28.1145")
("4/15/11","USD","28.1886")
insert into Table_3 VALUES ("4/15/11","USD","28.1886")
("4/16/11","USD","28.2212")
insert into Table_3 VALUES ("4/16/11","USD","28.2212")
("4/19/11","USD","28.1636")
insert into Table_3 VALUES ("4/19/11","USD","28.1636")
("4/20/11","USD","28.4213")
insert into Table_3 VALUES ("4/20/11","USD","28.4213")
("4/21/11","USD","28.1457")
insert into Table_3 VALUES ("4/21/11","USD","28.1457")
("4/22/11","USD","27.9398")
insert into Table_3 VALUES ("4/22/11","USD","27.9398")
("4/23/11","USD","27.9396")
insert into Table_3 VALUES ("4/23/11","USD","27.9396")
("4/26/11","USD","27.9924")
insert into Table_3 VALUES ("4/26/11","USD","27.9924")
("4/27/11","USD","27.8964")
insert into Table_3 VALUES ("4/27/11","USD","27.8964")
("4/28/11","USD","27.7144")
insert into Table_3 VALUES ("4/28/11","USD","27.7144")
("4/29/11","USD","27.4977")
insert into Table_3 VALUES ("4/29/11","USD","27.4977")
("4/30/11","USD","27.5022")
insert into Table_3 VALUES ("4/30/11","USD","27.5022")
("5/4/11","USD","27.3348")
insert into Table_3 VALUES ("5/4/11","USD","27.3348")
("5/5/11","USD","27.3675")
insert into Table_3 VALUES ("5/5/11","USD","27.3675")
("5/6/11","USD","27.2625")
insert into Table_3 VALUES ("5/6/11","USD","27.2625")
("5/7/11","USD","27.6635")
insert into Table_3 VALUES ("5/7/11","USD","27.6635")
("5/11/11","USD","27.8645")
insert into Table_3 VALUES ("5/11/11","USD","27.8645")
("5/12/11","USD","27.6288")
insert into Table_3 VALUES ("5/12/11","USD","27.6288")
("5/13/11","USD","27.9472")
insert into Table_3 VALUES ("5/13/11","USD","27.9472")
("5/14/11","USD","27.8497")
insert into Table_3 VALUES ("5/14/11","USD","27.8497")
("5/17/11","USD","28.1220")
insert into Table_3 VALUES ("5/17/11","USD","28.1220")
("5/18/11","USD","28.1177")
insert into Table_3 VALUES ("5/18/11","USD","28.1177")
("5/19/11","USD","28.0466")
insert into Table_3 VALUES ("5/19/11","USD","28.0466")
("5/20/11","USD","27.9608")
insert into Table_3 VALUES ("5/20/11","USD","27.9608")
("5/21/11","USD","27.9145")
insert into Table_3 VALUES ("5/21/11","USD","27.9145")
("5/24/11","USD","28.3418")
insert into Table_3 VALUES ("5/24/11","USD","28.3418")
("5/25/11","USD","28.4370")
insert into Table_3 VALUES ("5/25/11","USD","28.4370")
("5/26/11","USD","28.4794")
insert into Table_3 VALUES ("5/26/11","USD","28.4794")
("5/27/11","USD","28.2280")
insert into Table_3 VALUES ("5/27/11","USD","28.2280")
("5/28/11","USD","28.1166")
insert into Table_3 VALUES ("5/28/11","USD","28.1166")
("5/31/11","USD","28.0685")
insert into Table_3 VALUES ("5/31/11","USD","28.0685")
("6/1/11","USD","27.9805")
insert into Table_3 VALUES ("6/1/11","USD","27.9805")
("6/2/11","USD","27.9682")
insert into Table_3 VALUES ("6/2/11","USD","27.9682")
("6/3/11","USD","28.0419")
insert into Table_3 VALUES ("6/3/11","USD","28.0419")
("6/4/11","USD","27.8751")
insert into Table_3 VALUES ("6/4/11","USD","27.8751")
("6/7/11","USD","27.7752")
insert into Table_3 VALUES ("6/7/11","USD","27.7752")
("6/8/11","USD","27.7814")
insert into Table_3 VALUES ("6/8/11","USD","27.7814")
("6/9/11","USD","27.6847")
insert into Table_3 VALUES ("6/9/11","USD","27.6847")
("6/10/11","USD","27.7033")
insert into Table_3 VALUES ("6/10/11","USD","27.7033")
("6/11/11","USD","27.7907")
insert into Table_3 VALUES ("6/11/11","USD","27.7907")
("6/15/11","USD","27.8984")
insert into Table_3 VALUES ("6/15/11","USD","27.8984")
("6/16/11","USD","27.8957")
insert into Table_3 VALUES ("6/16/11","USD","27.8957")
("6/17/11","USD","28.1900")
insert into Table_3 VALUES ("6/17/11","USD","28.1900")
("6/18/11","USD","28.1778")
insert into Table_3 VALUES ("6/18/11","USD","28.1778")
("6/21/11","USD","28.1783")
insert into Table_3 VALUES ("6/21/11","USD","28.1783")
("6/22/11","USD","28.0118")
insert into Table_3 VALUES ("6/22/11","USD","28.0118")
("6/23/11","USD","27.8960")
insert into Table_3 VALUES ("6/23/11","USD","27.8960")
("6/24/11","USD","28.0568")
insert into Table_3 VALUES ("6/24/11","USD","28.0568")
("6/25/11","USD","28.1655")
insert into Table_3 VALUES ("6/25/11","USD","28.1655")
("6/28/11","USD","28.3478")
insert into Table_3 VALUES ("6/28/11","USD","28.3478")
("6/29/11","USD","28.2352")
insert into Table_3 VALUES ("6/29/11","USD","28.2352")
("6/30/11","USD","28.0758")
insert into Table_3 VALUES ("6/30/11","USD","28.0758")
("7/1/11","USD","27.8726")
insert into Table_3 VALUES ("7/1/11","USD","27.8726")
("7/2/11","USD","27.8536")
insert into Table_3 VALUES ("7/2/11","USD","27.8536")
("7/5/11","USD","27.8037")
insert into Table_3 VALUES ("7/5/11","USD","27.8037")
("7/6/11","USD","27.8622")
insert into Table_3 VALUES ("7/6/11","USD","27.8622")
("7/7/11","USD","27.8907")
insert into Table_3 VALUES ("7/7/11","USD","27.8907")
("7/8/11","USD","27.9853")
insert into Table_3 VALUES ("7/8/11","USD","27.9853")
("7/9/11","USD","27.8880")
insert into Table_3 VALUES ("7/9/11","USD","27.8880")
("7/12/11","USD","28.0839")
insert into Table_3 VALUES ("7/12/11","USD","28.0839")
("7/13/11","USD","28.3842")
insert into Table_3 VALUES ("7/13/11","USD","28.3842")
("7/14/11","USD","28.2557")
insert into Table_3 VALUES ("7/14/11","USD","28.2557")
("7/15/11","USD","28.0610")
insert into Table_3 VALUES ("7/15/11","USD","28.0610")
("7/16/11","USD","28.1277")
insert into Table_3 VALUES ("7/16/11","USD","28.1277")
("7/19/11","USD","28.1775")
insert into Table_3 VALUES ("7/19/11","USD","28.1775")
("7/20/11","USD","28.1505")
insert into Table_3 VALUES ("7/20/11","USD","28.1505")
("7/21/11","USD","28.0466")
insert into Table_3 VALUES ("7/21/11","USD","28.0466")
("7/22/11","USD","27.9080")
insert into Table_3 VALUES ("7/22/11","USD","27.9080")
("7/23/11","USD","27.7169")
insert into Table_3 VALUES ("7/23/11","USD","27.7169")
("7/26/11","USD","27.7413")
insert into Table_3 VALUES ("7/26/11","USD","27.7413")
("7/27/11","USD","27.5460")
insert into Table_3 VALUES ("7/27/11","USD","27.5460")
("7/28/11","USD","27.4439")
insert into Table_3 VALUES ("7/28/11","USD","27.4439")
("7/29/11","USD","27.5907")
insert into Table_3 VALUES ("7/29/11","USD","27.5907")
("7/30/11","USD","27.6796")
insert into Table_3 VALUES ("7/30/11","USD","27.6796")
("8/2/11","USD","27.5204")
insert into Table_3 VALUES ("8/2/11","USD","27.5204")
("8/3/11","USD","27.8154")
insert into Table_3 VALUES ("8/3/11","USD","27.8154")
("8/4/11","USD","27.8996")
insert into Table_3 VALUES ("8/4/11","USD","27.8996")
("8/5/11","USD","27.8432")
insert into Table_3 VALUES ("8/5/11","USD","27.8432")
("8/6/11","USD","28.3382")
insert into Table_3 VALUES ("8/6/11","USD","28.3382")
("8/9/11","USD","28.5210")
insert into Table_3 VALUES ("8/9/11","USD","28.5210")
("8/10/11","USD","29.4166")
insert into Table_3 VALUES ("8/10/11","USD","29.4166")
("8/11/11","USD","29.3065")
insert into Table_3 VALUES ("8/11/11","USD","29.3065")
("8/12/11","USD","29.4170")
insert into Table_3 VALUES ("8/12/11","USD","29.4170")
("8/13/11","USD","29.4452")
insert into Table_3 VALUES ("8/13/11","USD","29.4452")
("8/16/11","USD","28.8576")
insert into Table_3 VALUES ("8/16/11","USD","28.8576")
("8/17/11","USD","28.7032")
insert into Table_3 VALUES ("8/17/11","USD","28.7032")
("8/18/11","USD","28.7207")
insert into Table_3 VALUES ("8/18/11","USD","28.7207")
("8/19/11","USD","28.9115")
insert into Table_3 VALUES ("8/19/11","USD","28.9115")
("8/20/11","USD","29.2709")
insert into Table_3 VALUES ("8/20/11","USD","29.2709")
("8/23/11","USD","29.2555")
insert into Table_3 VALUES ("8/23/11","USD","29.2555")
("8/24/11","USD","28.9547")
insert into Table_3 VALUES ("8/24/11","USD","28.9547")
("8/25/11","USD","28.9037")
insert into Table_3 VALUES ("8/25/11","USD","28.9037")
("8/26/11","USD","28.8825")
insert into Table_3 VALUES ("8/26/11","USD","28.8825")
("8/27/11","USD","28.8717")
insert into Table_3 VALUES ("8/27/11","USD","28.8717")
("8/30/11","USD","28.7108")
insert into Table_3 VALUES ("8/30/11","USD","28.7108")
("8/31/11","USD","28.8569")
insert into Table_3 VALUES ("8/31/11","USD","28.8569")
("9/1/11","USD","28.9278")
insert into Table_3 VALUES ("9/1/11","USD","28.9278")
("9/2/11","USD","28.8911")
insert into Table_3 VALUES ("9/2/11","USD","28.8911")
("9/3/11","USD","29.0604")
insert into Table_3 VALUES ("9/3/11","USD","29.0604")
("9/6/11","USD","29.3436")
insert into Table_3 VALUES ("9/6/11","USD","29.3436")
("9/7/11","USD","29.6107")
insert into Table_3 VALUES ("9/7/11","USD","29.6107")
("9/8/11","USD","29.4905")
insert into Table_3 VALUES ("9/8/11","USD","29.4905")
("9/9/11","USD","29.5015")
insert into Table_3 VALUES ("9/9/11","USD","29.5015")
("9/10/11","USD","29.6904")
insert into Table_3 VALUES ("9/10/11","USD","29.6904")
("9/13/11","USD","30.3034")
insert into Table_3 VALUES ("9/13/11","USD","30.3034")
("9/14/11","USD","30.1872")
insert into Table_3 VALUES ("9/14/11","USD","30.1872")
("9/15/11","USD","30.3643")
insert into Table_3 VALUES ("9/15/11","USD","30.3643")
("9/16/11","USD","30.5042")
insert into Table_3 VALUES ("9/16/11","USD","30.5042")
("9/17/11","USD","30.5328")
insert into Table_3 VALUES ("9/17/11","USD","30.5328")
("9/20/11","USD","30.8680")
insert into Table_3 VALUES ("9/20/11","USD","30.8680")
("9/21/11","USD","31.4960")
insert into Table_3 VALUES ("9/21/11","USD","31.4960")
("9/22/11","USD","31.4122")
insert into Table_3 VALUES ("9/22/11","USD","31.4122")
("9/23/11","USD","31.9106")
insert into Table_3 VALUES ("9/23/11","USD","31.9106")
("9/24/11","USD","32.1083")
insert into Table_3 VALUES ("9/24/11","USD","32.1083")
("9/27/11","USD","32.4619")
insert into Table_3 VALUES ("9/27/11","USD","32.4619")
("9/28/11","USD","32.2201")
insert into Table_3 VALUES ("9/28/11","USD","32.2201")
("9/29/11","USD","31.8180")
insert into Table_3 VALUES ("9/29/11","USD","31.8180")
("9/30/11","USD","31.8751")
insert into Table_3 VALUES ("9/30/11","USD","31.8751")
("10/1/11","USD","32.1100")
insert into Table_3 VALUES ("10/1/11","USD","32.1100")
("10/4/11","USD","32.5890")
insert into Table_3 VALUES ("10/4/11","USD","32.5890")
("10/5/11","USD","32.6799")
insert into Table_3 VALUES ("10/5/11","USD","32.6799")
("10/6/11","USD","32.6374")
insert into Table_3 VALUES ("10/6/11","USD","32.6374")
("10/7/11","USD","32.5085")
insert into Table_3 VALUES ("10/7/11","USD","32.5085")
("10/8/11","USD","32.2005")
insert into Table_3 VALUES ("10/8/11","USD","32.2005")
("10/11/11","USD","32.0096")
insert into Table_3 VALUES ("10/11/11","USD","32.0096")
("10/12/11","USD","31.4270")
insert into Table_3 VALUES ("10/12/11","USD","31.4270")
("10/13/11","USD","31.4151")
insert into Table_3 VALUES ("10/13/11","USD","31.4151")
("10/14/11","USD","31.2014")
insert into Table_3 VALUES ("10/14/11","USD","31.2014")
("10/15/11","USD","30.9905")
insert into Table_3 VALUES ("10/15/11","USD","30.9905")
("10/18/11","USD","30.7370")
insert into Table_3 VALUES ("10/18/11","USD","30.7370")
("10/19/11","USD","30.9694")
insert into Table_3 VALUES ("10/19/11","USD","30.9694")
("10/20/11","USD","30.9257")
insert into Table_3 VALUES ("10/20/11","USD","30.9257")
("10/21/11","USD","31.3788")
insert into Table_3 VALUES ("10/21/11","USD","31.3788")
("10/22/11","USD","31.3361")
insert into Table_3 VALUES ("10/22/11","USD","31.3361")
("10/25/11","USD","30.8255")
insert into Table_3 VALUES ("10/25/11","USD","30.8255")
("10/26/11","USD","30.4971")
insert into Table_3 VALUES ("10/26/11","USD","30.4971")
("10/27/11","USD","30.5732")
insert into Table_3 VALUES ("10/27/11","USD","30.5732")
("10/28/11","USD","30.2421")
insert into Table_3 VALUES ("10/28/11","USD","30.2421")
("10/29/11","USD","29.8977")
insert into Table_3 VALUES ("10/29/11","USD","29.8977")
("11/1/11","USD","30.1245")
insert into Table_3 VALUES ("11/1/11","USD","30.1245")
("11/2/11","USD","30.6448")
insert into Table_3 VALUES ("11/2/11","USD","30.6448")
("11/3/11","USD","30.6830")
insert into Table_3 VALUES ("11/3/11","USD","30.6830")
("11/4/11","USD","30.8438")
insert into Table_3 VALUES ("11/4/11","USD","30.8438")
("11/8/11","USD","30.5694")
insert into Table_3 VALUES ("11/8/11","USD","30.5694")
("11/9/11","USD","30.5014")
insert into Table_3 VALUES ("11/9/11","USD","30.5014")
("11/10/11","USD","30.1033")
insert into Table_3 VALUES ("11/10/11","USD","30.1033")
("11/11/11","USD","30.8454")
insert into Table_3 VALUES ("11/11/11","USD","30.8454")
("11/12/11","USD","30.5282")
insert into Table_3 VALUES ("11/12/11","USD","30.5282")
("11/15/11","USD","30.2921")
insert into Table_3 VALUES ("11/15/11","USD","30.2921")

("11/16/11","USD","30.6600")
insert into Table_3 VALUES ("11/16/11","USD","30.6600")
("11/17/11","USD","30.8417")
insert into Table_3 VALUES ("11/17/11","USD","30.8417")
("11/18/11","USD","30.7337")
insert into Table_3 VALUES ("11/18/11","USD","30.7337")
("11/19/11","USD","30.9190")
insert into Table_3 VALUES ("11/19/11","USD","30.9190")
("11/22/11","USD","30.9693")
insert into Table_3 VALUES ("11/22/11","USD","30.9693")
("11/23/11","USD","31.0612")
insert into Table_3 VALUES ("11/23/11","USD","31.0612")
("11/24/11","USD","31.2133")
insert into Table_3 VALUES ("11/24/11","USD","31.2133")
("11/25/11","USD","31.4365")
insert into Table_3 VALUES ("11/25/11","USD","31.4365")
("11/26/11","USD","31.5788")
insert into Table_3 VALUES ("11/26/11","USD","31.5788")
("11/29/11","USD","31.4117")
insert into Table_3 VALUES ("11/29/11","USD","31.4117")
("11/30/11","USD","31.3216")
insert into Table_3 VALUES ("11/30/11","USD","31.3216")
("12/1/11","USD","31.4001")
insert into Table_3 VALUES ("12/1/11","USD","31.4001")
("12/2/11","USD","30.8486")
insert into Table_3 VALUES ("12/2/11","USD","30.8486")
("12/3/11","USD","30.8099")
insert into Table_3 VALUES ("12/3/11","USD","30.8099")
("12/6/11","USD","30.9068")
insert into Table_3 VALUES ("12/6/11","USD","30.9068")
("12/7/11","USD","31.1026")
insert into Table_3 VALUES ("12/7/11","USD","31.1026")
("12/8/11","USD","31.1527")
insert into Table_3 VALUES ("12/8/11","USD","31.1527")
("12/9/11","USD","31.2308")
insert into Table_3 VALUES ("12/9/11","USD","31.2308")
("12/10/11","USD","31.5691")
insert into Table_3 VALUES ("12/10/11","USD","31.5691")
("12/13/11","USD","31.4134")
insert into Table_3 VALUES ("12/13/11","USD","31.4134")
("12/14/11","USD","31.6704")
insert into Table_3 VALUES ("12/14/11","USD","31.6704")
("12/15/11","USD","31.7655")
insert into Table_3 VALUES ("12/15/11","USD","31.7655")
("12/16/11","USD","31.8957")
insert into Table_3 VALUES ("12/16/11","USD","31.8957")
("12/17/11","USD","31.7701")
insert into Table_3 VALUES ("12/17/11","USD","31.7701")
("12/20/11","USD","32.0323")
insert into Table_3 VALUES ("12/20/11","USD","32.0323")
("12/21/11","USD","32.0519")
insert into Table_3 VALUES ("12/21/11","USD","32.0519")
("12/22/11","USD","31.7645")
insert into Table_3 VALUES ("12/22/11","USD","31.7645")
("12/23/11","USD","31.5634")
insert into Table_3 VALUES ("12/23/11","USD","31.5634")
("12/24/11","USD","31.2575")
insert into Table_3 VALUES ("12/24/11","USD","31.2575")
("12/27/11","USD","31.2266")
insert into Table_3 VALUES ("12/27/11","USD","31.2266")
("12/28/11","USD","31.0847")
insert into Table_3 VALUES ("12/28/11","USD","31.0847")
("12/29/11","USD","31.5633")
insert into Table_3 VALUES ("12/29/11","USD","31.5633")
("12/30/11","USD","32.0197")
insert into Table_3 VALUES ("12/30/11","USD","32.0197")
("12/31/11","USD","32.1961")
insert into Table_3 VALUES ("12/31/11","USD","32.1961")
("1/11/12","USD","31.8729")
insert into Table_3 VALUES ("1/11/12","USD","31.8729")
("1/12/12","USD","31.6886")
insert into Table_3 VALUES ("1/12/12","USD","31.6886")
("1/13/12","USD","31.6807")
insert into Table_3 VALUES ("1/13/12","USD","31.6807")
("1/14/12","USD","31.5830")
insert into Table_3 VALUES ("1/14/12","USD","31.5830")
("1/17/12","USD","31.9344")
insert into Table_3 VALUES ("1/17/12","USD","31.9344")
("1/18/12","USD","31.5445")
insert into Table_3 VALUES ("1/18/12","USD","31.5445")
("1/19/12","USD","31.5428")
insert into Table_3 VALUES ("1/19/12","USD","31.5428")
("1/20/12","USD","31.4777")
insert into Table_3 VALUES ("1/20/12","USD","31.4777")
("1/21/12","USD","31.2879")
insert into Table_3 VALUES ("1/21/12","USD","31.2879")
("1/24/12","USD","31.3325")
insert into Table_3 VALUES ("1/24/12","USD","31.3325")
("1/25/12","USD","30.8752")
insert into Table_3 VALUES ("1/25/12","USD","30.8752")
("1/26/12","USD","30.6670")
insert into Table_3 VALUES ("1/26/12","USD","30.6670")
("1/27/12","USD","30.3600")
insert into Table_3 VALUES ("1/27/12","USD","30.3600")
("1/28/12","USD","30.3626")
insert into Table_3 VALUES ("1/28/12","USD","30.3626")
("1/31/12","USD","30.3647")
insert into Table_3 VALUES ("1/31/12","USD","30.3647")
("2/1/12","USD","30.3131")
insert into Table_3 VALUES ("2/1/12","USD","30.3131")
("2/2/12","USD","30.4067")
insert into Table_3 VALUES ("2/2/12","USD","30.4067")
("2/3/12","USD","30.1855")
insert into Table_3 VALUES ("2/3/12","USD","30.1855")
("2/4/12","USD","30.2385")
insert into Table_3 VALUES ("2/4/12","USD","30.2385")
("2/7/12","USD","30.2324")
insert into Table_3 VALUES ("2/7/12","USD","30.2324")
("2/8/12","USD","30.0871")
insert into Table_3 VALUES ("2/8/12","USD","30.0871")
("2/9/12","USD","29.6930")
insert into Table_3 VALUES ("2/9/12","USD","29.6930")
("2/10/12","USD","29.6795")
insert into Table_3 VALUES ("2/10/12","USD","29.6795")
("2/11/12","USD","29.8923")
insert into Table_3 VALUES ("2/11/12","USD","29.8923")
("2/14/12","USD","29.8873")
insert into Table_3 VALUES ("2/14/12","USD","29.8873")
("2/15/12","USD","30.0868")
insert into Table_3 VALUES ("2/15/12","USD","30.0868")
("2/16/12","USD","29.9440")
insert into Table_3 VALUES ("2/16/12","USD","29.9440")
("2/17/12","USD","30.2098")
insert into Table_3 VALUES ("2/17/12","USD","30.2098")
("2/18/12","USD","29.9982")
insert into Table_3 VALUES ("2/18/12","USD","29.9982")
("2/21/12","USD","29.7805")
insert into Table_3 VALUES ("2/21/12","USD","29.7805")
("2/22/12","USD","29.7796")
insert into Table_3 VALUES ("2/22/12","USD","29.7796")
("2/23/12","USD","29.7692")
insert into Table_3 VALUES ("2/23/12","USD","29.7692")
("2/25/12","USD","29.4490")
insert into Table_3 VALUES ("2/25/12","USD","29.4490")
("2/28/12","USD","29.1264")
insert into Table_3 VALUES ("2/28/12","USD","29.1264")
("2/29/12","USD","28.9503")
insert into Table_3 VALUES ("2/29/12","USD","28.9503")
("3/1/12","USD","29.0253")
insert into Table_3 VALUES ("3/1/12","USD","29.0253")
("3/2/12","USD","29.2889")
insert into Table_3 VALUES ("3/2/12","USD","29.2889")
("3/3/12","USD","29.2960")
insert into Table_3 VALUES ("3/3/12","USD","29.2960")
("3/6/12","USD","29.2892")
insert into Table_3 VALUES ("3/6/12","USD","29.2892")
("3/7/12","USD","29.4508")
insert into Table_3 VALUES ("3/7/12","USD","29.4508")
("3/8/12","USD","29.6621")
insert into Table_3 VALUES ("3/8/12","USD","29.6621")
("3/12/12","USD","29.5406")
insert into Table_3 VALUES ("3/12/12","USD","29.5406")
("3/13/12","USD","29.6666")
insert into Table_3 VALUES ("3/13/12","USD","29.6666")
("3/14/12","USD","29.5091")
insert into Table_3 VALUES ("3/14/12","USD","29.5091")
("3/15/12","USD","29.5125")
insert into Table_3 VALUES ("3/15/12","USD","29.5125")
("3/16/12","USD","29.5822")
insert into Table_3 VALUES ("3/16/12","USD","29.5822")
("3/17/12","USD","29.3578")
insert into Table_3 VALUES ("3/17/12","USD","29.3578")
("3/20/12","USD","29.2224")
insert into Table_3 VALUES ("3/20/12","USD","29.2224")
("3/21/12","USD","29.1652")
insert into Table_3 VALUES ("3/21/12","USD","29.1652")
("3/22/12","USD","29.2079")
insert into Table_3 VALUES ("3/22/12","USD","29.2079")
("3/23/12","USD","29.2447")
insert into Table_3 VALUES ("3/23/12","USD","29.2447")
("3/24/12","USD","29.4038")
insert into Table_3 VALUES ("3/24/12","USD","29.4038")
("3/27/12","USD","29.2311")
insert into Table_3 VALUES ("3/27/12","USD","29.2311")
("3/28/12","USD","28.9468")
insert into Table_3 VALUES ("3/28/12","USD","28.9468")
("3/29/12","USD","29.0845")
insert into Table_3 VALUES ("3/29/12","USD","29.0845")
("3/30/12","USD","29.2853")
insert into Table_3 VALUES ("3/30/12","USD","29.2853")
("3/31/12","USD","29.3282")
insert into Table_3 VALUES ("3/31/12","USD","29.3282")
("4/3/12","USD","29.3479")
insert into Table_3 VALUES ("4/3/12","USD","29.3479")
("4/4/12","USD","29.2944")
insert into Table_3 VALUES ("4/4/12","USD","29.2944")
("4/5/12","USD","29.4285")
insert into Table_3 VALUES ("4/5/12","USD","29.4285")
("4/6/12","USD","29.4303")
insert into Table_3 VALUES ("4/6/12","USD","29.4303")
("4/7/12","USD","29.4606")
insert into Table_3 VALUES ("4/7/12","USD","29.4606")
("4/10/12","USD","29.6358")
insert into Table_3 VALUES ("4/10/12","USD","29.6358")
("4/11/12","USD","29.6359")
insert into Table_3 VALUES ("4/11/12","USD","29.6359")
("4/12/12","USD","29.8033")
insert into Table_3 VALUES ("4/12/12","USD","29.8033")
("4/13/12","USD","29.5690")
insert into Table_3 VALUES ("4/13/12","USD","29.5690")
("4/14/12","USD","29.4711")
insert into Table_3 VALUES ("4/14/12","USD","29.4711")
("4/17/12","USD","29.7614")
insert into Table_3 VALUES ("4/17/12","USD","29.7614")
("4/18/12","USD","29.6368")
insert into Table_3 VALUES ("4/18/12","USD","29.6368")
("4/19/12","USD","29.4978")
insert into Table_3 VALUES ("4/19/12","USD","29.4978")
("4/20/12","USD","29.5122")
insert into Table_3 VALUES ("4/20/12","USD","29.5122")
("4/21/12","USD","29.5214")
insert into Table_3 VALUES ("4/21/12","USD","29.5214")
("4/24/12","USD","29.4880")
insert into Table_3 VALUES ("4/24/12","USD","29.4880")
("4/25/12","USD","29.4549")
insert into Table_3 VALUES ("4/25/12","USD","29.4549")
("4/26/12","USD","29.2962")
insert into Table_3 VALUES ("4/26/12","USD","29.2962")
("4/27/12","USD","29.2770")
insert into Table_3 VALUES ("4/27/12","USD","29.2770")
("4/28/12","USD","29.4234")
insert into Table_3 VALUES ("4/28/12","USD","29.4234")
("4/29/12","USD","29.3627")
insert into Table_3 VALUES ("4/29/12","USD","29.3627")
("5/3/12","USD","29.3708")
insert into Table_3 VALUES ("5/3/12","USD","29.3708")
("5/4/12","USD","29.4630")
insert into Table_3 VALUES ("5/4/12","USD","29.4630")
("5/5/12","USD","29.5937")
insert into Table_3 VALUES ("5/5/12","USD","29.5937")
("5/6/12","USD","29.8075")
insert into Table_3 VALUES ("5/6/12","USD","29.8075")
("5/11/12","USD","30.1891")
insert into Table_3 VALUES ("5/11/12","USD","30.1891")

("5/12/12","USD","30.2306")
insert into Table_3 VALUES ("5/12/12","USD","30.2306")
("5/13/12","USD","30.1793")
insert into Table_3 VALUES ("5/13/12","USD","30.1793")
("5/15/12","USD","30.2652")
insert into Table_3 VALUES ("5/15/12","USD","30.2652")
("5/16/12","USD","30.3299")
insert into Table_3 VALUES ("5/16/12","USD","30.3299")
("5/17/12","USD","30.9758")
insert into Table_3 VALUES ("5/17/12","USD","30.9758")
("5/18/12","USD","30.9417")
insert into Table_3 VALUES ("5/18/12","USD","30.9417")
("5/19/12","USD","31.3921")
insert into Table_3 VALUES ("5/19/12","USD","31.3921")
("5/22/12","USD","31.1582")
insert into Table_3 VALUES ("5/22/12","USD","31.1582")
("5/23/12","USD","31.0644")
insert into Table_3 VALUES ("5/23/12","USD","31.0644")
("5/24/12","USD","31.3803")
insert into Table_3 VALUES ("5/24/12","USD","31.3803")
("5/25/12","USD","31.6247")
insert into Table_3 VALUES ("5/25/12","USD","31.6247")
("5/26/12","USD","31.7572")
insert into Table_3 VALUES ("5/26/12","USD","31.7572")
("5/29/12","USD","31.8270")
insert into Table_3 VALUES ("5/29/12","USD","31.8270")
("5/30/12","USD","32.0860")
insert into Table_3 VALUES ("5/30/12","USD","32.0860")
("5/31/12","USD","32.4509")
insert into Table_3 VALUES ("5/31/12","USD","32.4509")
("6/1/12","USD","32.9173")
insert into Table_3 VALUES ("6/1/12","USD","32.9173")
("6/2/12","USD","33.7384")
insert into Table_3 VALUES ("6/2/12","USD","33.7384")
("6/5/12","USD","34.0395")
insert into Table_3 VALUES ("6/5/12","USD","34.0395")
("6/6/12","USD","33.2001")
insert into Table_3 VALUES ("6/6/12","USD","33.2001")
("6/7/12","USD","32.7889")
insert into Table_3 VALUES ("6/7/12","USD","32.7889")
("6/8/12","USD","32.1922")
insert into Table_3 VALUES ("6/8/12","USD","32.1922")
("6/9/12","USD","32.7358")
insert into Table_3 VALUES ("6/9/12","USD","32.7358")
("6/10/12","USD","32.5862")
insert into Table_3 VALUES ("6/10/12","USD","32.5862")
("6/14/12","USD","32.7331")
insert into Table_3 VALUES ("6/14/12","USD","32.7331")
("6/15/12","USD","32.5766")
insert into Table_3 VALUES ("6/15/12","USD","32.5766")
("6/16/12","USD","32.3945")
insert into Table_3 VALUES ("6/16/12","USD","32.3945")
("6/19/12","USD","32.1315")
insert into Table_3 VALUES ("6/19/12","USD","32.1315")
("6/20/12","USD","32.5315")
insert into Table_3 VALUES ("6/20/12","USD","32.5315")
("6/21/12","USD","32.5166")
insert into Table_3 VALUES ("6/21/12","USD","32.5166")
("6/22/12","USD","32.9054")
insert into Table_3 VALUES ("6/22/12","USD","32.9054")
("6/23/12","USD","33.5191")
insert into Table_3 VALUES ("6/23/12","USD","33.5191")
("6/26/12","USD","33.1693")
insert into Table_3 VALUES ("6/26/12","USD","33.1693")
("6/27/12","USD","33.1732")
insert into Table_3 VALUES ("6/27/12","USD","33.1732")
("6/28/12","USD","32.8384")
insert into Table_3 VALUES ("6/28/12","USD","32.8384")
("6/29/12","USD","32.9412")
insert into Table_3 VALUES ("6/29/12","USD","32.9412")
("6/30/12","USD","32.8169")
insert into Table_3 VALUES ("6/30/12","USD","32.8169")
("7/3/12","USD","32.5287")
insert into Table_3 VALUES ("7/3/12","USD","32.5287")
("7/4/12","USD","32.4789")
insert into Table_3 VALUES ("7/4/12","USD","32.4789")
("7/5/12","USD","32.2065")
insert into Table_3 VALUES ("7/5/12","USD","32.2065")
("7/6/12","USD","32.4727")
insert into Table_3 VALUES ("7/6/12","USD","32.4727")
("7/7/12","USD","32.6240")
insert into Table_3 VALUES ("7/7/12","USD","32.6240")
("7/10/12","USD","32.9907")
insert into Table_3 VALUES ("7/10/12","USD","32.9907")
("7/11/12","USD","32.9754")
insert into Table_3 VALUES ("7/11/12","USD","32.9754")
("7/12/12","USD","32.8282")
insert into Table_3 VALUES ("7/12/12","USD","32.8282")
("7/13/12","USD","32.7177")
insert into Table_3 VALUES ("7/13/12","USD","32.7177")
("7/14/12","USD","32.6590")
insert into Table_3 VALUES ("7/14/12","USD","32.6590")
("7/17/12","USD","32.6208")
insert into Table_3 VALUES ("7/17/12","USD","32.6208")
("7/18/12","USD","32.4955")
insert into Table_3 VALUES ("7/18/12","USD","32.4955")
("7/19/12","USD","32.4041")
insert into Table_3 VALUES ("7/19/12","USD","32.4041")
("7/20/12","USD","32.0764")
insert into Table_3 VALUES ("7/20/12","USD","32.0764")
("7/21/12","USD","31.9509")
insert into Table_3 VALUES ("7/21/12","USD","31.9509")
("7/24/12","USD","32.3760")
insert into Table_3 VALUES ("7/24/12","USD","32.3760")
("7/25/12","USD","32.6324")
insert into Table_3 VALUES ("7/25/12","USD","32.6324")
("7/26/12","USD","32.9657")
insert into Table_3 VALUES ("7/26/12","USD","32.9657")
("7/27/12","USD","32.6224")
insert into Table_3 VALUES ("7/27/12","USD","32.6224")
("7/28/12","USD","32.2131")
insert into Table_3 VALUES ("7/28/12","USD","32.2131")
("7/31/12","USD","32.1881")
insert into Table_3 VALUES ("7/31/12","USD","32.1881")
("8/1/12","USD","32.2058")
insert into Table_3 VALUES ("8/1/12","USD","32.2058")
("8/2/12","USD","32.3322")
insert into Table_3 VALUES ("8/2/12","USD","32.3322")
("8/3/12","USD","32.4563")
insert into Table_3 VALUES ("8/3/12","USD","32.4563")
("8/4/12","USD","32.5361")
insert into Table_3 VALUES ("8/4/12","USD","32.5361")
("8/7/12","USD","31.9451")
insert into Table_3 VALUES ("8/7/12","USD","31.9451")
("8/8/12","USD","31.6644")
insert into Table_3 VALUES ("8/8/12","USD","31.6644")
("8/9/12","USD","31.6907")
insert into Table_3 VALUES ("8/9/12","USD","31.6907")
("8/10/12","USD","31.4807")
insert into Table_3 VALUES ("8/10/12","USD","31.4807")
("8/11/12","USD","31.8974")
insert into Table_3 VALUES ("8/11/12","USD","31.8974")
("8/14/12","USD","31.8707")
insert into Table_3 VALUES ("8/14/12","USD","31.8707")
("8/15/12","USD","31.7739")
insert into Table_3 VALUES ("8/15/12","USD","31.7739")
("8/16/12","USD","31.8532")
insert into Table_3 VALUES ("8/16/12","USD","31.8532")
("8/17/12","USD","31.9011")
insert into Table_3 VALUES ("8/17/12","USD","31.9011")
("8/18/12","USD","31.8469")
insert into Table_3 VALUES ("8/18/12","USD","31.8469")
("8/21/12","USD","32.0165")
insert into Table_3 VALUES ("8/21/12","USD","32.0165")
("8/22/12","USD","31.9606")
insert into Table_3 VALUES ("8/22/12","USD","31.9606")
("8/23/12","USD","31.8056")
insert into Table_3 VALUES ("8/23/12","USD","31.8056")
("8/24/12","USD","31.6830")
insert into Table_3 VALUES ("8/24/12","USD","31.6830")
("8/25/12","USD","31.8099")
insert into Table_3 VALUES ("8/25/12","USD","31.8099")
("8/28/12","USD","31.8703")
insert into Table_3 VALUES ("8/28/12","USD","31.8703")
("8/29/12","USD","32.0183")
insert into Table_3 VALUES ("8/29/12","USD","32.0183")
("8/30/12","USD","32.0942")
insert into Table_3 VALUES ("8/30/12","USD","32.0942")
("8/31/12","USD","32.2934")
insert into Table_3 VALUES ("8/31/12","USD","32.2934")
("9/1/12","USD","32.5669")
insert into Table_3 VALUES ("9/1/12","USD","32.5669")
("9/4/12","USD","32.4171")
insert into Table_3 VALUES ("9/4/12","USD","32.4171")
("9/5/12","USD","32.1995")
insert into Table_3 VALUES ("9/5/12","USD","32.1995")
("9/6/12","USD","32.4608")
insert into Table_3 VALUES ("9/6/12","USD","32.4608")
("9/7/12","USD","32.1998")
insert into Table_3 VALUES ("9/7/12","USD","32.1998")
("9/8/12","USD","32.0142")
insert into Table_3 VALUES ("9/8/12","USD","32.0142")
("9/11/12","USD","31.7221")
insert into Table_3 VALUES ("9/11/12","USD","31.7221")
("9/12/12","USD","31.7768")
insert into Table_3 VALUES ("9/12/12","USD","31.7768")
("9/13/12","USD","31.4780")
insert into Table_3 VALUES ("9/13/12","USD","31.4780")
("9/14/12","USD","31.3992")
insert into Table_3 VALUES ("9/14/12","USD","31.3992")
("9/15/12","USD","30.8181")
insert into Table_3 VALUES ("9/15/12","USD","30.8181")
("9/18/12","USD","30.5867")
insert into Table_3 VALUES ("9/18/12","USD","30.5867")
("9/19/12","USD","30.8795")
insert into Table_3 VALUES ("9/19/12","USD","30.8795")
("9/20/12","USD","30.8634")
insert into Table_3 VALUES ("9/20/12","USD","30.8634")
("9/21/12","USD","31.5758")
insert into Table_3 VALUES ("9/21/12","USD","31.5758")
("9/22/12","USD","31.1667")
insert into Table_3 VALUES ("9/22/12","USD","31.1667")
("9/25/12","USD","31.2513")
insert into Table_3 VALUES ("9/25/12","USD","31.2513")
("9/26/12","USD","31.1608")
insert into Table_3 VALUES ("9/26/12","USD","31.1608")
("9/27/12","USD","31.2221")
insert into Table_3 VALUES ("9/27/12","USD","31.2221")
("9/28/12","USD","31.1951")
insert into Table_3 VALUES ("9/28/12","USD","31.1951")
("9/29/12","USD","30.9169")
insert into Table_3 VALUES ("9/29/12","USD","30.9169")
("10/2/12","USD","31.2538")
insert into Table_3 VALUES ("10/2/12","USD","31.2538")
("10/3/12","USD","31.1350")
insert into Table_3 VALUES ("10/3/12","USD","31.1350")
("10/4/12","USD","31.1944")
insert into Table_3 VALUES ("10/4/12","USD","31.1944")
("10/5/12","USD","31.1210")
insert into Table_3 VALUES ("10/5/12","USD","31.1210")
("10/6/12","USD","30.9744")
insert into Table_3 VALUES ("10/6/12","USD","30.9744")
("10/9/12","USD","31.0777")
insert into Table_3 VALUES ("10/9/12","USD","31.0777")
("10/10/12","USD","31.0994")
insert into Table_3 VALUES ("10/10/12","USD","31.0994")
("10/11/12","USD","31.2017")
insert into Table_3 VALUES ("10/11/12","USD","31.2017")

("10/12/12","USD","31.1667")
insert into Table_3 VALUES ("10/12/12","USD","31.1667")
("10/13/12","USD","30.9738")
insert into Table_3 VALUES ("10/13/12","USD","30.9738")
("10/16/12","USD","31.0791")
insert into Table_3 VALUES ("10/16/12","USD","31.0791")
("10/17/12","USD","30.9493")
insert into Table_3 VALUES ("10/17/12","USD","30.9493")
("10/18/12","USD","30.7964")
insert into Table_3 VALUES ("10/18/12","USD","30.7964")
("10/19/12","USD","30.7195")
insert into Table_3 VALUES ("10/19/12","USD","30.7195")
("10/20/12","USD","30.7823")
insert into Table_3 VALUES ("10/20/12","USD","30.7823")
("10/23/12","USD","30.9084")
insert into Table_3 VALUES ("10/23/12","USD","30.9084")
("10/24/12","USD","31.1171")
insert into Table_3 VALUES ("10/24/12","USD","31.1171")
("10/25/12","USD","31.3039")
insert into Table_3 VALUES ("10/25/12","USD","31.3039")
("10/26/12","USD","31.2499")
insert into Table_3 VALUES ("10/26/12","USD","31.2499")
("10/27/12","USD","31.4780")
insert into Table_3 VALUES ("10/27/12","USD","31.4780")
("10/30/12","USD","31.4373")
insert into Table_3 VALUES ("10/30/12","USD","31.4373")
("10/31/12","USD","31.5252")
insert into Table_3 VALUES ("10/31/12","USD","31.5252")
("11/1/12","USD","31.3743")
insert into Table_3 VALUES ("11/1/12","USD","31.3743")
("11/2/12","USD","31.3666")
insert into Table_3 VALUES ("11/2/12","USD","31.3666")
("11/3/12","USD","31.3817")
insert into Table_3 VALUES ("11/3/12","USD","31.3817")
("11/7/12","USD","31.5195")
insert into Table_3 VALUES ("11/7/12","USD","31.5195")
("11/8/12","USD","31.3033")
insert into Table_3 VALUES ("11/8/12","USD","31.3033")
("11/9/12","USD","31.5146")
insert into Table_3 VALUES ("11/9/12","USD","31.5146")
("11/10/12","USD","31.4962")
insert into Table_3 VALUES ("11/10/12","USD","31.4962")
("11/13/12","USD","31.6053")
insert into Table_3 VALUES ("11/13/12","USD","31.6053")
("11/14/12","USD","31.7164")
insert into Table_3 VALUES ("11/14/12","USD","31.7164")
("11/15/12","USD","31.7267")
insert into Table_3 VALUES ("11/15/12","USD","31.7267")
("11/16/12","USD","31.6919")
insert into Table_3 VALUES ("11/16/12","USD","31.6919")
("11/17/12","USD","31.7184")
insert into Table_3 VALUES ("11/17/12","USD","31.7184")
("11/20/12","USD","31.6677")
insert into Table_3 VALUES ("11/20/12","USD","31.6677")
("11/21/12","USD","31.4263")
insert into Table_3 VALUES ("11/21/12","USD","31.4263")
("11/22/12","USD","31.4218")
insert into Table_3 VALUES ("11/22/12","USD","31.4218")
("11/23/12","USD","31.1525")
insert into Table_3 VALUES ("11/23/12","USD","31.1525")
("11/24/12","USD","31.1325")
insert into Table_3 VALUES ("11/24/12","USD","31.1325")
("11/27/12","USD","31.0201")
insert into Table_3 VALUES ("11/27/12","USD","31.0201")
("11/28/12","USD","30.9410")
insert into Table_3 VALUES ("11/28/12","USD","30.9410")
("11/29/12","USD","31.1408")
insert into Table_3 VALUES ("11/29/12","USD","31.1408")
("11/30/12","USD","31.0565")
insert into Table_3 VALUES ("11/30/12","USD","31.0565")
("12/1/12","USD","30.8110")
insert into Table_3 VALUES ("12/1/12","USD","30.8110")
("12/4/12","USD","30.8365")
insert into Table_3 VALUES ("12/4/12","USD","30.8365")
("12/5/12","USD","30.9940")
insert into Table_3 VALUES ("12/5/12","USD","30.9940")
("12/6/12","USD","30.8235")
insert into Table_3 VALUES ("12/6/12","USD","30.8235")
("12/7/12","USD","30.9107")
insert into Table_3 VALUES ("12/7/12","USD","30.9107")
("12/8/12","USD","30.9670")
insert into Table_3 VALUES ("12/8/12","USD","30.9670")
("12/11/12","USD","30.8686")
insert into Table_3 VALUES ("12/11/12","USD","30.8686")
("12/12/12","USD","30.7506")
insert into Table_3 VALUES ("12/12/12","USD","30.7506")
("12/13/12","USD","30.7321")
insert into Table_3 VALUES ("12/13/12","USD","30.7321")
("12/14/12","USD","30.6034")
insert into Table_3 VALUES ("12/14/12","USD","30.6034")
("12/15/12","USD","30.6892")
insert into Table_3 VALUES ("12/15/12","USD","30.6892")
("12/18/12","USD","30.7696")
insert into Table_3 VALUES ("12/18/12","USD","30.7696")
("12/19/12","USD","30.9859")
insert into Table_3 VALUES ("12/19/12","USD","30.9859")
("12/20/12","USD","30.7606")
insert into Table_3 VALUES ("12/20/12","USD","30.7606")
("12/21/12","USD","30.7592")
insert into Table_3 VALUES ("12/21/12","USD","30.7592")
("12/22/12","USD","30.7194")
insert into Table_3 VALUES ("12/22/12","USD","30.7194")
("12/25/12","USD","30.8046")
insert into Table_3 VALUES ("12/25/12","USD","30.8046")
("12/26/12","USD","30.5926")
insert into Table_3 VALUES ("12/26/12","USD","30.5926")
("12/27/12","USD","30.6150")
insert into Table_3 VALUES ("12/27/12","USD","30.6150")
("12/28/12","USD","30.4808")
insert into Table_3 VALUES ("12/28/12","USD","30.4808")
("12/29/12","USD","30.3727")
insert into Table_3 VALUES ("12/29/12","USD","30.3727")
("12/30/12","USD","30.3727")
insert into Table_3 VALUES ("12/30/12","USD","30.3727")
("1/10/13","USD","30.4215")
insert into Table_3 VALUES ("1/10/13","USD","30.4215")
("1/11/13","USD","30.3650")
insert into Table_3 VALUES ("1/11/13","USD","30.3650")
("1/12/13","USD","30.2537")
insert into Table_3 VALUES ("1/12/13","USD","30.2537")
("1/15/13","USD","30.2607")
insert into Table_3 VALUES ("1/15/13","USD","30.2607")
("1/16/13","USD","30.2556")
insert into Table_3 VALUES ("1/16/13","USD","30.2556")
("1/17/13","USD","30.3399")
insert into Table_3 VALUES ("1/17/13","USD","30.3399")
("1/18/13","USD","30.3431")
insert into Table_3 VALUES ("1/18/13","USD","30.3431")
("1/19/13","USD","30.2065")
insert into Table_3 VALUES ("1/19/13","USD","30.2065")
("1/22/13","USD","30.2970")
insert into Table_3 VALUES ("1/22/13","USD","30.2970")
("1/23/13","USD","30.1950")
insert into Table_3 VALUES ("1/23/13","USD","30.1950")
("1/24/13","USD","30.2292")
insert into Table_3 VALUES ("1/24/13","USD","30.2292")
("1/25/13","USD","30.1648")
insert into Table_3 VALUES ("1/25/13","USD","30.1648")
("1/26/13","USD","30.0451")
insert into Table_3 VALUES ("1/26/13","USD","30.0451")
("1/29/13","USD","30.0782")
insert into Table_3 VALUES ("1/29/13","USD","30.0782")
("1/30/13","USD","30.1513")
insert into Table_3 VALUES ("1/30/13","USD","30.1513")
("1/31/13","USD","30.0277")
insert into Table_3 VALUES ("1/31/13","USD","30.0277")
("2/1/13","USD","30.0161")
insert into Table_3 VALUES ("2/1/13","USD","30.0161")
("2/2/13","USD","29.9966")
insert into Table_3 VALUES ("2/2/13","USD","29.9966")
("2/5/13","USD","29.9251")
insert into Table_3 VALUES ("2/5/13","USD","29.9251")
("2/6/13","USD","30.1231")
insert into Table_3 VALUES ("2/6/13","USD","30.1231")
("2/7/13","USD","29.9598")
insert into Table_3 VALUES ("2/7/13","USD","29.9598")
("2/8/13","USD","30.0496")
insert into Table_3 VALUES ("2/8/13","USD","30.0496")
("2/9/13","USD","30.1575")
insert into Table_3 VALUES ("2/9/13","USD","30.1575")
("2/12/13","USD","30.1590")
insert into Table_3 VALUES ("2/12/13","USD","30.1590")
("2/13/13","USD","30.1713")
insert into Table_3 VALUES ("2/13/13","USD","30.1713")
("2/14/13","USD","30.0692")
insert into Table_3 VALUES ("2/14/13","USD","30.0692")
("2/15/13","USD","30.0773")
insert into Table_3 VALUES ("2/15/13","USD","30.0773")
("2/16/13","USD","30.1139")
insert into Table_3 VALUES ("2/16/13","USD","30.1139")
("2/19/13","USD","30.1258")
insert into Table_3 VALUES ("2/19/13","USD","30.1258")
("2/20/13","USD","30.1277")
insert into Table_3 VALUES ("2/20/13","USD","30.1277")
("2/21/13","USD","30.0502")
insert into Table_3 VALUES ("2/21/13","USD","30.0502")
("2/22/13","USD","30.2337")
insert into Table_3 VALUES ("2/22/13","USD","30.2337")
("2/23/13","USD","30.3596")
insert into Table_3 VALUES ("2/23/13","USD","30.3596")
("2/26/13","USD","30.3368")
insert into Table_3 VALUES ("2/26/13","USD","30.3368")
("2/27/13","USD","30.5889")
insert into Table_3 VALUES ("2/27/13","USD","30.5889")
("2/28/13","USD","30.6202")
insert into Table_3 VALUES ("2/28/13","USD","30.6202")
("3/1/13","USD","30.5124")
insert into Table_3 VALUES ("3/1/13","USD","30.5124")
("3/2/13","USD","30.6381")
insert into Table_3 VALUES ("3/2/13","USD","30.6381")
("3/5/13","USD","30.7870")
insert into Table_3 VALUES ("3/5/13","USD","30.7870")
("3/6/13","USD","30.6963")
insert into Table_3 VALUES ("3/6/13","USD","30.6963")
("3/7/13","USD","30.6214")
insert into Table_3 VALUES ("3/7/13","USD","30.6214")
("3/8/13","USD","30.7628")
insert into Table_3 VALUES ("3/8/13","USD","30.7628")
("3/12/13","USD","30.7576")
insert into Table_3 VALUES ("3/12/13","USD","30.7576")
("3/13/13","USD","30.7499")
insert into Table_3 VALUES ("3/13/13","USD","30.7499")
("3/14/13","USD","30.7209")
insert into Table_3 VALUES ("3/14/13","USD","30.7209")
("3/15/13","USD","30.7769")
insert into Table_3 VALUES ("3/15/13","USD","30.7769")
("3/16/13","USD","30.7196")
insert into Table_3 VALUES ("3/16/13","USD","30.7196")
("3/19/13","USD","30.8908")
insert into Table_3 VALUES ("3/19/13","USD","30.8908")
("3/20/13","USD","30.8285")
insert into Table_3 VALUES ("3/20/13","USD","30.8285")
("3/21/13","USD","30.9446")
insert into Table_3 VALUES ("3/21/13","USD","30.9446")
("3/22/13","USD","30.8923")
insert into Table_3 VALUES ("3/22/13","USD","30.8923")
("3/23/13","USD","30.9325")
insert into Table_3 VALUES ("3/23/13","USD","30.9325")
("3/26/13","USD","30.7585")
insert into Table_3 VALUES ("3/26/13","USD","30.7585")
("3/27/13","USD","30.8734")
insert into Table_3 VALUES ("3/27/13","USD","30.8734")
("3/28/13","USD","30.8630")
insert into Table_3 VALUES ("3/28/13","USD","30.8630")
("3/29/13","USD","30.9962")
insert into Table_3 VALUES ("3/29/13","USD","30.9962")
("3/30/13","USD","31.0834")
insert into Table_3 VALUES ("3/30/13","USD","31.0834")
("4/2/13","USD","31.1093")
insert into Table_3 VALUES ("4/2/13","USD","31.1093")
("4/3/13","USD","31.1178")
insert into Table_3 VALUES ("4/3/13","USD","31.1178")
("4/4/13","USD","31.3918")
insert into Table_3 VALUES ("4/4/13","USD","31.3918")
("4/5/13","USD","31.7203")
insert into Table_3 VALUES ("4/5/13","USD","31.7203")
("4/6/13","USD","31.6207")
insert into Table_3 VALUES ("4/6/13","USD","31.6207")
("4/9/13","USD","31.6144")
insert into Table_3 VALUES ("4/9/13","USD","31.6144")
("4/10/13","USD","31.2086")
insert into Table_3 VALUES ("4/10/13","USD","31.2086")
("4/11/13","USD","31.0036")
insert into Table_3 VALUES ("4/11/13","USD","31.0036")
("4/12/13","USD","30.8814")
insert into Table_3 VALUES ("4/12/13","USD","30.8814")
("4/13/13","USD","30.9308")
insert into Table_3 VALUES ("4/13/13","USD","30.9308")
("4/16/13","USD","31.3051")
insert into Table_3 VALUES ("4/16/13","USD","31.3051")
("4/17/13","USD","31.4512")
insert into Table_3 VALUES ("4/17/13","USD","31.4512")
("4/18/13","USD","31.2320")
insert into Table_3 VALUES ("4/18/13","USD","31.2320")
("4/19/13","USD","31.7151")
insert into Table_3 VALUES ("4/19/13","USD","31.7151")
("4/20/13","USD","31.4605")
insert into Table_3 VALUES ("4/20/13","USD","31.4605")
("4/23/13","USD","31.5664")
insert into Table_3 VALUES ("4/23/13","USD","31.5664")
("4/24/13","USD","31.6414")
insert into Table_3 VALUES ("4/24/13","USD","31.6414")
("4/25/13","USD","31.5917")
insert into Table_3 VALUES ("4/25/13","USD","31.5917")
("4/26/13","USD","31.3169")
insert into Table_3 VALUES ("4/26/13","USD","31.3169")
("4/27/13","USD","31.2196")
insert into Table_3 VALUES ("4/27/13","USD","31.2196")
("4/30/13","USD","31.2559")
insert into Table_3 VALUES ("4/30/13","USD","31.2559")
("5/1/13","USD","31.0433")
insert into Table_3 VALUES ("5/1/13","USD","31.0433")
("5/7/13","USD","31.0839")
insert into Table_3 VALUES ("5/7/13","USD","31.0839")
("5/8/13","USD","31.0789")
insert into Table_3 VALUES ("5/8/13","USD","31.0789")
("5/9/13","USD","31.0829")
insert into Table_3 VALUES ("5/9/13","USD","31.0829")
("5/14/13","USD","31.3777")
insert into Table_3 VALUES ("5/14/13","USD","31.3777")
("5/15/13","USD","31.2778")
insert into Table_3 VALUES ("5/15/13","USD","31.2778")
("5/16/13","USD","31.4281")
insert into Table_3 VALUES ("5/16/13","USD","31.4281")
("5/17/13","USD","31.4166")
insert into Table_3 VALUES ("5/17/13","USD","31.4166")
("5/18/13","USD","31.3931")
insert into Table_3 VALUES ("5/18/13","USD","31.3931")
("5/21/13","USD","31.3406")
insert into Table_3 VALUES ("5/21/13","USD","31.3406")
("5/22/13","USD","31.1770")
insert into Table_3 VALUES ("5/22/13","USD","31.1770")
("5/23/13","USD","31.2280")
insert into Table_3 VALUES ("5/23/13","USD","31.2280")
("5/24/13","USD","31.4711")
insert into Table_3 VALUES ("5/24/13","USD","31.4711")
("5/25/13","USD","31.3164")
insert into Table_3 VALUES ("5/25/13","USD","31.3164")
("5/28/13","USD","31.3025")
insert into Table_3 VALUES ("5/28/13","USD","31.3025")
("5/29/13","USD","31.3784")
insert into Table_3 VALUES ("5/29/13","USD","31.3784")
("5/30/13","USD","31.5203")
insert into Table_3 VALUES ("5/30/13","USD","31.5203")
("5/31/13","USD","31.5893")
insert into Table_3 VALUES ("5/31/13","USD","31.5893")
("6/1/13","USD","31.7979")
insert into Table_3 VALUES ("6/1/13","USD","31.7979")
("6/4/13","USD","32.0487")
insert into Table_3 VALUES ("6/4/13","USD","32.0487")
("6/5/13","USD","31.8344")
insert into Table_3 VALUES ("6/5/13","USD","31.8344")
("6/6/13","USD","31.9816")
insert into Table_3 VALUES ("6/6/13","USD","31.9816")
("6/7/13","USD","32.1385")
insert into Table_3 VALUES ("6/7/13","USD","32.1385")
("6/8/13","USD","32.2397")
insert into Table_3 VALUES ("6/8/13","USD","32.2397")
("6/11/13","USD","32.3246")
insert into Table_3 VALUES ("6/11/13","USD","32.3246")

("6/12/13","USD","32.3951")
insert into Table_3 VALUES ("6/12/13","USD","32.3951")
("6/14/13","USD","32.3467")
insert into Table_3 VALUES ("6/14/13","USD","32.3467")
("6/15/13","USD","31.8029")
insert into Table_3 VALUES ("6/15/13","USD","31.8029")
("6/18/13","USD","31.6790")
insert into Table_3 VALUES ("6/18/13","USD","31.6790")
("6/19/13","USD","31.8824")
insert into Table_3 VALUES ("6/19/13","USD","31.8824")
("6/20/13","USD","32.1201")
insert into Table_3 VALUES ("6/20/13","USD","32.1201")
("6/21/13","USD","32.7041")
insert into Table_3 VALUES ("6/21/13","USD","32.7041")
("6/22/13","USD","32.7433")
insert into Table_3 VALUES ("6/22/13","USD","32.7433")
("6/25/13","USD","32.9097")
insert into Table_3 VALUES ("6/25/13","USD","32.9097")
("6/26/13","USD","32.7140")
insert into Table_3 VALUES ("6/26/13","USD","32.7140")
("6/27/13","USD","32.8876")
insert into Table_3 VALUES ("6/27/13","USD","32.8876")
("6/28/13","USD","32.8766")
insert into Table_3 VALUES ("6/28/13","USD","32.8766")
("6/29/13","USD","32.7090")
insert into Table_3 VALUES ("6/29/13","USD","32.7090")
("7/2/13","USD","32.8517")
insert into Table_3 VALUES ("7/2/13","USD","32.8517")
("7/3/13","USD","32.9475")
insert into Table_3 VALUES ("7/3/13","USD","32.9475")
("7/4/13","USD","33.2204")
insert into Table_3 VALUES ("7/4/13","USD","33.2204")
("7/5/13","USD","33.1605")
insert into Table_3 VALUES ("7/5/13","USD","33.1605")
("7/6/13","USD","33.2247")
insert into Table_3 VALUES ("7/6/13","USD","33.2247")
("7/9/13","USD","33.3210")
insert into Table_3 VALUES ("7/9/13","USD","33.3210")
("7/10/13","USD","33.0842")
insert into Table_3 VALUES ("7/10/13","USD","33.0842")
("7/11/13","USD","32.9112")
insert into Table_3 VALUES ("7/11/13","USD","32.9112")
("7/12/13","USD","32.5867")
insert into Table_3 VALUES ("7/12/13","USD","32.5867")
("7/13/13","USD","32.6429")
insert into Table_3 VALUES ("7/13/13","USD","32.6429")
("7/16/13","USD","32.6220")
insert into Table_3 VALUES ("7/16/13","USD","32.6220")
("7/17/13","USD","32.5417")
insert into Table_3 VALUES ("7/17/13","USD","32.5417")
("7/18/13","USD","32.4526")
insert into Table_3 VALUES ("7/18/13","USD","32.4526")
("7/19/13","USD","32.3998")
insert into Table_3 VALUES ("7/19/13","USD","32.3998")
("7/20/13","USD","32.4288")
insert into Table_3 VALUES ("7/20/13","USD","32.4288")
("7/23/13","USD","32.3236")
insert into Table_3 VALUES ("7/23/13","USD","32.3236")
("7/24/13","USD","32.3106")
insert into Table_3 VALUES ("7/24/13","USD","32.3106")
("7/25/13","USD","32.3462")
insert into Table_3 VALUES ("7/25/13","USD","32.3462")
("7/26/13","USD","32.5376")
insert into Table_3 VALUES ("7/26/13","USD","32.5376")
("7/27/13","USD","32.6371")
insert into Table_3 VALUES ("7/27/13","USD","32.6371")
("7/30/13","USD","32.8556")
insert into Table_3 VALUES ("7/30/13","USD","32.8556")
("7/31/13","USD","32.8901")
insert into Table_3 VALUES ("7/31/13","USD","32.8901")
("8/1/13","USD","33.0330")
insert into Table_3 VALUES ("8/1/13","USD","33.0330")
("8/2/13","USD","32.9741")
insert into Table_3 VALUES ("8/2/13","USD","32.9741")
("8/3/13","USD","33.0978")
insert into Table_3 VALUES ("8/3/13","USD","33.0978")
("8/6/13","USD","32.8811")
insert into Table_3 VALUES ("8/6/13","USD","32.8811")
("8/7/13","USD","32.9390")
insert into Table_3 VALUES ("8/7/13","USD","32.9390")
("8/8/13","USD","32.9848")
insert into Table_3 VALUES ("8/8/13","USD","32.9848")
("8/9/13","USD","32.9401")
insert into Table_3 VALUES ("8/9/13","USD","32.9401")
("8/10/13","USD","32.8606")
insert into Table_3 VALUES ("8/10/13","USD","32.8606")
("8/13/13","USD","32.8910")
insert into Table_3 VALUES ("8/13/13","USD","32.8910")
("8/14/13","USD","33.0426")
insert into Table_3 VALUES ("8/14/13","USD","33.0426")
("8/15/13","USD","33.1583")
insert into Table_3 VALUES ("8/15/13","USD","33.1583")
("8/16/13","USD","33.0004")
insert into Table_3 VALUES ("8/16/13","USD","33.0004")
("8/17/13","USD","32.9421")
insert into Table_3 VALUES ("8/17/13","USD","32.9421")
("8/20/13","USD","32.9226")
insert into Table_3 VALUES ("8/20/13","USD","32.9226")
("8/21/13","USD","33.0006")
insert into Table_3 VALUES ("8/21/13","USD","33.0006")
("8/22/13","USD","32.9737")
insert into Table_3 VALUES ("8/22/13","USD","32.9737")
("8/23/13","USD","33.1908")
insert into Table_3 VALUES ("8/23/13","USD","33.1908")
("8/24/13","USD","33.0552")
insert into Table_3 VALUES ("8/24/13","USD","33.0552")
("8/27/13","USD","32.9564")
insert into Table_3 VALUES ("8/27/13","USD","32.9564")
("8/28/13","USD","33.1224")
insert into Table_3 VALUES ("8/28/13","USD","33.1224")
("8/29/13","USD","33.1798")
insert into Table_3 VALUES ("8/29/13","USD","33.1798")
("8/30/13","USD","33.1783")
insert into Table_3 VALUES ("8/30/13","USD","33.1783")
("8/31/13","USD","33.2474")
insert into Table_3 VALUES ("8/31/13","USD","33.2474")
("9/3/13","USD","33.2522")
insert into Table_3 VALUES ("9/3/13","USD","33.2522")
("9/4/13","USD","33.3693")
insert into Table_3 VALUES ("9/4/13","USD","33.3693")
("9/5/13","USD","33.4656")
insert into Table_3 VALUES ("9/5/13","USD","33.4656")
("9/6/13","USD","33.3901")
insert into Table_3 VALUES ("9/6/13","USD","33.3901")
("9/7/13","USD","33.4338")
insert into Table_3 VALUES ("9/7/13","USD","33.4338")
("9/10/13","USD","33.3243")
insert into Table_3 VALUES ("9/10/13","USD","33.3243")
("9/11/13","USD","33.0600")
insert into Table_3 VALUES ("9/11/13","USD","33.0600")
("9/12/13","USD","32.9629")
insert into Table_3 VALUES ("9/12/13","USD","32.9629")
("9/13/13","USD","32.6731")
insert into Table_3 VALUES ("9/13/13","USD","32.6731")
("9/14/13","USD","32.7406")
insert into Table_3 VALUES ("9/14/13","USD","32.7406")
("9/17/13","USD","32.2907")
insert into Table_3 VALUES ("9/17/13","USD","32.2907")
("9/18/13","USD","32.3237")
insert into Table_3 VALUES ("9/18/13","USD","32.3237")
("9/19/13","USD","32.2450")
insert into Table_3 VALUES ("9/19/13","USD","32.2450")
("9/20/13","USD","31.5892")
insert into Table_3 VALUES ("9/20/13","USD","31.5892")
("9/21/13","USD","31.7326")
insert into Table_3 VALUES ("9/21/13","USD","31.7326")
("9/24/13","USD","31.9106")
insert into Table_3 VALUES ("9/24/13","USD","31.9106")
("9/25/13","USD","31.8167")
insert into Table_3 VALUES ("9/25/13","USD","31.8167")
("9/26/13","USD","31.9343")
insert into Table_3 VALUES ("9/26/13","USD","31.9343")
("9/27/13","USD","32.1736")
insert into Table_3 VALUES ("9/27/13","USD","32.1736")
("9/28/13","USD","32.3451")
insert into Table_3 VALUES ("9/28/13","USD","32.3451")
("10/1/13","USD","32.4839")
insert into Table_3 VALUES ("10/1/13","USD","32.4839")
("10/2/13","USD","32.2965")
insert into Table_3 VALUES ("10/2/13","USD","32.2965")
("10/3/13","USD","32.2979")
insert into Table_3 VALUES ("10/3/13","USD","32.2979")
("10/4/13","USD","32.1250")
insert into Table_3 VALUES ("10/4/13","USD","32.1250")
("10/5/13","USD","32.1005")
insert into Table_3 VALUES ("10/5/13","USD","32.1005")
("10/8/13","USD","32.2931")
insert into Table_3 VALUES ("10/8/13","USD","32.2931")
("10/9/13","USD","32.2984")
insert into Table_3 VALUES ("10/9/13","USD","32.2984")
("10/10/13","USD","32.3619")
insert into Table_3 VALUES ("10/10/13","USD","32.3619")
("10/11/13","USD","32.3564")
insert into Table_3 VALUES ("10/11/13","USD","32.3564")
("10/12/13","USD","32.2133")
insert into Table_3 VALUES ("10/12/13","USD","32.2133")
("10/15/13","USD","32.2663")
insert into Table_3 VALUES ("10/15/13","USD","32.2663")
("10/16/13","USD","32.2676")
insert into Table_3 VALUES ("10/16/13","USD","32.2676")
("10/17/13","USD","32.2561")
insert into Table_3 VALUES ("10/17/13","USD","32.2561")
("10/18/13","USD","32.0816")
insert into Table_3 VALUES ("10/18/13","USD","32.0816")
("10/19/13","USD","31.8460")
insert into Table_3 VALUES ("10/19/13","USD","31.8460")
("10/22/13","USD","31.9013")
insert into Table_3 VALUES ("10/22/13","USD","31.9013")
("10/23/13","USD","31.9346")
insert into Table_3 VALUES ("10/23/13","USD","31.9346")
("10/24/13","USD","31.7448")
insert into Table_3 VALUES ("10/24/13","USD","31.7448")
("10/25/13","USD","31.6618")
insert into Table_3 VALUES ("10/25/13","USD","31.6618")
("10/26/13","USD","31.6775")
insert into Table_3 VALUES ("10/26/13","USD","31.6775")
("10/29/13","USD","31.8119")
insert into Table_3 VALUES ("10/29/13","USD","31.8119")
("10/30/13","USD","31.9445")
insert into Table_3 VALUES ("10/30/13","USD","31.9445")
("10/31/13","USD","32.0613")
insert into Table_3 VALUES ("10/31/13","USD","32.0613")
("11/1/13","USD","32.0758")
insert into Table_3 VALUES ("11/1/13","USD","32.0758")
("11/2/13","USD","32.1808")
insert into Table_3 VALUES ("11/2/13","USD","32.1808")
("11/6/13","USD","32.3509")
insert into Table_3 VALUES ("11/6/13","USD","32.3509")
("11/7/13","USD","32.4511")
insert into Table_3 VALUES ("11/7/13","USD","32.4511")
("11/8/13","USD","32.3803")
insert into Table_3 VALUES ("11/8/13","USD","32.3803")
("11/9/13","USD","32.5479")
insert into Table_3 VALUES ("11/9/13","USD","32.5479")
("11/12/13","USD","32.6622")
insert into Table_3 VALUES ("11/12/13","USD","32.6622")
("11/13/13","USD","32.8076")
insert into Table_3 VALUES ("11/13/13","USD","32.8076")
("11/14/13","USD","32.8184")
insert into Table_3 VALUES ("11/14/13","USD","32.8184")

("11/15/13","USD","32.6874")
insert into Table_3 VALUES ("11/15/13","USD","32.6874")
("11/16/13","USD","32.6807")
insert into Table_3 VALUES ("11/16/13","USD","32.6807")
("11/19/13","USD","32.5658")
insert into Table_3 VALUES ("11/19/13","USD","32.5658")
("11/20/13","USD","32.6098")
insert into Table_3 VALUES ("11/20/13","USD","32.6098")
("11/21/13","USD","32.7417")
insert into Table_3 VALUES ("11/21/13","USD","32.7417")
("11/22/13","USD","33.0180")
insert into Table_3 VALUES ("11/22/13","USD","33.0180")
("11/23/13","USD","32.9055")
insert into Table_3 VALUES ("11/23/13","USD","32.9055")
("11/26/13","USD","32.7733")
insert into Table_3 VALUES ("11/26/13","USD","32.7733")
("11/27/13","USD","32.9879")
insert into Table_3 VALUES ("11/27/13","USD","32.9879")
("11/28/13","USD","33.0041")
insert into Table_3 VALUES ("11/28/13","USD","33.0041")
("11/29/13","USD","33.1332")
insert into Table_3 VALUES ("11/29/13","USD","33.1332")
("11/30/13","USD","33.1916")
insert into Table_3 VALUES ("11/30/13","USD","33.1916")
("12/3/13","USD","33.1482")
insert into Table_3 VALUES ("12/3/13","USD","33.1482")
("12/4/13","USD","33.2460")
insert into Table_3 VALUES ("12/4/13","USD","33.2460")
("12/5/13","USD","33.2632")
insert into Table_3 VALUES ("12/5/13","USD","33.2632")
("12/6/13","USD","33.1140")
insert into Table_3 VALUES ("12/6/13","USD","33.1140")
("12/7/13","USD","32.9514")
insert into Table_3 VALUES ("12/7/13","USD","32.9514")
("12/10/13","USD","32.7782")
insert into Table_3 VALUES ("12/10/13","USD","32.7782")
("12/11/13","USD","32.7848")
insert into Table_3 VALUES ("12/11/13","USD","32.7848")
("12/12/13","USD","32.7315")
insert into Table_3 VALUES ("12/12/13","USD","32.7315")
("12/13/13","USD","32.7518")
insert into Table_3 VALUES ("12/13/13","USD","32.7518")
("12/14/13","USD","32.8663")
insert into Table_3 VALUES ("12/14/13","USD","32.8663")
("12/17/13","USD","32.8658")
insert into Table_3 VALUES ("12/17/13","USD","32.8658")
("12/18/13","USD","32.8646")
insert into Table_3 VALUES ("12/18/13","USD","32.8646")
("12/19/13","USD","32.9404")
insert into Table_3 VALUES ("12/19/13","USD","32.9404")
("12/20/13","USD","32.9527")
insert into Table_3 VALUES ("12/20/13","USD","32.9527")
("12/21/13","USD","32.9798")
insert into Table_3 VALUES ("12/21/13","USD","32.9798")
("12/24/13","USD","32.9506")
insert into Table_3 VALUES ("12/24/13","USD","32.9506")
("12/25/13","USD","32.6284")
insert into Table_3 VALUES ("12/25/13","USD","32.6284")
("12/26/13","USD","32.6487")
insert into Table_3 VALUES ("12/26/13","USD","32.6487")
("12/27/13","USD","32.6710")
insert into Table_3 VALUES ("12/27/13","USD","32.6710")
("12/28/13","USD","32.6282")
insert into Table_3 VALUES ("12/28/13","USD","32.6282")
("12/31/13","USD","32.7292")
insert into Table_3 VALUES ("12/31/13","USD","32.7292")
("1/1/14","USD","32.6587")
insert into Table_3 VALUES ("1/1/14","USD","32.6587")
("1/10/14","USD","33.1547")
insert into Table_3 VALUES ("1/10/14","USD","33.1547")
("1/11/14","USD","33.2062")
insert into Table_3 VALUES ("1/11/14","USD","33.2062")
("1/14/14","USD","33.1204")
insert into Table_3 VALUES ("1/14/14","USD","33.1204")
("1/15/14","USD","33.2386")
insert into Table_3 VALUES ("1/15/14","USD","33.2386")
("1/16/14","USD","33.3562")
insert into Table_3 VALUES ("1/16/14","USD","33.3562")
("1/17/14","USD","33.4013")
insert into Table_3 VALUES ("1/17/14","USD","33.4013")
("1/18/14","USD","33.4343")
insert into Table_3 VALUES ("1/18/14","USD","33.4343")
("1/21/14","USD","33.6429")
insert into Table_3 VALUES ("1/21/14","USD","33.6429")
("1/22/14","USD","33.8161")
insert into Table_3 VALUES ("1/22/14","USD","33.8161")
("1/23/14","USD","33.8688")
insert into Table_3 VALUES ("1/23/14","USD","33.8688")
("1/24/14","USD","34.0334")
insert into Table_3 VALUES ("1/24/14","USD","34.0334")
("1/25/14","USD","34.2600")
insert into Table_3 VALUES ("1/25/14","USD","34.2600")
("1/28/14","USD","34.7093")
insert into Table_3 VALUES ("1/28/14","USD","34.7093")
("1/29/14","USD","34.6250")
insert into Table_3 VALUES ("1/29/14","USD","34.6250")
("1/30/14","USD","34.5633")
insert into Table_3 VALUES ("1/30/14","USD","34.5633")
("1/31/14","USD","35.2448")
insert into Table_3 VALUES ("1/31/14","USD","35.2448")
("2/1/14","USD","35.1800")
insert into Table_3 VALUES ("2/1/14","USD","35.1800")
("2/4/14","USD","35.2347")
insert into Table_3 VALUES ("2/4/14","USD","35.2347")
("2/5/14","USD","35.4502")
insert into Table_3 VALUES ("2/5/14","USD","35.4502")
("2/6/14","USD","34.9592")
insert into Table_3 VALUES ("2/6/14","USD","34.9592")
("2/7/14","USD","34.7287")
insert into Table_3 VALUES ("2/7/14","USD","34.7287")
("2/8/14","USD","34.6044")
insert into Table_3 VALUES ("2/8/14","USD","34.6044")
("2/11/14","USD","34.7636")
insert into Table_3 VALUES ("2/11/14","USD","34.7636")
("2/12/14","USD","34.7964")
insert into Table_3 VALUES ("2/12/14","USD","34.7964")
("2/13/14","USD","34.7595")
insert into Table_3 VALUES ("2/13/14","USD","34.7595")
("2/14/14","USD","34.8611")
insert into Table_3 VALUES ("2/14/14","USD","34.8611")
("2/15/14","USD","35.2559")
insert into Table_3 VALUES ("2/15/14","USD","35.2559")
("2/18/14","USD","35.0976")
insert into Table_3 VALUES ("2/18/14","USD","35.0976")
("2/19/14","USD","35.2386")
insert into Table_3 VALUES ("2/19/14","USD","35.2386")
("2/20/14","USD","35.5857")
insert into Table_3 VALUES ("2/20/14","USD","35.5857")
("2/21/14","USD","35.7670")
insert into Table_3 VALUES ("2/21/14","USD","35.7670")
("2/22/14","USD","35.6828")
insert into Table_3 VALUES ("2/22/14","USD","35.6828")
("2/25/14","USD","35.5112")
insert into Table_3 VALUES ("2/25/14","USD","35.5112")
("2/26/14","USD","35.5669")
insert into Table_3 VALUES ("2/26/14","USD","35.5669")
("2/27/14","USD","35.7872")
insert into Table_3 VALUES ("2/27/14","USD","35.7872")
("2/28/14","USD","36.0501")
insert into Table_3 VALUES ("2/28/14","USD","36.0501")
("3/1/14","USD","36.1847")
insert into Table_3 VALUES ("3/1/14","USD","36.1847")
("3/4/14","USD","36.3784")
insert into Table_3 VALUES ("3/4/14","USD","36.3784")
("3/5/14","USD","36.3208")
insert into Table_3 VALUES ("3/5/14","USD","36.3208")
("3/6/14","USD","36.0849")
insert into Table_3 VALUES ("3/6/14","USD","36.0849")
("3/7/14","USD","36.1251")
insert into Table_3 VALUES ("3/7/14","USD","36.1251")
("3/8/14","USD","36.2618")
insert into Table_3 VALUES ("3/8/14","USD","36.2618")
("3/12/14","USD","36.4015")
insert into Table_3 VALUES ("3/12/14","USD","36.4015")
("3/13/14","USD","36.4865")
insert into Table_3 VALUES ("3/13/14","USD","36.4865")
("3/14/14","USD","36.4566")
insert into Table_3 VALUES ("3/14/14","USD","36.4566")
("3/15/14","USD","36.6391")
insert into Table_3 VALUES ("3/15/14","USD","36.6391")
("3/18/14","USD","36.6505")
insert into Table_3 VALUES ("3/18/14","USD","36.6505")
("3/19/14","USD","36.4487")
insert into Table_3 VALUES ("3/19/14","USD","36.4487")
("3/20/14","USD","36.2070")
insert into Table_3 VALUES ("3/20/14","USD","36.2070")
("3/21/14","USD","36.1081")
insert into Table_3 VALUES ("3/21/14","USD","36.1081")
("3/22/14","USD","36.4022")
insert into Table_3 VALUES ("3/22/14","USD","36.4022")
("3/25/14","USD","36.1663")
insert into Table_3 VALUES ("3/25/14","USD","36.1663")
("3/26/14","USD","35.9316")
insert into Table_3 VALUES ("3/26/14","USD","35.9316")
("3/27/14","USD","35.4494")
insert into Table_3 VALUES ("3/27/14","USD","35.4494")
("3/28/14","USD","35.5810")
insert into Table_3 VALUES ("3/28/14","USD","35.5810")
("3/29/14","USD","35.6871")
insert into Table_3 VALUES ("3/29/14","USD","35.6871")
("4/1/14","USD","35.6053")
insert into Table_3 VALUES ("4/1/14","USD","35.6053")
("4/2/14","USD","35.0240")
insert into Table_3 VALUES ("4/2/14","USD","35.0240")
("4/3/14","USD","35.2517")
insert into Table_3 VALUES ("4/3/14","USD","35.2517")
("4/4/14","USD","35.5154")
insert into Table_3 VALUES ("4/4/14","USD","35.5154")
("4/5/14","USD","35.5010")
insert into Table_3 VALUES ("4/5/14","USD","35.5010")
("4/8/14","USD","35.4679")
insert into Table_3 VALUES ("4/8/14","USD","35.4679")
("4/9/14","USD","35.5475")
insert into Table_3 VALUES ("4/9/14","USD","35.5475")
("4/10/14","USD","35.7493")
insert into Table_3 VALUES ("4/10/14","USD","35.7493")
("4/11/14","USD","35.5581")
insert into Table_3 VALUES ("4/11/14","USD","35.5581")
("4/12/14","USD","35.6239")
insert into Table_3 VALUES ("4/12/14","USD","35.6239")
("4/15/14","USD","35.9890")
insert into Table_3 VALUES ("4/15/14","USD","35.9890")
("4/16/14","USD","35.9635")
insert into Table_3 VALUES ("4/16/14","USD","35.9635")
("4/17/14","USD","36.0813")
insert into Table_3 VALUES ("4/17/14","USD","36.0813")
("4/18/14","USD","35.9287")
insert into Table_3 VALUES ("4/18/14","USD","35.9287")
("4/19/14","USD","35.5389")
insert into Table_3 VALUES ("4/19/14","USD","35.5389")
("4/22/14","USD","35.6688")
insert into Table_3 VALUES ("4/22/14","USD","35.6688")
("4/23/14","USD","35.6785")
insert into Table_3 VALUES ("4/23/14","USD","35.6785")
("4/24/14","USD","35.6625")
insert into Table_3 VALUES ("4/24/14","USD","35.6625")
("4/25/14","USD","35.6830")
insert into Table_3 VALUES ("4/25/14","USD","35.6830")
("4/26/14","USD","35.9289")
insert into Table_3 VALUES ("4/26/14","USD","35.9289")
("4/29/14","USD","36.0245")
insert into Table_3 VALUES ("4/29/14","USD","36.0245")
("4/30/14","USD","35.6983")
insert into Table_3 VALUES ("4/30/14","USD","35.6983")
("5/1/14","USD","35.7227")
insert into Table_3 VALUES ("5/1/14","USD","35.7227")
("5/6/14","USD","35.8381")
insert into Table_3 VALUES ("5/6/14","USD","35.8381")
("5/7/14","USD","35.6550")
insert into Table_3 VALUES ("5/7/14","USD","35.6550")
("5/8/14","USD","35.4971")
insert into Table_3 VALUES ("5/8/14","USD","35.4971")
("5/9/14","USD","35.0343")
insert into Table_3 VALUES ("5/9/14","USD","35.0343")
("5/13/14","USD","35.2091")
insert into Table_3 VALUES ("5/13/14","USD","35.2091")
("5/14/14","USD","34.8789")
insert into Table_3 VALUES ("5/14/14","USD","34.8789")
("5/15/14","USD","34.7090")
insert into Table_3 VALUES ("5/15/14","USD","34.7090")
("5/16/14","USD","34.7005")
insert into Table_3 VALUES ("5/16/14","USD","34.7005")
("5/17/14","USD","34.7794")
insert into Table_3 VALUES ("5/17/14","USD","34.7794")
("5/20/14","USD","34.7394")
insert into Table_3 VALUES ("5/20/14","USD","34.7394")
("5/21/14","USD","34.6007")
insert into Table_3 VALUES ("5/21/14","USD","34.6007")
("5/22/14","USD","34.5078")
insert into Table_3 VALUES ("5/22/14","USD","34.5078")
("5/23/14","USD","34.2802")
insert into Table_3 VALUES ("5/23/14","USD","34.2802")
("5/24/14","USD","34.3139")
insert into Table_3 VALUES ("5/24/14","USD","34.3139")
("5/27/14","USD","34.0771")
insert into Table_3 VALUES ("5/27/14","USD","34.0771")
("5/28/14","USD","34.2571")
insert into Table_3 VALUES ("5/28/14","USD","34.2571")
("5/29/14","USD","34.4895")
insert into Table_3 VALUES ("5/29/14","USD","34.4895")
("5/30/14","USD","34.6481")
insert into Table_3 VALUES ("5/30/14","USD","34.6481")
("5/31/14","USD","34.7352")
insert into Table_3 VALUES ("5/31/14","USD","34.7352")
("6/3/14","USD","34.8887")
insert into Table_3 VALUES ("6/3/14","USD","34.8887")
("6/4/14","USD","35.0115")
insert into Table_3 VALUES ("6/4/14","USD","35.0115")
("6/5/14","USD","35.1398")
insert into Table_3 VALUES ("6/5/14","USD","35.1398")
("6/6/14","USD","34.9043")
insert into Table_3 VALUES ("6/6/14","USD","34.9043")
("6/7/14","USD","34.6573")
insert into Table_3 VALUES ("6/7/14","USD","34.6573")
("6/10/14","USD","34.3303")
insert into Table_3 VALUES ("6/10/14","USD","34.3303")
("6/11/14","USD","34.3681")
insert into Table_3 VALUES ("6/11/14","USD","34.3681")
("6/12/14","USD","34.3227")
insert into Table_3 VALUES ("6/12/14","USD","34.3227")
("6/17/14","USD","34.5654")
insert into Table_3 VALUES ("6/17/14","USD","34.5654")
("6/18/14","USD","34.8095")
insert into Table_3 VALUES ("6/18/14","USD","34.8095")
("6/19/14","USD","34.8232")
insert into Table_3 VALUES ("6/19/14","USD","34.8232")
("6/20/14","USD","34.3025")
insert into Table_3 VALUES ("6/20/14","USD","34.3025")
("6/21/14","USD","34.4190")
insert into Table_3 VALUES ("6/21/14","USD","34.4190")
("6/24/14","USD","34.2797")
insert into Table_3 VALUES ("6/24/14","USD","34.2797")
("6/25/14","USD","33.9812")
insert into Table_3 VALUES ("6/25/14","USD","33.9812")
("6/26/14","USD","33.9070")
insert into Table_3 VALUES ("6/26/14","USD","33.9070")
("6/27/14","USD","33.7508")
insert into Table_3 VALUES ("6/27/14","USD","33.7508")
("6/28/14","USD","33.6306")
insert into Table_3 VALUES ("6/28/14","USD","33.6306")
("7/1/14","USD","33.8434")
insert into Table_3 VALUES ("7/1/14","USD","33.8434")
("7/2/14","USD","34.2275")
insert into Table_3 VALUES ("7/2/14","USD","34.2275")
("7/3/14","USD","34.2496")
insert into Table_3 VALUES ("7/3/14","USD","34.2496")
("7/4/14","USD","34.1949")
insert into Table_3 VALUES ("7/4/14","USD","34.1949")

("7/5/14","USD","34.3236")
insert into Table_3 VALUES ("7/5/14","USD","34.3236")
("7/8/14","USD","34.5691")
insert into Table_3 VALUES ("7/8/14","USD","34.5691")
("7/9/14","USD","34.4258")
insert into Table_3 VALUES ("7/9/14","USD","34.4258")
("7/10/14","USD","34.0758")
insert into Table_3 VALUES ("7/10/14","USD","34.0758")
("7/11/14","USD","33.8353")
insert into Table_3 VALUES ("7/11/14","USD","33.8353")
("7/12/14","USD","34.0582")
insert into Table_3 VALUES ("7/12/14","USD","34.0582")
("7/15/14","USD","34.3135")
insert into Table_3 VALUES ("7/15/14","USD","34.3135")
("7/16/14","USD","34.3723")
insert into Table_3 VALUES ("7/16/14","USD","34.3723")
("7/17/14","USD","34.3853")
insert into Table_3 VALUES ("7/17/14","USD","34.3853")
("7/18/14","USD","34.7998")
insert into Table_3 VALUES ("7/18/14","USD","34.7998")
("7/19/14","USD","35.1627")
insert into Table_3 VALUES ("7/19/14","USD","35.1627")
("7/22/14","USD","35.0900")
insert into Table_3 VALUES ("7/22/14","USD","35.0900")
("7/23/14","USD","35.0387")
insert into Table_3 VALUES ("7/23/14","USD","35.0387")
("7/24/14","USD","34.8101")
insert into Table_3 VALUES ("7/24/14","USD","34.8101")
("7/25/14","USD","35.0786")
insert into Table_3 VALUES ("7/25/14","USD","35.0786")
("7/26/14","USD","35.0535")
insert into Table_3 VALUES ("7/26/14","USD","35.0535")
("7/29/14","USD","35.3457")
insert into Table_3 VALUES ("7/29/14","USD","35.3457")
("7/30/14","USD","35.6339")
insert into Table_3 VALUES ("7/30/14","USD","35.6339")
("7/31/14","USD","35.7271")
insert into Table_3 VALUES ("7/31/14","USD","35.7271")
("8/1/14","USD","35.4438")
insert into Table_3 VALUES ("8/1/14","USD","35.4438")
("8/2/14","USD","35.7272")
insert into Table_3 VALUES ("8/2/14","USD","35.7272")
("8/5/14","USD","35.6605")
insert into Table_3 VALUES ("8/5/14","USD","35.6605")
("8/6/14","USD","35.7987")
insert into Table_3 VALUES ("8/6/14","USD","35.7987")
("8/7/14","USD","36.1102")
insert into Table_3 VALUES ("8/7/14","USD","36.1102")
("8/8/14","USD","36.2496")
insert into Table_3 VALUES ("8/8/14","USD","36.2496")
("8/9/14","USD","36.4461")
insert into Table_3 VALUES ("8/9/14","USD","36.4461")
("8/12/14","USD","36.0475")
insert into Table_3 VALUES ("8/12/14","USD","36.0475")
("8/13/14","USD","36.0890")
insert into Table_3 VALUES ("8/13/14","USD","36.0890")
("8/14/14","USD","36.2222")
insert into Table_3 VALUES ("8/14/14","USD","36.2222")
("8/15/14","USD","36.0395")
insert into Table_3 VALUES ("8/15/14","USD","36.0395")
("8/16/14","USD","36.0014")
insert into Table_3 VALUES ("8/16/14","USD","36.0014")
("8/19/14","USD","36.0294")
insert into Table_3 VALUES ("8/19/14","USD","36.0294")
("8/20/14","USD","36.1094")
insert into Table_3 VALUES ("8/20/14","USD","36.1094")
("8/21/14","USD","36.2240")
insert into Table_3 VALUES ("8/21/14","USD","36.2240")
("8/22/14","USD","36.3317")
insert into Table_3 VALUES ("8/22/14","USD","36.3317")
("8/23/14","USD","36.0027")
insert into Table_3 VALUES ("8/23/14","USD","36.0027")
("8/26/14","USD","36.1201")
insert into Table_3 VALUES ("8/26/14","USD","36.1201")
("8/27/14","USD","36.1358")
insert into Table_3 VALUES ("8/27/14","USD","36.1358")
("8/28/14","USD","36.1397")
insert into Table_3 VALUES ("8/28/14","USD","36.1397")
("8/29/14","USD","36.3053")
insert into Table_3 VALUES ("8/29/14","USD","36.3053")
("8/30/14","USD","36.9316")
insert into Table_3 VALUES ("8/30/14","USD","36.9316")
("9/2/14","USD","37.2945")
insert into Table_3 VALUES ("9/2/14","USD","37.2945")
("9/3/14","USD","37.3480")
insert into Table_3 VALUES ("9/3/14","USD","37.3480")
("9/4/14","USD","37.3183")
insert into Table_3 VALUES ("9/4/14","USD","37.3183")
("9/5/14","USD","36.8038")
insert into Table_3 VALUES ("9/5/14","USD","36.8038")
("9/6/14","USD","36.9219")
insert into Table_3 VALUES ("9/6/14","USD","36.9219")
("9/9/14","USD","37.0866")
insert into Table_3 VALUES ("9/9/14","USD","37.0866")
("9/10/14","USD","37.0261")
insert into Table_3 VALUES ("9/10/14","USD","37.0261")
("9/11/14","USD","37.1693")
insert into Table_3 VALUES ("9/11/14","USD","37.1693")
("9/12/14","USD","37.3758")
insert into Table_3 VALUES ("9/12/14","USD","37.3758")
("9/13/14","USD","37.6545")
insert into Table_3 VALUES ("9/13/14","USD","37.6545")
("9/16/14","USD","37.9861")
insert into Table_3 VALUES ("9/16/14","USD","37.9861")
("9/17/14","USD","38.7058")
insert into Table_3 VALUES ("9/17/14","USD","38.7058")
("9/18/14","USD","38.3724")
insert into Table_3 VALUES ("9/18/14","USD","38.3724")
("9/19/14","USD","38.4209")
insert into Table_3 VALUES ("9/19/14","USD","38.4209")
("9/20/14","USD","38.4134")
insert into Table_3 VALUES ("9/20/14","USD","38.4134")
("9/23/14","USD","38.5782")
insert into Table_3 VALUES ("9/23/14","USD","38.5782")
("9/24/14","USD","38.6672")
insert into Table_3 VALUES ("9/24/14","USD","38.6672")
("9/25/14","USD","38.3830")
insert into Table_3 VALUES ("9/25/14","USD","38.3830")
("9/26/14","USD","38.3007")
insert into Table_3 VALUES ("9/26/14","USD","38.3007")
("9/27/14","USD","38.7243")
insert into Table_3 VALUES ("9/27/14","USD","38.7243")
("9/30/14","USD","39.3866")
insert into Table_3 VALUES ("9/30/14","USD","39.3866")
("10/1/14","USD","39.3836")
insert into Table_3 VALUES ("10/1/14","USD","39.3836")
("10/2/14","USD","39.6604")
insert into Table_3 VALUES ("10/2/14","USD","39.6604")
("10/3/14","USD","39.5474")
insert into Table_3 VALUES ("10/3/14","USD","39.5474")
("10/4/14","USD","39.6980")
insert into Table_3 VALUES ("10/4/14","USD","39.6980")
("10/7/14","USD","39.9820")
insert into Table_3 VALUES ("10/7/14","USD","39.9820")
("10/8/14","USD","39.7417")
insert into Table_3 VALUES ("10/8/14","USD","39.7417")
("10/9/14","USD","39.9819")
insert into Table_3 VALUES ("10/9/14","USD","39.9819")
("10/10/14","USD","39.9800")
insert into Table_3 VALUES ("10/10/14","USD","39.9800")
("10/11/14","USD","40.2125")
insert into Table_3 VALUES ("10/11/14","USD","40.2125")
("10/14/14","USD","40.3251")
insert into Table_3 VALUES ("10/14/14","USD","40.3251")
("10/15/14","USD","40.5304")
insert into Table_3 VALUES ("10/15/14","USD","40.5304")
("10/16/14","USD","40.9416")
insert into Table_3 VALUES ("10/16/14","USD","40.9416")
("10/17/14","USD","40.7457")
insert into Table_3 VALUES ("10/17/14","USD","40.7457")
("10/18/14","USD","41.0450")
insert into Table_3 VALUES ("10/18/14","USD","41.0450")
("10/21/14","USD","40.8815")
insert into Table_3 VALUES ("10/21/14","USD","40.8815")
("10/22/14","USD","41.0501")
insert into Table_3 VALUES ("10/22/14","USD","41.0501")
("10/23/14","USD","40.9671")
insert into Table_3 VALUES ("10/23/14","USD","40.9671")
("10/24/14","USD","41.4958")
insert into Table_3 VALUES ("10/24/14","USD","41.4958")
("10/25/14","USD","41.8101")
insert into Table_3 VALUES ("10/25/14","USD","41.8101")
("10/28/14","USD","41.9497")
insert into Table_3 VALUES ("10/28/14","USD","41.9497")
("10/29/14","USD","42.3934")
insert into Table_3 VALUES ("10/29/14","USD","42.3934")
("10/30/14","USD","42.6525")
insert into Table_3 VALUES ("10/30/14","USD","42.6525")
("10/31/14","USD","43.3943")
insert into Table_3 VALUES ("10/31/14","USD","43.3943")
("11/1/14","USD","41.9627")
insert into Table_3 VALUES ("11/1/14","USD","41.9627")
("11/6/14","USD","44.3993")
insert into Table_3 VALUES ("11/6/14","USD","44.3993")
("11/7/14","USD","45.1854")
insert into Table_3 VALUES ("11/7/14","USD","45.1854")
("11/8/14","USD","47.8774")
insert into Table_3 VALUES ("11/8/14","USD","47.8774")
("11/11/14","USD","45.8926")
insert into Table_3 VALUES ("11/11/14","USD","45.8926")
("11/12/14","USD","45.9520")
insert into Table_3 VALUES ("11/12/14","USD","45.9520")
("11/13/14","USD","46.3379")
insert into Table_3 VALUES ("11/13/14","USD","46.3379")
("11/14/14","USD","46.1233")
insert into Table_3 VALUES ("11/14/14","USD","46.1233")
("11/15/14","USD","47.3920")
insert into Table_3 VALUES ("11/15/14","USD","47.3920")
("11/18/14","USD","47.3329")
insert into Table_3 VALUES ("11/18/14","USD","47.3329")
("11/19/14","USD","46.9797")
insert into Table_3 VALUES ("11/19/14","USD","46.9797")
("11/20/14","USD","47.0294")
insert into Table_3 VALUES ("11/20/14","USD","47.0294")
("11/21/14","USD","46.7047")
insert into Table_3 VALUES ("11/21/14","USD","46.7047")
("11/22/14","USD","45.7926")
insert into Table_3 VALUES ("11/22/14","USD","45.7926")
("11/25/14","USD","44.7852")
insert into Table_3 VALUES ("11/25/14","USD","44.7852")
("11/26/14","USD","44.9758")
insert into Table_3 VALUES ("11/26/14","USD","44.9758")
("11/27/14","USD","46.4244")
insert into Table_3 VALUES ("11/27/14","USD","46.4244")
("11/28/14","USD","47.6629")
insert into Table_3 VALUES ("11/28/14","USD","47.6629")
("11/29/14","USD","49.3220")
insert into Table_3 VALUES ("11/29/14","USD","49.3220")
("12/2/14","USD","51.8068")
insert into Table_3 VALUES ("12/2/14","USD","51.8068")
("12/3/14","USD","50.7678")
insert into Table_3 VALUES ("12/3/14","USD","50.7678")
("12/4/14","USD","54.3821")
insert into Table_3 VALUES ("12/4/14","USD","54.3821")
("12/5/14","USD","52.6932")
insert into Table_3 VALUES ("12/5/14","USD","52.6932")
("12/6/14","USD","53.1088")
insert into Table_3 VALUES ("12/6/14","USD","53.1088")
("12/9/14","USD","53.3079")
insert into Table_3 VALUES ("12/9/14","USD","53.3079")
("12/10/14","USD","54.2116")
insert into Table_3 VALUES ("12/10/14","USD","54.2116")
("12/11/14","USD","54.2758")
insert into Table_3 VALUES ("12/11/14","USD","54.2758")
("12/12/14","USD","54.7932")
insert into Table_3 VALUES ("12/12/14","USD","54.7932")
("12/13/14","USD","56.8919")
insert into Table_3 VALUES ("12/13/14","USD","56.8919")
("12/16/14","USD","58.3461")
insert into Table_3 VALUES ("12/16/14","USD","58.3461")
("12/17/14","USD","61.1512")
insert into Table_3 VALUES ("12/17/14","USD","61.1512")
("12/18/14","USD","67.7851")
insert into Table_3 VALUES ("12/18/14","USD","67.7851")
("12/19/14","USD","59.6029")
insert into Table_3 VALUES ("12/19/14","USD","59.6029")
("12/20/14","USD","60.6825")
insert into Table_3 VALUES ("12/20/14","USD","60.6825")
("12/23/14","USD","56.4940")
insert into Table_3 VALUES ("12/23/14","USD","56.4940")
("12/24/14","USD","54.5687")
insert into Table_3 VALUES ("12/24/14","USD","54.5687")
("12/25/14","USD","54.4913")
insert into Table_3 VALUES ("12/25/14","USD","54.4913")
("12/26/14","USD","52.6159")
insert into Table_3 VALUES ("12/26/14","USD","52.6159")
("12/27/14","USD","52.0343")
insert into Table_3 VALUES ("12/27/14","USD","52.0343")
("12/30/14","USD","56.6801")
insert into Table_3 VALUES ("12/30/14","USD","56.6801")
("12/31/14","USD","56.2584")
insert into Table_3 VALUES ("12/31/14","USD","56.2584")
("1/1/15","USD","56.2376")
insert into Table_3 VALUES ("1/1/15","USD","56.2376")
("1/13/15","USD","62.7363")
insert into Table_3 VALUES ("1/13/15","USD","62.7363")
("1/14/15","USD","64.8425")
insert into Table_3 VALUES ("1/14/15","USD","64.8425")

("1/15/15","USD","66.0983")
insert into Table_3 VALUES ("1/15/15","USD","66.0983")
("1/16/15","USD","64.8337")
insert into Table_3 VALUES ("1/16/15","USD","64.8337")
("1/17/15","USD","65.1738")
insert into Table_3 VALUES ("1/17/15","USD","65.1738")
("1/20/15","USD","64.9732")
insert into Table_3 VALUES ("1/20/15","USD","64.9732")
("1/21/15","USD","64.9862")
insert into Table_3 VALUES ("1/21/15","USD","64.9862")
("1/22/15","USD","65.5558")
insert into Table_3 VALUES ("1/22/15","USD","65.5558")
("1/23/15","USD","65.4000")
insert into Table_3 VALUES ("1/23/15","USD","65.4000")
("1/24/15","USD","63.3930")
insert into Table_3 VALUES ("1/24/15","USD","63.3930")
("1/27/15","USD","65.5937")
insert into Table_3 VALUES ("1/27/15","USD","65.5937")
("1/28/15","USD","67.8153")
insert into Table_3 VALUES ("1/28/15","USD","67.8153")
("1/29/15","USD","67.1506")
insert into Table_3 VALUES ("1/29/15","USD","67.1506")
("1/30/15","USD","68.7303")
insert into Table_3 VALUES ("1/30/15","USD","68.7303")
("1/31/15","USD","68.9291")
insert into Table_3 VALUES ("1/31/15","USD","68.9291")
("2/3/15","USD","69.6640")
insert into Table_3 VALUES ("2/3/15","USD","69.6640")
("2/4/15","USD","67.7727")
insert into Table_3 VALUES ("2/4/15","USD","67.7727")
("2/5/15","USD","65.4470")
insert into Table_3 VALUES ("2/5/15","USD","65.4470")
("2/6/15","USD","68.6113")
insert into Table_3 VALUES ("2/6/15","USD","68.6113")
("2/7/15","USD","66.0432")
insert into Table_3 VALUES ("2/7/15","USD","66.0432")
("2/10/15","USD","65.7817")
insert into Table_3 VALUES ("2/10/15","USD","65.7817")
("2/11/15","USD","65.4469")
insert into Table_3 VALUES ("2/11/15","USD","65.4469")
("2/12/15","USD","66.0585")
insert into Table_3 VALUES ("2/12/15","USD","66.0585")
("2/13/15","USD","66.0994")
insert into Table_3 VALUES ("2/13/15","USD","66.0994")
("2/14/15","USD","65.0862")
insert into Table_3 VALUES ("2/14/15","USD","65.0862")
("2/17/15","USD","62.6632")
insert into Table_3 VALUES ("2/17/15","USD","62.6632")
("2/18/15","USD","62.8353")
insert into Table_3 VALUES ("2/18/15","USD","62.8353")
("2/19/15","USD","62.4001")
insert into Table_3 VALUES ("2/19/15","USD","62.4001")
("2/20/15","USD","62.1307")
insert into Table_3 VALUES ("2/20/15","USD","62.1307")
("2/21/15","USD","61.7235")
insert into Table_3 VALUES ("2/21/15","USD","61.7235")
("2/25/15","USD","63.5083")
insert into Table_3 VALUES ("2/25/15","USD","63.5083")
("2/26/15","USD","62.5906")
insert into Table_3 VALUES ("2/26/15","USD","62.5906")
("2/27/15","USD","60.7109")
insert into Table_3 VALUES ("2/27/15","USD","60.7109")
("2/28/15","USD","61.2718")
insert into Table_3 VALUES ("2/28/15","USD","61.2718")
("3/3/15","USD","62.2248")
insert into Table_3 VALUES ("3/3/15","USD","62.2248")
("3/4/15","USD","62.3649")
insert into Table_3 VALUES ("3/4/15","USD","62.3649")
("3/5/15","USD","61.8745")
insert into Table_3 VALUES ("3/5/15","USD","61.8745")
("3/6/15","USD","61.8457")
insert into Table_3 VALUES ("3/6/15","USD","61.8457")
("3/7/15","USD","59.9938")
insert into Table_3 VALUES ("3/7/15","USD","59.9938")
("3/11/15","USD","60.6649")
insert into Table_3 VALUES ("3/11/15","USD","60.6649")
("3/12/15","USD","62.6797")
insert into Table_3 VALUES ("3/12/15","USD","62.6797")
("3/13/15","USD","60.9595")
insert into Table_3 VALUES ("3/13/15","USD","60.9595")
("3/14/15","USD","61.3167")
insert into Table_3 VALUES ("3/14/15","USD","61.3167")
("3/17/15","USD","62.1497")
insert into Table_3 VALUES ("3/17/15","USD","62.1497")
("3/18/15","USD","61.7510")
insert into Table_3 VALUES ("3/18/15","USD","61.7510")
("3/19/15","USD","61.3483")
insert into Table_3 VALUES ("3/19/15","USD","61.3483")
("3/20/15","USD","59.8308")
insert into Table_3 VALUES ("3/20/15","USD","59.8308")
("3/21/15","USD","60.0341")
insert into Table_3 VALUES ("3/21/15","USD","60.0341")
("3/24/15","USD","59.4452")
insert into Table_3 VALUES ("3/24/15","USD","59.4452")
("3/25/15","USD","58.7710")
insert into Table_3 VALUES ("3/25/15","USD","58.7710")
("3/26/15","USD","57.3879")
insert into Table_3 VALUES ("3/26/15","USD","57.3879")
("3/27/15","USD","56.4271")
insert into Table_3 VALUES ("3/27/15","USD","56.4271")
("3/28/15","USD","57.7279")
insert into Table_3 VALUES ("3/28/15","USD","57.7279")
("3/31/15","USD","58.4643")
insert into Table_3 VALUES ("3/31/15","USD","58.4643")
("4/1/15","USD","57.6500")
insert into Table_3 VALUES ("4/1/15","USD","57.6500")
("4/2/15","USD","58.3536")
insert into Table_3 VALUES ("4/2/15","USD","58.3536")
("4/3/15","USD","56.9902")
insert into Table_3 VALUES ("4/3/15","USD","56.9902")
("4/4/15","USD","56.7534")
insert into Table_3 VALUES ("4/4/15","USD","56.7534")
("4/7/15","USD","56.5161")
insert into Table_3 VALUES ("4/7/15","USD","56.5161")
("4/8/15","USD","55.3328")
insert into Table_3 VALUES ("4/8/15","USD","55.3328")
("4/9/15","USD","54.0270")
insert into Table_3 VALUES ("4/9/15","USD","54.0270")
("4/10/15","USD","52.5424")
insert into Table_3 VALUES ("4/10/15","USD","52.5424")
("4/11/15","USD","51.0678")
insert into Table_3 VALUES ("4/11/15","USD","51.0678")
("4/14/15","USD","52.4220")
insert into Table_3 VALUES ("4/14/15","USD","52.4220")
("4/15/15","USD","51.9749")
insert into Table_3 VALUES ("4/15/15","USD","51.9749")
("4/16/15","USD","50.5033")
insert into Table_3 VALUES ("4/16/15","USD","50.5033")
("4/17/15","USD","49.6749")
insert into Table_3 VALUES ("4/17/15","USD","49.6749")
("4/18/15","USD","50.5295")
insert into Table_3 VALUES ("4/18/15","USD","50.5295")
("4/21/15","USD","51.5207")
insert into Table_3 VALUES ("4/21/15","USD","51.5207")
("4/22/15","USD","53.9728")
insert into Table_3 VALUES ("4/22/15","USD","53.9728")
("4/23/15","USD","53.6555")
insert into Table_3 VALUES ("4/23/15","USD","53.6555")
("4/24/15","USD","51.6011")
insert into Table_3 VALUES ("4/24/15","USD","51.6011")
("4/25/15","USD","50.2473")
insert into Table_3 VALUES ("4/25/15","USD","50.2473")
("4/28/15","USD","51.4690")
insert into Table_3 VALUES ("4/28/15","USD","51.4690")
("4/29/15","USD","52.3041")
insert into Table_3 VALUES ("4/29/15","USD","52.3041")
("4/30/15","USD","51.7029")
insert into Table_3 VALUES ("4/30/15","USD","51.7029")
("5/1/15","USD","51.1388")
insert into Table_3 VALUES ("5/1/15","USD","51.1388")
("5/6/15","USD","51.7574")
insert into Table_3 VALUES ("5/6/15","USD","51.7574")
("5/7/15","USD","49.9816")
insert into Table_3 VALUES ("5/7/15","USD","49.9816")
("5/8/15","USD","50.3615")
insert into Table_3 VALUES ("5/8/15","USD","50.3615")
("5/9/15","USD","50.7511")
insert into Table_3 VALUES ("5/9/15","USD","50.7511")
("5/13/15","USD","50.9140")
insert into Table_3 VALUES ("5/13/15","USD","50.9140")
("5/14/15","USD","49.5366")
insert into Table_3 VALUES ("5/14/15","USD","49.5366")
("5/15/15","USD","50.0774")
insert into Table_3 VALUES ("5/15/15","USD","50.0774")
("5/16/15","USD","50.0115")
insert into Table_3 VALUES ("5/16/15","USD","50.0115")
("5/19/15","USD","49.2175")
insert into Table_3 VALUES ("5/19/15","USD","49.2175")
("5/20/15","USD","49.1777")
insert into Table_3 VALUES ("5/20/15","USD","49.1777")
("5/21/15","USD","49.7919")
insert into Table_3 VALUES ("5/21/15","USD","49.7919")
("5/22/15","USD","49.9204")
insert into Table_3 VALUES ("5/22/15","USD","49.9204")
("5/23/15","USD","49.7901")
insert into Table_3 VALUES ("5/23/15","USD","49.7901")
("5/26/15","USD","49.8613")
insert into Table_3 VALUES ("5/26/15","USD","49.8613")
("5/27/15","USD","50.3223")
insert into Table_3 VALUES ("5/27/15","USD","50.3223")
("5/28/15","USD","51.0178")
insert into Table_3 VALUES ("5/28/15","USD","51.0178")
("5/29/15","USD","52.2907")
insert into Table_3 VALUES ("5/29/15","USD","52.2907")
("5/30/15","USD","52.9716")
insert into Table_3 VALUES ("5/30/15","USD","52.9716")
("6/2/15","USD","52.8213")
insert into Table_3 VALUES ("6/2/15","USD","52.8213")
("6/3/15","USD","53.4413")
insert into Table_3 VALUES ("6/3/15","USD","53.4413")
("6/4/15","USD","53.0590")
insert into Table_3 VALUES ("6/4/15","USD","53.0590")
("6/5/15","USD","54.9908")
insert into Table_3 VALUES ("6/5/15","USD","54.9908")
("6/6/15","USD","56.2463")
insert into Table_3 VALUES ("6/6/15","USD","56.2463")
("6/9/15","USD","56.0435")
insert into Table_3 VALUES ("6/9/15","USD","56.0435")
("6/10/15","USD","55.9100")
insert into Table_3 VALUES ("6/10/15","USD","55.9100")
("6/11/15","USD","54.8219")
insert into Table_3 VALUES ("6/11/15","USD","54.8219")
("6/12/15","USD","54.5285")
insert into Table_3 VALUES ("6/12/15","USD","54.5285")
("6/16/15","USD","55.2679")
insert into Table_3 VALUES ("6/16/15","USD","55.2679")
("6/17/15","USD","54.0409")
insert into Table_3 VALUES ("6/17/15","USD","54.0409")
("6/18/15","USD","53.8999")
insert into Table_3 VALUES ("6/18/15","USD","53.8999")
("6/19/15","USD","53.3301")
insert into Table_3 VALUES ("6/19/15","USD","53.3301")
("6/20/15","USD","53.8006")
insert into Table_3 VALUES ("6/20/15","USD","53.8006")
("6/23/15","USD","53.5569")
insert into Table_3 VALUES ("6/23/15","USD","53.5569")
("6/24/15","USD","54.2081")
insert into Table_3 VALUES ("6/24/15","USD","54.2081")
("6/25/15","USD","54.0746")
insert into Table_3 VALUES ("6/25/15","USD","54.0746")
("6/26/15","USD","54.6026")
insert into Table_3 VALUES ("6/26/15","USD","54.6026")
("6/27/15","USD","54.8126")
insert into Table_3 VALUES ("6/27/15","USD","54.8126")
("6/30/15","USD","55.5240")
insert into Table_3 VALUES ("6/30/15","USD","55.5240")
("7/1/15","USD","55.8413")
insert into Table_3 VALUES ("7/1/15","USD","55.8413")
("7/2/15","USD","55.4756")
insert into Table_3 VALUES ("7/2/15","USD","55.4756")
("7/3/15","USD","55.6555")
insert into Table_3 VALUES ("7/3/15","USD","55.6555")
("7/4/15","USD","55.6049")
insert into Table_3 VALUES ("7/4/15","USD","55.6049")
("7/7/15","USD","56.4112")
insert into Table_3 VALUES ("7/7/15","USD","56.4112")
("7/8/15","USD","57.2192")
insert into Table_3 VALUES ("7/8/15","USD","57.2192")
("7/9/15","USD","57.2174")
insert into Table_3 VALUES ("7/9/15","USD","57.2174")
("7/10/15","USD","56.9803")
insert into Table_3 VALUES ("7/10/15","USD","56.9803")
("7/11/15","USD","56.6685")
insert into Table_3 VALUES ("7/11/15","USD","56.6685")
("7/14/15","USD","56.6079")
insert into Table_3 VALUES ("7/14/15","USD","56.6079")
("7/15/15","USD","56.9774")
insert into Table_3 VALUES ("7/15/15","USD","56.9774")
("7/16/15","USD","56.6642")
insert into Table_3 VALUES ("7/16/15","USD","56.6642")
("7/17/15","USD","56.9504")
insert into Table_3 VALUES ("7/17/15","USD","56.9504")
("7/18/15","USD","56.8423")
insert into Table_3 VALUES ("7/18/15","USD","56.8423")
("7/21/15","USD","56.8336")
insert into Table_3 VALUES ("7/21/15","USD","56.8336")
("7/22/15","USD","57.0025")
insert into Table_3 VALUES ("7/22/15","USD","57.0025")
("7/23/15","USD","57.0232")
insert into Table_3 VALUES ("7/23/15","USD","57.0232")
("7/24/15","USD","57.3578")
insert into Table_3 VALUES ("7/24/15","USD","57.3578")
("7/25/15","USD","58.0374")
insert into Table_3 VALUES ("7/25/15","USD","58.0374")
("7/28/15","USD","58.7816")
insert into Table_3 VALUES ("7/28/15","USD","58.7816")
("7/29/15","USD","60.2231")
insert into Table_3 VALUES ("7/29/15","USD","60.2231")
("7/30/15","USD","59.7665")
insert into Table_3 VALUES ("7/30/15","USD","59.7665")

("7/31/15","USD","58.9906")
insert into Table_3 VALUES ("7/31/15","USD","58.9906")
("8/1/15","USD","60.3458")
insert into Table_3 VALUES ("8/1/15","USD","60.3458")
("8/4/15","USD","62.4677")
insert into Table_3 VALUES ("8/4/15","USD","62.4677")
("8/5/15","USD","62.9182")
insert into Table_3 VALUES ("8/5/15","USD","62.9182")
("8/6/15","USD","62.7184")
insert into Table_3 VALUES ("8/6/15","USD","62.7184")
("8/7/15","USD","63.8644")
insert into Table_3 VALUES ("8/7/15","USD","63.8644")
("8/8/15","USD","63.8399")
insert into Table_3 VALUES ("8/8/15","USD","63.8399")
("8/11/15","USD","64.4977")
insert into Table_3 VALUES ("8/11/15","USD","64.4977")
("8/12/15","USD","63.2098")
insert into Table_3 VALUES ("8/12/15","USD","63.2098")
("8/13/15","USD","65.0169")
insert into Table_3 VALUES ("8/13/15","USD","65.0169")
("8/14/15","USD","63.9988")
insert into Table_3 VALUES ("8/14/15","USD","63.9988")
("8/15/15","USD","64.9363")
insert into Table_3 VALUES ("8/15/15","USD","64.9363")
("8/18/15","USD","65.5034")
insert into Table_3 VALUES ("8/18/15","USD","65.5034")
("8/19/15","USD","65.8289")
insert into Table_3 VALUES ("8/19/15","USD","65.8289")
("8/20/15","USD","65.7222")
insert into Table_3 VALUES ("8/20/15","USD","65.7222")
("8/21/15","USD","66.9608")
insert into Table_3 VALUES ("8/21/15","USD","66.9608")
("8/22/15","USD","68.1216")
insert into Table_3 VALUES ("8/22/15","USD","68.1216")
("8/25/15","USD","70.7465")
insert into Table_3 VALUES ("8/25/15","USD","70.7465")
("8/26/15","USD","69.9461")
insert into Table_3 VALUES ("8/26/15","USD","69.9461")
("8/27/15","USD","69.3142")
insert into Table_3 VALUES ("8/27/15","USD","69.3142")
("8/28/15","USD","67.4473")
insert into Table_3 VALUES ("8/28/15","USD","67.4473")
("8/29/15","USD","66.4779")
insert into Table_3 VALUES ("8/29/15","USD","66.4779")
("9/1/15","USD","66.7152")
insert into Table_3 VALUES ("9/1/15","USD","66.7152")
("9/2/15","USD","65.3495")
insert into Table_3 VALUES ("9/2/15","USD","65.3495")
("9/3/15","USD","66.6756")
insert into Table_3 VALUES ("9/3/15","USD","66.6756")
("9/4/15","USD","67.0102")
insert into Table_3 VALUES ("9/4/15","USD","67.0102")
("9/5/15","USD","67.6850")
insert into Table_3 VALUES ("9/5/15","USD","67.6850")
("9/8/15","USD","68.4864")
insert into Table_3 VALUES ("9/8/15","USD","68.4864")
("9/9/15","USD","68.7932")
insert into Table_3 VALUES ("9/9/15","USD","68.7932")
("9/10/15","USD","67.6219")
insert into Table_3 VALUES ("9/10/15","USD","67.6219")
("9/11/15","USD","68.4961")
insert into Table_3 VALUES ("9/11/15","USD","68.4961")
("9/12/15","USD","68.0093")
insert into Table_3 VALUES ("9/12/15","USD","68.0093")
("9/15/15","USD","67.9571")
insert into Table_3 VALUES ("9/15/15","USD","67.9571")
("9/16/15","USD","67.1574")
insert into Table_3 VALUES ("9/16/15","USD","67.1574")
("9/17/15","USD","65.9273")
insert into Table_3 VALUES ("9/17/15","USD","65.9273")
("9/18/15","USD","65.3623")
insert into Table_3 VALUES ("9/18/15","USD","65.3623")
("9/19/15","USD","65.6445")
insert into Table_3 VALUES ("9/19/15","USD","65.6445")
("9/22/15","USD","66.1455")
insert into Table_3 VALUES ("9/22/15","USD","66.1455")
("9/23/15","USD","66.1747")
insert into Table_3 VALUES ("9/23/15","USD","66.1747")
("9/24/15","USD","66.0410")
insert into Table_3 VALUES ("9/24/15","USD","66.0410")
("9/25/15","USD","66.5151")
insert into Table_3 VALUES ("9/25/15","USD","66.5151")
("9/26/15","USD","65.6727")
insert into Table_3 VALUES ("9/26/15","USD","65.6727")
("9/29/15","USD","65.5470")
insert into Table_3 VALUES ("9/29/15","USD","65.5470")
("9/30/15","USD","66.2367")
insert into Table_3 VALUES ("9/30/15","USD","66.2367")
("10/1/15","USD","65.7364")
insert into Table_3 VALUES ("10/1/15","USD","65.7364")
("10/2/15","USD","65.0336")
insert into Table_3 VALUES ("10/2/15","USD","65.0336")
("10/3/15","USD","65.9414")
insert into Table_3 VALUES ("10/3/15","USD","65.9414")
("10/6/15","USD","65.6248")
insert into Table_3 VALUES ("10/6/15","USD","65.6248")
("10/7/15","USD","65.0962")
insert into Table_3 VALUES ("10/7/15","USD","65.0962")
("10/8/15","USD","62.7061")
insert into Table_3 VALUES ("10/8/15","USD","62.7061")
("10/9/15","USD","62.2942")
insert into Table_3 VALUES ("10/9/15","USD","62.2942")
("10/10/15","USD","61.2967")
insert into Table_3 VALUES ("10/10/15","USD","61.2967")
("10/13/15","USD","61.1535")
insert into Table_3 VALUES ("10/13/15","USD","61.1535")
("10/14/15","USD","62.2237")
insert into Table_3 VALUES ("10/14/15","USD","62.2237")
("10/15/15","USD","63.1248")
insert into Table_3 VALUES ("10/15/15","USD","63.1248")
("10/16/15","USD","62.2433")
insert into Table_3 VALUES ("10/16/15","USD","62.2433")
("10/17/15","USD","61.3587")
insert into Table_3 VALUES ("10/17/15","USD","61.3587")
("10/20/15","USD","61.4419")
insert into Table_3 VALUES ("10/20/15","USD","61.4419")
("10/21/15","USD","62.1620")
insert into Table_3 VALUES ("10/21/15","USD","62.1620")
("10/22/15","USD","62.6309")
insert into Table_3 VALUES ("10/22/15","USD","62.6309")
("10/23/15","USD","62.7888")
insert into Table_3 VALUES ("10/23/15","USD","62.7888")
("10/24/15","USD","61.9286")
insert into Table_3 VALUES ("10/24/15","USD","61.9286")
("10/27/15","USD","62.5038")
insert into Table_3 VALUES ("10/27/15","USD","62.5038")
("10/28/15","USD","63.5004")
insert into Table_3 VALUES ("10/28/15","USD","63.5004")
("10/29/15","USD","65.3159")
insert into Table_3 VALUES ("10/29/15","USD","65.3159")
("10/30/15","USD","64.1686")
insert into Table_3 VALUES ("10/30/15","USD","64.1686")
("10/31/15","USD","64.3742")
insert into Table_3 VALUES ("10/31/15","USD","64.3742")
("11/3/15","USD","63.7993")
insert into Table_3 VALUES ("11/3/15","USD","63.7993")
("11/4/15","USD","63.8525")
insert into Table_3 VALUES ("11/4/15","USD","63.8525")
("11/6/15","USD","63.3991")
insert into Table_3 VALUES ("11/6/15","USD","63.3991")
("11/7/15","USD","63.6832")
insert into Table_3 VALUES ("11/7/15","USD","63.6832")
("11/10/15","USD","64.6606")
insert into Table_3 VALUES ("11/10/15","USD","64.6606")
("11/11/15","USD","64.3908")
insert into Table_3 VALUES ("11/11/15","USD","64.3908")
("11/12/15","USD","64.5693")
insert into Table_3 VALUES ("11/12/15","USD","64.5693")
("11/13/15","USD","65.4541")
insert into Table_3 VALUES ("11/13/15","USD","65.4541")
("11/14/15","USD","66.6343")
insert into Table_3 VALUES ("11/14/15","USD","66.6343")
("11/17/15","USD","66.4607")
insert into Table_3 VALUES ("11/17/15","USD","66.4607")
("11/18/15","USD","65.4799")
insert into Table_3 VALUES ("11/18/15","USD","65.4799")
("11/19/15","USD","64.7785")
insert into Table_3 VALUES ("11/19/15","USD","64.7785")
("11/20/15","USD","64.9120")
insert into Table_3 VALUES ("11/20/15","USD","64.9120")
("11/21/15","USD","64.8673")
insert into Table_3 VALUES ("11/21/15","USD","64.8673")
("11/24/15","USD","65.5973")
insert into Table_3 VALUES ("11/24/15","USD","65.5973")
("11/25/15","USD","65.6210")
insert into Table_3 VALUES ("11/25/15","USD","65.6210")
("11/26/15","USD","65.4789")
insert into Table_3 VALUES ("11/26/15","USD","65.4789")
("11/27/15","USD","65.6836")
insert into Table_3 VALUES ("11/27/15","USD","65.6836")
("11/28/15","USD","66.2393")
insert into Table_3 VALUES ("11/28/15","USD","66.2393")
("12/1/15","USD","66.7370")
insert into Table_3 VALUES ("12/1/15","USD","66.7370")
("12/2/15","USD","66.2584")
insert into Table_3 VALUES ("12/2/15","USD","66.2584")
("12/3/15","USD","66.7402")
insert into Table_3 VALUES ("12/3/15","USD","66.7402")
("12/4/15","USD","67.7691")
insert into Table_3 VALUES ("12/4/15","USD","67.7691")
("12/5/15","USD","67.6698")
insert into Table_3 VALUES ("12/5/15","USD","67.6698")
("12/8/15","USD","68.5156")
insert into Table_3 VALUES ("12/8/15","USD","68.5156")
("12/9/15","USD","69.3026")
insert into Table_3 VALUES ("12/9/15","USD","69.3026")
("12/10/15","USD","69.2000")
insert into Table_3 VALUES ("12/10/15","USD","69.2000")
("12/11/15","USD","69.2151")
insert into Table_3 VALUES ("12/11/15","USD","69.2151")
("12/12/15","USD","69.1755")
insert into Table_3 VALUES ("12/12/15","USD","69.1755")
("12/15/15","USD","70.2244")
insert into Table_3 VALUES ("12/15/15","USD","70.2244")
("12/16/15","USD","70.8295")
insert into Table_3 VALUES ("12/16/15","USD","70.8295")
("12/17/15","USD","70.4012")
insert into Table_3 VALUES ("12/17/15","USD","70.4012")
("12/18/15","USD","70.5806")
insert into Table_3 VALUES ("12/18/15","USD","70.5806")
("12/19/15","USD","71.3215")
insert into Table_3 VALUES ("12/19/15","USD","71.3215")
("12/22/15","USD","71.2553")
insert into Table_3 VALUES ("12/22/15","USD","71.2553")
("12/23/15","USD","71.1211")
insert into Table_3 VALUES ("12/23/15","USD","71.1211")
("12/24/15","USD","70.9333")
insert into Table_3 VALUES ("12/24/15","USD","70.9333")
("12/25/15","USD","69.5165")
insert into Table_3 VALUES ("12/25/15","USD","69.5165")
("12/26/15","USD","70.2690")
insert into Table_3 VALUES ("12/26/15","USD","70.2690")
("12/29/15","USD","70.7865")
insert into Table_3 VALUES ("12/29/15","USD","70.7865")
("12/30/15","USD","72.5066")
insert into Table_3 VALUES ("12/30/15","USD","72.5066")
("12/31/15","USD","72.8827")
insert into Table_3 VALUES ("12/31/15","USD","72.8827")
("1/1/16","USD","72.9299")
insert into Table_3 VALUES ("1/1/16","USD","72.9299")
("1/12/16","USD","75.9507")
insert into Table_3 VALUES ("1/12/16","USD","75.9507")
("1/13/16","USD","76.6041")
insert into Table_3 VALUES ("1/13/16","USD","76.6041")
("1/14/16","USD","76.4275")
insert into Table_3 VALUES ("1/14/16","USD","76.4275")
("1/15/16","USD","76.5230")
insert into Table_3 VALUES ("1/15/16","USD","76.5230")
("1/16/16","USD","76.5650")
insert into Table_3 VALUES ("1/16/16","USD","76.5650")
("1/19/16","USD","78.6678")
insert into Table_3 VALUES ("1/19/16","USD","78.6678")
("1/20/16","USD","78.4862")
insert into Table_3 VALUES ("1/20/16","USD","78.4862")
("1/21/16","USD","79.4614")
insert into Table_3 VALUES ("1/21/16","USD","79.4614")
("1/22/16","USD","83.5913")
insert into Table_3 VALUES ("1/22/16","USD","83.5913")
("1/23/16","USD","80.5714")
insert into Table_3 VALUES ("1/23/16","USD","80.5714")
("1/26/16","USD","77.7965")
insert into Table_3 VALUES ("1/26/16","USD","77.7965")
("1/27/16","USD","81.8394")
insert into Table_3 VALUES ("1/27/16","USD","81.8394")
("1/28/16","USD","78.9969")
insert into Table_3 VALUES ("1/28/16","USD","78.9969")
("1/29/16","USD","77.3674")
insert into Table_3 VALUES ("1/29/16","USD","77.3674")
("1/30/16","USD","75.1723")
insert into Table_3 VALUES ("1/30/16","USD","75.1723")
("2/2/16","USD","76.3264")
insert into Table_3 VALUES ("2/2/16","USD","76.3264")
("2/3/16","USD","77.9273")
insert into Table_3 VALUES ("2/3/16","USD","77.9273")
("2/4/16","USD","79.2593")
insert into Table_3 VALUES ("2/4/16","USD","79.2593")
("2/5/16","USD","76.4609")
insert into Table_3 VALUES ("2/5/16","USD","76.4609")
("2/6/16","USD","77.3409")
insert into Table_3 VALUES ("2/6/16","USD","77.3409")
("2/9/16","USD","76.8614")
insert into Table_3 VALUES ("2/9/16","USD","76.8614")
("2/10/16","USD","78.6805")
insert into Table_3 VALUES ("2/10/16","USD","78.6805")
("2/11/16","USD","79.0689")
insert into Table_3 VALUES ("2/11/16","USD","79.0689")
("2/12/16","USD","79.1144")
insert into Table_3 VALUES ("2/12/16","USD","79.1144")
("2/13/16","USD","79.4951")
insert into Table_3 VALUES ("2/13/16","USD","79.4951")
("2/16/16","USD","77.7792")
insert into Table_3 VALUES ("2/16/16","USD","77.7792")
("2/17/16","USD","76.2450")
insert into Table_3 VALUES ("2/17/16","USD","76.2450")
("2/18/16","USD","77.8503")
insert into Table_3 VALUES ("2/18/16","USD","77.8503")
("2/19/16","USD","75.4575")
insert into Table_3 VALUES ("2/19/16","USD","75.4575")
("2/20/16","USD","76.3657")
insert into Table_3 VALUES ("2/20/16","USD","76.3657")
("2/21/16","USD","77.1326")
insert into Table_3 VALUES ("2/21/16","USD","77.1326")
("2/25/16","USD","76.3928")
insert into Table_3 VALUES ("2/25/16","USD","76.3928")
("2/26/16","USD","76.3929")
insert into Table_3 VALUES ("2/26/16","USD","76.3929")
("2/27/16","USD","75.0903")
insert into Table_3 VALUES ("2/27/16","USD","75.0903")
("3/1/16","USD","75.8994")
insert into Table_3 VALUES ("3/1/16","USD","75.8994")
("3/2/16","USD","74.0536")
insert into Table_3 VALUES ("3/2/16","USD","74.0536")
("3/3/16","USD","73.6256")
insert into Table_3 VALUES ("3/3/16","USD","73.6256")
("3/4/16","USD","73.8242")
insert into Table_3 VALUES ("3/4/16","USD","73.8242")
("3/5/16","USD","73.1854")
insert into Table_3 VALUES ("3/5/16","USD","73.1854")
("3/10/16","USD","72.3775")
insert into Table_3 VALUES ("3/10/16","USD","72.3775")
("3/11/16","USD","71.0928")
insert into Table_3 VALUES ("3/11/16","USD","71.0928")
("3/12/16","USD","70.3067")
insert into Table_3 VALUES ("3/12/16","USD","70.3067")
("3/15/16","USD","70.1542")
insert into Table_3 VALUES ("3/15/16","USD","70.1542")
("3/16/16","USD","70.5408")
insert into Table_3 VALUES ("3/16/16","USD","70.5408")
("3/17/16","USD","71.0256")
insert into Table_3 VALUES ("3/17/16","USD","71.0256")
("3/18/16","USD","68.5598")
insert into Table_3 VALUES ("3/18/16","USD","68.5598")
("3/19/16","USD","68.4026")
insert into Table_3 VALUES ("3/19/16","USD","68.4026")
("3/22/16","USD","68.8086")
insert into Table_3 VALUES ("3/22/16","USD","68.8086")
("3/23/16","USD","67.7764")
insert into Table_3 VALUES ("3/23/16","USD","67.7764")
("3/24/16","USD","67.6409")
insert into Table_3 VALUES ("3/24/16","USD","67.6409")
("3/25/16","USD","68.9328")
insert into Table_3 VALUES ("3/25/16","USD","68.9328")
("3/26/16","USD","68.4346")
insert into Table_3 VALUES ("3/26/16","USD","68.4346")
("3/29/16","USD","67.7807")
insert into Table_3 VALUES ("3/29/16","USD","67.7807")
("3/30/16","USD","68.7549")
insert into Table_3 VALUES ("3/30/16","USD","68.7549")
("3/31/16","USD","67.6076")
insert into Table_3 VALUES ("3/31/16","USD","67.6076")
("4/1/16","USD","67.8552")
insert into Table_3 VALUES ("4/1/16","USD","67.8552")
("4/2/16","USD","67.1410")
insert into Table_3 VALUES ("4/2/16","USD","67.1410")
("4/5/16","USD","68.6753")
insert into Table_3 VALUES ("4/5/16","USD","68.6753")
("4/6/16","USD","68.8901")
insert into Table_3 VALUES ("4/6/16","USD","68.8901")
("4/7/16","USD","68.5215")
insert into Table_3 VALUES ("4/7/16","USD","68.5215")
("4/8/16","USD","67.7960")
insert into Table_3 VALUES ("4/8/16","USD","67.7960")
("4/9/16","USD","67.4662")
insert into Table_3 VALUES ("4/9/16","USD","67.4662")

("4/12/16","USD","67.1250")
insert into Table_3 VALUES ("4/12/16","USD","67.1250")
("4/13/16","USD","66.3456")
insert into Table_3 VALUES ("4/13/16","USD","66.3456")
("4/14/16","USD","65.7662")
insert into Table_3 VALUES ("4/14/16","USD","65.7662")
("4/15/16","USD","66.4954")
insert into Table_3 VALUES ("4/15/16","USD","66.4954")
("4/16/16","USD","66.0452")
insert into Table_3 VALUES ("4/16/16","USD","66.0452")
("4/19/16","USD","68.2724")
insert into Table_3 VALUES ("4/19/16","USD","68.2724")
("4/20/16","USD","65.6474")
insert into Table_3 VALUES ("4/20/16","USD","65.6474")
("4/21/16","USD","66.0364")
insert into Table_3 VALUES ("4/21/16","USD","66.0364")
("4/22/16","USD","65.0254")
insert into Table_3 VALUES ("4/22/16","USD","65.0254")
("4/23/16","USD","66.2198")
insert into Table_3 VALUES ("4/23/16","USD","66.2198")
("4/26/16","USD","66.6295")
insert into Table_3 VALUES ("4/26/16","USD","66.6295")
("4/27/16","USD","66.4559")
insert into Table_3 VALUES ("4/27/16","USD","66.4559")
("4/28/16","USD","65.1618")
insert into Table_3 VALUES ("4/28/16","USD","65.1618")
("4/29/16","USD","65.1133")
insert into Table_3 VALUES ("4/29/16","USD","65.1133")
("4/30/16","USD","64.3334")
insert into Table_3 VALUES ("4/30/16","USD","64.3334")
("5/5/16","USD","66.1718")
insert into Table_3 VALUES ("5/5/16","USD","66.1718")
("5/6/16","USD","65.8918")
insert into Table_3 VALUES ("5/6/16","USD","65.8918")
("5/7/16","USD","66.1928")
insert into Table_3 VALUES ("5/7/16","USD","66.1928")
("5/11/16","USD","66.3277")
insert into Table_3 VALUES ("5/11/16","USD","66.3277")
("5/12/16","USD","66.2428")
insert into Table_3 VALUES ("5/12/16","USD","66.2428")
("5/13/16","USD","64.9607")
insert into Table_3 VALUES ("5/13/16","USD","64.9607")
("5/14/16","USD","64.9306")
insert into Table_3 VALUES ("5/14/16","USD","64.9306")
("5/17/16","USD","64.8895")
insert into Table_3 VALUES ("5/17/16","USD","64.8895")
("5/18/16","USD","64.5138")
insert into Table_3 VALUES ("5/18/16","USD","64.5138")
("5/19/16","USD","65.0641")
insert into Table_3 VALUES ("5/19/16","USD","65.0641")
("5/20/16","USD","66.2110")
insert into Table_3 VALUES ("5/20/16","USD","66.2110")
("5/21/16","USD","66.3775")
insert into Table_3 VALUES ("5/21/16","USD","66.3775")
("5/24/16","USD","67.0475")
insert into Table_3 VALUES ("5/24/16","USD","67.0475")
("5/25/16","USD","67.0493")
insert into Table_3 VALUES ("5/25/16","USD","67.0493")
("5/26/16","USD","65.8949")
insert into Table_3 VALUES ("5/26/16","USD","65.8949")
("5/27/16","USD","65.2062")
insert into Table_3 VALUES ("5/27/16","USD","65.2062")
("5/28/16","USD","66.0413")
insert into Table_3 VALUES ("5/28/16","USD","66.0413")
("5/31/16","USD","66.0825")
insert into Table_3 VALUES ("5/31/16","USD","66.0825")
("6/1/16","USD","65.9962")
insert into Table_3 VALUES ("6/1/16","USD","65.9962")
("6/2/16","USD","66.6156")
insert into Table_3 VALUES ("6/2/16","USD","66.6156")
("6/3/16","USD","66.7491")
insert into Table_3 VALUES ("6/3/16","USD","66.7491")
("6/4/16","USD","66.8529")
insert into Table_3 VALUES ("6/4/16","USD","66.8529")
("6/7/16","USD","65.7894")
insert into Table_3 VALUES ("6/7/16","USD","65.7894")
("6/8/16","USD","65.2089")
insert into Table_3 VALUES ("6/8/16","USD","65.2089")
("6/9/16","USD","64.6797")
insert into Table_3 VALUES ("6/9/16","USD","64.6797")
("6/10/16","USD","63.7402")
insert into Table_3 VALUES ("6/10/16","USD","63.7402")
("6/11/16","USD","64.7077")
insert into Table_3 VALUES ("6/11/16","USD","64.7077")
("6/15/16","USD","66.0306")
insert into Table_3 VALUES ("6/15/16","USD","66.0306")
("6/16/16","USD","65.9156")
insert into Table_3 VALUES ("6/16/16","USD","65.9156")
("6/17/16","USD","65.8618")
insert into Table_3 VALUES ("6/17/16","USD","65.8618")
("6/18/16","USD","65.4398")
insert into Table_3 VALUES ("6/18/16","USD","65.4398")
("6/21/16","USD","64.1509")
insert into Table_3 VALUES ("6/21/16","USD","64.1509")
("6/22/16","USD","64.1743")
insert into Table_3 VALUES ("6/22/16","USD","64.1743")
("6/23/16","USD","63.7162")
insert into Table_3 VALUES ("6/23/16","USD","63.7162")
("6/24/16","USD","64.3212")
insert into Table_3 VALUES ("6/24/16","USD","64.3212")
("6/25/16","USD","65.5287")
insert into Table_3 VALUES ("6/25/16","USD","65.5287")
("6/28/16","USD","65.0588")
insert into Table_3 VALUES ("6/28/16","USD","65.0588")
("6/29/16","USD","64.8095")
insert into Table_3 VALUES ("6/29/16","USD","64.8095")
("6/30/16","USD","64.2575")
insert into Table_3 VALUES ("6/30/16","USD","64.2575")
("7/1/16","USD","64.1755")
insert into Table_3 VALUES ("7/1/16","USD","64.1755")
("7/2/16","USD","64.0165")
insert into Table_3 VALUES ("7/2/16","USD","64.0165")
("7/5/16","USD","63.6844")
insert into Table_3 VALUES ("7/5/16","USD","63.6844")
("7/6/16","USD","64.2676")
insert into Table_3 VALUES ("7/6/16","USD","64.2676")
("7/7/16","USD","64.6304")
insert into Table_3 VALUES ("7/7/16","USD","64.6304")
("7/8/16","USD","64.0500")
insert into Table_3 VALUES ("7/8/16","USD","64.0500")
("7/9/16","USD","64.2488")
insert into Table_3 VALUES ("7/9/16","USD","64.2488")
("7/12/16","USD","64.2024")
insert into Table_3 VALUES ("7/12/16","USD","64.2024")
("7/13/16","USD","63.9029")
insert into Table_3 VALUES ("7/13/16","USD","63.9029")
("7/14/16","USD","63.8531")
insert into Table_3 VALUES ("7/14/16","USD","63.8531")
("7/15/16","USD","63.5773")
insert into Table_3 VALUES ("7/15/16","USD","63.5773")
("7/16/16","USD","63.1697")
insert into Table_3 VALUES ("7/16/16","USD","63.1697")
("7/19/16","USD","63.1154")
insert into Table_3 VALUES ("7/19/16","USD","63.1154")
("7/20/16","USD","62.9891")
insert into Table_3 VALUES ("7/20/16","USD","62.9891")
("7/21/16","USD","63.4183")
insert into Table_3 VALUES ("7/21/16","USD","63.4183")
("7/22/16","USD","63.7373")
insert into Table_3 VALUES ("7/22/16","USD","63.7373")
("7/23/16","USD","64.6270")
insert into Table_3 VALUES ("7/23/16","USD","64.6270")
("7/26/16","USD","64.9184")
insert into Table_3 VALUES ("7/26/16","USD","64.9184")
("7/27/16","USD","65.7408")
insert into Table_3 VALUES ("7/27/16","USD","65.7408")
("7/28/16","USD","65.9467")
insert into Table_3 VALUES ("7/28/16","USD","65.9467")
("7/29/16","USD","66.1125")
insert into Table_3 VALUES ("7/29/16","USD","66.1125")
("7/30/16","USD","67.0512")
insert into Table_3 VALUES ("7/30/16","USD","67.0512")
("8/2/16","USD","65.9553")
insert into Table_3 VALUES ("8/2/16","USD","65.9553")
("8/3/16","USD","66.8816")
insert into Table_3 VALUES ("8/3/16","USD","66.8816")
("8/4/16","USD","66.7420")
insert into Table_3 VALUES ("8/4/16","USD","66.7420")
("8/5/16","USD","66.3941")
insert into Table_3 VALUES ("8/5/16","USD","66.3941")
("8/6/16","USD","65.5627")
insert into Table_3 VALUES ("8/6/16","USD","65.5627")
("8/9/16","USD","65.0799")
insert into Table_3 VALUES ("8/9/16","USD","65.0799")
("8/10/16","USD","64.7848")
insert into Table_3 VALUES ("8/10/16","USD","64.7848")
("8/11/16","USD","64.8137")
insert into Table_3 VALUES ("8/11/16","USD","64.8137")
("8/12/16","USD","64.9497")
insert into Table_3 VALUES ("8/12/16","USD","64.9497")
("8/13/16","USD","64.3364")
insert into Table_3 VALUES ("8/13/16","USD","64.3364")
("8/16/16","USD","64.2076")
insert into Table_3 VALUES ("8/16/16","USD","64.2076")
("8/17/16","USD","63.9514")
insert into Table_3 VALUES ("8/17/16","USD","63.9514")
("8/18/16","USD","63.9943")
insert into Table_3 VALUES ("8/18/16","USD","63.9943")
("8/19/16","USD","63.5487")
insert into Table_3 VALUES ("8/19/16","USD","63.5487")
("8/20/16","USD","63.9391")
insert into Table_3 VALUES ("8/20/16","USD","63.9391")
("8/23/16","USD","64.2078")
insert into Table_3 VALUES ("8/23/16","USD","64.2078")
("8/24/16","USD","64.7684")
insert into Table_3 VALUES ("8/24/16","USD","64.7684")
("8/25/16","USD","64.8140")
insert into Table_3 VALUES ("8/25/16","USD","64.8140")
("8/26/16","USD","64.9459")
insert into Table_3 VALUES ("8/26/16","USD","64.9459")
("8/27/16","USD","64.7380")
insert into Table_3 VALUES ("8/27/16","USD","64.7380")
("8/30/16","USD","65.0810")
insert into Table_3 VALUES ("8/30/16","USD","65.0810")
("8/31/16","USD","64.9072")
insert into Table_3 VALUES ("8/31/16","USD","64.9072")
("9/1/16","USD","65.2535")
insert into Table_3 VALUES ("9/1/16","USD","65.2535")
("9/2/16","USD","65.2566")
insert into Table_3 VALUES ("9/2/16","USD","65.2566")
("9/3/16","USD","65.8684")
insert into Table_3 VALUES ("9/3/16","USD","65.8684")
("9/6/16","USD","64.7644")
insert into Table_3 VALUES ("9/6/16","USD","64.7644")
("9/7/16","USD","64.8306")
insert into Table_3 VALUES ("9/7/16","USD","64.8306")
("9/8/16","USD","64.3804")
insert into Table_3 VALUES ("9/8/16","USD","64.3804")
("9/9/16","USD","63.9730")
insert into Table_3 VALUES ("9/9/16","USD","63.9730")
("9/10/16","USD","64.1617")
insert into Table_3 VALUES ("9/10/16","USD","64.1617")
("9/13/16","USD","65.0539")
insert into Table_3 VALUES ("9/13/16","USD","65.0539")
("9/14/16","USD","64.8102")
insert into Table_3 VALUES ("9/14/16","USD","64.8102")
("9/15/16","USD","64.9737")
insert into Table_3 VALUES ("9/15/16","USD","64.9737")
("9/16/16","USD","65.2170")
insert into Table_3 VALUES ("9/16/16","USD","65.2170")
("9/17/16","USD","64.9940")
insert into Table_3 VALUES ("9/17/16","USD","64.9940")
("9/20/16","USD","64.9173")
insert into Table_3 VALUES ("9/20/16","USD","64.9173")
("9/21/16","USD","64.7513")
insert into Table_3 VALUES ("9/21/16","USD","64.7513")
("9/22/16","USD","64.4424")
insert into Table_3 VALUES ("9/22/16","USD","64.4424")
("9/23/16","USD","63.7942")
insert into Table_3 VALUES ("9/23/16","USD","63.7942")
("9/24/16","USD","63.8642")
insert into Table_3 VALUES ("9/24/16","USD","63.8642")
("9/27/16","USD","64.1506")
insert into Table_3 VALUES ("9/27/16","USD","64.1506")
("9/28/16","USD","63.6921")
insert into Table_3 VALUES ("9/28/16","USD","63.6921")
("9/29/16","USD","63.9509")
insert into Table_3 VALUES ("9/29/16","USD","63.9509")
("9/30/16","USD","63.1581")
insert into Table_3 VALUES ("9/30/16","USD","63.1581")
("10/1/16","USD","63.3960")
insert into Table_3 VALUES ("10/1/16","USD","63.3960")
("10/4/16","USD","62.5477")
insert into Table_3 VALUES ("10/4/16","USD","62.5477")
("10/5/16","USD","62.4323")
insert into Table_3 VALUES ("10/5/16","USD","62.4323")
("10/6/16","USD","62.4583")
insert into Table_3 VALUES ("10/6/16","USD","62.4583")
("10/7/16","USD","62.3900")
insert into Table_3 VALUES ("10/7/16","USD","62.3900")
("10/8/16","USD","62.3031")
insert into Table_3 VALUES ("10/8/16","USD","62.3031")
("10/11/16","USD","62.3884")
insert into Table_3 VALUES ("10/11/16","USD","62.3884")
("10/12/16","USD","62.1946")
insert into Table_3 VALUES ("10/12/16","USD","62.1946")
("10/13/16","USD","62.5892")
insert into Table_3 VALUES ("10/13/16","USD","62.5892")

("10/14/16","USD","63.3465")
insert into Table_3 VALUES ("10/14/16","USD","63.3465")
("10/15/16","USD","62.9934")
insert into Table_3 VALUES ("10/15/16","USD","62.9934")
("10/18/16","USD","63.1510")
insert into Table_3 VALUES ("10/18/16","USD","63.1510")
("10/19/16","USD","62.8900")
insert into Table_3 VALUES ("10/19/16","USD","62.8900")
("10/20/16","USD","62.5841")
insert into Table_3 VALUES ("10/20/16","USD","62.5841")
("10/21/16","USD","62.4194")
insert into Table_3 VALUES ("10/21/16","USD","62.4194")
("10/22/16","USD","62.4499")
insert into Table_3 VALUES ("10/22/16","USD","62.4499")
("10/25/16","USD","62.2349")
insert into Table_3 VALUES ("10/25/16","USD","62.2349")
("10/26/16","USD","62.0480")
insert into Table_3 VALUES ("10/26/16","USD","62.0480")
("10/27/16","USD","62.2597")
insert into Table_3 VALUES ("10/27/16","USD","62.2597")
("10/28/16","USD","63.0399")
insert into Table_3 VALUES ("10/28/16","USD","63.0399")
("10/29/16","USD","62.9037")
insert into Table_3 VALUES ("10/29/16","USD","62.9037")
("11/1/16","USD","63.2174")
insert into Table_3 VALUES ("11/1/16","USD","63.2174")
("11/2/16","USD","63.2025")
insert into Table_3 VALUES ("11/2/16","USD","63.2025")
("11/3/16","USD","63.4166")
insert into Table_3 VALUES ("11/3/16","USD","63.4166")
("11/4/16","USD","63.5043")
insert into Table_3 VALUES ("11/4/16","USD","63.5043")
("11/8/16","USD","63.9074")
insert into Table_3 VALUES ("11/8/16","USD","63.9074")
("11/9/16","USD","63.7364")
insert into Table_3 VALUES ("11/9/16","USD","63.7364")
("11/10/16","USD","63.8928")
insert into Table_3 VALUES ("11/10/16","USD","63.8928")
("11/11/16","USD","63.4161")
insert into Table_3 VALUES ("11/11/16","USD","63.4161")
("11/12/16","USD","65.2167")
insert into Table_3 VALUES ("11/12/16","USD","65.2167")
("11/15/16","USD","65.8591")
insert into Table_3 VALUES ("11/15/16","USD","65.8591")
("11/16/16","USD","65.5548")
insert into Table_3 VALUES ("11/16/16","USD","65.5548")
("11/17/16","USD","64.5463")
insert into Table_3 VALUES ("11/17/16","USD","64.5463")
("11/18/16","USD","64.9154")
insert into Table_3 VALUES ("11/18/16","USD","64.9154")
("11/19/16","USD","65.1023")
insert into Table_3 VALUES ("11/19/16","USD","65.1023")
("11/22/16","USD","64.3580")
insert into Table_3 VALUES ("11/22/16","USD","64.3580")
("11/23/16","USD","63.6282")
insert into Table_3 VALUES ("11/23/16","USD","63.6282")
("11/24/16","USD","64.0087")
insert into Table_3 VALUES ("11/24/16","USD","64.0087")
("11/25/16","USD","64.6279")
insert into Table_3 VALUES ("11/25/16","USD","64.6279")
("11/26/16","USD","64.6174")
insert into Table_3 VALUES ("11/26/16","USD","64.6174")
("11/29/16","USD","64.9153")
insert into Table_3 VALUES ("11/29/16","USD","64.9153")
("11/30/16","USD","64.9449")
insert into Table_3 VALUES ("11/30/16","USD","64.9449")
("12/1/16","USD","65.2382")
insert into Table_3 VALUES ("12/1/16","USD","65.2382")
("12/2/16","USD","63.6807")
insert into Table_3 VALUES ("12/2/16","USD","63.6807")
("12/3/16","USD","64.1528")
insert into Table_3 VALUES ("12/3/16","USD","64.1528")
("12/6/16","USD","63.9242")
insert into Table_3 VALUES ("12/6/16","USD","63.9242")
("12/7/16","USD","63.8741")
insert into Table_3 VALUES ("12/7/16","USD","63.8741")
("12/8/16","USD","63.9114")
insert into Table_3 VALUES ("12/8/16","USD","63.9114")
("12/9/16","USD","63.3901")
insert into Table_3 VALUES ("12/9/16","USD","63.3901")
("12/10/16","USD","63.3028")
insert into Table_3 VALUES ("12/10/16","USD","63.3028")
("12/13/16","USD","61.5804")
insert into Table_3 VALUES ("12/13/16","USD","61.5804")
("12/14/16","USD","61.0690")
insert into Table_3 VALUES ("12/14/16","USD","61.0690")
("12/15/16","USD","60.8079")
insert into Table_3 VALUES ("12/15/16","USD","60.8079")
("12/16/16","USD","61.6368")
insert into Table_3 VALUES ("12/16/16","USD","61.6368")
("12/17/16","USD","61.7515")
insert into Table_3 VALUES ("12/17/16","USD","61.7515")
("12/20/16","USD","61.7931")
insert into Table_3 VALUES ("12/20/16","USD","61.7931")
("12/21/16","USD","61.7967")
insert into Table_3 VALUES ("12/21/16","USD","61.7967")
("12/22/16","USD","61.1092")
insert into Table_3 VALUES ("12/22/16","USD","61.1092")
("12/23/16","USD","60.8641")
insert into Table_3 VALUES ("12/23/16","USD","60.8641")
("12/24/16","USD","60.8528")
insert into Table_3 VALUES ("12/24/16","USD","60.8528")
("12/27/16","USD","60.9084")
insert into Table_3 VALUES ("12/27/16","USD","60.9084")
("12/28/16","USD","60.8587")
insert into Table_3 VALUES ("12/28/16","USD","60.8587")
("12/29/16","USD","60.6669")
insert into Table_3 VALUES ("12/29/16","USD","60.6669")
("12/30/16","USD","60.2730")
insert into Table_3 VALUES ("12/30/16","USD","60.2730")
("12/31/16","USD","60.6569")
insert into Table_3 VALUES ("12/31/16","USD","60.6569")
("1/10/17","USD","59.8961")
insert into Table_3 VALUES ("1/10/17","USD","59.8961")
("1/11/17","USD","59.9533")
insert into Table_3 VALUES ("1/11/17","USD","59.9533")
("1/12/17","USD","60.1614")
insert into Table_3 VALUES ("1/12/17","USD","60.1614")
("1/13/17","USD","59.4978")
insert into Table_3 VALUES ("1/13/17","USD","59.4978")
("1/14/17","USD","59.3700")
insert into Table_3 VALUES ("1/14/17","USD","59.3700")
("1/17/17","USD","59.6067")
insert into Table_3 VALUES ("1/17/17","USD","59.6067")
("1/18/17","USD","59.4015")
insert into Table_3 VALUES ("1/18/17","USD","59.4015")
("1/19/17","USD","59.1830")
insert into Table_3 VALUES ("1/19/17","USD","59.1830")
("1/20/17","USD","59.3521")
insert into Table_3 VALUES ("1/20/17","USD","59.3521")
("1/21/17","USD","59.6697")
insert into Table_3 VALUES ("1/21/17","USD","59.6697")
("1/24/17","USD","59.5034")
insert into Table_3 VALUES ("1/24/17","USD","59.5034")
("1/25/17","USD","59.2168")
insert into Table_3 VALUES ("1/25/17","USD","59.2168")
("1/26/17","USD","59.1489")
insert into Table_3 VALUES ("1/26/17","USD","59.1489")
("1/27/17","USD","59.6356")
insert into Table_3 VALUES ("1/27/17","USD","59.6356")
("1/28/17","USD","60.3196")
insert into Table_3 VALUES ("1/28/17","USD","60.3196")
("1/31/17","USD","60.1618")
insert into Table_3 VALUES ("1/31/17","USD","60.1618")
("2/1/17","USD","60.0851")
insert into Table_3 VALUES ("2/1/17","USD","60.0851")
("2/2/17","USD","60.3099")
insert into Table_3 VALUES ("2/2/17","USD","60.3099")
("2/3/17","USD","59.9858")
insert into Table_3 VALUES ("2/3/17","USD","59.9858")
("2/4/17","USD","59.3137")
insert into Table_3 VALUES ("2/4/17","USD","59.3137")
("2/7/17","USD","58.7121")
insert into Table_3 VALUES ("2/7/17","USD","58.7121")
("2/8/17","USD","59.1933")
insert into Table_3 VALUES ("2/8/17","USD","59.1933")
("2/9/17","USD","59.5129")
insert into Table_3 VALUES ("2/9/17","USD","59.5129")
("2/10/17","USD","59.0235")
insert into Table_3 VALUES ("2/10/17","USD","59.0235")
("2/11/17","USD","58.8457")
insert into Table_3 VALUES ("2/11/17","USD","58.8457")
("2/14/17","USD","58.0619")
insert into Table_3 VALUES ("2/14/17","USD","58.0619")
("2/15/17","USD","57.7388")
insert into Table_3 VALUES ("2/15/17","USD","57.7388")
("2/16/17","USD","56.7719")
insert into Table_3 VALUES ("2/16/17","USD","56.7719")
("2/17/17","USD","57.1507")
insert into Table_3 VALUES ("2/17/17","USD","57.1507")
("2/18/17","USD","57.6342")
insert into Table_3 VALUES ("2/18/17","USD","57.6342")
("2/21/17","USD","58.0967")
insert into Table_3 VALUES ("2/21/17","USD","58.0967")
("2/22/17","USD","57.8590")
insert into Table_3 VALUES ("2/22/17","USD","57.8590")
("2/23/17","USD","57.4762")
insert into Table_3 VALUES ("2/23/17","USD","57.4762")
("2/28/17","USD","57.9371")
insert into Table_3 VALUES ("2/28/17","USD","57.9371")
("3/1/17","USD","57.9627")
insert into Table_3 VALUES ("3/1/17","USD","57.9627")
("3/2/17","USD","58.3776")
insert into Table_3 VALUES ("3/2/17","USD","58.3776")
("3/3/17","USD","58.4067")
insert into Table_3 VALUES ("3/3/17","USD","58.4067")
("3/4/17","USD","58.9099")
insert into Table_3 VALUES ("3/4/17","USD","58.9099")
("3/7/17","USD","58.3370")
insert into Table_3 VALUES ("3/7/17","USD","58.3370")
("3/8/17","USD","58.2630")
insert into Table_3 VALUES ("3/8/17","USD","58.2630")
("3/10/17","USD","58.8318")
insert into Table_3 VALUES ("3/10/17","USD","58.8318")
("3/11/17","USD","59.2174")
insert into Table_3 VALUES ("3/11/17","USD","59.2174")
("3/14/17","USD","59.1327")
insert into Table_3 VALUES ("3/14/17","USD","59.1327")
("3/15/17","USD","58.9540")
insert into Table_3 VALUES ("3/15/17","USD","58.9540")
("3/16/17","USD","59.1128")
insert into Table_3 VALUES ("3/16/17","USD","59.1128")
("3/17/17","USD","58.2437")
insert into Table_3 VALUES ("3/17/17","USD","58.2437")
("3/18/17","USD","57.9344")
insert into Table_3 VALUES ("3/18/17","USD","57.9344")
("3/21/17","USD","57.2847")
insert into Table_3 VALUES ("3/21/17","USD","57.2847")
("3/22/17","USD","57.2323")
insert into Table_3 VALUES ("3/22/17","USD","57.2323")
("3/23/17","USD","57.6360")
insert into Table_3 VALUES ("3/23/17","USD","57.6360")
("3/24/17","USD","57.5228")
insert into Table_3 VALUES ("3/24/17","USD","57.5228")
("3/25/17","USD","57.4247")
insert into Table_3 VALUES ("3/25/17","USD","57.4247")
("3/28/17","USD","57.0233")
insert into Table_3 VALUES ("3/28/17","USD","57.0233")
("3/29/17","USD","56.9364")
insert into Table_3 VALUES ("3/29/17","USD","56.9364")
("3/30/17","USD","57.0241")
insert into Table_3 VALUES ("3/30/17","USD","57.0241")
("3/31/17","USD","56.3779")
insert into Table_3 VALUES ("3/31/17","USD","56.3779")
("4/1/17","USD","55.9606")
insert into Table_3 VALUES ("4/1/17","USD","55.9606")
("4/4/17","USD","56.1396")
insert into Table_3 VALUES ("4/4/17","USD","56.1396")
("4/5/17","USD","56.5553")
insert into Table_3 VALUES ("4/5/17","USD","56.5553")
("4/6/17","USD","55.8940")
insert into Table_3 VALUES ("4/6/17","USD","55.8940")
("4/7/17","USD","56.4369")
insert into Table_3 VALUES ("4/7/17","USD","56.4369")
("4/8/17","USD","56.9201")
insert into Table_3 VALUES ("4/8/17","USD","56.9201")
("4/11/17","USD","57.3896")
insert into Table_3 VALUES ("4/11/17","USD","57.3896")
("4/12/17","USD","56.9552")
insert into Table_3 VALUES ("4/12/17","USD","56.9552")
("4/13/17","USD","56.7556")
insert into Table_3 VALUES ("4/13/17","USD","56.7556")
("4/14/17","USD","56.6019")
insert into Table_3 VALUES ("4/14/17","USD","56.6019")
("4/15/17","USD","56.2945")
insert into Table_3 VALUES ("4/15/17","USD","56.2945")
("4/18/17","USD","56.2505")
insert into Table_3 VALUES ("4/18/17","USD","56.2505")
("4/19/17","USD","55.9793")
insert into Table_3 VALUES ("4/19/17","USD","55.9793")
("4/20/17","USD","56.1753")
insert into Table_3 VALUES ("4/20/17","USD","56.1753")
("4/21/17","USD","56.4165")
insert into Table_3 VALUES ("4/21/17","USD","56.4165")
("4/22/17","USD","56.2307")
insert into Table_3 VALUES ("4/22/17","USD","56.2307")
("4/25/17","USD","56.0794")
insert into Table_3 VALUES ("4/25/17","USD","56.0794")
("4/26/17","USD","55.8453")
insert into Table_3 VALUES ("4/26/17","USD","55.8453")
("4/27/17","USD","56.3131")
insert into Table_3 VALUES ("4/27/17","USD","56.3131")
("4/28/17","USD","56.9707")
insert into Table_3 VALUES ("4/28/17","USD","56.9707")
("4/29/17","USD","56.9838")
insert into Table_3 VALUES ("4/29/17","USD","56.9838")
("5/3/17","USD","56.9518")
insert into Table_3 VALUES ("5/3/17","USD","56.9518")
("5/4/17","USD","57.0927")
insert into Table_3 VALUES ("5/4/17","USD","57.0927")
("5/5/17","USD","57.5714")
insert into Table_3 VALUES ("5/5/17","USD","57.5714")
("5/6/17","USD","58.5382")
insert into Table_3 VALUES ("5/6/17","USD","58.5382")
("5/11/17","USD","58.0824")
insert into Table_3 VALUES ("5/11/17","USD","58.0824")
("5/12/17","USD","57.1161")
insert into Table_3 VALUES ("5/12/17","USD","57.1161")
("5/13/17","USD","57.1640")
insert into Table_3 VALUES ("5/13/17","USD","57.1640")
("5/16/17","USD","56.5258")
insert into Table_3 VALUES ("5/16/17","USD","56.5258")
("5/17/17","USD","56.2603")
insert into Table_3 VALUES ("5/17/17","USD","56.2603")
("5/18/17","USD","56.7383")
insert into Table_3 VALUES ("5/18/17","USD","56.7383")
("5/19/17","USD","57.4683")
insert into Table_3 VALUES ("5/19/17","USD","57.4683")
("5/20/17","USD","57.1602")
insert into Table_3 VALUES ("5/20/17","USD","57.1602")
("5/23/17","USD","56.4988")
insert into Table_3 VALUES ("5/23/17","USD","56.4988")
("5/24/17","USD","56.5552")
insert into Table_3 VALUES ("5/24/17","USD","56.5552")
("5/25/17","USD","56.2743")
insert into Table_3 VALUES ("5/25/17","USD","56.2743")
("5/26/17","USD","56.0701")
insert into Table_3 VALUES ("5/26/17","USD","56.0701")
("5/27/17","USD","56.7560")
insert into Table_3 VALUES ("5/27/17","USD","56.7560")
("5/30/17","USD","56.7106")
insert into Table_3 VALUES ("5/30/17","USD","56.7106")
("5/31/17","USD","56.5168")
insert into Table_3 VALUES ("5/31/17","USD","56.5168")
("6/1/17","USD","56.6876")
insert into Table_3 VALUES ("6/1/17","USD","56.6876")
("6/2/17","USD","56.5373")
insert into Table_3 VALUES ("6/2/17","USD","56.5373")
("6/3/17","USD","56.6876")
insert into Table_3 VALUES ("6/3/17","USD","56.6876")
("6/6/17","USD","56.6152")
insert into Table_3 VALUES ("6/6/17","USD","56.6152")
("6/7/17","USD","56.6747")
insert into Table_3 VALUES ("6/7/17","USD","56.6747")
("6/8/17","USD","56.5878")
insert into Table_3 VALUES ("6/8/17","USD","56.5878")
("6/9/17","USD","56.9857")
insert into Table_3 VALUES ("6/9/17","USD","56.9857")
("6/10/17","USD","57.0020")
insert into Table_3 VALUES ("6/10/17","USD","57.0020")
("6/14/17","USD","56.9096")
insert into Table_3 VALUES ("6/14/17","USD","56.9096")
("6/15/17","USD","57.0303")
insert into Table_3 VALUES ("6/15/17","USD","57.0303")

("6/16/17","USD","57.4437")
insert into Table_3 VALUES ("6/16/17","USD","57.4437")
("6/17/17","USD","57.7408")
insert into Table_3 VALUES ("6/17/17","USD","57.7408")
("6/20/17","USD","57.9585")
insert into Table_3 VALUES ("6/20/17","USD","57.9585")
("6/21/17","USD","58.5786")
insert into Table_3 VALUES ("6/21/17","USD","58.5786")
("6/22/17","USD","60.0000")
insert into Table_3 VALUES ("6/22/17","USD","60.0000")
("6/23/17","USD","60.1482")
insert into Table_3 VALUES ("6/23/17","USD","60.1482")
("6/24/17","USD","59.6564")
insert into Table_3 VALUES ("6/24/17","USD","59.6564")
("6/27/17","USD","59.0014")
insert into Table_3 VALUES ("6/27/17","USD","59.0014")
("6/28/17","USD","58.8843")
insert into Table_3 VALUES ("6/28/17","USD","58.8843")
("6/29/17","USD","59.5415")
insert into Table_3 VALUES ("6/29/17","USD","59.5415")
("6/30/17","USD","59.0855")
insert into Table_3 VALUES ("6/30/17","USD","59.0855")
("7/1/17","USD","59.3862")
insert into Table_3 VALUES ("7/1/17","USD","59.3862")
("7/4/17","USD","58.9695")
insert into Table_3 VALUES ("7/4/17","USD","58.9695")
("7/5/17","USD","59.2295")
insert into Table_3 VALUES ("7/5/17","USD","59.2295")
("7/6/17","USD","59.5787")
insert into Table_3 VALUES ("7/6/17","USD","59.5787")
("7/7/17","USD","60.2426")
insert into Table_3 VALUES ("7/7/17","USD","60.2426")
("7/8/17","USD","60.3792")
insert into Table_3 VALUES ("7/8/17","USD","60.3792")
("7/11/17","USD","60.3014")
insert into Table_3 VALUES ("7/11/17","USD","60.3014")
("7/12/17","USD","60.7397")
insert into Table_3 VALUES ("7/12/17","USD","60.7397")
("7/13/17","USD","60.6227")
insert into Table_3 VALUES ("7/13/17","USD","60.6227")
("7/14/17","USD","60.1836")
insert into Table_3 VALUES ("7/14/17","USD","60.1836")
("7/15/17","USD","59.8806")
insert into Table_3 VALUES ("7/15/17","USD","59.8806")
("7/18/17","USD","59.0657")
insert into Table_3 VALUES ("7/18/17","USD","59.0657")
("7/19/17","USD","59.3705")
insert into Table_3 VALUES ("7/19/17","USD","59.3705")
("7/20/17","USD","59.2418")
insert into Table_3 VALUES ("7/20/17","USD","59.2418")
("7/21/17","USD","59.0823")
insert into Table_3 VALUES ("7/21/17","USD","59.0823")
("7/22/17","USD","58.9325")
insert into Table_3 VALUES ("7/22/17","USD","58.9325")
("7/25/17","USD","59.6572")
insert into Table_3 VALUES ("7/25/17","USD","59.6572")
("7/26/17","USD","59.8185")
insert into Table_3 VALUES ("7/26/17","USD","59.8185")
("7/27/17","USD","59.9102")
insert into Table_3 VALUES ("7/27/17","USD","59.9102")
("7/28/17","USD","59.4102")
insert into Table_3 VALUES ("7/28/17","USD","59.4102")
("7/29/17","USD","59.5436")
insert into Table_3 VALUES ("7/29/17","USD","59.5436")
("8/1/17","USD","60.0633")
insert into Table_3 VALUES ("8/1/17","USD","60.0633")
("8/2/17","USD","59.8454")
insert into Table_3 VALUES ("8/2/17","USD","59.8454")
("8/3/17","USD","60.5819")
insert into Table_3 VALUES ("8/3/17","USD","60.5819")
("8/4/17","USD","60.7503")
insert into Table_3 VALUES ("8/4/17","USD","60.7503")
("8/5/17","USD","60.3281")
insert into Table_3 VALUES ("8/5/17","USD","60.3281")
("8/8/17","USD","60.0605")
insert into Table_3 VALUES ("8/8/17","USD","60.0605")
("8/9/17","USD","59.9886")
insert into Table_3 VALUES ("8/9/17","USD","59.9886")
("8/10/17","USD","59.9611")
insert into Table_3 VALUES ("8/10/17","USD","59.9611")
("8/11/17","USD","59.9298")
insert into Table_3 VALUES ("8/11/17","USD","59.9298")
("8/12/17","USD","60.1873")
insert into Table_3 VALUES ("8/12/17","USD","60.1873")
("8/15/17","USD","59.7990")
insert into Table_3 VALUES ("8/15/17","USD","59.7990")
("8/16/17","USD","59.9266")
insert into Table_3 VALUES ("8/16/17","USD","59.9266")
("8/17/17","USD","59.6521")
insert into Table_3 VALUES ("8/17/17","USD","59.6521")
("8/18/17","USD","59.2490")
insert into Table_3 VALUES ("8/18/17","USD","59.2490")
("8/19/17","USD","59.3612")
insert into Table_3 VALUES ("8/19/17","USD","59.3612")
("8/22/17","USD","59.1409")
insert into Table_3 VALUES ("8/22/17","USD","59.1409")
("8/23/17","USD","59.0396")
insert into Table_3 VALUES ("8/23/17","USD","59.0396")
("8/24/17","USD","59.1312")
insert into Table_3 VALUES ("8/24/17","USD","59.1312")
("8/25/17","USD","59.1397")
insert into Table_3 VALUES ("8/25/17","USD","59.1397")
("8/26/17","USD","59.1476")
insert into Table_3 VALUES ("8/26/17","USD","59.1476")
("8/29/17","USD","58.5469")
insert into Table_3 VALUES ("8/29/17","USD","58.5469")
("8/30/17","USD","58.5320")
insert into Table_3 VALUES ("8/30/17","USD","58.5320")
("8/31/17","USD","58.7306")
insert into Table_3 VALUES ("8/31/17","USD","58.7306")
("9/1/17","USD","58.5454")
insert into Table_3 VALUES ("9/1/17","USD","58.5454")
("9/2/17","USD","58.0557")
insert into Table_3 VALUES ("9/2/17","USD","58.0557")
("9/5/17","USD","57.7817")
insert into Table_3 VALUES ("9/5/17","USD","57.7817")
("9/6/17","USD","57.8503")
insert into Table_3 VALUES ("9/6/17","USD","57.8503")
("9/7/17","USD","57.3387")
insert into Table_3 VALUES ("9/7/17","USD","57.3387")
("9/8/17","USD","57.1411")
insert into Table_3 VALUES ("9/8/17","USD","57.1411")
("9/9/17","USD","56.9966")
insert into Table_3 VALUES ("9/9/17","USD","56.9966")
("9/12/17","USD","57.1694")
insert into Table_3 VALUES ("9/12/17","USD","57.1694")
("9/13/17","USD","57.2656")
insert into Table_3 VALUES ("9/13/17","USD","57.2656")
("9/14/17","USD","57.6679")
insert into Table_3 VALUES ("9/14/17","USD","57.6679")
("9/15/17","USD","57.7706")
insert into Table_3 VALUES ("9/15/17","USD","57.7706")
("9/16/17","USD","57.5336")
insert into Table_3 VALUES ("9/16/17","USD","57.5336")
("9/19/17","USD","57.6242")
insert into Table_3 VALUES ("9/19/17","USD","57.6242")
("9/20/17","USD","58.0993")
insert into Table_3 VALUES ("9/20/17","USD","58.0993")
("9/21/17","USD","58.1290")
insert into Table_3 VALUES ("9/21/17","USD","58.1290")
("9/22/17","USD","58.2242")
insert into Table_3 VALUES ("9/22/17","USD","58.2242")
("9/23/17","USD","57.6527")
insert into Table_3 VALUES ("9/23/17","USD","57.6527")
("9/26/17","USD","57.5660")
insert into Table_3 VALUES ("9/26/17","USD","57.5660")
("9/27/17","USD","57.5186")
insert into Table_3 VALUES ("9/27/17","USD","57.5186")
("9/28/17","USD","58.0102")
insert into Table_3 VALUES ("9/28/17","USD","58.0102")
("9/29/17","USD","58.4255")
insert into Table_3 VALUES ("9/29/17","USD","58.4255")
("9/30/17","USD","58.0169")
insert into Table_3 VALUES ("9/30/17","USD","58.0169")
("10/3/17","USD","57.8134")
insert into Table_3 VALUES ("10/3/17","USD","57.8134")
("10/4/17","USD","57.9375")
insert into Table_3 VALUES ("10/4/17","USD","57.9375")
("10/5/17","USD","57.7832")
insert into Table_3 VALUES ("10/5/17","USD","57.7832")
("10/6/17","USD","57.5811")
insert into Table_3 VALUES ("10/6/17","USD","57.5811")
("10/7/17","USD","57.7612")
insert into Table_3 VALUES ("10/7/17","USD","57.7612")
("10/10/17","USD","58.3151")
insert into Table_3 VALUES ("10/10/17","USD","58.3151")
("10/11/17","USD","58.0713")
insert into Table_3 VALUES ("10/11/17","USD","58.0713")
("10/12/17","USD","57.9210")
insert into Table_3 VALUES ("10/12/17","USD","57.9210")
("10/13/17","USD","57.6869")
insert into Table_3 VALUES ("10/13/17","USD","57.6869")
("10/14/17","USD","57.6196")
insert into Table_3 VALUES ("10/14/17","USD","57.6196")
("10/17/17","USD","57.0861")
insert into Table_3 VALUES ("10/17/17","USD","57.0861")
("10/18/17","USD","57.3392")
insert into Table_3 VALUES ("10/18/17","USD","57.3392")
("10/19/17","USD","57.2721")
insert into Table_3 VALUES ("10/19/17","USD","57.2721")
("10/20/17","USD","57.5706")
insert into Table_3 VALUES ("10/20/17","USD","57.5706")
("10/21/17","USD","57.5118")
insert into Table_3 VALUES ("10/21/17","USD","57.5118")
("10/24/17","USD","57.4706")
insert into Table_3 VALUES ("10/24/17","USD","57.4706")
("10/25/17","USD","57.5852")
insert into Table_3 VALUES ("10/25/17","USD","57.5852")
("10/26/17","USD","57.6140")
insert into Table_3 VALUES ("10/26/17","USD","57.6140")
("10/27/17","USD","57.7643")
insert into Table_3 VALUES ("10/27/17","USD","57.7643")
("10/28/17","USD","58.0833")
insert into Table_3 VALUES ("10/28/17","USD","58.0833")
("10/31/17","USD","57.8716")
insert into Table_3 VALUES ("10/31/17","USD","57.8716")
("11/1/17","USD","58.1179")
insert into Table_3 VALUES ("11/1/17","USD","58.1179")
("11/2/17","USD","58.1557")
insert into Table_3 VALUES ("11/2/17","USD","58.1557")
("11/3/17","USD","58.0869")
insert into Table_3 VALUES ("11/3/17","USD","58.0869")
("11/4/17","USD","58.4296")
insert into Table_3 VALUES ("11/4/17","USD","58.4296")
("11/8/17","USD","58.4557")
insert into Table_3 VALUES ("11/8/17","USD","58.4557")
("11/9/17","USD","59.2480")
insert into Table_3 VALUES ("11/9/17","USD","59.2480")
("11/10/17","USD","59.2527")
insert into Table_3 VALUES ("11/10/17","USD","59.2527")
("11/11/17","USD","59.2808")
insert into Table_3 VALUES ("11/11/17","USD","59.2808")
("11/14/17","USD","59.1823")
insert into Table_3 VALUES ("11/14/17","USD","59.1823")
("11/15/17","USD","59.6207")
insert into Table_3 VALUES ("11/15/17","USD","59.6207")
("11/16/17","USD","60.2490")
insert into Table_3 VALUES ("11/16/17","USD","60.2490")
("11/17/17","USD","59.9898")
insert into Table_3 VALUES ("11/17/17","USD","59.9898")
("11/18/17","USD","59.6325")
insert into Table_3 VALUES ("11/18/17","USD","59.6325")
("11/21/17","USD","59.2746")
insert into Table_3 VALUES ("11/21/17","USD","59.2746")
("11/22/17","USD","59.4604")
insert into Table_3 VALUES ("11/22/17","USD","59.4604")
("11/23/17","USD","59.0061")
insert into Table_3 VALUES ("11/23/17","USD","59.0061")
("11/24/17","USD","58.4622")
insert into Table_3 VALUES ("11/24/17","USD","58.4622")
("11/25/17","USD","58.5318")
insert into Table_3 VALUES ("11/25/17","USD","58.5318")
("11/28/17","USD","58.2773")
insert into Table_3 VALUES ("11/28/17","USD","58.2773")
("11/29/17","USD","58.4125")
insert into Table_3 VALUES ("11/29/17","USD","58.4125")
("11/30/17","USD","58.3311")
insert into Table_3 VALUES ("11/30/17","USD","58.3311")
("12/1/17","USD","58.5814")
insert into Table_3 VALUES ("12/1/17","USD","58.5814")
("12/2/17","USD","58.5182")
insert into Table_3 VALUES ("12/2/17","USD","58.5182")
("12/5/17","USD","58.9911")
insert into Table_3 VALUES ("12/5/17","USD","58.9911")
("12/6/17","USD","58.6924")
insert into Table_3 VALUES ("12/6/17","USD","58.6924")
("12/7/17","USD","58.9281")
insert into Table_3 VALUES ("12/7/17","USD","58.9281")
("12/8/17","USD","59.2948")
insert into Table_3 VALUES ("12/8/17","USD","59.2948")
("12/9/17","USD","59.2811")
insert into Table_3 VALUES ("12/9/17","USD","59.2811")
("12/12/17","USD","59.2348")
insert into Table_3 VALUES ("12/12/17","USD","59.2348")
("12/13/17","USD","58.8370")
insert into Table_3 VALUES ("12/13/17","USD","58.8370")
("12/14/17","USD","59.1446")
insert into Table_3 VALUES ("12/14/17","USD","59.1446")
("12/15/17","USD","58.7082")
insert into Table_3 VALUES ("12/15/17","USD","58.7082")
("12/16/17","USD","58.8987")
insert into Table_3 VALUES ("12/16/17","USD","58.8987")
("12/19/17","USD","58.6940")
insert into Table_3 VALUES ("12/19/17","USD","58.6940")
("12/20/17","USD","58.6117")
insert into Table_3 VALUES ("12/20/17","USD","58.6117")
("12/21/17","USD","58.7170")
insert into Table_3 VALUES ("12/21/17","USD","58.7170")
("12/22/17","USD","58.5596")
insert into Table_3 VALUES ("12/22/17","USD","58.5596")
("12/23/17","USD","58.3152")
insert into Table_3 VALUES ("12/23/17","USD","58.3152")
("12/26/17","USD","58.1989")
insert into Table_3 VALUES ("12/26/17","USD","58.1989")
("12/27/17","USD","57.7343")
insert into Table_3 VALUES ("12/27/17","USD","57.7343")
("12/28/17","USD","57.4544")
insert into Table_3 VALUES ("12/28/17","USD","57.4544")
("12/29/17","USD","57.6291")
insert into Table_3 VALUES ("12/29/17","USD","57.6291")

("12/30/17","USD","57.6002")
insert into Table_3 VALUES ("12/30/17","USD","57.6002")
("1/10/18","USD","57.0463")
insert into Table_3 VALUES ("1/10/18","USD","57.0463")
("1/11/18","USD","56.8734")
insert into Table_3 VALUES ("1/11/18","USD","56.8734")
("1/12/18","USD","56.9957")
insert into Table_3 VALUES ("1/12/18","USD","56.9957")
("1/13/18","USD","56.6019")
insert into Table_3 VALUES ("1/13/18","USD","56.6019")
("1/16/18","USD","56.3569")
insert into Table_3 VALUES ("1/16/18","USD","56.3569")
("1/17/18","USD","56.3878")
insert into Table_3 VALUES ("1/17/18","USD","56.3878")
("1/18/18","USD","56.5925")
insert into Table_3 VALUES ("1/18/18","USD","56.5925")
("1/19/18","USD","56.7597")
insert into Table_3 VALUES ("1/19/18","USD","56.7597")
("1/20/18","USD","56.5892")
insert into Table_3 VALUES ("1/20/18","USD","56.5892")
("1/23/18","USD","56.6261")
insert into Table_3 VALUES ("1/23/18","USD","56.6261")
("1/24/18","USD","56.4115")
insert into Table_3 VALUES ("1/24/18","USD","56.4115")
("1/25/18","USD","56.3888")
insert into Table_3 VALUES ("1/25/18","USD","56.3888")
("1/26/18","USD","55.9288")
insert into Table_3 VALUES ("1/26/18","USD","55.9288")
("1/27/18","USD","55.8288")
insert into Table_3 VALUES ("1/27/18","USD","55.8288")
("1/30/18","USD","56.2908")
insert into Table_3 VALUES ("1/30/18","USD","56.2908")
("1/31/18","USD","56.2914")
insert into Table_3 VALUES ("1/31/18","USD","56.2914")
("2/1/18","USD","56.1840")
insert into Table_3 VALUES ("2/1/18","USD","56.1840")
("2/2/18","USD","56.2613")
insert into Table_3 VALUES ("2/2/18","USD","56.2613")
("2/3/18","USD","56.0408")
insert into Table_3 VALUES ("2/3/18","USD","56.0408")
("2/6/18","USD","56.6278")
insert into Table_3 VALUES ("2/6/18","USD","56.6278")
("2/7/18","USD","57.2196")
insert into Table_3 VALUES ("2/7/18","USD","57.2196")
("2/8/18","USD","56.9533")
insert into Table_3 VALUES ("2/8/18","USD","56.9533")
("2/9/18","USD","57.6736")
insert into Table_3 VALUES ("2/9/18","USD","57.6736")
("2/10/18","USD","58.1718")
insert into Table_3 VALUES ("2/10/18","USD","58.1718")
("2/13/18","USD","58.0171")
insert into Table_3 VALUES ("2/13/18","USD","58.0171")
("2/14/18","USD","57.7701")
insert into Table_3 VALUES ("2/14/18","USD","57.7701")
("2/15/18","USD","57.5899")
insert into Table_3 VALUES ("2/15/18","USD","57.5899")
("2/16/18","USD","56.5918")
insert into Table_3 VALUES ("2/16/18","USD","56.5918")
("2/17/18","USD","56.3554")
insert into Table_3 VALUES ("2/17/18","USD","56.3554")
("2/20/18","USD","56.3438")
insert into Table_3 VALUES ("2/20/18","USD","56.3438")
("2/21/18","USD","56.5201")
insert into Table_3 VALUES ("2/21/18","USD","56.5201")
("2/22/18","USD","56.6537")
insert into Table_3 VALUES ("2/22/18","USD","56.6537")
("2/23/18","USD","56.7608")
insert into Table_3 VALUES ("2/23/18","USD","56.7608")
("2/27/18","USD","55.9208")
insert into Table_3 VALUES ("2/27/18","USD","55.9208")
("2/28/18","USD","55.6717")
insert into Table_3 VALUES ("2/28/18","USD","55.6717")
("3/1/18","USD","56.3742")
insert into Table_3 VALUES ("3/1/18","USD","56.3742")
("3/2/18","USD","56.4334")
insert into Table_3 VALUES ("3/2/18","USD","56.4334")
("3/3/18","USD","56.6616")
insert into Table_3 VALUES ("3/3/18","USD","56.6616")
("3/6/18","USD","57.1000")
insert into Table_3 VALUES ("3/6/18","USD","57.1000")
("3/7/18","USD","56.5041")
insert into Table_3 VALUES ("3/7/18","USD","56.5041")
("3/8/18","USD","56.8011")
insert into Table_3 VALUES ("3/8/18","USD","56.8011")
("3/13/18","USD","56.6122")
insert into Table_3 VALUES ("3/13/18","USD","56.6122")
("3/14/18","USD","56.9359")
insert into Table_3 VALUES ("3/14/18","USD","56.9359")
("3/15/18","USD","56.9372")
insert into Table_3 VALUES ("3/15/18","USD","56.9372")
("3/16/18","USD","57.0188")
insert into Table_3 VALUES ("3/16/18","USD","57.0188")
("3/17/18","USD","57.4942")
insert into Table_3 VALUES ("3/17/18","USD","57.4942")
("3/20/18","USD","57.5521")
insert into Table_3 VALUES ("3/20/18","USD","57.5521")
("3/21/18","USD","57.7033")
insert into Table_3 VALUES ("3/21/18","USD","57.7033")
("3/22/18","USD","57.4954")
insert into Table_3 VALUES ("3/22/18","USD","57.4954")
("3/23/18","USD","56.8391")
insert into Table_3 VALUES ("3/23/18","USD","56.8391")
("3/24/18","USD","57.1072")
insert into Table_3 VALUES ("3/24/18","USD","57.1072")
("3/27/18","USD","57.0039")
insert into Table_3 VALUES ("3/27/18","USD","57.0039")
("3/28/18","USD","57.1747")
insert into Table_3 VALUES ("3/28/18","USD","57.1747")
("3/29/18","USD","57.5598")
insert into Table_3 VALUES ("3/29/18","USD","57.5598")
("3/30/18","USD","57.7626")
insert into Table_3 VALUES ("3/30/18","USD","57.7626")
("3/31/18","USD","57.2649")
insert into Table_3 VALUES ("3/31/18","USD","57.2649")
("4/3/18","USD","57.2850")
insert into Table_3 VALUES ("4/3/18","USD","57.2850")
("4/4/18","USD","57.5375")
insert into Table_3 VALUES ("4/4/18","USD","57.5375")
("4/5/18","USD","57.7646")
insert into Table_3 VALUES ("4/5/18","USD","57.7646")
("4/6/18","USD","57.5796")
insert into Table_3 VALUES ("4/6/18","USD","57.5796")
("4/7/18","USD","57.8332")
insert into Table_3 VALUES ("4/7/18","USD","57.8332")
("4/10/18","USD","58.5714")
insert into Table_3 VALUES ("4/10/18","USD","58.5714")
("4/11/18","USD","62.3699")
insert into Table_3 VALUES ("4/11/18","USD","62.3699")
("4/12/18","USD","64.0626")
insert into Table_3 VALUES ("4/12/18","USD","64.0626")
("4/13/18","USD","62.0659")
insert into Table_3 VALUES ("4/13/18","USD","62.0659")
("4/14/18","USD","61.4311")
insert into Table_3 VALUES ("4/14/18","USD","61.4311")
("4/17/18","USD","62.2794")
insert into Table_3 VALUES ("4/17/18","USD","62.2794")
("4/18/18","USD","61.1454")
insert into Table_3 VALUES ("4/18/18","USD","61.1454")
("4/19/18","USD","61.5539")
insert into Table_3 VALUES ("4/19/18","USD","61.5539")
("4/20/18","USD","60.8583")
insert into Table_3 VALUES ("4/20/18","USD","60.8583")
("4/21/18","USD","61.3222")
insert into Table_3 VALUES ("4/21/18","USD","61.3222")
("4/24/18","USD","61.7655")
insert into Table_3 VALUES ("4/24/18","USD","61.7655")
("4/25/18","USD","61.6644")
insert into Table_3 VALUES ("4/25/18","USD","61.6644")
("4/26/18","USD","61.7494")
insert into Table_3 VALUES ("4/26/18","USD","61.7494")
("4/27/18","USD","62.6027")
insert into Table_3 VALUES ("4/27/18","USD","62.6027")
("4/28/18","USD","62.7260")
insert into Table_3 VALUES ("4/28/18","USD","62.7260")
("4/29/18","USD","61.9997")
insert into Table_3 VALUES ("4/29/18","USD","61.9997")
("5/4/18","USD","63.4860")
insert into Table_3 VALUES ("5/4/18","USD","63.4860")
("5/5/18","USD","63.2012")
insert into Table_3 VALUES ("5/5/18","USD","63.2012")
("5/8/18","USD","62.7148")
insert into Table_3 VALUES ("5/8/18","USD","62.7148")
("5/9/18","USD","63.0066")
insert into Table_3 VALUES ("5/9/18","USD","63.0066")
("5/11/18","USD","62.5229")
insert into Table_3 VALUES ("5/11/18","USD","62.5229")
("5/12/18","USD","61.7354")
insert into Table_3 VALUES ("5/12/18","USD","61.7354")
("5/15/18","USD","61.7684")
insert into Table_3 VALUES ("5/15/18","USD","61.7684")
("5/16/18","USD","61.9164")
insert into Table_3 VALUES ("5/16/18","USD","61.9164")
("5/17/18","USD","62.3033")
insert into Table_3 VALUES ("5/17/18","USD","62.3033")
("5/18/18","USD","61.8215")
insert into Table_3 VALUES ("5/18/18","USD","61.8215")
("5/19/18","USD","61.9408")
insert into Table_3 VALUES ("5/19/18","USD","61.9408")
("5/22/18","USD","62.5327")
insert into Table_3 VALUES ("5/22/18","USD","62.5327")
("5/23/18","USD","61.2610")
insert into Table_3 VALUES ("5/23/18","USD","61.2610")
("5/24/18","USD","61.5945")
insert into Table_3 VALUES ("5/24/18","USD","61.5945")
("5/25/18","USD","61.4090")
insert into Table_3 VALUES ("5/25/18","USD","61.4090")
("5/26/18","USD","61.6659")
insert into Table_3 VALUES ("5/26/18","USD","61.6659")
("5/29/18","USD","62.2710")
insert into Table_3 VALUES ("5/29/18","USD","62.2710")
("5/30/18","USD","62.6420")
insert into Table_3 VALUES ("5/30/18","USD","62.6420")
("5/31/18","USD","62.5937")
insert into Table_3 VALUES ("5/31/18","USD","62.5937")
("6/1/18","USD","62.0188")
insert into Table_3 VALUES ("6/1/18","USD","62.0188")
("6/2/18","USD","62.2056")
insert into Table_3 VALUES ("6/2/18","USD","62.2056")
("6/5/18","USD","61.9290")
insert into Table_3 VALUES ("6/5/18","USD","61.9290")
("6/6/18","USD","61.9822")
insert into Table_3 VALUES ("6/6/18","USD","61.9822")
("6/7/18","USD","62.0064")
insert into Table_3 VALUES ("6/7/18","USD","62.0064")
("6/8/18","USD","61.8125")
insert into Table_3 VALUES ("6/8/18","USD","61.8125")
("6/9/18","USD","62.6680")
insert into Table_3 VALUES ("6/9/18","USD","62.6680")
("6/10/18","USD","62.3431")
insert into Table_3 VALUES ("6/10/18","USD","62.3431")
("6/14/18","USD","63.1164")
insert into Table_3 VALUES ("6/14/18","USD","63.1164")
("6/15/18","USD","62.2511")
insert into Table_3 VALUES ("6/15/18","USD","62.2511")
("6/16/18","USD","62.6851")
insert into Table_3 VALUES ("6/16/18","USD","62.6851")
("6/19/18","USD","63.4838")
insert into Table_3 VALUES ("6/19/18","USD","63.4838")
("6/20/18","USD","64.0683")
insert into Table_3 VALUES ("6/20/18","USD","64.0683")
("6/21/18","USD","63.6175")
insert into Table_3 VALUES ("6/21/18","USD","63.6175")
("6/22/18","USD","63.7873")
insert into Table_3 VALUES ("6/22/18","USD","63.7873")
("6/23/18","USD","63.2396")
insert into Table_3 VALUES ("6/23/18","USD","63.2396")
("6/26/18","USD","62.9497")
insert into Table_3 VALUES ("6/26/18","USD","62.9497")
("6/27/18","USD","62.7908")
insert into Table_3 VALUES ("6/27/18","USD","62.7908")
("6/28/18","USD","63.1359")
insert into Table_3 VALUES ("6/28/18","USD","63.1359")
("6/29/18","USD","63.2910")
insert into Table_3 VALUES ("6/29/18","USD","63.2910")
("6/30/18","USD","62.7565")
insert into Table_3 VALUES ("6/30/18","USD","62.7565")
("7/3/18","USD","63.1394")
insert into Table_3 VALUES ("7/3/18","USD","63.1394")
("7/4/18","USD","63.2194")
insert into Table_3 VALUES ("7/4/18","USD","63.2194")
("7/5/18","USD","63.2267")
insert into Table_3 VALUES ("7/5/18","USD","63.2267")
("7/6/18","USD","63.2604")
insert into Table_3 VALUES ("7/6/18","USD","63.2604")
("7/7/18","USD","63.1216")
insert into Table_3 VALUES ("7/7/18","USD","63.1216")
("7/10/18","USD","62.8338")
insert into Table_3 VALUES ("7/10/18","USD","62.8338")
("7/11/18","USD","62.4442")
insert into Table_3 VALUES ("7/11/18","USD","62.4442")
("7/12/18","USD","62.0980")
insert into Table_3 VALUES ("7/12/18","USD","62.0980")
("7/13/18","USD","62.2062")
insert into Table_3 VALUES ("7/13/18","USD","62.2062")
("7/14/18","USD","62.2934")
insert into Table_3 VALUES ("7/14/18","USD","62.2934")
("7/17/18","USD","62.2556")
insert into Table_3 VALUES ("7/17/18","USD","62.2556")
("7/18/18","USD","62.4352")
insert into Table_3 VALUES ("7/18/18","USD","62.4352")
("7/19/18","USD","62.9006")
insert into Table_3 VALUES ("7/19/18","USD","62.9006")
("7/20/18","USD","63.2746")
insert into Table_3 VALUES ("7/20/18","USD","63.2746")
("7/21/18","USD","63.4888")
insert into Table_3 VALUES ("7/21/18","USD","63.4888")
("7/24/18","USD","63.1957")
insert into Table_3 VALUES ("7/24/18","USD","63.1957")
("7/25/18","USD","62.9235")
insert into Table_3 VALUES ("7/25/18","USD","62.9235")
("7/26/18","USD","63.0836")
insert into Table_3 VALUES ("7/26/18","USD","63.0836")
("7/27/18","USD","62.9471")
insert into Table_3 VALUES ("7/27/18","USD","62.9471")
("7/28/18","USD","62.9726")
insert into Table_3 VALUES ("7/28/18","USD","62.9726")
("7/31/18","USD","62.7805")
insert into Table_3 VALUES ("7/31/18","USD","62.7805")
("8/1/18","USD","62.3497")
insert into Table_3 VALUES ("8/1/18","USD","62.3497")
("8/2/18","USD","62.5590")
insert into Table_3 VALUES ("8/2/18","USD","62.5590")
("8/3/18","USD","63.1358")
insert into Table_3 VALUES ("8/3/18","USD","63.1358")
("8/4/18","USD","63.4549")
insert into Table_3 VALUES ("8/4/18","USD","63.4549")
("8/7/18","USD","63.4975")
insert into Table_3 VALUES ("8/7/18","USD","63.4975")
("8/8/18","USD","63.5425")
insert into Table_3 VALUES ("8/8/18","USD","63.5425")
("8/9/18","USD","63.5950")
insert into Table_3 VALUES ("8/9/18","USD","63.5950")
("8/10/18","USD","66.2856")
insert into Table_3 VALUES ("8/10/18","USD","66.2856")
("8/11/18","USD","66.9075")
insert into Table_3 VALUES ("8/11/18","USD","66.9075")

("8/14/18","USD","68.2234")
insert into Table_3 VALUES ("8/14/18","USD","68.2234")
("8/15/18","USD","66.7535")
insert into Table_3 VALUES ("8/15/18","USD","66.7535")
("8/16/18","USD","66.3772")
insert into Table_3 VALUES ("8/16/18","USD","66.3772")
("8/17/18","USD","66.8932")
insert into Table_3 VALUES ("8/17/18","USD","66.8932")
("8/18/18","USD","66.8757")
insert into Table_3 VALUES ("8/18/18","USD","66.8757")
("8/21/18","USD","67.1807")
insert into Table_3 VALUES ("8/21/18","USD","67.1807")
("8/22/18","USD","67.1783")
insert into Table_3 VALUES ("8/22/18","USD","67.1783")
("8/23/18","USD","67.6163")
insert into Table_3 VALUES ("8/23/18","USD","67.6163")
("8/24/18","USD","68.5259")
insert into Table_3 VALUES ("8/24/18","USD","68.5259")
("8/25/18","USD","67.7911")
insert into Table_3 VALUES ("8/25/18","USD","67.7911")
("8/28/18","USD","67.3963")
insert into Table_3 VALUES ("8/28/18","USD","67.3963")
("8/29/18","USD","67.3911")
insert into Table_3 VALUES ("8/29/18","USD","67.3911")
("8/30/18","USD","68.1451")
insert into Table_3 VALUES ("8/30/18","USD","68.1451")
("8/31/18","USD","68.0821")
insert into Table_3 VALUES ("8/31/18","USD","68.0821")
("9/1/18","USD","68.0447")
insert into Table_3 VALUES ("9/1/18","USD","68.0447")
("9/4/18","USD","67.7443")
insert into Table_3 VALUES ("9/4/18","USD","67.7443")
("9/5/18","USD","68.2737")
insert into Table_3 VALUES ("9/5/18","USD","68.2737")
("9/6/18","USD","68.4628")
insert into Table_3 VALUES ("9/6/18","USD","68.4628")
("9/7/18","USD","68.2505")
insert into Table_3 VALUES ("9/7/18","USD","68.2505")
("9/8/18","USD","69.0286")
insert into Table_3 VALUES ("9/8/18","USD","69.0286")
("9/11/18","USD","69.8685")
insert into Table_3 VALUES ("9/11/18","USD","69.8685")
("9/12/18","USD","69.9744")
insert into Table_3 VALUES ("9/12/18","USD","69.9744")
("9/13/18","USD","69.5728")
insert into Table_3 VALUES ("9/13/18","USD","69.5728")
("9/14/18","USD","68.6370")
insert into Table_3 VALUES ("9/14/18","USD","68.6370")
("9/15/18","USD","68.2826")
insert into Table_3 VALUES ("9/15/18","USD","68.2826")
("9/18/18","USD","68.1958")
insert into Table_3 VALUES ("9/18/18","USD","68.1958")
("9/19/18","USD","67.7519")
insert into Table_3 VALUES ("9/19/18","USD","67.7519")
("9/20/18","USD","67.0098")
insert into Table_3 VALUES ("9/20/18","USD","67.0098")
("9/21/18","USD","66.4725")
insert into Table_3 VALUES ("9/21/18","USD","66.4725")
("9/22/18","USD","66.2497")
insert into Table_3 VALUES ("9/22/18","USD","66.2497")
("9/25/18","USD","66.1594")
insert into Table_3 VALUES ("9/25/18","USD","66.1594")
("9/26/18","USD","65.8244")
insert into Table_3 VALUES ("9/26/18","USD","65.8244")
("9/27/18","USD","65.7585")
insert into Table_3 VALUES ("9/27/18","USD","65.7585")
("9/28/18","USD","65.8355")
insert into Table_3 VALUES ("9/28/18","USD","65.8355")
("9/29/18","USD","65.5906")
insert into Table_3 VALUES ("9/29/18","USD","65.5906")
("10/2/18","USD","65.5745")
insert into Table_3 VALUES ("10/2/18","USD","65.5745")
("10/3/18","USD","65.2221")
insert into Table_3 VALUES ("10/3/18","USD","65.2221")
("10/4/18","USD","65.4244")
insert into Table_3 VALUES ("10/4/18","USD","65.4244")
("10/5/18","USD","66.2115")
insert into Table_3 VALUES ("10/5/18","USD","66.2115")
("10/6/18","USD","66.6270")
insert into Table_3 VALUES ("10/6/18","USD","66.6270")
("10/9/18","USD","66.9685")
insert into Table_3 VALUES ("10/9/18","USD","66.9685")
("10/10/18","USD","66.4032")
insert into Table_3 VALUES ("10/10/18","USD","66.4032")
("10/11/18","USD","66.1832")
insert into Table_3 VALUES ("10/11/18","USD","66.1832")
("10/12/18","USD","66.7727")
insert into Table_3 VALUES ("10/12/18","USD","66.7727")
("10/13/18","USD","65.9751")
insert into Table_3 VALUES ("10/13/18","USD","65.9751")
("10/16/18","USD","65.7508")
insert into Table_3 VALUES ("10/16/18","USD","65.7508")
("10/17/18","USD","65.5305")
insert into Table_3 VALUES ("10/17/18","USD","65.5305")
("10/18/18","USD","65.4026")
insert into Table_3 VALUES ("10/18/18","USD","65.4026")
("10/19/18","USD","65.7238")
insert into Table_3 VALUES ("10/19/18","USD","65.7238")
("10/20/18","USD","65.8140")
insert into Table_3 VALUES ("10/20/18","USD","65.8140")
("10/23/18","USD","65.3065")
insert into Table_3 VALUES ("10/23/18","USD","65.3065")
("10/24/18","USD","65.3101")
insert into Table_3 VALUES ("10/24/18","USD","65.3101")
("10/25/18","USD","65.6299")
insert into Table_3 VALUES ("10/25/18","USD","65.6299")
("10/26/18","USD","65.7476")
insert into Table_3 VALUES ("10/26/18","USD","65.7476")
("10/27/18","USD","65.6345")
insert into Table_3 VALUES ("10/27/18","USD","65.6345")
("10/30/18","USD","65.8129")
insert into Table_3 VALUES ("10/30/18","USD","65.8129")
("10/31/18","USD","65.7742")
insert into Table_3 VALUES ("10/31/18","USD","65.7742")
("11/1/18","USD","65.5962")
insert into Table_3 VALUES ("11/1/18","USD","65.5962")
("11/2/18","USD","65.6517")
insert into Table_3 VALUES ("11/2/18","USD","65.6517")
("11/3/18","USD","65.5799")
insert into Table_3 VALUES ("11/3/18","USD","65.5799")
("11/7/18","USD","65.9912")
insert into Table_3 VALUES ("11/7/18","USD","65.9912")
("11/8/18","USD","66.0918")
insert into Table_3 VALUES ("11/8/18","USD","66.0918")
("11/9/18","USD","66.2155")
insert into Table_3 VALUES ("11/9/18","USD","66.2155")
("11/10/18","USD","66.8497")
insert into Table_3 VALUES ("11/10/18","USD","66.8497")
("11/13/18","USD","67.5238")
insert into Table_3 VALUES ("11/13/18","USD","67.5238")
("11/14/18","USD","67.6812")
insert into Table_3 VALUES ("11/14/18","USD","67.6812")
("11/15/18","USD","67.9975")
insert into Table_3 VALUES ("11/15/18","USD","67.9975")
("11/16/18","USD","66.6159")
insert into Table_3 VALUES ("11/16/18","USD","66.6159")
("11/17/18","USD","65.9931")
insert into Table_3 VALUES ("11/17/18","USD","65.9931")
("11/20/18","USD","66.0081")
insert into Table_3 VALUES ("11/20/18","USD","66.0081")
("11/21/18","USD","65.5871")
insert into Table_3 VALUES ("11/21/18","USD","65.5871")
("11/22/18","USD","65.9485")
insert into Table_3 VALUES ("11/22/18","USD","65.9485")
("11/23/18","USD","65.6067")
insert into Table_3 VALUES ("11/23/18","USD","65.6067")
("11/24/18","USD","65.6664")
insert into Table_3 VALUES ("11/24/18","USD","65.6664")
("11/27/18","USD","66.5072")
insert into Table_3 VALUES ("11/27/18","USD","66.5072")
("11/28/18","USD","66.7800")
insert into Table_3 VALUES ("11/28/18","USD","66.7800")
("11/29/18","USD","66.9436")
insert into Table_3 VALUES ("11/29/18","USD","66.9436")
("11/30/18","USD","66.6342")
insert into Table_3 VALUES ("11/30/18","USD","66.6342")
("12/1/18","USD","66.5335")
insert into Table_3 VALUES ("12/1/18","USD","66.5335")
("12/4/18","USD","66.2921")
insert into Table_3 VALUES ("12/4/18","USD","66.2921")
("12/5/18","USD","66.4467")
insert into Table_3 VALUES ("12/5/18","USD","66.4467")
("12/6/18","USD","66.8242")
insert into Table_3 VALUES ("12/6/18","USD","66.8242")
("12/7/18","USD","66.7377")
insert into Table_3 VALUES ("12/7/18","USD","66.7377")
("12/8/18","USD","66.9227")
insert into Table_3 VALUES ("12/8/18","USD","66.9227")
("12/11/18","USD","66.2416")
insert into Table_3 VALUES ("12/11/18","USD","66.2416")
("12/12/18","USD","66.5022")
insert into Table_3 VALUES ("12/12/18","USD","66.5022")
("12/13/18","USD","66.4225")
insert into Table_3 VALUES ("12/13/18","USD","66.4225")
("12/14/18","USD","66.2550")
insert into Table_3 VALUES ("12/14/18","USD","66.2550")
("12/15/18","USD","66.4337")
insert into Table_3 VALUES ("12/15/18","USD","66.4337")
("12/18/18","USD","66.6208")
insert into Table_3 VALUES ("12/18/18","USD","66.6208")
("12/19/18","USD","66.7454")
insert into Table_3 VALUES ("12/19/18","USD","66.7454")
("12/20/18","USD","67.1121")
insert into Table_3 VALUES ("12/20/18","USD","67.1121")
("12/21/18","USD","67.3710")
insert into Table_3 VALUES ("12/21/18","USD","67.3710")
("12/22/18","USD","68.0085")
insert into Table_3 VALUES ("12/22/18","USD","68.0085")
("12/25/18","USD","68.4073")
insert into Table_3 VALUES ("12/25/18","USD","68.4073")
("12/26/18","USD","68.7448")
insert into Table_3 VALUES ("12/26/18","USD","68.7448")
("12/27/18","USD","68.8865")
insert into Table_3 VALUES ("12/27/18","USD","68.8865")
("12/28/18","USD","68.8762")
insert into Table_3 VALUES ("12/28/18","USD","68.8762")
("12/29/18","USD","69.5218")
insert into Table_3 VALUES ("12/29/18","USD","69.5218")
("12/30/18","USD","69.4706")
insert into Table_3 VALUES ("12/30/18","USD","69.4706")
("1/10/19","USD","67.0795")
insert into Table_3 VALUES ("1/10/19","USD","67.0795")
("1/11/19","USD","66.8605")
insert into Table_3 VALUES ("1/11/19","USD","66.8605")
("1/12/19","USD","66.9167")
insert into Table_3 VALUES ("1/12/19","USD","66.9167")
("1/15/19","USD","67.1920")
insert into Table_3 VALUES ("1/15/19","USD","67.1920")
("1/16/19","USD","67.0820")
insert into Table_3 VALUES ("1/16/19","USD","67.0820")
("1/17/19","USD","66.7617")
insert into Table_3 VALUES ("1/17/19","USD","66.7617")
("1/18/19","USD","66.4438")
insert into Table_3 VALUES ("1/18/19","USD","66.4438")
("1/19/19","USD","66.3309")
insert into Table_3 VALUES ("1/19/19","USD","66.3309")
("1/22/19","USD","66.3634")
insert into Table_3 VALUES ("1/22/19","USD","66.3634")
("1/23/19","USD","66.5499")
insert into Table_3 VALUES ("1/23/19","USD","66.5499")
("1/24/19","USD","66.3318")
insert into Table_3 VALUES ("1/24/19","USD","66.3318")
("1/25/19","USD","66.0016")
insert into Table_3 VALUES ("1/25/19","USD","66.0016")
("1/26/19","USD","65.9170")
insert into Table_3 VALUES ("1/26/19","USD","65.9170")
("1/29/19","USD","65.9300")
insert into Table_3 VALUES ("1/29/19","USD","65.9300")
("1/30/19","USD","66.3412")
insert into Table_3 VALUES ("1/30/19","USD","66.3412")
("1/31/19","USD","66.0987")
insert into Table_3 VALUES ("1/31/19","USD","66.0987")
("2/1/19","USD","65.3577")
insert into Table_3 VALUES ("2/1/19","USD","65.3577")
("2/2/19","USD","65.6601")
insert into Table_3 VALUES ("2/2/19","USD","65.6601")
("2/5/19","USD","65.5859")
insert into Table_3 VALUES ("2/5/19","USD","65.5859")
("2/6/19","USD","65.5691")
insert into Table_3 VALUES ("2/6/19","USD","65.5691")
("2/7/19","USD","65.6686")
insert into Table_3 VALUES ("2/7/19","USD","65.6686")
("2/8/19","USD","66.0199")
insert into Table_3 VALUES ("2/8/19","USD","66.0199")
("2/9/19","USD","66.0628")
insert into Table_3 VALUES ("2/9/19","USD","66.0628")
("2/12/19","USD","65.6517")
insert into Table_3 VALUES ("2/12/19","USD","65.6517")
("2/13/19","USD","65.7147")
insert into Table_3 VALUES ("2/13/19","USD","65.7147")
("2/14/19","USD","65.6783")
insert into Table_3 VALUES ("2/14/19","USD","65.6783")
("2/15/19","USD","66.5429")
insert into Table_3 VALUES ("2/15/19","USD","66.5429")
("2/16/19","USD","66.7044")
insert into Table_3 VALUES ("2/16/19","USD","66.7044")
("2/19/19","USD","66.2470")
insert into Table_3 VALUES ("2/19/19","USD","66.2470")
("2/20/19","USD","66.2022")
insert into Table_3 VALUES ("2/20/19","USD","66.2022")
("2/21/19","USD","65.8568")
insert into Table_3 VALUES ("2/21/19","USD","65.8568")
("2/22/19","USD","65.5401")
insert into Table_3 VALUES ("2/22/19","USD","65.5401")
("2/23/19","USD","65.5149")
insert into Table_3 VALUES ("2/23/19","USD","65.5149")
("2/26/19","USD","65.2582")
insert into Table_3 VALUES ("2/26/19","USD","65.2582")
("2/27/19","USD","65.6182")
insert into Table_3 VALUES ("2/27/19","USD","65.6182")
("2/28/19","USD","65.7570")
insert into Table_3 VALUES ("2/28/19","USD","65.7570")
("3/1/19","USD","65.8895")
insert into Table_3 VALUES ("3/1/19","USD","65.8895")
("3/2/19","USD","65.8145")
insert into Table_3 VALUES ("3/2/19","USD","65.8145")
("3/5/19","USD","65.7956")
insert into Table_3 VALUES ("3/5/19","USD","65.7956")

In [68]:
a = "3/4/16"
q = a.split("/")
"20" + q[2] + "-" + q[0]

'2016-03'

In [73]:
len(q[0])

1

In [72]:
q[0]

'3'